[2020-08-10 08:49] jeshxxx commented on #782
单卡多模型，每个模型之间也是串行执行的吧？有办法做到每个模型服务创建一个GPU stream么？

[2020-08-10 10:31] mcl-stone commented on #772
感谢，已解决，使用自己编译的docker镜像，然后使用最新的代码编译出最新版本安装，再安装paddledetection进行导出，就可以了

[2020-08-10 10:42] barrierye commented on #772
方便说下自己编译的docker镜像是什么样的吗（dockerfile）？

[2020-08-10 11:59] barrierye commented on #766
只需要修改原始CUDA镜像（10.0 -> 10.1）

但是编译产物运行时会遇到 `parallel_for failed: invalid device function` 的问题，参考 https://stackoverflow.com/questions/33047441/about-error-code-invalid-device-function-by-nvcc-with-compute-and-sm-compile ，是gpu编译选项和gpu不匹配造成的。而Serving目前是使用编译好的paddle_inference进行编译的，需要重新对paddle_inference进行编译。

故CUDA10.1镜像暂时不发布。

[2020-08-10 12:13] mcl-stone commented on #772
https://github.com/PaddlePaddle/Serving/blob/217e7b63de5a02bce2843f29920374afab6be0c3/tools/Dockerfile.gpu.devel
nvidia/cuda:10.1-cudnn7-devel-centos7
没记错的话是使用这个dockerfile，然后把第一行的镜像换成下面这个

[2020-08-10 12:25] barrierye commented on #772
感谢您的回复~

[2020-08-11 07:07] TeslaZhao commented on #782
单卡多模型，每个模型之间是串行执行的，目前Serving不支持每个模型服务创建一个GPU stream。底层预测库PaddlePredictor已经支持多线程独立GPU流，不再共用。后续Serving版本可以支持该需求。

[2020-08-11 08:10] jeshxxx commented on #782
好的，多谢，PaddlePredictor支持多线程独立GPU流的情况，有文档介绍么？如果我直接依赖PaddlePredictor起个服务

[2020-08-11 12:05] TeslaZhao commented on #782
目前没有文档，在paddle devlop版本中，还未正式发布。

[2020-08-11 13:51] bjjwwang commented on #672
之后计划统一用numpy正在建设中

[2020-08-11 13:53] bjjwwang commented on #664
现在暂时是把thread最小限制压缩到2，可以编译一下再试试看显存消耗问题

[2020-08-11 13:58] bjjwwang opened #790 "输出tensor 有时候需要lod 却没有保存下来的bug"
https://github.com/PaddlePaddle/Serving/issues/644

[2020-08-11 14:03] TeslaZhao commented on #684
1.警告是glog组件打印的，告知glog初始化之前日志打印在STDERR
2.一般采用GLOG_v方式启动服务同时设置日志级别。
例如：GLOG_v=2 python -m paddle_serving_server.serve --model xxx_conf/ --port 9999

[2020-08-11 14:13] MRXLT commented on #674
你好，serving是支持多线程的，server端可以通过--thread参数或者set_thread_num api来设置线程数，目前0.3.1之前的版本支持的thread最小为4，后续版本最小为2，client端可以多线程调用predict接口。

分布式部署是指的哪种方式呢，可以介绍一下应用场景吗

[2020-08-12 03:21] jeshxxx commented on #782
方便帮忙看一下是哪个commit的修改么？我可以直接拉develop的代码编译一个inference lib来用么？

[2020-08-12 07:55] TeslaZhao commented on #782
https://github.com/PaddlePaddle/Paddle/pull/24046

[2020-08-12 08:13] iceriver97 opened #792 "使用PaddleHub Fine-tune 的模型部署问题"
使用PaddleHub Fine-tune 的模型应该如何部署呢？HubServing 好像不支持这种模型

[2020-08-12 08:35] Steffy-zxf commented on #792
@iceriver97 你好，可以参考issue https://github.com/PaddlePaddle/PaddleHub/issues/816

关于PaddleHub的issue可以在PaddleHub 提issue：https://github.com/PaddlePaddle/PaddleHub/issues

[2020-08-12 09:12] #792 closed, assigned to nobody

[2020-08-13 01:58] jeshxxx commented on #782
多谢多谢

[2020-08-13 01:58] #782 closed, assigned to TeslaZhao

[2020-08-13 04:50] #763 closed, assigned to bjjwwang

[2020-08-13 04:52] #772 closed, assigned to nobody

[2020-08-14 07:52] xixiaoyao opened #796 "README里的LAC示例报错"
如题，按照README的步骤安装paddle serve之后，跑readme里给出的lac示例，到最后这一步时
[code]
报错如下：
[code]

[2020-08-14 07:53] xixiaoyao opened #797 "运行README里的LAC示例报错"
如题，按照README的步骤安装paddle serve之后，跑readme里给出的lac示例，到最后这一步时
[code]
报错如下：
[code]

[2020-08-16 00:28] fisher030712 opened #799 "自己训练的模型，部署的时候，如何知道输入参数是什么？"
看了PaddleServing的例子，按例子作，很简单。但是部署我自己训练的模型，却不知该如何下手。主要的问题是，我不知道模型的输入参数是什么，客户端调用的时候，该如何给参数？
我是基于PaddleHub作的ERNIE的finetue，作文本分类和序列标注。从训练脚本上面看，也看不出模型的输入参数是什么。难道这个东西是固定的吗？该如何确定模型的输入参数和形式呢？谢谢！

训练脚本如下，实在是不知道该如何调用：

# 注意，Reader、Task、context参数中的max_seq_len应该保持一致
reader = hub.reader.SequenceLabelReader(
    dataset = dataset,
    vocab_path = module.get_vocab_path(),
    max_seq_len = max_seq_len)

strategy

[2020-08-16 01:04] fisher030712 opened #800 "强烈建议增加用PaddleHub作精调的模型部署的例子。"
被PaddleServing难倒了！
不知道该如何确定自己的模型的输入和输出参数，细节都被Paddlehub隐藏了。
大佬们是如何知道模型的输入输出的呢？还是说，PaddleHub公开的那几个模型，都是固定的输入输出？在哪能查到呢？

[2020-08-16 01:06] fisher030712 commented on #800
盼大佬们尽快上来指导一下，研究2天了，没有思路。

[2020-08-16 01:08] fisher030712 commented on #800
每个模型，根本就没有一个明确的输入输出说明，训练的时候，就是给一个reader，也不涉及到模型的输入啊。

[2020-08-16 11:47] bjjwwang commented on #796
看起来好像是有代理 建议
[code]
之后再试一下

[2020-08-17 03:53] xixiaoyao commented on #796
还是不行，现在变成报这个错误了
[code]

输入的命令是：
[code]

[2020-08-17 05:09] #724 closed, assigned to MRXLT

[2020-08-17 05:09] #765 closed, assigned to barrierye

[2020-08-17 06:18] barrierye commented on #783
在 #769 中已添加。目前实现是如果 client 端有传递 Logid 则使用该 Logid，如果没有则使用默认值 0（Server端没有自动生成）

[2020-08-17 06:18] #783 closed, assigned to barrierye

[2020-08-17 07:31] #797 closed, assigned to bjjwwang

[2020-08-17 07:32] xixiaoyao commented on #796
已解决，非常感谢 @wangjiawei04 ~

[2020-08-17 07:32] #796 closed, assigned to bjjwwang

[2020-08-17 12:46] bjjwwang commented on #800
想问下您是要部署什么样的例子，我们也fine-tune做一下试验

[2020-08-18 12:02] taoqinghua commented on #657
我在使用simnet模型预测时也出现相同的问题，不知道如何解决。

[2020-08-18 18:22] xixiaoyao opened #803 "【疑似bug】框架内部会自动给用户输入升维？"
如图，client端的feed dict为如下元素和形状：
![image](https://user-images.githubusercontent.com/24541791/90550473-9486f900-e1c2-11ea-8232-56e6bca5bf2c.png)

即包含两个样本的bert输入。

但是如图所示，

![image](https://user-images.githubusercontent.com/24541791/90550737-ea5ba100-e1c2-11ea-90b1-3f66df7836a3.png)

server端收到输入并经过fluid.embedding之后，本应该得到[2,9,1024]（经过了1024维度的embedding），结果莫名其妙的变成了[1,2,9,1024]，前面不知道从哪里多了一个size为1的维度。这是padd

[2020-08-18 18:48] xixiaoyao commented on #803
我发现仅仅是将feed中的元素从numpy array变成python list，报错都变了。。。tolist之后变成这样的报错了

![image](https://user-images.githubusercontent.com/24541791/90553099-67d4e080-e1c6-11ea-8b3f-9a6daa4d6b32.png)

client对feed输入的处理策略到底是怎样的呢？

[2020-08-19 03:10] iceriver97 opened #805 "pyreader 读入数据,并未使用dataset，如何发布服务"
我该如何将自定义的 Variable：test 绑定到模型中？我看示例是采用的dataset.set_use_var(),但我并未使用dataset，而是使用的pyreader 读入的数据；下面代码不做绑定，直接这样保存模型是不是错误的做法？
[code]
我如果将自定义的test变量传入网络，应该怎样修改呢？网络之前是使用pyreader读入数据的；代码如下：
[code]
@wangjiawei04  使用 pyreader  异步读取数据的模型是否不能发布serving？有没有类似的例子？

[2020-08-19 03:29] bjjwwang commented on #803
目前一个batch需要做成list [dict]的形式，每个dict是一条样本。否则做成一条样本目前会自动加batch维度，这部分接口在修改，预计下周提测。

[2020-08-20 02:28] liiitleboy opened #808 "opencv-python-4.3.0.38版本安装有问题，降级4.2.0.32可以解决"

[2020-08-20 06:47] MRXLT commented on #808
fixed in https://github.com/PaddlePaddle/Serving/pull/794

[2020-08-21 03:58] barrierye opened #809 "CUDA10 镜像无法按Run in docker文档跑pypi上GPU版本的例子"
from 微信用户 @ Duncan

[2020-08-21 03:59] barrierye commented on #809
cuda10.0镜像是最近开发的，对应python whl还没有发布（pypi上的python whl是cuda9.0），您可以用LATEST_PACKAGES页面的0.3.2版本的whl包运行：https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md#gpu-server

0.3.2版本发布后，需要对Run in docker文档进行更新。

[2020-08-21 06:17] TeslaZhao commented on #808
感谢~ @liiitleboy

[2020-08-21 06:17] #808 closed, assigned to MRXLT

[2020-08-21 06:20] barrierye opened #810 "cuda10运行镜像中nvidia-smi没有输出（宿主机 GeForce GTX 960，driver 450.57，CUDA version 11.0）"
from 微信用户 @ Duncan
![image](https://user-images.githubusercontent.com/28446721/90858836-851dd080-e3b9-11ea-94eb-047641aa7653.png)
![image](https://user-images.githubusercontent.com/28446721/90858823-80591c80-e3b9-11ea-813b-53039629a45f.png)

[2020-08-21 07:56] barrierye commented on #810
nvidia-docker的问题，换用 `docker run --gpus all`

[2020-08-21 07:57] barrierye commented on #810
遇到新的问题：
![image](https://user-images.githubusercontent.com/28446721/90866764-f2842e00-e3c6-11ea-81da-fe69dab8575a.png)

[2020-08-21 07:57] barrierye commented on #810
参考：https://collabnix.com/introducing-new-docker-cli-api-support-for-nvidia-gpus-under-docker-engine-19-03-0-beta-release/ 解决

[2020-08-21 07:58] barrierye opened #811 "web_service不兼容python3"
from 微信用户 @ Duncan
![image](https://user-images.githubusercontent.com/28446721/90866902-20697280-e3c7-11ea-9f4e-0d2989070f11.png)

[2020-08-21 07:59] barrierye commented on #811
`iterkeys` -> `keys`
https://stackoverflow.com/questions/30418481/error-dict-object-has-no-attribute-iteritems

[2020-08-21 09:14] liiitleboy opened #812 "GPU版本使用最新版Shapely报错，降级1.7.0解决"
最新版使用1.7.1，会提示缺少so，按照网上提示的安装软件会导致找不到CUDA， 降级Shapely解决。

[2020-08-21 12:08] barrierye commented on #812
已在该 PR 中修复 https://github.com/PaddlePaddle/Serving/pull/802

[2020-08-21 12:08] #812 closed, assigned to nobody

[2020-08-24 00:34] BeyondYourself commented on #674
分布式部署类似于hadoop部署，是否支持多节点服务部署，主要可能是当前的单机资源紧缺，需要通过调用多机资源来实现服务调用

[2020-08-24 00:38] BeyondYourself commented on #684
明白，谢谢解惑

[2020-08-24 00:38] #684 closed, assigned to TeslaZhao

[2020-08-25 11:32] iceriver97 commented on #805
@wangjiawei04

[2020-08-27 08:33] TeslaZhao opened #814 "Pipeline Server支持业务error_code返回"
现在pipeline sever支持框架error code和业务层error info返回，业务有业务相关的error code，需要返回

[2020-08-27 08:42] liangruofei opened #815 "windows下部署serving问题"
### 我是在win10用anaconda安装了虚拟的paddle环境，然后把相应的包都安装了；在linux服务器端跑都没问题，运行程序如下：
`from paddle_serving_client import Client
from paddle_serving_app.reader import *
import numpy as np

preprocess = Sequential([
    File2Image(), BGR2RGB(), Div(255.0),
    Normalize([0.385, 0.386, 0.375], [0.162, 0.159, 0.159], False),
    Resize(1000, 1500), Transpose((2, 0, 1)), PadStride(32)
])
client = Client()
client.loa

[2020-08-27 10:20] barrierye commented on #815
MultiLangClient 去除了 load_client_config，删去该条语句即可（同时Server端要使用MultiLangServer）

[2020-08-27 10:25] liangruofei commented on #815
好的，我试下，另外有没有server端的这块语法使用说明啊，不知道具体API是啥意思，咋用的
在2020年8月27日 18:20，barriery<notifications@github.com> 写道：

MultiLangClient 去除了 load_client_config，删去该条语句即可（同时Server端要使用MultiLangServer）

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-27 10:49] barrierye opened #816 "docker: Failed to create Cudnn handle in DeviceContext, 重启容器后正常"
from 微信用户 @ Duncan

今天每次预测都会报错
重启docker容器后就正常了

![image](https://user-images.githubusercontent.com/28446721/91433428-d89a8d80-e895-11ea-8c85-dcca66c8fdd6.png)

[2020-08-27 10:56] barrierye commented on #815
server 端API与原来的一致（把Server替换成MultiLangServer），参考这个例子：https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/grpc_impl_example/fit_a_line/README_CN.md

[2020-08-28 01:51] liangruofei commented on #815
根据您给的方法修改后，报错： 😅

(paddlepaddle) D:\Desktop\serving>python test3.py
Traceback (most recent call last):
  File "test3.py", line 13, in <module>
    client.connect(['127.0.0.1:9292'])
  File "D:\Anaconda3\envs\paddlepaddle\lib\site-packages\paddle_serving_client\__init__.py", line 432, in connect
    resp = self.stub_.GetClientConfig(get_client_config_req)
  File "D:\Anaconda3\envs\paddlepaddle\lib\

[2020-08-28 01:53] iceriver97 commented on #805
@wangjiawei04 我是能将read_file返回的变量列表作为Serving模型的输入变量列表，然后修改 decorate_tensor_provider() 接收客户端发送的 http 请求中的 json 数据来保存推理模型？我该怎样接收json的数据呢？谢谢

[2020-08-28 02:23] barrierye commented on #815
看下对应端口有没有问题，另外如果有网络代理的话可能需要先关掉代理

[2020-08-28 03:02] liangruofei commented on #815
检查了端口，关了代理，关了杀毒软件还是报错😅

(paddlepaddle) D:\Desktop\serving>python test3.py
Traceback (most recent call last):
  File "test3.py", line 13, in <module>
    client.connect(['127.0.0.1:9898'])
  File "D:\Anaconda3\envs\paddlepaddle\lib\site-packages\paddle_serving_client\__init__.py", line 432, in connect
    resp = self.stub_.GetClientConfig(get_client_config_req)
  File "D:\Anaconda3\envs\paddlepaddl

[2020-08-28 03:11] barrierye commented on #815
可以描述下具体如何运行的吗？（运行步骤、文件等）

参考步骤：
[code]

[2020-08-28 03:50] liangruofei commented on #815
我写了个文档，还麻烦给看下

在2020年8月28日 11:12，barriery<notifications@github.com> 写道：

可以描述下具体如何运行的吗？（运行步骤、文件等）

参考步骤：

python -m paddle_serving_server.serve --model <MODEL> --port <PORT> --use_multilang # multilang-server

python <client.py># multilang-client

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-28 04:29] barrierye commented on #815
我这边好像没收到您的文档，可以重发下吗

[2020-08-28 04:34] liangruofei commented on #815
重发了

在2020年8月28日 12:29，barriery<notifications@github.com> 写道：

我写了个文档，还麻烦给看下

我这边好像没收到您的文档，可以重发下吗

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-28 04:39] barrierye commented on #815
还是没收到...您可能发到notifications@github.com 了。
方便直接放在issue上吗

[2020-08-28 04:44] liangruofei commented on #815
## 一、Linux-rpc连接-linux成功：

`1、pip install -U paddle_serving_app-0.1.0-py3-none-any.whl  paddle_serving_client-0.3.0-cp37-none-manylinux1_x86_64.whl  paddle_serving_server_gpu-0.3.0-py3-none-any.whl`
### 2、启动客户端

`LD_LIBRARY_PATH=/home/aistudio/work/serving/env/cuda-9.0/lib64:$LD_LIBRARY_PATH && python -m paddle_serving_server_gpu.serve --thread 10 --model serving_server --port 9292 --gpu_id 0`
###

[2020-08-28 04:47] barrierye commented on #815
启动Server的命令行需要调整下，您用的
[code]
是基于Server class启动的，而使用MultiLangServer class需要再加上`--use_multilang`参数：
[code]

[2020-08-28 04:49] barrierye commented on #815
同时，您的endpoint不正确，需要添加相应的端口号

[2020-08-28 04:51] liangruofei commented on #815
收到，马上修改试下，谢谢

| |
梁若飞
邮箱：liangruofeinuc@163.com
|

签名由 网易邮箱大师 定制

在2020年08月28日 12:50，barriery 写道：

client.connect(['169.254.220.108'])

同时，您的endpoint不正确，需要添加相应的端口号

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-28 05:01] #811 closed, assigned to barrierye

[2020-08-28 05:48] liangruofei commented on #815
还是不对，
##1 、服务端
按你说的报错如下
`aistudio@jupyter-282556-682889:~/PaddleDetection-0.4/output/serving_model/cascade_rcnn_dcn_r50_vd_fpn_3x_server_side$ python -m paddle_serving_server_gpu.serve --thread 10 --model serving_server --port 9292 --gpu_id 0 --use_multilang
usage: serve [-h] [--thread THREAD] [--model MODEL] [--port PORT] [--workdir WORKDIR] [--device DEVICE] [--gpu_ids GPU_IDS] [--name NAME] [--

[2020-08-28 06:04] barrierye commented on #815
应该是包的版本不对，0.3.0好像还没加入MultiLangServer/MultiLangClient，建议从这个[文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md)中下载最新的包更新下paddle-sering-server-gpu 和 paddle-serving-client

[2020-08-28 07:02] liangruofei commented on #815
还是报错，我本地window10 ，cuda10，paddle1.8
### 1、我安装  paddle_serving_app-0.1.0-py3-none-any.whl  报错如下
`(paddlepaddle) D:\Desktop\serving>python test3.py
Traceback (most recent call last):
  File "test3.py", line 15, in <module>
    client.connect(['172.20.10.4:9292'])
  File "D:\Anaconda3\envs\paddlepaddle\lib\site-packages\paddle_serving_client\__init__.py", line 433, in connect
    resp = self.stub_.Get

[2020-08-28 07:12] barrierye commented on #815
(paddlepaddle) D:\Desktop\serving>python test3.py Traceback (most recent call last): File "test3.py", line 3, in <module> from paddle_serving_app.reader import * File "D:\Anaconda3\envs\paddlepaddle\lib\site-packages\paddle_serving_app\reader\__init__.py", line 15, in <module> from .image_reader import ImageReader, File2Image, URL2Image, Sequential, Normalize File "D:\Anaconda3\envs\paddlepaddle\l

[2020-08-28 07:31] liangruofei commented on #815
版本没问题了，linux端没问题。windows10调用还是不对
(paddlepaddle) D:\Desktop\serving>python test3.py
Traceback (most recent call last):
  File "test3.py", line 15, in <module>
    client.connect(['172.20.10.4:9292'])
  File "D:\Anaconda3\envs\paddlepaddle\lib\site-packages\paddle_serving_client\__init__.py", line 433, in connect
    resp = self.stub_.GetClientConfig(get_client_config_req)
  File "D:\Anaconda3\envs\

[2020-08-31 02:32] iceriver97 commented on #805
@wangjiawei04  我能否将 Seving 得到的输入先存到文件中，然后再调用模型进行预测？

[2020-08-31 06:37] iceriver97 commented on #805
@TeslaZhao

[2020-08-31 11:45] TeslaZhao commented on #815
status = StatusCode.UNAVAILABLE
details = "connections to all backends failing"

是IP/Port设置不正确，linux是server，windows是client，请重新确认下server端的出口IP/Port

[2020-08-31 12:01] #771 closed, assigned to MRXLT

[2020-08-31 12:03] #767 closed, assigned to TeslaZhao

[2020-08-31 12:13] bjjwwang commented on #805
这个操作试验过吗 有报什么错误吗

[2020-08-31 12:14] bjjwwang commented on #805
如果是json的话 推荐用web service的方法，但感觉这个需求没看很明白 方便多贴一些代码解释一下吗

[2020-08-31 12:16] bjjwwang commented on #805
为什么需要先保存成文件。
还是因为pyreader吗？
pyreader op及输入var是不能放进serving模型的。保存应从pyreader的输出开始。

[2020-08-31 12:22] TeslaZhao commented on #715
抱歉，我们使用最新的镜像没有复现您说的问题
https://github.com/PaddlePaddle/Serving/blob/develop/doc/DOCKER_IMAGES.md

[2020-08-31 12:40] iceriver97 commented on #805
@wangjiawei04  谢谢。我能否这样写？在模型的定义中，我首先定义pyreader，然后定义一个变量从客户端接收数据，并将该数据存入文件中，之后再用pyreader读取，代码如下：
[code]
我有个疑问，PP该如何判断变量是否已经被赋值呢？按照上面的写法，得到的res是个变量而不是布尔值，我该怎么获取res的布尔值；
我在模型中做这些操作能实现我使用 str_text接收数据的目的吗？如果我把这些代码放在模型外，我是不是只能将接收到的变量存入文件才能使用pyreader?
我在交流群中得知：Serving模型保存时指定的输入变量只能直接传给模型，我这样间接的方式是不是不可行？
因为以上疑惑，我不清楚使用pyreader的话还能否使用serving，所以想看一下例子；
非常感谢您的解答！

[2020-08-31 13:56] #707 closed, assigned to TeslaZhao

[2020-08-31 13:57] #706 closed, assigned to nobody

[2020-08-31 14:02] #693 closed, assigned to barrierye

[2020-08-31 14:03] #675 closed, assigned to MRXLT

[2020-08-31 14:07] TeslaZhao commented on #674
目前不支持分布式部署。单机资源有限，是指模型很大，无法在一个GPU卡上运行吗？

[2020-08-31 14:22] #653 closed, assigned to MRXLT, barrierye

[2020-08-31 14:27] #610 closed, assigned to MRXLT

[2020-09-01 00:35] iceriver97 opened #818 "保存 Serving 模型时出现错误；"
保存模型的语句：
`serving_io.save_model("RE_model","RE_client_conf", {"text": str_id}, {"prediction":new_variable},fluid.default_main_program())`
报错信息：
[code]
其中 str_id，new_variable的类型均为 <class 'paddle.fluid.framework.Variable'>

[2020-09-01 01:15] levinxo commented on #715
谢谢~ 有新问题再反馈

[2020-09-01 01:15] #715 closed, assigned to TeslaZhao, MRXLT

[2020-09-01 02:51] iceriver97 commented on #818
@MRXLT  我在动态图保存时会报上面的错误，静态图保存的话会出现下面的错误：
[code]
`/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/framework.py`中的代码段如下：
[code]

[2020-09-01 03:04] iceriver97 commented on #818
@MRXLT  环境参数：
paddlehub == 1.6.0
paddlepaddle-gpu == 1.5.1.post97
python == 3.7

[2020-09-01 03:26] iceriver97 commented on #818
@MRXLT  升级至 PP1.8.0 后，出现维度问题：
[code]
相关代码如下：
[code]

[2020-09-01 06:28] MRXLT commented on #818
你好，使用paddle_serving时推荐安装1.8.2以上的版本的paddlepaddle，这里的维度问题可能是因为之前的模型文件是使用较低版本的paddle api编写的与1.8的api有区别，建议检查一下1.8版本的sequence_unpad的使用方式

[2020-09-01 07:21] iceriver97 commented on #818
@MRXLT 谢谢，我看到了1.8的api 但我找不到1.5api中的sequence_unpad，我在哪里可以找到呢？我想比较一下差异。

[2020-09-01 12:00] MRXLT commented on #818
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/layers_cn/nn_cn.html#sequence-unpad
paddle文档可以通过左上角的版本号来看不同版本的文档

[2020-09-04 03:50] BeyondYourself commented on #674
目前可能GPU稀缺，主要还是用CPU

[2020-09-04 06:39] natureLanguageQing opened #822 "centos中利用pip安装后，出现启动项目cuda找不到的情况。"
![image](https://user-images.githubusercontent.com/37429336/92207778-642aa480-eebc-11ea-967e-9fabe9d64778.png)

[2020-09-04 07:30] TeslaZhao commented on #822
本地环境CUDA是什么版本？

[2020-09-04 08:06] natureLanguageQing commented on #822
Traceback (most recent call last):
  File "ocr_web_server.py", line 24, in <module>
    from paddle_serving_app.reader import DBPostProcess, FilterBoxes, GetRotateCropImage, SortedBoxes
ImportError: cannot import name 'GetRotateCropImage' from 'paddle_serving_app.reader' (/ml/home/yanguangqing/.conda/envs/PaddleOcr/lib/python3.7/site-packages/paddle_serving_app/reader/__init__.py)

[2020-09-04 08:06] natureLanguageQing commented on #822
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:01_CDT_2018
Cuda compilation tools, release 10.0, V10.0.130

[2020-09-04 08:11] natureLanguageQing commented on #822
安装的版本和代码的版本不是很一致啊
现在是独立的吗

[2020-09-04 08:54] natureLanguageQing commented on #822
Traceback (most recent call last):
  File "ocr/ocr_web_server.py", line 7, in <module>
    from paddle_serving_app.reader import DBPostProcess, FilterBoxes, GetRotateCropImage, SortedBoxes
ImportError: cannot import name 'GetRotateCropImage' from 'paddle_serving_app.reader' (/ml/home/yanguangqing/.conda/envs/PaddleOcr/lib/python3.7/site-packages/paddle_serving_app/reader/__init__.py)

[2020-09-04 08:55] natureLanguageQing commented on #822
so sorry
我今天怎么会有这么多的幼稚的问题啊。

[2020-09-04 09:00] natureLanguageQing commented on #822
pip install paddle-serving-server-gpu==0.2 是我的错 我不应该安装最新版本的

[2020-09-04 09:00] #822 closed, assigned to nobody

[2020-09-04 14:30] liangruofei opened #823 "本地ubuntu16.04用conda安装paddle后布置serve报错"
卡死到这了：
(paddle) liangruofei@liangruofei-System-Product-Name:~/paddle/serving_model/cascade_rcnn_dcn_r50_vd_fpn_3x_server_side$ python -m paddle_serving_server_gpu.serve --model serving_server --port 9999 --gpu_id 0 --use_multilang
Going to Run Comand
/home/liangruofei/anaconda3/envs/paddle/lib/python3.7/site-packages/paddle_serving_server_gpu/serving-gpu-cuda9-0.3.2/serving -enable_model_toolkit -

[2020-09-07 00:31] #818 closed, assigned to MRXLT

[2020-09-07 02:42] MRXLT commented on #823
你好，请在启动server端之前，export GLOG_v=3 这样可以获取更多的信息，然后在log/serving.INFO中查看相关信息，找到报错的信息贴一下

[2020-09-07 07:32] zhangyinxia530 opened #824 "热加载手册中paddle_serving_server.monitor文件请问有下载链接？"
https://github.com/PaddlePaddle/Serving/blob/develop/doc/INFERENCE_TO_SERVING_CN.md

python -m **_paddle_serving_server.monitor_** \
	--type='hdfs' --hadoop_bin='/hadoop-3.1.2/bin/hadoop' \
	--remote_path='/' --remote_model_name='uci_housing.tar.gz' \
	--remote_donefile_name='donefile' --local_path='.' \
	--local_model_name='uci_housing_model' --local_timestamp_file='fluid_time_file' \
	--local_tm

[2020-09-07 07:40] gudufengzhongyipilang opened #825 "如何用多进程启动多个serving实例？"
首先感谢研发的辛勤付出！
1、问题背景：
单机单卡（P40）下使用paddel-serving部署了一个yolov3检测模型，命令如下：
![image](https://user-images.githubusercontent.com/34050415/92361210-a2280280-f120-11ea-967d-28992c9242a6.png)
；tornado异步多协程做容器与客户端的通信。在客户端使用了jmeter做压测，吞吐量在10.5左右。

2、问题描述：
压测过程中，P40显卡的显存使用率在15%~23%之间无法再提高；为了提升GPU利用率，想使用多进程来开多个serving实例，在命令行-help中没有找到相关选项。参考[serving性能测试](https://github.com/PaddlePaddle/Serving/blob/develop/doc/GP

[2020-09-07 08:23] WinwayJia opened #826 "KVManager::proc_initialize memory leak"
[code]
need to delete 'kvinfo'  that newed above before the return statment

[2020-09-07 08:50] iceriver97 opened #827 "如何获取 fetch参数？"
我将模型 freeze 之后，使用 `inference_model_to_serving `将模型保存为 Serving模型；
但我想知道客户端调用 `client.predict()`函数时，fetch参数应该是什么？
不应该是我在freeze模型时使用函数 `save_inference_model` 时指定的 fetch吗？我将其作为参数得到报错信息：
[code]
我无法打开 serving_client_conf.prototxt 文件，是不是在该文件中可以得到我想要的信息呢？
这里是该文件

[serving_client_conf.zip](https://github.com/PaddlePaddle/Serving/files/5182057/serving_client_conf.zip)
固化模型的代码：
[code]
我是不是应该指定client.predict(

[2020-09-07 09:19] iceriver97 commented on #827
我是不是应该使用 `inference_model_to_serving` 返回的参数来指定？我发现他好像是可行的，但是我遇到了新的问题：
[code]
我是不是需要对图片做预处理？

[2020-09-07 09:22] TeslaZhao commented on #825
https://github.com/PaddlePaddle/Serving/blob/develop/doc/MULTI_SERVICE_ON_ONE_GPU_CN.md

[2020-09-07 09:38] iceriver97 commented on #827
@MRXLT 对于图像分割的模型，我是否能直接使用 curl 的方式来调用服务，而不是通过客户端代码？

[2020-09-07 09:56] iceriver97 commented on #827
@MRXLT  在对图片做转置后 `im = im.transpose((2, 0, 1))` 会出现：
[code]
这是客户端的代码：
[code]

[2020-09-07 12:14] liangruofei commented on #823
输出结果是这样的

(paddle) liangruofei@liangruofei-System-Product-Name:~/paddle/serving_model/cascade_rcnn_dcn_r50_vd_fpn_3x_server_side$ python -m paddle_serving_server_gpu.serv
e --model serving_server --port 9999 --gpu_id 0 --use_multilang
mkdir: 无法创建目录"workdir_0": 文件已存在
Going to Run Comand
/home/liangruofei/anaconda3/envs/paddle/lib/python3.7/site-packages/paddle_serving_server_gpu/serving-gpu-cuda9-0

[2020-09-07 16:36] liangruofei commented on #823
(paddle) liangruofei@liangruofei-System-Product-Name:~/cascade$ python -m paddle_serving_server_gpu.serve --thread 10 --model serving_server --port 8888 --gpu_id 0 --use_multilang
mkdir: 无法创建目录"workdir_0": 文件已存在
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0908 00:11:18.977010  2546 general_model.cpp:73] feed var num: 3fetch_var_num: 1
I0908 00:11:18.977036  2546 general_model

[2020-09-08 06:05] MRXLT commented on #827
你好，请问预测结果的shape是多少

[2020-09-08 06:35] iceriver97 commented on #827
@MRXLT 您好，我查看了一下获得 fetch_map 里面的 save_infer_model/scale_0 ，shape为 （1，2，1024，1024）；
这应该是错误的吧？但是这个模型之前使用的 PaddleSeg 套件，我没有做任何修改；

[2020-09-08 09:48] iceriver97 commented on #827
@MRXLT 还是说我应该对这个 （2，1024，1024）的数组做一些后处理呢？谢谢

[2020-09-08 12:29] liangruofei commented on #823
以前的问题我解决了，现在配好了，执行是这样的
serve端执行：
(paddle) liangruofei@liangruofei-System-Product-Name:~/cascade$ python -m paddle_serving_server_gpu.serve --thread 10 --model serving_server --port 8888 --gpu_id 0 --use_multilang
mkdir: 无法创建目录"workdir_0": 文件已存在
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0908 20:27:05.811311 10181 general_model.cpp:73] feed var num: 3fetch_var_num: 1
I0908 20

[2020-09-09 08:03] liangruofei opened #829 "win10下用conda建立的虚拟paddle环境启动server报错"
想在windows下运行serving，报错如下
(paddlepaddle) D:\Desktop\serving\uav\serving_model\cascade_rcnn_dcn_r50_vd_fpn_3x_server_side>python -m paddle_serving_server_gpu.serve --thread 10 --model serving_server --port 9292 --gpu_id 0 --use_multilang
子目录或文件 workdir_0 已经存在。
'touch' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
'touch' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
Process Process-1:
Traceback (most recent call last):
  File "D:\Anac

[2020-09-09 08:04] liangruofei opened #830 "ubunut"
serve端执行：

(paddle) liangruofei@liangruofei-System-Product-Name:~/cascade$ python -m paddle_serving_server_gpu.serve --thread 10 --model serving_server --port 8888 --gpu_id 0 --use_multilang

mkdir: 无法创建目录"workdir_0": 文件已存在

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0908 20:27:05.811311 10181 general_model.cpp:73] feed var num: 3fetch_var_num: 1
I0908 20:27:05.811334 10181

[2020-09-10 06:14] iceriver97 commented on #827
@MRXLT @TeslaZhao

[2020-09-10 06:21] iceriver97 commented on #805
@wangjiawei04

[2020-09-10 07:38] iceriver97 opened #833 "使用客户端调用时的疑问：预处理后处理"
我想确认两个事情：
1. 对模型输入的预处理与模型输出的后处理，需要自己从原来的脚本中抽离吗？
下面的客户端代码是通用的吗？如果不是我需要修改什么地方？
[code]
2. inference_model_to_serving 函数返回的值是不是我在使用 client.predict()时的 feed 与 fetch的值？

[2020-09-11 01:43] iceriver97 opened #834 "有没有PaddleSeg到PaddleServing的示例呢？"
我在使用Seg套件后想使用Serving套件进行部署，但是碰到了很多问题，所以想看看有没有完整的教程？谢谢

[2020-09-11 03:18] TeslaZhao commented on #830
你好，输出和在aistudio不对，入参feed参数，和数据是否正确

[2020-09-11 03:22] TeslaZhao commented on #833
如果examples中已有相同模型的预处理和后处理，可以直接复用。如果没有example模型时，需要用户参考examples中的示例，结合模型特征，自己来开发前后处理

[2020-09-11 03:23] TeslaZhao commented on #833
例子仅供参考，我简单说明一下。

### client 配置
client = Client()
client.load_client_config("seg_client_conf/serving_client_conf.prototxt")  # 模型配置文件
client.connect(["127.0.0.1:9292"])  #服务端IP/PORT

### 前后处理，前处理交给预测前的参数拼装，后处理是预测结果到用户结果的转换，都要根据入参来具体编写。
preprocess = Sequential(  #简单图像变换
    [File2Image(), Resize(
        (512, 512), interpolation=cv2.INTER_LINEAR)])

postprocess = SegPostprocess(19)  #使用已有Seg后处理

fi

[2020-09-11 03:31] TeslaZhao commented on #833
inference_model_to_serving函数做模型转换，转为Paddle Serving的可用的模型文件，生成serving_client_conf.prototxt， serving_server_conf.prototxt。这里包括了feed和fetch的参数格式，需要按此格式拼装feed和fetch结构

参考 文档： https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE_CN.md

[2020-09-11 03:31] liangruofei commented on #830
一样的，我这块是将aistudio的东西想复现在我本地的ubuntu16.04，没有用docker部署，是用conda做的

On 9/11/2020 11:18，TeslaZhao<notifications@github.com> wrote：

你好，输出和在aistudio不对，入参feed参数，和数据是否正确

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-11 03:33] iceriver97 commented on #833
@TeslaZhao 谢谢，因为模型是使用 Seg套件得到的，Serving是不是覆盖到了Seg呢？覆盖到的话，预处理是不是我只需要调用 `paddle_serving_app` 中的函数即可？其次，SegPostprocess 中出现了将图像resize到(512,512,1)的操作，而我在调用了 `fetch_map = client.predict(feed={"image": im}, fetch=["arg_max_0.tmp_0"])`之后得到的 shape 为 （1024，1024，2）所以在resize的时候出了问题，是不是这里 predict得到的结果 shape就是错误的？

[2020-09-11 03:35] iceriver97 commented on #833
生成的这些 prototxt 文件该如何打开呢？ 我在使用 netron 打开时出现了错误；
错误截图：
![image](https://user-images.githubusercontent.com/24710426/92854402-993a7800-f423-11ea-979b-7b010a25135e.png)

[2020-09-11 03:41] TeslaZhao commented on #834
您好，目前没有PaddleSeg使用paddle serving的完整教程。您的建议我们会转给产品同学与paddleSeg沟通后，再确定相关的开发计划

[2020-09-11 03:43] iceriver97 commented on #834
@TeslaZhao 谢谢

[2020-09-11 03:47] TeslaZhao commented on #833
使用文本打开即可

[2020-09-11 03:50] bjjwwang commented on #833
resize是preprocess的操作。 想问下是什么样的模型，预期的输入和输出的shape具体的值应该都是多少

[2020-09-11 03:52] liangruofei commented on #830
另外还有个问题，后期我的部署和应用是这样的：Paddle Serving部署在Linux环境ubuntu16/18上。rpc client端在windows10上部署，不知道现在的服务是否支持这样子的应用

[2020-09-11 06:03] iceriver97 commented on #833
@wangjiawei04 是图像分割的模型，使用PaddleSeg套件得到的，没有自己的代码；这是 SegPostprocess 的部分代码：
![image](https://user-images.githubusercontent.com/24710426/92870786-ce9c9100-f436-11ea-9772-f77a089817a9.png)
最后一行就是报错的地方，resize的部分；
刚才我查看了 `serving_client_conf.prototxt`
[code]
应该预期shape与得到的一致；
是不是我需要修改 SegPostprocess？

[2020-09-11 09:50] iceriver97 commented on #833
@TeslaZhao
在 Seg 的套件中 vis.py 中使用模型进行预测时，模型的输入及模型的输出如下面代码所示：
[code]
这与 serving_client_conf.prototxt 要fetch_var 的 shape不一致啊，是什么原因呢？

[2020-09-13 12:24] liangruofei opened #835 "本地ubuntu16.04复现房产预测报错"
serve端用docker实现的没问题：
输出如下：
[code]
client端没有输出：
client端程序为：
[code]
配好环境运行结果如下：
System-Product-Name:~$ python test2.py
None
同时在serve端出现：
[code]
请问咋解决

[2020-09-14 06:33] natureLanguageQing opened #838 "example ocr 服务端启动案例 运行OCR部署代码找不到 对象"
在paddle serving app的 0.1.1版本 python example OCR 项目中的reader 找不到GetRotateCropImage, SortedBoxes类。

[2020-09-14 10:21] natureLanguageQing commented on #838
换了centos环境进行GPU服务部署，发生not found cuda 的情况。本地cuda 切换了 9.0的环境 以及 10.0.130的版本，都没办法正常启动服务。

[2020-09-15 10:04] MRXLT commented on #835
你好，可以看一下server端的启动目录下的 log/serving.INFO文件中的报错信息

[2020-09-15 10:16] MRXLT commented on #838
你好，可以更新到serving 0.3.2版本试一下，app的新版本是0.1.2

[2020-09-16 04:08] stidk opened #840 "client_seving显示图像太大(3,225,225)"
W0916 11:52:00.469072  6493 redis_protocol.cpp:69] No corresponding PipelinedInfo in socket
E0916 11:52:00.469117  6493 input_messenger.cpp:113] A message from 127.0.0.1:9292(protocol=esp) is bigger than 536870912 bytes, the connection will be closed. Set max_body_size to allow bigger messages
W0916 11:52:00.469156  6493 input_messenger.cpp:276] Close fd=4 SocketId=1@127.0.0.1:9292@51838: too big

[2020-09-16 08:54] wangxicoding opened #841 "没有cudnn时server可以启动，不过预测时闪退"
没有cudnn时server可以正常启动。不过在预测时会闪退不报错。serving版本 0.3.1
需要修改点，没有cudnn或者版本错误不能启动~

[2020-09-18 01:06] liangruofei commented on #835
info里面没有报错信息，我这次把各种版本都重新装了一下，现在报错是这样的：
serve端执行：
[root@2a9f80867a4b opt]# python3 -m paddle_serving_server_gpu.serve --thread 10 --model uci_housing_model --port 9292 --gpu_id 0 --use_multilang
mkdir: cannot create directory ‘workdir_0’: File exists
Going to Run Comand
/usr/local/lib/python3.6/site-packages/paddle_serving_server_gpu/serving-gpu-cuda9-0.3.2/serving -enable_model_toolkit -inferservi

[2020-09-18 02:19] ltnsace opened #842 "使用java client出现grpc网络异常"
我使用了官方文档中的java client文档中的教程测试,在调用最后的请求是出现了网络异常。
我确定服务端是存活的并且在另外一台机器上运行python客户端是正常的。
请问是不是目前不支持windows操作系统的java客户端。

以下是控制台出现的警告以及错误

2020-09-18 10:13:56 org.nd4j.linalg.factory.Nd4jBackend load
INFO: Loaded [CpuBackend] backend
2020-09-18 10:13:56 org.nd4j.nativeblas.NativeOpsHolder <init>
INFO: Number of threads used for linear algebra: 4
2020-09-18 10:13:56 org.nd4j.linalg.cpu.nativecpu.CpuNDAr

[2020-09-18 05:34] natureLanguageQing commented on #838
好的我这边会更新一下版本进行尝试。

[2020-09-20 05:16] barrierye commented on #842
请问启动服务端时是否添加了`use_multilang`参数（[启动多语言服务端](https://github.com/PaddlePaddle/Serving/blob/develop/doc/JAVA_SDK_CN.md#%E5%90%AF%E5%8A%A8-python-%E7%AB%AF-server)）？在该台win机器上用Python 多语言版client能否正常访问（[多语言 Python Server&Client](https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/grpc_impl_example/fit_a_line/README_CN.md)）？

[2020-09-21 03:04] MRXLT commented on #835
看一下这个文件是否有执行权限，/usr/local/lib/python3.6/site-packages/paddle_serving_server_gpu/serving-gpu-cuda9-0.3.2/serving，如果没有的话请加一下权限

[2020-09-21 03:19] TeslaZhao commented on #840
您好，请发一下报错信息

[2020-09-21 03:21] TeslaZhao commented on #841
能提供一下示例吗？

[2020-09-21 05:26] #838 closed, assigned to MRXLT

[2020-09-21 08:54] TeslaZhao commented on #830
您好，根据上面的错误信息connection refused，请看下是否正确启动了Serving服务，client端配置的server ip/port是否正确。

您运行的example是aistudio下的哪个demo？

[2020-09-24 06:21] Sunyingbin opened #846 "有没有类似于websocket这种实时推流的部署方案"
我想请教一下，我目前在做车辆检测的部署，场景就是添加一个rtsp之后，对视频流实时的检测车辆，用websocket或socketio这种来返回具体坐标信息，有没有docker这种简单方便的部署方案可以参考。具体应该如何做，新手请多指教，谢谢。

[2020-09-24 06:58] barrierye commented on #842
pypi上的python whl与当前（2020.09.24）的Java SDK不匹配，需要使用最新的安装包（server和client都要更新）：https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md

[2020-09-24 13:18] barrierye opened #847 "Java文档中的链接没有更新，是旧版本的sdk"
https://github.com/PaddlePaddle/Serving/blob/develop/doc/JAVA_SDK_CN.md#%E5%AE%89%E8%A3%85

[2020-09-24 13:25] barrierye opened #848 "server python whl 安装时没有自动安装依赖包"
安装好后还需要安装：pip install func_timeout pyyaml

[2020-09-24 13:29] barrierye opened #849 "重新安装wheel包时，可能会遇到Couldn't build proto file into descriptor pool!"
![311600947824_ pic_hd](https://user-images.githubusercontent.com/28446721/94151481-0c74cd00-fead-11ea-8544-3076f3c1e7f3.jpg)

[2020-09-25 03:15] MRXLT commented on #846
你好，PaddleServing是支持HTTP服务的，可以在这个接口上再进一步开发websocket的方式
docker部署可以参考这个链接 https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER.md

[2020-09-27 08:40] sevenold commented on #664
[code]
![image](https://user-images.githubusercontent.com/41443157/94360428-b20f8280-00df-11eb-8d1e-a49516ba3d6e.png)

模型是paddleOCR
- ch_det_r50_vd_db
- ch_rec_r34_vd_crnn
- 显存11G

一张类似PDF的图片就直接OOM!!

@wangjiawei04

[2020-09-28 08:19] sevenold opened #851 "serving OOM"
[code]
![image](https://user-images.githubusercontent.com/41443157/94407427-011feb00-01a6-11eb-8860-84df23381d25.png)

模型是paddleOCR
- ch_ppocr_server_v1.1_det
- ch_ppocr_server_v1.1_rec

显存11G

![image](https://user-images.githubusercontent.com/41443157/94407563-2e6c9900-01a6-11eb-8b8c-88bf452bcdf6.png)

访问多了后，显存就OOM了

[2020-09-29 03:16] MRXLT commented on #851
你好，请问是使用的哪个版本的serving

[2020-09-29 06:06] sevenold commented on #851
paddle-serving-server-gpu 0.3.2.post10

@MRXLT

[2020-09-29 08:16] TeslaZhao commented on #851
从错误信息看，GPU 1 可用显存不足。显存的截图是运行Serving期间的显存截图吗？

[2020-09-29 08:43] sevenold commented on #851
显存是11G，模型最开始运行的时候，占用3G左右,随着测试的数据,一张一张测试,显存会增加，最后出现这个错误,有没有什么办法,不报OOM ，单张处理是没有问题的，这样跑着跑着就挂了，很难受。

[2020-09-29 10:03] MRXLT commented on #851
把--mem_optim去掉试一下
0.3.2版本默认是打开显存优化的，--mem_optim参数已废弃，新增了--mem_optim_off参数用来在特定情况下关闭显存优化，这里的--mem_optim参数由于python argparse模块会采用前缀匹配，被识别成了--mem_optim_off

[2020-09-29 10:20] sevenold commented on #851
谢谢 ，我试下， 有反馈我再回复
@MRXLT

[2020-10-08 08:42] TeslaZhao commented on #834
相关的PR已经开发完成，等待合入。 https://github.com/PaddlePaddle/PaddleSeg/pull/409

[2020-10-08 08:44] #815 closed, assigned to nobody

[2020-10-09 02:26] #851 closed, assigned to MRXLT

[2020-10-14 07:06] MRXLT commented on #849
paddle serving在使用时需要保证server端和client端的版本号一致，不同版本中的proto协议可能会有不同，这时候便会导致这个问题

[2020-10-14 07:10] MRXLT commented on #848
已修复
https://github.com/PaddlePaddle/Serving/pull/855

[2020-10-15 03:53] xiuechen opened #857 "paddle pgl使用paddle serving进行模型保存的时候，被自动剪枝，导致后面输入的时候模型输入不合法"
rt

Traceback (most recent call last):
  File "client.py", line 53, in <module>
    fetch_map = client.predict(feed=feed_dict, fetch=["proba"])
  File "/usr/local/lib/python3.6/site-packages/paddle_serving_client/__init__.py", line 282, in predict
    raise ValueError("Wrong feed name: {}.".format(key))
ValueError: Wrong feed name: sub_graph/edges_dst.

[2020-10-15 04:13] sevenold opened #858 "Check failure stack trace"
### 部署paddleOCR脚本
[code]

### 版本
- paddle-serving-server-gpu 0.3.2.post10
- Ubuntu 16.10
- docker images paddlepaddle/serving:latest-cuda10.0-cudnn7

部署成功后，40万图片经过256线程的并发测试，跑几个小时后，会堵塞住，然后停留在这个错误！！！
[code]

### server服务运行正常

![image](https://user-images.githubusercontent.com/41443157/96076557-33d51d80-0ee0-11eb-9719-f1b853f4c448.png)

[2020-10-16 06:30] MRXLT commented on #857
paddle serving目前暂不支持图神经网络的预测

[2020-10-19 07:36] wangqianyi2017 commented on #823
遇到同样的问题，请问解决了吗？

[2020-10-21 02:20] bjjwwang commented on #858
好的 我马上压力测试复现一下

[2020-10-22 01:51] #825 closed, assigned to TeslaZhao

[2020-10-22 01:59] #848 closed, assigned to barrierye

[2020-10-22 02:01] #846 closed, assigned to MRXLT

[2020-10-22 02:11] TeslaZhao commented on #840
A message from 127.0.0.1:9292(protocol=esp) is bigger than 536870912 bytes, the connection will be closed. Set max_body_size to allow bigger messages

图片太大，超过了PRC设置的max_body_size参数，请改大max_body_size参数

[2020-10-22 02:12] #834 closed, assigned to TeslaZhao

[2020-10-22 13:45] iceriver97 commented on #833
我还是不太理解SegPostprocess 中reshape(512,512,1)的操作，我得到的mask为（1，2，1024，1024）在经过这一步时会出错，我应该改为什么呢？

[2020-10-22 14:02] iceriver97 commented on #834
image_reader 中的SegPostprocess（） 中还是有reshpe 到 （512，512，1）的操作啊？我按照这个教程依旧卡在这里，不能work

[2020-10-22 14:14] iceriver97 commented on #833
@TeslaZhao 我的模型是使用 inference_model_to_serving，将推理模型转化为serving模型的，我发现使用这个函数后，serving_client_conf.prototxt中fetch的name总是固定为："save_infer_model/scale_0"；是不是这里有点问题呢？

[2020-10-22 14:22] iceriver97 opened #860 "no module named paddle_serving_client.convert"
使用官方帮助文档中保存serving模型的方法，但是提示不存在这个module啊，是不是文档写错了？

[2020-10-23 00:56] iceriver97 commented on #833
@TeslaZhao  经我验证，应该是官方代码的BUG，模型catch到的是未经过argmax的变量，但在SegPostprocess中却没有argmax操作；
出现问题的代码在 paddle_serving_app/reader/image_reader.py:
[code]
应该改为：
[code]

[2020-10-23 02:54] MRXLT commented on #860
你好，这个方法目前是develop版本的功能，0.3.2版本中没有发布

[2020-10-23 02:55] iceriver97 commented on #860
好的谢谢

[2020-10-23 02:55] #860 closed, assigned to nobody

[2020-10-26 04:30] sevenold commented on #858
@wangjiawei04 有复现这个问题吗？

[2020-11-02 02:48] JiaoZiLang opened #864 "关于日志保留时间设置"
请教下如何设置日志保留最多天数时间，长时间运行下来日志占用空间太大了

[2020-11-02 09:39] liangruofei opened #865 "Ubuntu16.04 用docker部署cascade_rcnn，cpu可以进行，gpu就报错"
Ubuntu16.04 用docker部署cascade_rcnn，cpu可以进行，gpu报错：过程如下
1、cpu
服务端：
python3 -m paddle_serving_server_gpu.serve --model serving_server --port 9292

显示：
W0100 00:00:00.000000   445 fluid_cpu_engine.cpp:53] RAW: Succ regist factory: ::baidu::paddle_serving::predictor::FluidInferEngine< FluidCpuNativeDirWithSigmoidCore>->::baidu::paddle_serving::predictor::InferEngine, tag: FLUID_CPU_NATIVE_DIR_SIGMOID in

[2020-11-02 13:42] liuhuiCNN opened #867 "windows部署serving时报错，ModuleNotFoundError: No module named 'fcntl'"
from https://github.com/PaddlePaddle/PaddleDetection/issues/1644

[2020-11-03 03:23] bjjwwang commented on #867
这个会在0.4.0 修复。
目前这个是要在Win上运行吗

[2020-11-03 03:23] bjjwwang opened #868 "OCR 两个模型运行在一张卡的时候 其中一个进程会卡住"
日志
![image](https://user-images.githubusercontent.com/23625746/97947055-113f7180-1dc7-11eb-8f54-f1224c3fcad9.png)

运行脚本
![image](https://user-images.githubusercontent.com/23625746/97947061-18ff1600-1dc7-11eb-9774-6689a39692c7.png)

环境 nvidia-docker
 hub.baidubce.com/paddlepaddle/serving:latest-cuda10.0-cudnn7

[2020-11-03 06:39] TeslaZhao commented on #864
您好，目前不支持Serving过期日志时间删除。过期日志删除一般有2种处理方式，第一种是运维同学写一个logrotate.py，配置好log路径和文件名称，脚本定期检查和删除过期文件。第二种方式在Serving中实现过期文件配置和删除，目前不支持，我可以提供一个方法：

1.C++端：在InitGoogleLogging同时，设置自动cleaner，需要重新编译C++代码
    google::EnableLogCleaner(3); // keep your logs for 3 days
2.python端：pipeline，在pipeline/logger.py中增加
        maxBytes: 1024
        backupCount: 3
3.业务层：
    继承TimedRotatingFileHandler或RotatingFileHandler 实现

[2020-11-03 06:42] TeslaZhao commented on #864
下个版本增加这个功能

[2020-11-03 09:47] barrierye opened #869 "C++ client 文档补全"
Paddle Serving支持C++ client（基于bRPC），但还没有相关的文档教程。
可以参考[Go client](https://github.com/PaddlePaddle/Serving/blob/develop/doc/IMDB_GO_CLIENT_CN.md)的文档格式制作一个C++ client的文档教程。

[2020-11-03 09:52] barrierye opened #870 "Serving App数据预处理API文档"
Serving App[数据预处理API文档](https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_app/README_CN.md#%E6%95%B0%E6%8D%AE%E9%A2%84%E5%A4%84%E7%90%86api)目前比较简单，同时一些新的API没有被记录，需要：
- 补充预处理API详细功能及使用方式
- 补全已有的API的文档

[2020-11-03 09:57] barrierye opened #871 "gRPC文档整理"
目前gRPC接口相关的文档比较混乱，分散在下面这些文件中：
- [gRPC接口文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/GRPC_IMPL_CN.md)
- [线性回归预测服务示例文档](https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/grpc_impl_example/fit_a_line/README_CN.md)
- [gRPC接口使用样例](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/grpc_impl_example)

需要整理成比较清晰的文档（并包含gRPC接口与多语言多平台的关系）

[2020-11-03 10:29] QingYuan-L opened #872 "使用paddleserving压测出现一些问题"
env：ubuntu1804，显卡1650，千兆网，brpc方式，pp-yolo
1.单线程请求，无报错，qps:5
2.5个线程，错误率18%
全部报错都为
[code]
3.10个线程，错误率32%，一段时间后直接崩溃，除了上面的报错，崩溃报错为
[code]

[2020-11-05 02:17] JiaoZiLang commented on #864
多谢🙏

[2020-11-05 02:17] #864 closed, assigned to TeslaZhao

[2020-11-06 03:56] AnMoran commented on #858
@wangjiawei04 我也遇到了，如果每预测一张图，
![image](https://user-images.githubusercontent.com/33443619/98324336-ed7a6680-2026-11eb-8f48-424645552558.png)
都初始化一次这个，预测完一张调用det_client.release()和rec_client.release()
跑几百张图就会崩溃，崩溃如下
![image](https://user-images.githubusercontent.com/33443619/98324417-29153080-2027-11eb-8cad-a68d8d6e3a41.png)

[2020-11-07 09:51] Shixuqing4343 commented on #610
![image](https://user-images.githubusercontent.com/41406169/98437981-dc625000-2121-11eb-955c-9ec479af4ccf.png)
请问zhe这个错误该如何解决

[2020-11-10 01:03] TIan-z opened #874 "批量分析时，服务中断；如何关闭predict"
serving镜像版本：hub.baidubce.com/paddlepaddle/paddle latest-cuda10.0-cudnn7-devel
显卡 2080TI

server：
 centOS 7.7
 cuda 10.0
 cudnn 7.6.5

client:
 Ubuntu 16.04

问题描述:
E1110 08:51:55.873919   718 factory.h:149] RAW: Insert duplicate with tag: WeightedRandomRender
I1110 08:51:55.873919   718 abtest.h:67] RAW: Factory has been registed: WeightedRandomRender->EndpointRouterBase.
F1110 08:51:57.535298   71

[2020-11-10 02:02] 631961895 opened #875 "Warning: PaddlePaddle catches a failure signal, it may not work properly"
为使您的问题得到快速解决，在建立Issues前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：

标题：简洁、精准概括您的问题
版本、环境信息：
   1）PaddlePaddle版本：
paddle-serving-app 0.1.2
paddle-serving-client 0.3.2
paddle-serving-server-gpu 0.3.2.post10
paddlepaddle 1.8.5
   2）CPU/GPU：NVIDIA-SMI 430.40 Driver Version: 430.40 CUDA Version: 10.1 cudnn 7.6
   3）系统环境：ubuntu 16.04
   4）Python版本号 3.6.1

[2020-11-10 03:17] 631961895 opened #876 "怎么关闭paddle client的链接"
from paddle_serving_client import Client
client = Client()
client.load_client_config(client_config)
client.connect([])
链接成功使用完毕之后怎么把链接关闭？这里面并没有close()的方法

[2020-11-10 07:29] bjjwwang commented on #876
底层是BRPC的接口，之前没有这样设计，我看看是不是应该去设计一个。

[2020-11-10 07:31] bjjwwang commented on #872
这个大概是多久会出现这个问题，会不会是负载过高，还是说负载比较低的适合也会出现。

[2020-11-10 09:38] Sunyingbin opened #878 "paddleserving有做websocket这种服务吗"
我现在有一个场景，就是通过接入rtsp视频流，启动一个websocket服务，然后paddle用来识别，将结果实时返回

[2020-11-10 09:54] liangruofei commented on #865
哪位大佬有空给看看呗@wangjiawei04@TeslaZhao

[2020-11-11 02:03] liangruofei opened #879 "serving进行预测时，不将结果保存需要如何操作"
**不要output输出内容

from paddle_serving_client import Client
from paddle_serving_app.reader import *
import sys
import numpy as np

preprocess = Sequential([
    File2Image(), BGR2RGB(), Div(255.0),
    Normalize([0.485, 0.456, 0.406], [0.229, 0.224, 0.225], False),
    Resize(640, 640), Transpose((2, 0, 1))
])

postprocess = RCNNPostprocess("label_list.txt", "output")
client = Client()

client.load_c

[2020-11-12 08:29] xialei2821212670 commented on #867
我也到这出现了这个问题

[2020-11-13 02:49] TeslaZhao commented on #872
您好，你在压测过程中内存、FD指标正常吗，是否可以提供client端的代码？

[2020-11-13 02:56] TeslaZhao commented on #872
预测过程中是否出现 Fail to pthread_key_create: Resource temporarily unavailable 错误？

[2020-11-13 03:00] TeslaZhao commented on #878
你好，PaddleServing支持HTTP服务，您可以在HTTP上再进一步开发websocket的方式
docker部署可以参考这个链接 https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER.md

[2020-11-13 04:10] TeslaZhao commented on #876
您好，client.connect()像是网络连接接口，并不是直接使用socket连接。Paddle Serving底层使用brpc网络库，并使用butil::get_object做内存管理，在程序退出时会析构资源。因此，在使用client使用过程中无需close关注接口。

[2020-11-13 04:13] TeslaZhao commented on #875
PC: @ 0x0 (unknown)
像是内存越界了，能描述下出现的场景吗，是第一次预测时报错，在多次预测过程中报错？使用的文件和资源有多大，其他的模型能否正常预测，内存、显存是不是正常？

[2020-11-13 04:23] TeslaZhao commented on #874
Fail to pthread_key_create: Resource temporarily unavailable

出现这个错误是系统无法分配进程了，请检查下系统资源是不是有限制，另外检查一下client使用是否正确，例如循环生成client会导致资源耗尽。

Paddle Serving支持的系统镜像：https://github.com/PaddlePaddle/Serving/blob/develop/doc/DOCKER_IMAGES_CN.md
CPU 开发镜像 (用于编译 Ubuntu 包)
GPU (cuda9.0-cudnn7) 开发镜像 (用于编译 Ubuntu 包)
编译出的Ubuntu包

[2020-11-13 04:27] TeslaZhao commented on #879
您好，目前不支持output不输出的定制，想了解下您不想输出output的原因是？

[2020-11-13 04:28] TeslaZhao commented on #868
提一个疑问：是不是在同一张卡上运行任何2个相同的模型都会 卡住？

[2020-11-13 05:06] liangruofei commented on #879
因为我的检测结果后面还要对接应用，数据会给其他处理。这里加上保存会增加我的延时

| |
梁若飞
邮箱：liangruofeinuc@163.com
|

签名由 网易邮箱大师 定制

在2020年11月13日 12:28，TeslaZhao 写道：

您好，目前不支持output不输出的定制，想了解下您不想输出output的原因是？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-13 05:57] TeslaZhao commented on #879
了解，你先自行在代码里改一下（./paddle_serving_app/reader/image_reader.py）。我们会增加一个新需求是否保存结果的选项。您也可以给我们提PR和code。

[2020-11-13 05:59] liangruofei commented on #879
👌

| |
梁若飞
邮箱：liangruofeinuc@163.com
|

签名由 网易邮箱大师 定制

在2020年11月13日 13:58，TeslaZhao 写道：

了解，你先自行在代码里改一下（./paddle_serving_app/reader/image_reader.py）。我们会增加一个新需求是否保存结果的选项。您也可以给我们提PR和code。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-16 06:44] barrierye commented on #870
assigned @BohaoWu 👍

[2020-11-18 01:07] TIan-z commented on #874
好的，谢谢------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;TeslaZhao&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年11月13日(星期五) 中午12:23
收件人:&nbsp;&quot;PaddlePaddle/Serving&quot;<Serving@noreply.github.com&gt;;
抄送:&nbsp;&quot;TIan-z&quot;<958463384@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Serving] 批量分析时，服务中断；如何关闭predict (#874)

[2020-11-18 10:55] liangruofei opened #884 "faster_rcnn_model训练自己的模型部署遇到的问题"
各位大佬支援一把：

https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model
在本地环境ubuntu18.04，python3.6,paddle1.8.5,cuda10.0部署，没有问题，可以执行；

但我重新训练成我自己的模型。训练环境是aistudio 的python3.7,paddle1.7.2,cuda9.0，得到的
infer_cfg.yml如下：
use_python_inference: false
mode: fluid
draw_threshold: 0.5
metric: VOC
arch: RCNN
min_subgraph_size: 40
with_background: true
Preprocess:
- is_channel_first: f

[2020-11-19 02:25] TongHengcheng opened #885 "如何在arm平台部署paddle_serving_client"
我在jetson tx2上使用pip 安装 paddle_serving_client 后，初始化Client时显示
![image](https://user-images.githubusercontent.com/35362026/99612809-45669380-2a51-11eb-9663-eace61d340ed.png)
使用file serving_client.so发现该文件是x86下编译的，如果需要重新编译paddle_serving_client的话，我需要怎么做？望解答。

[2020-11-19 06:04] TeslaZhao commented on #885
您好，目前没有在arm平台上编译过serving。如果您想试一下编译，可以参考linux平台编译文档。https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md

[2020-11-19 06:21] TongHengcheng commented on #885
好的，我尝试下

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "TeslaZhao"<notifications@github.com&gt;;
发送时间: 2020年11月19日(星期四) 下午2:04
收件人: "PaddlePaddle/Serving"<Serving@noreply.github.com&gt;;
抄送: "2841799783"<2841799783@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Serving] 如何在arm平台部署paddle_serving_client (#885)

您好，目前没有在arm平台上编译过serving。如果您想试一下编译，可以参考linux平台编译文档

[2020-11-19 08:40] bjjwwang opened #886 "local predict在OCR上 CUDA ERROR（3）"
![image](https://user-images.githubusercontent.com/23625746/99641973-ecfdb900-2a85-11eb-8efa-b5605750c2ef.png)

[2020-11-19 14:02] bjjwwang commented on #885
是有什么样的需求要Arm的serving

[2020-11-20 01:54] TongHengcheng commented on #885
需求是这样的：我们在服务器上使用了paddle_serving_server开启了服务，arm上只是建立一个客户端能够访问服务器上的服务。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jiawei Wang"<notifications@github.com&gt;;
发送时间: 2020年11月19日(星期四) 晚上10:03
收件人: "PaddlePaddle/Serving"<Serving@noreply.github.com&gt;;
抄送: "2841799783"<2841799783@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/Serving] 如何在arm平台部署paddle_serving_

[2020-11-20 06:48] mikeshi80 opened #887 "这里的or前后顺序写反了"
https://github.com/PaddlePaddle/Serving/blob/0849586d38e56574d56b03aacb405a42d969568a/python/paddle_serving_app/reader/image_reader.py#L304

应该先判断是否为None，然后再判断它的属性

[2020-11-23 09:03] Chambers1994 commented on #885
[ 56%] Built target pdcodegen
[  0%] Building CXX object CMakeFiles/PROTO_LIB.dir/idl_options.pb.cc.o
c++: error: unrecognized command line option ‘-msse4’
c++: error: unrecognized command line option ‘-msse4.2’
CMakeFiles/PROTO_LIB.dir/build.make:198: recipe for target 'CMakeFiles/PROTO_LIB.dir/idl_options.pb.cc.o' failed
make[5]: *** [CMakeFiles/PROTO_LIB.dir/idl_options.pb.cc.o] Error 1
make[5]

[2020-11-24 02:13] Jakel21 opened #891 "yolov3检测模型，批量分析时中间报错"
容器内起了yolov3的检测模型服务，在批量请求时固定卡在第500哥请求的时候报错（不是图的问题，检查过图没有问题）。
如果一次请求少于500，则没有问题。
----------------------------------------------------
报错信息如下：
![image](https://user-images.githubusercontent.com/20606275/100037547-52162d80-2e3d-11eb-97f7-90a6057d5b56.png)

检查过容器是否有内存限制等，貌似没有问题
![image](https://user-images.githubusercontent.com/20606275/100037272-bd133480-2e3c-11eb-8143-0b278878f53b.png)
目前请求是这样写的
![im

[2020-11-24 07:48] T8T9 commented on #891
看起来像OS创建线程数达到限制了，麻烦确认一下每个进程可创建的线程数是否收到限制。

[2020-11-25 02:21] BeyondYourself opened #892 "Local deployment debug, package incompatibility"
platform : win10
server-version: 0.3.2

When I run the local prediction(debug)，there seems a lib  incompatible with environment,
The error message is as follows：
![image](https://user-images.githubusercontent.com/12640462/100174424-60c91700-2f07-11eb-9da7-896f2de7f58c.png)

I found the lib fcntl was  not compatible with  windows system
![image](https://user-images.githubusercontent.com/12640462/10

[2020-11-26 07:20] liangruofei opened #893 "windows作为client端，ubuntu18.04作为服务端部署问题"
各位大神求指教：

环境：
ubuntu18.04：python3.6.9，paddle1.8.5，cuda10.0，cudnn7.6，服务端安装paddle_serving_server_gpu-0.3.2.post10-py3-none-any.whl

window10：python3.6.9，paddle1.8.5，cuda10.0，客户端安装paddle_serving_client-0.3.2-cp36-none-any.whl和paddle_serving_app-0.1.2-py3-none-any.whl

跑测试样例https://github.com/PaddlePaddle/Serving/blob/release/0.3/python/examples/faster_rcnn_model/README_CN.md，
在ubuntu18.04 运行服务端和客户端可以

[2020-11-26 08:02] barrierye commented on #893
这是GPU第一次调用超时，参考FAQ [使用GPU第一次预测时特别慢，如何调整RPC服务的等待时间避免超时？](https://github.com/PaddlePaddle/Serving/blob/develop/doc/FAQ.md#q-%E4%BD%BF%E7%94%A8gpu%E7%AC%AC%E4%B8%80%E6%AC%A1%E9%A2%84%E6%B5%8B%E6%97%B6%E7%89%B9%E5%88%AB%E6%85%A2%E5%A6%82%E4%BD%95%E8%B0%83%E6%95%B4rpc%E6%9C%8D%E5%8A%A1%E7%9A%84%E7%AD%89%E5%BE%85%E6%97%B6%E9%97%B4%E9%81%BF%E5%85%8D%E8%B6%85%E6%97%B6)。
同时gRPC版本返回值会添加一个"serving_status_cod

[2020-11-27 09:08] bjjwwang opened #895 "serving cuda10.1-trt6容器不支持 paddlepaddle-gpu 2.0rc"
![image](https://user-images.githubusercontent.com/23625746/100431464-2a3ff780-30d3-11eb-93e4-912af56bd3a1.png)

[2020-11-27 10:05] bjjwwang commented on #895
这个是因为https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-rc/install/Tables.html#whl-dev 这个下面
CUDA10.1的版本只有gcc82编译的。
pip install 自动查找的whl包就是8.2的。
需要安装cuda 10 cudnn7 cp27 这个就是gcc48编译的

[2020-11-30 14:01] MRXLT opened #897 "local predic能否自动装填lod信息"
local predict使用list输入的时候，如果输入为lod_tensor，需要手动填入lod信息，这一步能否做成自动的。

[2020-12-01 10:35] barrierye commented on #871
#898 by @BeyondYourself

[2020-12-01 10:35] #871 closed, assigned to nobody

[2020-12-01 10:38] #893 closed, assigned to nobody

[2020-12-06 17:08] turbodblabs opened #906 "serving-cpu-noavx-openblas-0.3.2/serving: cannot execute binary file"
启动服务一直报这个错
![image](https://user-images.githubusercontent.com/26930834/101286935-676d5d80-3828-11eb-9970-fab484c64328.png)

端口有启动成功，执行
`curl -H "Content-Type:application/json" -X POST -d '{"x": [0.0137, -0.1136, 0.2553, -0.0692, 0.0582, -0.0727, -0.1583, -0.0584, 0.6283, 0.4919, 0.1856, 0.0795, -0.0332], "fetch":["price"]}' http://127.0.0.1:9292/uci/prediction
`
报500 错误

![image](https://user-imag

[2020-12-07 02:11] TeslaZhao commented on #887
感谢您的建议，我们会在下一版本修复

[2020-12-07 02:45] TeslaZhao commented on #891
您好，您遇到的问题是OS创建线程数达到限制了，建议您使用QueueObject模式，创建N个Client对象，初始化后放入QueueObject，在Service处理函数层从QueueObject中获取Client对象predict。我们下一版本示例中增加QueueObject的使用，希望能帮助到您

[2020-12-07 02:52] TeslaZhao commented on #892
您好，windows环境我们正在适配中，感谢您的issue.

[2020-12-07 02:56] BeyondYourself commented on #892
好的，期待ing

[2020-12-07 02:56] #892 closed, assigned to bjjwwang

[2020-12-07 03:01] TeslaZhao commented on #906
您好，0.3.2版本不支持mac部署。v0.4.0/develop 分支上支持在mac上使用local predict方式的部署。

[2020-12-08 08:09] TeslaZhao commented on #886
develop和v0.4.0版本已经解决

[2020-12-09 02:55] lerry-lee opened #913 "保存ERNIE可服务模型，client调用问题"
client端代码
[code]
其中数据预处理data_preprocess是从源码中抽离出来的
[code]
测试数据text.txt为
[code]
客户端配置如下
[code]
成功启动server端，然后client端执行报错
[code]
server端报错信息为
[code]
请问是什么原因呢

[2020-12-17 03:40] elanyang opened #929 "paddle-serving-client==0.4.0没有此版本"
pip install paddle-serving-client==0.4.0
输出：
ERROR: Could not find a version that satisfies the requirement paddle-serving-client==0.4.0
ERROR: No matching distribution found for paddle-serving-client==0.4.0

[2020-12-18 03:02] TeslaZhao commented on #913
使用哪个Serving版本？

[2020-12-18 03:03] TeslaZhao commented on #929
目前还没有给0.4.0打包，下周3前会打包完成

[2020-12-18 04:18] lerry-lee commented on #913
0.3.2

[2020-12-18 13:52] barrierye opened #932 "多语言client在batch预测时报错"
错误原因：brpc版在batch预测时的接口发生变化，client.predict需要添加`batch=True`参数，而grpc相关接口没有相应做修改（https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_server/__init__.py#L612 ）

[2020-12-21 03:13] Jakel21 opened #933 "how to set batch_size correctly in client"
**检测服务的示例中没有给出设置batch_size的方法**，在Fater_RCNN中benckmark.py里：
![image](https://user-images.githubusercontent.com/20606275/102734967-30e12800-437c-11eb-955d-d5101f8f4823.png)
但是benchmark中所有的图都是一张..........
而如果按照batch_feed的方法输送给client.predict()，返回的结果中不区分图片.....所以的结果都是存在一起的：
![image](https://user-images.githubusercontent.com/20606275/102735191-b82e9b80-437c-11eb-9c29-32baea8bee16.png)
**那么我要是输送多张图，结果该怎么

[2020-12-21 03:17] TeslaZhao commented on #932
预计在v0.4.1版本修复

[2020-12-22 04:58] #929 closed, assigned to TeslaZhao, bjjwwang

[2020-12-23 07:34] yuope opened #939 "安装使用psddle"

[2020-12-23 07:36] yuope opened #940 "提示安装成功后使用paddle出错"
Python 3.8.7 (tags/v3.8.7:6503f05, Dec 21 2020, 17:59:51) [MSC v.1928 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

 ** On entry to DGEBAL parameter number  3 had an illegal value
 ** On entry to DGEHRD  parameter number  2 had an illegal value
 ** On entry to DORGHR DORGQR parameter number  2 had an illegal value
 ** On entry to DHSEQR parameter

[2020-12-23 07:57] TeslaZhao commented on #940
你好，是Windows系统吗，安装哪个版本Serving?

[2020-12-23 07:58] #939 closed, assigned to nobody

[2020-12-23 07:58] TeslaZhao commented on #939
内容为空

[2020-12-23 08:00] yuope commented on #940
是win10 用pip install&nbsp;paddlepaddle==1.8.5 -i https://mirror.baidu.com/pypi/simple 下载的1.8.5 版本

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Serving"                                                                                    <notifications@gith

[2020-12-24 07:57] 459936800 opened #943 "senta按照文档无法正常运行"
python3 -m paddle_serving_server.serve --model lac_model --port 9300
python3 senta_web_service.py

[2020-12-24 08:00] 459936800 commented on #943
curl -H "Content-Type:application/json" -X POST -d '{"feed":[{"words": "天气不错"}], "fetch":["class_probs"]}' http://127.0.0.1:9393/senta/prediction

开启服务后按照文档脚本执行，以上脚本会报错
TypeError: predict() got an unexpected keyword argument 'batch'
是不是版本对不上？首页配置命令叫我安装4.0.0版本 但是安装不了 没有该版本啊。

[2020-12-25 01:33] 459936800 commented on #943
已解决
1、用docker版本安装
2、用官方提供地址下载最新版本
https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md

[2020-12-25 01:33] #943 closed, assigned to nobody

[2020-12-30 23:48] #857 closed, assigned to TeslaZhao

[2020-12-30 23:52] #842 closed, assigned to barrierye

[2020-12-30 23:53] TeslaZhao commented on #913
请使用最新0.4.0版本或最新develop分支试一下，这个问题已经修复了

[2020-12-30 23:54] #906 closed, assigned to TeslaZhao

[2020-12-30 23:56] #886 closed, assigned to TeslaZhao, bjjwwang

[2020-12-30 23:58] #879 closed, assigned to TeslaZhao, bjjwwang

[2020-12-30 23:59] #878 closed, assigned to TeslaZhao

[2020-12-31 00:01] #874 closed, assigned to TeslaZhao

[2020-12-31 00:04] TeslaZhao commented on #867
已经修复

[2020-12-31 00:04] #867 closed, assigned to TeslaZhao, bjjwwang

[2020-12-31 00:04] #876 closed, assigned to TeslaZhao, bjjwwang

[2020-12-31 00:05] #840 closed, assigned to TeslaZhao

[2020-12-31 00:06] #849 closed, assigned to barrierye

[2020-12-31 00:06] #841 closed, assigned to MRXLT

[2020-12-31 00:07] #835 closed, assigned to MRXLT

[2020-12-31 00:09] TeslaZhao commented on #829
您好，Serving 最新的v0.4.0版本支持Windows原生WebService服务，请关注

[2020-12-31 00:09] #829 closed, assigned to MRXLT

[2020-12-31 00:11] TeslaZhao commented on #833
谢谢你的建议，@iceriver97

[2020-12-31 00:14] TeslaZhao commented on #823
您好，在最新版本v0.4.0已经解决

[2020-12-31 00:14] #823 closed, assigned to MRXLT

[2020-12-31 00:14] TeslaZhao commented on #814
已经完成

[2020-12-31 00:14] #814 closed, assigned to TeslaZhao

[2020-12-31 00:15] #810 closed, assigned to barrierye

[2020-12-31 00:17] TeslaZhao commented on #809
已更新

[2020-12-31 00:17] #809 closed, assigned to barrierye

[2020-12-31 01:02] TeslaZhao commented on #778
0.4.0版本已经修复

[2020-12-31 01:02] #778 closed, assigned to bjjwwang

[2020-12-31 01:02] TeslaZhao commented on #616
已经支持，v0.4.0

[2020-12-31 01:02] #616 closed, assigned to MRXLT

[2020-12-31 01:03] #780 closed, assigned to barrierye

[2020-12-31 01:04] #756 closed, assigned to bjjwwang

[2020-12-31 04:44] lerry-lee commented on #913
服务端可以启动，客户端报以下错误：
`from .serving_client import PredictorRes
ModuleNotFoundError: No module named 'paddle_serving_client.serving_client'`
我用的是0.4.0版本

[2020-12-31 05:24] RunningMartin opened #948 "尝试使用Serving部署手写数字识别模型，预测时出现unknown type"
系统环境：deppin v20.1
Serving环境：docker搭建
[code]
paddle-serving版本：
[code]
paddle 版本：paddle 2.0rc
模型定义：
[code]
保存静态模型文件
[code]
通过paddle_serving保存模型
[code]
启动服务
[code]
客户端代码
[code]
服务器端报错：
[code]

客户端报错：
[code]

[2020-12-31 05:28] RunningMartin commented on #948
我查看了Client.predict第353行代码，
[code]
这里的float_slot_batch的信息为：
[code]

请问是我哪里有问题呢？

[2020-12-31 07:55] Kokoing123 opened #949 "请求服务出现{"result":"not enough values to unpack (expected 3, got 2)"}"
使用paddleserving的图像分类历程，使用curl H请求远程服务curl -H "Content-Type:application/json" -X POST -d '{"feed":[{"image": "https://paddle-serving.bj.bcebos.com/imagenet-example/daisy.jpg"}], "fetch": ["score"]}' http://127.0.0.1:9292/image/prediction，完全例子的写法，出现以上{"result":"not enough values to unpack (expected 3, got 2)"}返回问题。
paddleserving 0.4.0 cuda10 cudnn7

[2021-01-04 13:08] bjjwwang opened #950 "COMPILE DOC little error"
![image](https://user-images.githubusercontent.com/23625746/103538331-f8d7fa00-4ed0-11eb-9dd2-2f9fe981a781.png)
缺失TENSOR RT环境变量的设置

[2021-01-05 00:35] TeslaZhao commented on #949
你好，我测试了v0.4.0版本的imagenet示例，可以正常运行。结果如下：
{"result":{"label":["daisy"],"prob":[0.9341403245925903]}}

根据您提供的错误原因，请重新安装一下server、client、app安装包版本不正确。运行下面命令，将安装包更新到v0.4.0版本：
pip install -U paddle-serving-client==0.4.0
pip install -U paddle-serving-server==0.4.0
pip install -U paddle-serving-app==0.2.0

[2021-01-05 01:29] meishitouzhele commented on #949
我也遇到了这个问题，安装的是4.0  然后使用内置分词模型调用
[root@9776ba5ea3b6 /]# curl -H "Content-Type:application/json" -X POST -d '{"feed":[{"words": "我爱北京天安门"}], "fetch":["word_seg"]}' http://127.0.0.1:9393/lac/prediction
{"result":"need more than 2 values to unpack"}
请问是官网文档里的json错误吗

[2021-01-05 01:51] meishitouzhele commented on #949
![image](https://user-images.githubusercontent.com/11419081/103597609-a3850280-4f3b-11eb-8b61-b4bd8c6afc1c.png)

[2021-01-05 01:53] meishitouzhele commented on #949
请问 环境里，除了这三个版本要求
paddle-serving-app    0.2.0
paddle-serving-client 0.4.0
paddle-serving-server 0.4.0  还有其他要求吗？docker安装的serving

[2021-01-05 01:58] TeslaZhao commented on #949
如果是cpu的docker没有要求，如果使用GPU预测的话docker要和cuda相匹配。刚刚试一下examples/lac是没有问题的

curl -H "Content-Type:application/json" -X POST -d '{"feed":[{"words": "我爱北京天安门"}], "fetch":["word_seg"]}' http://127.0.0.1:9292/lac/prediction

{'crf_decode': array([[30],
       [38],
       [50],
       [51],
       [50],
       [51],
       [51],
       [30],
       [38],
       [50],
       [51],
       [50],
       [51],

[2021-01-05 02:02] TeslaZhao commented on #949
还有你的examples代码是否更新到最新？

[2021-01-05 02:02] meishitouzhele commented on #949
感谢  目前使用的是cpu的，查询安装的版本的确是这三种
 paddle-serving-app 0.2.0
paddle-serving-client 0.4.0
paddle-serving-server 0.4.0
启动内置的分词http api是可以启动  就是调用的时候 返回这提示{"result":"need more than 2 values to unpack"}

[2021-01-05 02:03] meishitouzhele commented on #949
examples 更新指的是？ 我刚安装后serving的docker后，就直接根据文档下载的model 然后启动  然后调用api，下载后还需要特殊更新吗？

[2021-01-05 02:09] TeslaZhao commented on #949
examples是 代码库python/examples目录示例代码。表示你的代码是否为最新v0.4.0版本。v0.4.0版本除了更新server、client、app。同时也更新了部分示例代码。

[2021-01-05 02:10] meishitouzhele commented on #949
嗯嗯 使用pip list | grep serving 看看版本结果是最新，怎么才能确认examples是否最新？
paddle-serving-app 0.2.0
paddle-serving-client 0.4.0
paddle-serving-server 0.4.0

[2021-01-05 02:14] TeslaZhao commented on #949
如果你的环境下有git，可以git pull最新代码。如果没有git，download最新的zip包
![image](https://user-images.githubusercontent.com/6309021/103598898-bd741480-4f3e-11eb-8394-ace87b58dbf2.png)

[2021-01-05 02:17] meishitouzhele commented on #949
好的  感谢  我去对比下lac_web_service.py文件

[2021-01-05 02:41] meishitouzhele commented on #949
我刚对比了lac_web_service.py文件，发现docker里的样例下的model应该不是最新的，我下载源码后只覆盖了lac_web_service.py文件，请问怎么才能下载最新的model？

[2021-01-05 02:43] TeslaZhao commented on #949
model没有变化，按README.md中步骤操作即可

[2021-01-05 02:46] meishitouzhele commented on #949
额 按照readme中操作，下载解压后的lac_web_service.py还是老的 跟git上的lac_web_service.py源码不一致啊

[2021-01-05 02:52] meishitouzhele commented on #949
最新的def preprocess(self, feed={}, fetch=[]):
        feed_batch = []
        fetch = ["crf_decode"]
        lod_info = [0]
        is_batch = True
        for ins in feed:
根据文档下载解压后：
 def preprocess(self, feed={}, fetch=[]):
        feed_batch = []
        for ins in feed:
            if "words" not in ins:
                raise ("feed data error!")
            feed_data = self.reader.process(ins["

[2021-01-05 03:00] yeyupiaoling commented on #948
我的也出现了类似的问题
[code]

[2021-01-05 03:05] yeyupiaoling opened #951 "这里提示这些API将要抛弃，那我用什么办法提供HTTP请求呢？"
这里提示这些API将要抛弃，那我用什么办法提供HTTP请求呢？

https://github.com/PaddlePaddle/Serving/blob/7ea59bda3f25bccacfbff0cccac79390f0a86017/python/paddle_serving_server_gpu/web_service.py#L262-L271

[2021-01-05 03:55] yeyupiaoling opened #952 "运行fit_a_line例子报错"
我使用的是这个了例子，只是将paddle_serving_server 改为 paddle_serving_server_gpu

https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/fit_a_line/test_server.py

请求命令
[code]

服务器日志：
[code]

[2021-01-05 04:16] TeslaZhao commented on #949
收到反馈，压缩包里的lac_web_service.py我们删除掉，用最新的文件可以运行起来吗？

[2021-01-05 05:40] meishitouzhele commented on #949
用最新的lac_web_service.py也返回一样的结果{"result":"need more than 2 values to unpack"}，使用下面自带的图像分类测试是正常的，就分词这个有点障碍

{"result":{"label":["daisy"],"prob":[0.9341403245925903]}}

[2021-01-05 05:41] meishitouzhele commented on #949
补充一下：一开始文档图像分类的也不行，使用git上最新的是成功的。

[2021-01-05 05:43] meishitouzhele commented on #949
能不能像图像分类那样，能个最新的下来.gz得地址？
图像的sh文件内容如下：
wget --no-check-certificate https://paddle-serving.bj.bcebos.com/imagenet-example/ResNet50_vd.tar.gz
tar -xzvf ResNet50_vd.tar.gz
wget --no-check-certificate https://paddle-serving.bj.bcebos.com/imagenet-example/ResNet101_vd.tar.gz
tar -xzvf ResNet101_vd.tar.gz

wget --no-check-certificate https://paddle-serving.bj.bcebos.com/imagenet-example/image_data.tar.g

[2021-01-05 06:35] yeyupiaoling commented on #952
安装了错误的版本，我以为这是GPU的，结果是tensorRT的
[code]

这个才是
[code]

[2021-01-05 06:35] #952 closed, assigned to nobody

[2021-01-05 07:38] yeyupiaoling opened #954 "模型预测结果不正确，相差很远"
MobileNetV1 和 MobileNetV2 我都试过，模型是通过下面的命令转换得到的
[code]

我的测试代码如下，
[code]

输出的结果与没有转换，使用AnalysisConfig相差很大。

[2021-01-05 07:54] meishitouzhele opened #957 "paddlex训练的model需要怎样转换用于paddleServing？"
paddlex训练的model需要怎样用于paddleServing？

[2021-01-05 08:07] TeslaZhao commented on #957
paddlex训练的模型保存下来，就可以用Serving部署。参考此文档 https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE_CN.md

[2021-01-05 08:10] meishitouzhele commented on #957
paddlex训练后导出三个文件
__model__
__params__
model.yml
paddleServing是不是只需要__model__这一个？

[2021-01-05 08:21] TeslaZhao commented on #954
使用其他的XXXConfig预测了吗？对比的源数据在前处理阶段是否有diff?

[2021-01-05 08:25] TeslaZhao commented on #951
参考Pipeline的用法 https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/pipeline/simple_web_service/web_service.py

Pipeline的文档
https://github.com/PaddlePaddle/Serving/blob/develop/doc/PIPELINE_SERVING_CN.md

[2021-01-05 09:01] #951 closed, assigned to TeslaZhao

[2021-01-05 09:12] TeslaZhao commented on #957
inference_model_to_serving接口转换成可用于Paddle Serving的模型文件，model和params都需要的

[2021-01-05 09:15] meishitouzhele commented on #957
请问是这个吗？把dirname改成文件夹名？将这个存成一个.py文件进行执行？这个接口没用过 请多指教
import paddle_serving_client.io as serving_io
serving_io.inference_model_to_serving(dirname, serving_server="serving_server", serving_client="serving_client",  model_filename=None, params_filename=None)

[2021-01-05 09:22] meishitouzhele commented on #957
我通过使用inference_model_to_serving与paddle_serving_client.convert，都报这个提示。。。。。如果能看出问题，麻烦指点下问题方向哈
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
/usr/local/python2.7.15/lib/python2.7/site-packages/paddle/fluid/executor.py:1070: UserWarning: The following exception is not an EOF exception.
  "The following exception is not an EOF exception.")
Traceback (most recent call last):

[2021-01-05 09:24] TeslaZhao commented on #949
最新的压缩包里已经删除了lac_web_service.py，不会被旧文件覆盖了。

用最新的lac_web_service.py也返回一样的结果{"result":"need more than 2 values to unpack"}有点奇怪。我本地没有复现这个问题，换个端口试一下？

[2021-01-05 09:26] meishitouzhele commented on #949
好的  谢谢 辛苦了

[2021-01-05 09:30] TeslaZhao commented on #957
dirname为模型文件存储的绝对路径

[2021-01-05 09:37] meishitouzhele commented on #949
这次好了，居然好了  不过返回信息不是汉字  是Unicode编码  内容如下：
{"result":[{"word_seg":"\u6211|\u7231|\u5317\u4eac|\u5929\u5b89\u95e8"}]}
翻译过来是对的：
{"result":[{"word_seg":"我|爱|北京|天安门"}]}

[2021-01-05 09:42] meishitouzhele commented on #957
是这样写_model_的绝对路径吗，他自己去找params文件吗？
import paddle_serving_client.io as serving_io
serving_io.inference_model_to_serving(dirname="/home/zxdtest/inference_model/_model_", serving_server="serving_server", serving_client="serving_client",  model_filename=None, params_filename=None)

[2021-01-05 09:43] meishitouzhele commented on #957
这样写会提示这样：
λ 767d59d42c62 /home/zxdtest python zhuanhuan.py
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
Traceback (most recent call last):
  File "zhuanhuan.py", line 2, in <module>
    serving_io.inference_model_to_serving(dirname="/home/zxdtest/inference_model/_model_", serving_server="serving_server", serving_client="serving_client",  model_filename=None, params_file

[2021-01-05 09:50] TeslaZhao commented on #957
默认的model_filename 是 "__model__"；如果不是的话，路径是/home/zxdtest/inference_model/model(确认model不是文件)，把模型文件名写成你的文件名改成下面：

import paddle_serving_client.io as serving_io
serving_io.inference_model_to_serving(dirname="/home/zxdtest/inference_model/model", serving_server="serving_server", serving_client="serving_client", model_filename="model", params_filename="params")

[2021-01-06 00:49] meishitouzhele commented on #957
老铁 我又来了  昨天我测试还是不行，应该不是路径的问题，我用另外一个转换也报相同的错误，还有其他方向需要注意吗？

或者你可以使用Paddle Serving提供的名为paddle_serving_client.convert的内置模块进行转换。
python -m paddle_serving_client.convert --dirname ./your_inference_model_dir

[2021-01-06 01:10] meishitouzhele commented on #957
感谢老哥

[2021-01-06 02:08] meishitouzhele commented on #957
发布自己的model  需要写一个server的启动py文件    这个参考哪个文档？   我目前发布的是图像分类的model，是根据生成的serving_server_conf.prototxt里的参数进行编写服务端启动的.py文件吗？

[2021-01-06 02:13] TeslaZhao commented on #957
参考imagenet 或 resnet50:
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/imagenet
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/resnet_v2_50

[2021-01-06 02:14] meishitouzhele commented on #957
好嘞

[2021-01-06 02:18] meishitouzhele commented on #957
我参考的imagenet，发布能成功，调用的时候提示如下：
{"result":"Fetch names should not be empty or out of saved fetch list."}
劳烦指导个方向，我去学习解决下。

[2021-01-06 02:21] TeslaZhao commented on #957
自己发布的Model要用模型定义feed和fetch参数，看下你生成的*.prototxt文件中

[2021-01-06 02:29] meishitouzhele commented on #957
嗯嗯  imagenet.label这个分类名文件，转换的时候没有自动生成，手动添加一个吗

[2021-01-06 08:29] yeyupiaoling commented on #954
与AnalysisConfig相差很大，是AnalysisConfig错误导致的，不是Serving的问题。 https://github.com/PaddlePaddle/Paddle/issues/30132

[2021-01-06 08:29] #954 closed, assigned to TeslaZhao, bjjwwang

[2021-01-07 10:01] meishitouzhele commented on #957
老哥，转换后的模型，我已经成功再centos的docker镜像里成功部署调用了，；相同的内容我再win10上启动api的时候报以下提示，咱们再win上使用需要特殊注意什么吗？
This API will be deprecated later. Please do not use it
This API will be deprecated later. Please do not use it
web service address:
http://192.168.13.226:9292/image/prediction
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "D:\setupfile\python37\lib\multiprocessing\spawn.py",

[2021-01-08 07:32] meishitouzhele opened #960 "win10的docker中 cpu模式运行正常，gpu提示下面描述，"
服务器环境：配了一个cuda10.2.141的gpu
http://172.17.0.2:9292/image/prediction
This API will be deprecated later. Please do not use it
 * Serving Flask app "paddle_serving_server_gpu.web_service" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
GPU not found, please check yo

[2021-01-08 07:49] TeslaZhao commented on #960
cuda10.2我们没测试过，你的环境下，能预测吗？

[2021-01-08 07:52] meishitouzhele commented on #960
我测试了如下几个环境：
1、win10 直接安装使用paddlehub 可以使用gpu预测
2、centos 上使用cpu可以预测
3、win10上安装paddle serving docker 镜像后，cpu模式可以预测，gpu模式目前无法预测（提示找不到gpu，是驱动的问题吗）。

[2021-01-08 09:27] ClassmateXiaoyu opened #961 "在云服务器发布serving格式模型后，调用服务发生报错。"
问题描述：在云服务器（CentOS 7.5 64位）上使用RPC模式发布了一个自己的模型（用paddlex训练的分类模型，发布的模型已经转换为了serving格式的）。随后在客户端调用的时候，发生报错ModuleNotFoundError: No module named 'paddle_serving_client.serving_client'。

云服务器命令：python -m paddle_serving_server.serve --model serving_server --port 9696
客户端命令：python rpc_client.py ./serving_client/serving_client_conf.prototxt
![4148E263-4FF2-452a-92DD-412BBA5D665D](https://user-images.githubuse

[2021-01-09 11:54] solomance opened #962 "服务请求返回 array has incorrect number of dimensions: 3; expected 4"
调用OCR服务返回 array has incorrect number of dimensions: 3; expected 4
请问这是什么问题？

[2021-01-11 02:04] TeslaZhao commented on #960
你好，你的机器上有cuda10.1驱动吗，试试cuda10.1驱动下能否正常启动？

[2021-01-11 02:06] TeslaZhao commented on #961
你好，需要安装paddle-serving-client
pip install paddle-serving-client==版本号

例如：
pip install paddle-serving-client==0.4.0

[2021-01-11 02:08] TeslaZhao commented on #962
你好，你的Serving版本是？  （运行 pip list | grep serving）

升级到client，server升级到v0.4.0版本，app升级到v0.2.0
paddle-serving-app            0.2.0
paddle-serving-client         0.4.0
paddle-serving-server         0.4.0

[2021-01-11 03:16] solomance commented on #962
Hi，pip list | grep serving 看到的版本是0.0.0：

paddle-serving-app            0.0.0
paddle-serving-client         0.0.0
paddle-serving-server-gpu     0.0.0.post10

我试了下单张图片可以没问题：
feed = [{"image": padding_im}]

不过batch预测就返回错误：
feed = [{"image": padding_im}, {"image": padding_im}]

大佬麻烦看看，谢谢！

[2021-01-11 03:57] TeslaZhao commented on #962
你需要升级一下版本，注意paddle-serving-server-gpu安装要和cuda版本一致
pip install paddle-serving-client==0.4.0
pip install paddle-serving-server==0.4.0
pip install paddle-serving-app==0.2.0
pip install paddle-serving-server-gpu==0.4.0.post9 # GPU with CUDA9.0
pip install paddle-serving-server-gpu==0.4.0.post10 # GPU with CUDA10.0
pip install paddle-serving-server-gpu==0.4.0.100 # GPU with CUDA10.1+TensorRT

[2021-01-11 07:35] solomance commented on #962
大佬，更新了之后还是出现这个问题，不能支持batch预测：

pip list | grep serving

paddle-serving-app            0.2.0
paddle-serving-client         0.4.0
paddle-serving-server-gpu     0.4.0.post10

模型输入：3, 48, 192

serving_server_conf.prototxt

feed_var {
  name: "image"
  alias_name: "image"
  is_lod_tensor: false
  feed_type: 1
  shape: 3
  shape: 48
  shape: 192
}
fetch_var {
  name: "save_infer_model/scale_0.tmp_0"
  a

[2021-01-11 07:56] TeslaZhao commented on #962
你运行的Server和OCR示例ocr_web_server.py一致吗，如果有改动请贴一下你的代码？

[2021-01-11 09:39] TeslaZhao commented on #948
你好，v0.4.0版本支持paddle 1.8.5预测，正在开发支持paddle 2.0的v0.4.1版本，预计同Paddle 2.0同步发布。

[2021-01-11 13:35] lerry-lee opened #963 "No module named 'paddle_serving_server‘"
启动RPC服务时报错：
[code]
使用pip list查看当前环境下，是安装了paddle-serving-client和paddle-serving-server的
[code]
当前python为3.6

[2021-01-11 13:52] solomance commented on #962
Server代码：https://github.com/PaddlePaddle/PaddleOCR/tree/develop/deploy/pdserving
Server配置：serving_server_conf.prototxt
feed_var {
name: "image"
alias_name: "image"
is_lod_tensor: false
feed_type: 1
shape: 3
shape: 48
shape: 192
}
fetch_var {
name: "save_infer_model/scale_0.tmp_0"
alias_name: "save_infer_model/scale_0.tmp_0"
is_lod_tensor: true
fetch_type: 1
shape: -1
}
fetch_var {
name: "save_infe

[2021-01-11 13:54] solomance commented on #962
请问配置文件里，name 和 alias_name 有什么区别？我看到对于 feed_var 这两个一般是一样的，但对于 fetch_var 这两个好像不一样。

[2021-01-12 01:52] TeslaZhao commented on #963
pip install paddle-serving-server==0.4.0 # CPU

[2021-01-12 03:35] grapefruitL opened #964 "基于pd开发的模型是否能加密部署？"
你好！我有两个问题：
1、本项目和paddlehub里的[部署方案](https://github.com/PaddlePaddle/PaddleHub/blob/release/v2.0.0-rc/docs/docs_en/tutorial/serving_en.md)有什么区别？如果我使用pd自己开发的模型需要部署，应该使用哪种方案？
2、基于serving的部署方案（无论本项目还是paddlehub），是否支持模型加密？我搜索到[类似问题](https://github.com/PaddlePaddle/Serving/pull/689)，不知是否表明已经具备加密部署能力，如果具备是否能提供使用说明文档？

[2021-01-12 07:06] TeslaZhao commented on #964
您好！

1. paddlehub是单模型部署的服务框架，便于获取Paddle生态的预训练模型。paddle serving是paddle生态的服务化推理框架，支持大规模、工业级对标Tensorflow Serving的产品。对于自己开发模型，主要看你的使用场景是否有其他需求，如果没有特殊需求，用2种方式部署都可以。

2.是的，您已经找到了我们开发的关于模型加解密的PR，文档也在同步撰写中，该功能会随着v0.4.1版本（1月底）发布。敬请期待！

[2021-01-13 03:06] TeslaZhao commented on #962
name是网络结果中变量的名称，调整网络结构之后name会变，为了解决这个问题设置alias_name作为var字典的key，不受模型训练epoch的次数影响。

[2021-01-13 03:07] TeslaZhao commented on #962
您给的case，我本周找时间试一下

[2021-01-14 01:51] ClassmateXiaoyu commented on #961
你好，发布这条issue的时候，做为客户端的PC有安装0.4.0版本的paddle-serving-client，出现的这个问题。
![QQ截图20210114115825](https://user-images.githubusercontent.com/62195135/104543155-dfb51300-565f-11eb-83ac-05fd3ceb622b.png)

[2021-01-14 12:42] solomance commented on #962
好的，意思是网络结构变了之后，变量名字可能会变化，但是变量在字典里的key不会变？可以举个例子吗？

[2021-01-14 13:05] solomance commented on #962
请问 client.predict() 是线程安全的吗？
app_instance.before_first_request 里初始化了client，self.launch_web_service()
如果设置flask启动为多进程或多线程，会不会有问题？
例如：
app_instance.run(host="0.0.0.0", port=self.args.port, threaded=False, processes=2)

[2021-01-14 16:55] readthecodes opened #965 "确定高性能、生产可用？官方Benchmark显示性能比较低"
Repo简介里写着高性能，可是Benchmark数据显示性能不太能接受：https://github.com/PaddlePaddle/Serving/blob/v0.4.0/doc/BENCHMARKING.md

[2021-01-16 12:31] zhfkt opened #968 "Paddle Serving 是否支持单进程中的多线程执行预测"
Hi,

感谢作者开发Paddle Serving，我打算使用Paddle Serving去部署model。不过这里有一个疑问：Paddle Serving 是否支持单进程中的多线程执行预测？

有这个疑问的原因是，做Python Web application开发的时候，一般是通过多进程的方式去部署从而增加服务端的性能（比如Django/Flask，因为python 有GIL所以单进程没有办法利用CPU所有的核）。但是由于有的时候Model模型文件会很大，所以多进程会导致内存占用翻个好几倍。那Paddle Serving也是通过多进程（像Django或者Flask）的方式去增加服务端的性能的吗？Paddle Serving 是否支持单进程中的多线程执行预测 ？或者说Paddle Serving是否支持单进程中利用CPU所有核（绕开Pythond的GIL）去执行预测 ？

Thank yo

[2021-01-18 07:05] xiao4er commented on #968
Flask测试发现，当threaded=False, processes>1时， API实现中使用paddle_serving_client.Client.predict方法进行预测时，将一直阻塞；
使用单独的测试脚本进行预测表现正常；

[2021-01-18 07:16] TeslaZhao commented on #965
您好，非常抱歉，BENCHMARK文档是旧的，没有更新。最新数据月底在下一个版本开发结束后更新。

[2021-01-18 09:46] TeslaZhao commented on #968
您好，如您所说，因为python 有GIL所以单进程没有办法利用CPU所有的核，在webserver + rpc多线程模式下，在pybind代码中加入 py::call_guard<py::gil_scoped_release>());绕开Pythond的GIL。由于有1次WebServer + 1次RPC访问，多线程模式的性能仍然不好。Paddle Serving v0.4.0版本新开发Pipeline Serving特性有效提升吞吐和并发性，支持多线程和多进程2种模式，支持grpc/webserver访问。推荐您使用 Pipeline + Local predictor方式，吞吐有大幅提升的效果。

示例：https://github.com/PaddlePaddle/Serving/tree/v0.4.0/python/examples/pipeline/simple_web_ser

[2021-01-18 13:40] HexToString commented on #968
回答的真好~

[2021-01-19 05:44] suntao2015005848 opened #973 "windows原生系统下部署serving问题"
参考https://github.com/PaddlePaddle/Serving/blob/v0.4.0/doc/WINDOWS_TUTORIAL_CN.md
运行ocr实例出现错误：
环境是python3.8
执行命令：python ocr_debugger_server.py cpu
 错误：
Traceback (most recent call last):
  File "ocr_debugger_server.py", line 28, in <module>
    from paddle_serving_server.web_service import WebService
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python38\lib\site-packages\paddle_serv

[2021-01-19 06:23] suntao2015005848 commented on #973
docker上跑是没问题的。

[2021-01-19 10:19] zhfkt commented on #968
Thank you. Let me check

[2021-01-19 10:33] zhfkt opened #975 "Serving pipeline的ocr例子只能返回一个识别字符串"
直接按照官方的这个例子跑Serving pipeline的OCR，永远只能返回一个识别字符串

https://github.com/PaddlePaddle/Serving/blob/v0.4.0/python/examples/pipeline/ocr/README_CN.md

启动 -

python web_service.py

请求requests -

python pipeline_http_client.py

输出 -

{'err_no': 0, 'err_msg': '', 'key': ['res'], 'value': ["['没有吃饱只有一个']"]}
{'err_no': 0, 'err_msg': '', 'key': ['res'], 'value': ["['管理员的认证--使用JT']"]}
{'err_no': 0, 'err_msg': '',

[2021-01-19 11:27] zhfkt commented on #975
@wangjiawei04 可能是这个修改导致的 https://github.com/PaddlePaddle/Serving/commit/ce97387f9cc659c6b8118b6cedda97452ebb7cc1#r46105380

但是如果把web_service.py改回上面的老版本，运行又会报错。

[2021-01-20 02:14] ponycloud235 opened #977 "模型转换出错"
使用paddlex训练的yolov3_darknet53 模型放置serving部署。
需要做转换，在做转换的时候报错了
转化的命令
`python -m paddle_serving_client.convert --dirname ./model/best_model/ --model_filename="model.pdmodel" --params_filename="model.pdparams"`
模型文件
![image](https://user-images.githubusercontent.com/2733701/105117876-43c85300-5b08-11eb-8444-c5e4bdde192b.png)

报错信息如下
`TensorRT dynamic library (libnvinfer.so) that Paddle depends on is n

[2021-01-20 05:23] zhfkt opened #978 "pipleline模式下 ，在存在local_service_conf的情况下，config.yml中的concurrency无法设定线程数"
pipleline模式下 ，在存在local_service_conf的情况下，config.yml中的concurrency无法设定线程数

对于这个下面的这个例子：

https://github.com/PaddlePaddle/Serving/blob/v0.4.0/python/examples/pipeline/ocr/config.yml

改变 concurrency 无法改变并发的线程数，线程数一直为2。

原因在于 存在local_service_conf的情况下，需要同时设置 thread_num 才行，否则就一直是2。可能出问题的代码在这里。

https://github.com/PaddlePaddle/Serving/blob/54999920b674cd3f370ede4bea43fff1dbd9ca10/python/pipeline/operator.p

[2021-01-20 13:07] zhfkt commented on #975
debug了一下，提供更多的线索在这里，问题可能是出在 ：

https://github.com/PaddlePaddle/Serving/blob/54999920b674cd3f370ede4bea43fff1dbd9ca10/python/pipeline/operator.py#L802

RecOP（识别模块）中，对于输出的名字含有lod的情况（lodtensor），对midped_data_dict 做了一个特殊的处理，只取出了第一个结果 （data_ids只有一个值的时候），后面的值全部放弃了。导致了只有第一个字符串被保留了下来，后面的都字符串都没添加进来。

如果是DetOP（检测模块）的Normal tensor，就没有这种情况，结果会被全部添加进来

https://github.com/PaddlePaddle/Serving/blob/54999920b674cd

[2021-01-21 02:01] ponycloud235 opened #982 "readme文档中有一处小错误"
![image](https://user-images.githubusercontent.com/2733701/105269702-6d987d00-5bcf-11eb-9afd-7b701ab1757c.png)

这里在头部漏了一句
`import numpy as np`

不引入，执行
`fetch_map = client.predict(feed={"x": np.array(data).reshape(1,13,1)}, fetch=["price"])`
报错
`NameError: name 'np' is not defined`

[2021-01-21 06:26] ponycloud235 commented on #977
搞定，模型转换的时候需要指定参数名。
python3 -m paddle_serving_client.convert --dirname=./model/yolov3 --params_filename="__params__"

[2021-01-21 06:26] #977 closed, assigned to nobody

[2021-01-21 06:31] bjjwwang commented on #973
3.8是不支持的

[2021-01-21 06:32] bjjwwang commented on #973
3.7 3.6 3.5 2.7选择一个

[2021-01-21 06:38] TeslaZhao commented on #982
好的，感谢您的建议。我们加上

[2021-01-21 07:11] TeslaZhao commented on #978
谢谢您的建议！concurrency和thread_num 是2个不同层次的概念。
concurrency是OP并发数量。 根据线程、进程模式，会启动多进程或多线程。
local_service_conf.get("thread_num") 是Local predictor模式下，设置 CPU Blas 库计算线程数量，当CPU资源足够时，有较高的性能提升

[2021-01-21 07:17] nblib opened #983 "部署检测模型,特定图片导致rpc服务崩溃"
# 问题
使用paddleDetection训练了一个检测模型,部署到serving中,使用其他图片都可以正常使用,但是有个别一两张图片,导致**rpc服务异常崩溃**,后续预测无法继续.经过对比,导致错误的图片和其他图片大小,通道等没有什么大的区别,
# 建议
rpc服务内部是否可以添加全局异常处理,只返回错误而不至于导致服务崩溃
# 日志
[code]

[2021-01-21 07:36] TeslaZhao commented on #983
您好！请问您使用的哪个paddle版本训练出的模型，1.8，2.0？ 您使用Paddle Serving的哪个版本，v0.3.2，v0.40，还是develop分支？

[2021-01-21 07:38] TeslaZhao commented on #975
您好，我们复现一下看看

[2021-01-21 07:40] nblib commented on #983
忘说了,paddlepaddle (1.8.5), paddle-serving-server (0.4.0), 之前用的0.3.2版本也是有这个问题

[2021-01-21 08:37] ponycloud235 opened #984 "gpu模型部署不成功，无报错，如何排除？"
运行
![image](https://user-images.githubusercontent.com/2733701/105324614-99832500-5c06-11eb-9bc0-2d5d127f4378.png)
相关命令，后一直卡着，然后就没了？ 可以有什么办法排除吗
`python -m paddle_serving_server_gpu.serve --model yolov3_server --port 9292 --gpu_ids 0`

相关环境：
![image](https://user-images.githubusercontent.com/2733701/105324594-94be7100-5c06-11eb-8aa4-031f7d0a4e2f.png)
python3.6.8版本
centos7.6
cuda9.0
依赖包版本信息
![image](

[2021-01-21 09:13] zhfkt commented on #978
ok. Thank you. 追问 @TeslaZhao :

我试了下thread_num设置成了10，但是似乎只用到了4个核（观察一个长时间的predict任务发现只有4个cpu核会跑到100%），是否对thread_num的上限有做了什么设置？

[2021-01-21 10:27] zhfkt opened #985 "Pipeline模式下，设置为 线程模型（is_thread_op: True）之后，在有多个请求的情况下，predict无法利用CPU所有核。"
直接按照官方的这个例子跑Serving pipeline的OCR。

https://github.com/PaddlePaddle/Serving/blob/v0.4.0/python/examples/pipeline/ocr/README_CN.md

在有多个请求的情况下，当设置为进程模型（在config.yml中is_thread_op: False）的时候可以利用CPU所有核心去predict。但是设置为 线程模型（is_thread_op: True）之后，predict无法利用CPU所有核去predict，只能利用local predictor中的thread_num个CPU核心数去predict

复现步骤:

1. 先按照 https://github.com/PaddlePaddle/Serving/blob/v0.4.0/python/examples/pipeli

[2021-01-21 10:43] zhfkt commented on #978
另外 如果 concurrency和thread_num 是2个不同层次的概念， 下面的代码建议不应该让  concurrency和thread_num 建立联系，两个变量应该保持独立互不影响。

https://github.com/PaddlePaddle/Serving/blob/54999920b674cd3f370ede4bea43fff1dbd9ca10/python/pipeline/operator.py#L136

[2021-01-21 10:47] zhfkt opened #986 "Pipeline模式下 ，设置local_service_conf中的参数thread_num无论多大，都只能利用CPU的4个核心。"
pipleline模式下 ，设置local_service_conf中的参数thread_num无论多大，都只能利用CPU的4个核心。

我试了下thread_num设置成了10，但是似乎只用到了4个核（观察一个长时间的predict任务发现只有4个cpu核会跑到100%），是否对thread_num的上限有做了什么设置？(BLAS相关？)

[2021-01-22 02:28] suntao2015005848 commented on #973
好的谢谢，希望在官方文档可以添加说明

[2021-01-22 05:16] suntao2015005848 opened #989 "Paddle Serving 启动lac服务的tags词性分析需要什么参数"
lac模型的 tags分析如何启用啊

[2021-01-22 06:14] ponycloud235 commented on #984
刚试了在docker中运行，也是一样的问题。。
![image](https://user-images.githubusercontent.com/2733701/105454031-3784f700-5cbc-11eb-9eca-88c9d0ab293e.png)

[2021-01-22 10:19] ponycloud235 commented on #984
找到问题了，执行命令时，会自动下载包serving-gpu-cuda10-0.4.0.tar.gz ，当这个操作没下载完，或者被中断，或者包不完整，就会出现什么都不报错的问题。。
希望官方能够完善提供离线下载的方式，所需要的依赖都在文档中体现，避免别人采坑，搞了1天

[2021-01-22 10:23] TeslaZhao commented on #984
感谢您的提问和回复~

[2021-01-22 10:23] zengqi0730 commented on #975
是的，我也遇到这种情况，改了好几天，代码好复杂，还是没改好。求更新

[2021-01-25 06:04] ponycloud235 opened #990 "文档有处小错误"
https://github.com/PaddlePaddle/Serving/blob/v0.4.0/doc/SAVE_CN.md
![image](https://user-images.githubusercontent.com/2733701/105667423-30f1bc00-5f16-11eb-9ef3-6757dcc1616f.png)
少了m，应该是params_filename

[2021-01-25 06:06] TeslaZhao commented on #990
收到，谢谢您的反馈

[2021-01-25 06:08] TeslaZhao commented on #989
您说的是Serving/python/examples/lac/的例子吗?

[2021-01-25 06:23] TeslaZhao commented on #978
thread_num 在brpc 和 local_predictor模式下，公用这个变量。在brpc模式下，thread_num表示c++ serving中线程数量，thread_num和concurrency是相同概念的，因此，默认值就是self.thread_num = self.concurrency ；在local_predictor模式下设置 CPU Blas 库计算线程数量，thread_num从配置conf中赋值。这两个功能均在local_service_handler.py中用到，因此公用一个变量。

[2021-01-25 06:26] TeslaZhao commented on #986
收到您的反馈，我们查一下

[2021-01-25 06:27] TeslaZhao commented on #978
您好，我们看一下，尽快回复您

[2021-01-25 06:30] TeslaZhao commented on #978
您的机器配置有几个CPU核？

[2021-01-25 06:31] TeslaZhao commented on #986
您的机器上，有多少个CPU物理核？

[2021-01-25 09:17] zhfkt commented on #978
CPU共8个核（我用自己的笔记本测试的）

[2021-01-25 09:17] zhfkt commented on #986
CPU共8个核（我用自己的笔记本测试的）

[2021-01-26 07:56] hymanzhu1983 commented on #948
请问v0.4.0不支持paddle2.0rc1吗？ v0.4.1什么时候发布？

[2021-01-29 12:49] TeslaZhao commented on #975
你好，问题基本定位了。周末改一版

[2021-01-31 14:16] TeslaZhao commented on #975
已经修复，提交PR:https://github.com/PaddlePaddle/Serving/pull/1008

[2021-02-01 01:22] ponycloud235 opened #1009 "yolov3 http部署方式"
使用grpc方式部署成功了，使用http部署一直无法调用成功，我的问题：
   1. 使用官网的方式uci方式的入参和出参是如何定义的？
用的是yolov3的模型， python的代码如下

因项目需使用http方式，方便接入

`import sys
import numpy as np
from paddle_serving_client import Client
from paddle_serving_app.reader import *
import cv2
preprocess = Sequential([
    File2Image(), BGR2RGB(), Resize(
        (608, 608), interpolation=cv2.INTER_LINEAR), Div(255.0), Transpose(
            (2, 0, 1))

[2021-02-01 09:06] zengqi0730 commented on #975
你好，怎么才能返回文本框在原图的坐标呢？preprocess和postprocess好像变量不能共享

[2021-02-01 12:26] GreenValue opened #1011 "paddle_serving_server_gpu 部署时的错误。如运行错误 libcudart.so.10.1: cannot open shared object file: No such file or directory"
- 操作：PaddleDetection在线Serving部署

[https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0-beta/deploy/serving](url)

- docker中执行

[code]
输出
[code]

- docker环境
nvidia-docker pull hub.baidubce.com/paddlepaddle/**paddle:1.8.5-gpu-cuda10.0-cudnn7**
[code]

[2021-02-01 12:30] TeslaZhao commented on #1011
whl包安装的是哪个版本？

[2021-02-01 12:33] GreenValue commented on #1011
pip install paddle-serving-client -i https://mirror.baidu.com/pypi/simple
[code]

pip install paddle-serving-server-gpu -i https://mirror.baidu.com/pypi/simple
[code]

[2021-02-01 12:38] TeslaZhao commented on #1009
您好，uci webserver的示例可以参考:https://github.com/PaddlePaddle/Serving/blob/v0.4.0/python/examples/fit_a_line/test_server.py

[code]
feed_var {
  name: "x"
  alias_name: "x"
  is_lod_tensor: false
  feed_type: 1
  shape: 13
}
fetch_var {
  name: "fc_0.tmp_1"
  alias_name: "price"
  is_lod_tensor: false
  fetch_type: 1
  shape: 1
}

[2021-02-01 12:40] TeslaZhao commented on #1011
需要加上版本号，使用 -U 参数重新安装一遍

pip install paddle-serving-client==0.4.0
pip install paddle-serving-server==0.4.0 # CPU
pip install paddle-serving-app==0.2.0
pip install paddle-serving-server-gpu==0.4.0.post9 # GPU with CUDA9.0
pip install paddle-serving-server-gpu==0.4.0.post10 # GPU with CUDA10.0
pip install paddle-serving-server-gpu==0.4.0.100 # GPU with CUDA10.1+TensorRT

[2021-02-02 02:32] GreenValue commented on #1011
```pip install paddle-serving-server-gpu==0.4.0.post10```运行后，paddle_serving_server_gpu 启动OK。

但测试部署的服务时，
```python ../../deploy/serving/test_client.py ../../demo/road554.png```
输出错误：
[code]
**paddle_serving_app.reader，如何安装？**

[2021-02-02 03:02] GreenValue commented on #1011
用-U重新安装
[code]
执行：
```python ../../deploy/serving/test_client.py ../../demo/road554.png```

输出错误 **No module named shapely.geometry**：
[code]

[2021-02-02 03:22] TeslaZhao commented on #1011
方法1：
pip install shapely==1.7.0

方法2：
pip install -r python/requirements.txt

[2021-02-02 03:27] GreenValue commented on #1011
执行：
`pip install -r requirements.txt`

输出错误：
[code]

[2021-02-02 03:31] GreenValue commented on #1011
安装PaddleDetection的太新了？
`git clone https://gitee.com/paddlepaddle/PaddleDetection`

[2021-02-02 03:34] GreenValue commented on #1011
requirements.txt中visualdl版本我改成1.3.0，就好了。
`cat requirements.txt `
[code]

[2021-02-02 03:35] TeslaZhao commented on #1011
你使用python3.4吗？

[2021-02-02 03:36] TeslaZhao commented on #1011
Serving python版本支持2.7，3.5，3.6，3.7，3.8

[2021-02-02 03:38] GreenValue commented on #1011
[code]
谢谢。应该是我requirements没有安装成功导致的。
pip install -r requirements.txt

[2021-02-02 03:39] TeslaZhao commented on #1011
好的

[2021-02-02 03:47] TeslaZhao commented on #990
v0.4.0，develop，v0.5版本均已修改，谢谢您的反馈

[2021-02-02 03:55] GreenValue commented on #1011
测试代码 test_client.py 会自动创建output文件夹，并在output下生成`bbox.json`和`road554.png`两个文件
# 但output没有任何输出！

- 命令

`root@ubuntu:/paddle/PaddleDetection/PaddleDetection/inference_model/yolov3_mobilenet_v1_roadsign# python ../../deploy/serving/test_client.py ../../demo/road554.png`
[code]

- `cat serving_client/serving_client_conf.prototxt`

[code]
- paddle_serving_server_gpu.serve已启动
`root@ubuntu:python -m paddle

[2021-02-02 10:15] GreenValue commented on #1011
用Paddle Serving的[波士顿房价预测的例子](https://github.com/PaddlePaddle/Serving/blob/v0.4.0/README_CN.md)，**结果OK**。说明Paddle Serving本身没有问题吧。

- root@ubuntu:/paddle/test_serving/housing# python test_client.py

[code]

- paddle_serving_server_gpu.serve启动

root@ubuntu: `/paddle/test_serving/housing python -m paddle_serving_server.serve --model uci_housing_model --thread 10 --port 9292`

[2021-02-02 10:18] TeslaZhao commented on #1011
使用paddle Detection套件启动预测，没有结果吗？

[2021-02-02 10:20] GreenValue commented on #1011
是的。 paddle Detection套件启动预测没有结果。

[2021-02-02 10:22] TeslaZhao commented on #1011
明天我试一下哈

[2021-02-02 10:23] GreenValue commented on #1011
root@ubuntu:`/paddle/PaddleDetection/PaddleDetection/inference_model/yolov3_mobilenet_v1_roadsign# python ../../deploy/serving/test_client.py ../../demo/road554.png`

有时会报这个错：
[code]

[2021-02-02 10:35] GreenValue commented on #1011
root@ubuntu:/paddle/PaddleDetection/PaddleDetection/inference_model/yolov3_mobilenet_v1_roadsign# cat ../../deploy/serving/test_client.py
test_client.py内容如下：
[code]

[2021-02-03 05:25] GreenValue commented on #1011
@TeslaZhao 如何了？谢谢

[2021-02-03 05:32] qjinshanq commented on #983
同问，期待有效解决方案。PaddleDetection-0.5训练的模型，paddle-serving-server 0.3.2。

[2021-02-03 07:12] GreenValue commented on #1011
按照这里操作，有结果输出，OK.
https://github.com/PaddlePaddle/Serving/tree/v0.4.0/python/examples/yolov4

上面有问题，估计是哪里配置有问题吧！

[2021-02-03 07:25] GreenValue opened #1015 "Serving example中OCR 服务，报错"
文档：https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/ocr/README_CN.md
启动服务， port应该是9292，文档上是9293
`python -m paddle_serving_server_gpu.serve --model ocr_det_model --port 9292 --gpu_id 0`

执行命令
root@my_ubuntu:/paddle/Serving/python/examples/ocr# `python ocr_web_client.py`
[code]

[2021-02-03 07:35] GreenValue commented on #1015
- 启动LocalPredictor版Web服务 for cpu user
- 客户端，虽然有结果，但乱码，为啥？
root@my_ubuntu:/paddle/Serving/python/examples/ocr# p`ython ocr_web_client.py`
[code]
- 服务端

`python ocr_debugger_server.py cpu`
[code]

[2021-02-03 07:48] GreenValue commented on #1015
1.  检测单服务启动后，结果OK
root@my_ubuntu:/paddle/Serving/python/examples/ocr# python ocr_web_client.py
[code]

2.  识别单服务启动后，结果异常

- 客户端

root@my_ubuntu:/paddle/Serving/python/examples/ocr# python rec_web_client.py
[code]

- 服务端
python rec_web_server.py gpu #for gpu user

[code]

[2021-02-03 12:18] GreenValue opened #1016 "Serving/README_CN.md 文档错误处建议修改"
[Serving/README_CN.md ](https://github.com/PaddlePaddle/Serving/blob/v0.4.0/README_CN.md)
![image](https://user-images.githubusercontent.com/16701660/106745901-ba169a80-665c-11eb-993c-b6af28f5b206.png)
错误命令：
`python resnet50_imagenet_classify.py resnet50_serving_model &`
正确命令：
`python resnet50_imagenet_classify.py resnet_v2_50_imagenet_model`

[2021-02-03 12:40] GreenValue opened #1017 "如何在Paddle Serving使用c++ Client？"
[如何在Paddle Serving使用Go Client](https://github.com/PaddlePaddle/Serving/blob/v0.4.0/doc/IMDB_GO_CLIENT_CN.md)
有Go，怎么没有C++的呀？

[2021-02-04 03:08] ponycloud235 commented on #1009
您好，demo已经试跑成功； 但是图片服务始终无法调用成功，能否帮忙指导下,

服务端调用代码，及相关报错

`InvalidArgumentError: The input of Op(Conv) should be a 4-D or 5-D Tensor. But received: input's dimension is 3, input's shape is [3, 608, 608].
  [Hint: Expected in_dims.size() == 4 || in_dims.size() == 5 == true, but received in_dims.size() == 4 || in_dims.size() == 5:0 != true:1.] at (/paddle/paddle/fluid/operators/conv_op.cc:59)
  [operat

[2021-02-04 03:08] ponycloud235 commented on #1009
使用的是yolo模型，grpc也调用成功了，因团队需要使用java开发应用，需使用http服务

[2021-02-04 06:38] zengqi0730 commented on #975
请问什么时候发布更新后的版本呢？或者哪里可以下载修复后的whl文件呢？

[2021-02-04 06:46] #1016 closed, assigned to nobody

[2021-02-04 06:49] GreenValue commented on #1015
参照[使用Paddle Serving部署OCR识别服务](https://aistudio.baidu.com/aistudio/projectdetail/605819)
运行OK。

[2021-02-05 02:55] TeslaZhao commented on #1017
https://github.com/PaddlePaddle/Serving/blob/v0.4.0/doc/deprecated/CREATING.md

[2021-02-05 02:58] TeslaZhao commented on #1015
{u'result': {u'res': [u'\u571f\u5730\u6574\u6cbb\u4e0e\u571f\u58e4\u4fee\u590d\u7814\u7a76\u4e2d\u5fc3', u'\u534e\u5357\u519c\u4e1a\u5927\u5b661\u7d20\u56fe']}}
客户端，虽然有结果，但乱码，为啥？

结果是unicode，转换之后为：
{u'result': {u'res': [u'土地整治与土壤修复研究中心', u'华南农业大学1素图']}}

您可以使用python3执行，在python3里我们做了兼容

[2021-02-05 02:59] TeslaZhao commented on #1015
您好，你使用的Serving版本是？paddle版本？

[2021-02-05 03:00] GreenValue commented on #1017
Paddle Serving提供的C++ SDK在sdk-cpp/目录中，入口为sdk-cpp/include/predictor_sdk.h中的`class PredictorApi类。
这个文件sdk-cpp/include/predictor_sdk.h 没找到。

[2021-02-05 03:07] GreenValue commented on #1015
- docker环境， paddle 版本为1.8.5
nvidia-docker pull hub.baidubce.com/paddlepaddle/paddle:1.8.5-gpu-cuda10.0-cudnn7

- PaddleServing
git clone https://gitee.com/paddlepaddle/Serving.git

[2021-02-05 03:08] GreenValue commented on #1017
sdk-cpp的git请明示一下。

[2021-02-05 03:31] TeslaZhao commented on #1015
收到，我们复现一下

[2021-02-05 03:32] TeslaZhao commented on #1017
使用哪个分支？
https://github.com/PaddlePaddle/Serving/blob/v0.4.0/core/sdk-cpp/include/predictor_sdk.h

[2021-02-05 03:37] GreenValue commented on #1017
好的。谢谢

[2021-02-07 08:23] ponycloud235 opened #1023 "使用http方式GPU环境推理模型调用报错"
环境docker 基于 hub.baidubce.com/paddlepaddle/serving   latest-cuda10.0-cudnn7
同样代码在cpu环境下没有问题
其他版本信息
`paddle-serving-app (0.2.0)
paddle-serving-client (0.4.0)
paddle-serving-server-gpu (0.4.0.post10)
paddlepaddle-gpu (1.8.5.post107)
`
报错信息如下：
![image](https://user-images.githubusercontent.com/2733701/107140875-2b599480-6960-11eb-96b5-2981a64cd9b5.png)

相关运行代码
`python3 uwsgi.py`
`
curl -H "Content-Typ

[2021-02-10 06:57] TeslaZhao commented on #1023
![image](https://user-images.githubusercontent.com/6309021/107476079-23902f00-6bb0-11eb-8630-f9552b2fb080.png)
请检查一下feed的shape

[2021-02-17 07:53] jinmin527 opened #1038 "请问有没有详细的工程设计文档？"
想基于paddler serving做二次开发，但是在源码阅读过程中，缺乏可以参考的设计文档和代码注释，导致进展缓慢。能否贡献一下项目的设计文档、相关流程的解析（初始化流程、IO流程）以及各数据结构间的层次关系

[2021-02-18 06:19] TeslaZhao commented on #1038
您好，欢迎您使用Paddle Serving。在最新的v0.5.0版本中更新了[Paddle Serving设计文档](https://github.com/PaddlePaddle/Serving/blob/v0.5.0/doc/DESIGN_DOC_CN.md)，您可以阅读一下，根据您的需求做技术选型。对于代码和注释不够细致的问题，我们已经注意到了，由于修改的工作量较大，所以计划在此后每个版本迭代中修改文档，增加注释。设计的文档和用户手册也在逐步完善，希望可以帮到您。

[2021-02-18 10:43] wadefelix opened #1040 "PaddleServing依赖的openssl是什么版本？1.0版本么？"
基于`nvidia/cuda:11.0.3-cudnn8-runtime-ubuntu20.04`，操作如下

`pip3 isntall paddle-serving-client`竟然只是0.2.1版本😓，只好`pip3 install -i https://mirror.baidu.com/pypi/simple https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.0.0-cp38-none-any.whl`重新安装（对了，这个cp38，还不在https://github.com/PaddlePaddle/Serving/blob/v0.4.0/doc/LATEST_PACKAGES.md 显示呢）。
然后，
[code]
 😓
按照https://github.com/baidu/lac/issues/1

[2021-02-18 10:47] bjjwwang commented on #1040
1.0.2K
我打在这个包里，可以设置到LD_LIBRARY_PATH当中
[code]

[2021-02-18 10:50] wadefelix commented on #1040
我用ubuntu，毕竟nv钦定。

还有，https://github.com/PaddlePaddle/Serving/blob/v0.5.0/doc/DOCKER_IMAGES_CN.md 的问题，
`docker pull hub.baidubce.com/paddlepaddle/serving:latest-cuda11-cudnn8` 拉取不到镜像的。

[2021-02-18 11:31] jinmin527 commented on #1038
谢谢啊！python源码还好阅读，C++源码阅读起来还是比较费劲，请问您们是否有C++实现的流程化的文档，或者类之间的层次关系。这样阅读起来至少有个主线。

在 2021-02-18 14:20:09，"TeslaZhao" <notifications@github.com> 写道：

您好，欢迎您使用Paddle Serving。在最新的v0.5.0版本中更新了Paddle Serving设计文档，您可以阅读一下，根据您的需求做好技术选型，再根据不同技术选型，查看响应的技术文档。对于代码和注释不够细致的问题，我们已经注意到了，修改的工作量比较大的，所以没有会在每个版本迭代中修改文档，增加注释。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2021-02-18 11:32] bjjwwang commented on #1040
0.5.0目前还在开发中，非devel镜像还没完全固定
建议 拉取 registry.baidubce.com/paddlepaddle/serving:0.5.0-cuda11-cudnn8-devel

[2021-02-18 11:34] bjjwwang commented on #1040
libcrypto.so和libssl.so用这个就可以了，ubuntu也可以用。因为兼顾到centos和ubuntu同时可用，因此原版ubuntu镜像会在这两个so文件上有出入。
不然就需要自己编译，这样也是可以的

[2021-02-22 09:48] guojiahuiEmily opened #1056 "怎么在生产环境部署"
看了文档，还是部署很清楚。
在自己服务器部署倒是基本知道，但是运行时cpu基本占满，
想部署在云上的函数计算中，但是不清楚该怎么做

[2021-02-22 11:04] #960 closed, assigned to TeslaZhao

[2021-02-22 12:07] guojiahuiEmily opened #1060 "模型转为serving时报错要enable_static，怎么解决"
python -m paddle_serving_client.convert --dirname . --model_filename dygraph_model.pdmodel --params_filename dygraph_model.pdiparams --serving_server serving_server --serving_client serving_client
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/runpy.py", line 174, in _run_module_as_main

AssertionError: In PaddlePaddle 2.x, we turn on dyn

[2021-02-22 12:28] guojiahuiEmily opened #1061 "请问paddlehub里的模型怎么转为serving的模型"
paddlehub的藏头诗模型，怎么转为可以serving的模型？

另外预测时，怎么调用，需要做什么处理才能输出汉字的结果

[2021-02-22 13:13] TeslaZhao commented on #1061
您好，Paddlehub的模型可以转成Serving模型。

模型转换：
若为paddle 2.0框架训练的模型，可参考：https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE_CN.md
若为paddle 1.8框架及以下训练的模型，可参考：https://github.com/PaddlePaddle/Serving/blob/v0.4.0/doc/SAVE_CN.md

推理方法：
需要根据模型入参的结构传入参数，每个模型的入参结构都不一样。你可以参考lac示例： python/examples/lac

[2021-02-22 13:15] TeslaZhao commented on #1056
您可以参考PR: https://github.com/PaddlePaddle/Serving/pull/716/files

[2021-02-23 01:48] zwei-joe opened #1066 "paddlex导出的模型，trans_model.py转换后部署到paddle serving，feed_var的im_size参数怎么赋值？"
paddlex导出的图像分类检测模型，用trans_model.py转换后部署到paddle serving。
转换后生成的serving_client_conf.prototxt 内容
=======================================
feed_var {
  name: "image"
  alias_name: "image"
  is_lod_tensor: false
  feed_type: 1
  shape: 3
}
feed_var {
  name: "im_size"
  alias_name: "im_size"
  is_lod_tensor: false
  feed_type: 2
  shape: 2
}
fetch_var {
  name: "save_infer_model/scale_0.tmp_0"
  alias_n

[2021-02-23 01:56] TeslaZhao commented on #1060
您使用的是v0.5.0版本或develop分支吗

[2021-02-23 05:14] guojiahuiEmily commented on #1061
非常感谢。
但是那些文档里面并没有如何转换Paddlehub里的藏头诗及对诗模型。
Paddlehub对诗模型解压后是这样，没有model文件,model文件夹里都是python文件。
<img width="205" alt="截屏2021-02-23 下午1 14 10" src="https://user-images.githubusercontent.com/74049862/108804757-1c6a1780-75d9-11eb-8bf6-280e77c080d3.png">

[2021-02-23 08:17] guojiahuiEmily opened #1068 "请问这个项目中的模型怎么导出为serving格式"
这里面没有param
https://aistudio.baidu.com/aistudio/projectdetail/1182749?channelType=0&channel=0

[2021-02-24 08:50] zengqi0730 opened #1071 "serving example中pipeline ocr里坐标不一致"
example/pipline/ocr 里Det Op输出的out_dict里获取的dt_boxes 与 Rec_Op收到的input_dicts里 dt_boxes不一致，前者是原图的坐标，后者貌似是整个剪切后的图片坐标。 那我client如何通过serving服务返回文字在图片中的坐标呢？

[2021-02-24 11:52] nblib opened #1072 "sentencepiece0.1.83版本过低在python3.8中安装失败"
如题,paddle-serving-app==0.3.0依赖的sentencepiece版本在python3.8中安装失败
* python: 3.8.5
* paddle-serving-app: 0.3.0
* sentencepiece: 0.1.83
[code]

[2021-02-25 02:34] TeslaZhao commented on #1072
感谢反馈，我们验证一下

[2021-02-25 02:46] TeslaZhao commented on #1071
您好，如果Client要获得原图中坐标信息，您可以把Det Op输出的out_dict写成一个新的变量放入out_dict(Det::postprocess)中。在RecOp的postprocess中通过input_dicts拿到数据在输出即可

[2021-02-25 02:50] TeslaZhao commented on #1066
im_size是什么含义，图片数量？

[2021-02-25 02:56] bjjwwang commented on #1068
https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE_CN.md 参考这个

[2021-02-25 02:58] bjjwwang commented on #1072
可以先
`python3.8 -m pip install sentencepiece`
然后
`python3.8 -m pip install paddle-serving-app==0.3.0`

[2021-02-25 03:16] zwei-joe commented on #1066
paddlex导出的模型文件：__model__和__params__，打开__model__文件里发现有ImgSizeim_size 内容。trans_model.py转换后feed_var就带有im_size输入参数。
im_size值应该为numpy.array 值
feed_dict["image"]=im //输入图片的尺寸为800，539
feed_dict["im_size"]=numpy.array([800,539])
但paddle serving还是会报错
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: The number of input's channels should be equal to filter's chann

[2021-02-25 04:24] zengqi0730 commented on #1071
可以了，谢谢指导！
返回res类型有限制，只能是dict或者numpy，而且dict的value必须是str，这个就很难受了。应该把res改进为json类型

[2021-02-26 06:01] #1071 closed, assigned to TeslaZhao

[2021-03-01 08:21] #1011 closed, assigned to TeslaZhao

[2021-03-01 08:22] TeslaZhao commented on #964
Paddle Serving v0.5.0版本已发布，模型加解密请参考文档：https://github.com/PaddlePaddle/Serving/blob/develop/doc/ENCRYPTION_CN.md

[2021-03-01 08:23] #968 closed, assigned to TeslaZhao

[2021-03-01 08:24] #963 closed, assigned to TeslaZhao

[2021-03-01 08:25] TeslaZhao commented on #973
v0.5.0已经支持python3.8

[2021-03-01 08:26] TeslaZhao commented on #975
v0.5.0版本已经于2月23日正式发布，欢迎您使用

[2021-03-01 08:30] #982 closed, assigned to TeslaZhao

[2021-03-01 08:33] TeslaZhao commented on #1038
您说的这个文档，我近期写一个

[2021-03-01 08:43] TeslaZhao commented on #1015
问题已经修复，在develop或v0.5.0分支合入 @GreenValue

[2021-03-01 08:45] TeslaZhao commented on #1040
@wadefelix paddle Serving v0.5版本已发布，欢迎试用，已经支持Ubuntu镜像：
https://github.com/PaddlePaddle/Serving/blob/develop/doc/DOCKER_IMAGES_CN.md

[2021-03-01 08:45] #990 closed, assigned to bjjwwang

[2021-03-02 01:18] muyu1944 commented on #1060
@TeslaZhao pipeline是不是还不支持部署0.5.0版的serving转换的模型？
log里显示：failed to init op: (Unavailable) Load operator fail to open file serving_server/layer_norm_17.w_0, please check whether the model file is complete or damaged.

[2021-03-02 10:04] jinmin527 commented on #1038
期待，希望可以尽早分享出来

[2021-03-02 12:13] HJYgotoPLAY opened #1075 "Bert-As-Service例子运行报错"
首先按照官方教程在Docker内构建Paddle Serving

- 获取镜像：docker pull registry.baidubce.com/paddlepaddle/serving:latest-cuda10.0-cudnn7-devel
- 创建容器：nvidia-docker run -p 9292:9292 --name test -dit registry.baidubce.com/paddlepaddle/serving:latest-cuda10.0-cudnn7-devel
- 进入容器：nvidia-docker exec -it test bash
- 安装PaddleServing（环境py27，cuda10.0）：
1. pip install paddle-serving-client==0.5.0
2. pip install paddle-servin

[2021-03-03 03:25] bjjwwang commented on #1075
用最新的`registry.baidubce.com/paddlepaddle/serving:latest-cuda10.0-cudnn7-devel`

[2021-03-05 02:16] baibaiw5 opened #1077 "基于paddlehub训练的文本分类模型，使用paddle_serving_client RPC调用失败"
安装了以下包
paddlepaddle-gpu==1.8.5.post97
paddlehub==1.7.1
paddle_serving_client==0.4.0
paddle_serving_server==0.4.0
paddle_serving_app==0.3.0

基于https://github.com/PaddlePaddle/PaddleHub/blob/release/v1.8/demo/text_classification/text_cls.py训练了一个文本分类模型
使用paddlepaddle serving生成模型并启动RPC服务成功
python -m paddle_serving_client.convert --dirname ckpt_bert/best_model
python -m paddle_serving_server.serve --mo

[2021-03-08 08:15] xiahongjin opened #1078 "转换OCR rec模型后调用失败"
转换rec模型之后，启动rec_debugger_server调用后报以下错：

RuntimeError: (Unavailable) Load operator fail to open file D:\Serving-0.5.0\serving_rec_server/bn3c_branch2b_scale, please check whether the model file is complete or damaged.
  [Hint: Expected static_cast<bool>(fin) == true, but received static_cast<bool>(fin):0 != true:1.] (at D:\v2.0.0\paddle\paddle/fluid/operators/load_op.h:41)
  [operator < load > err

[2021-03-08 10:37] TeslaZhao commented on #1077
您好，我来回答您的问题：

1.您使用的v0.4.0 Serving版本，建议您升级到v0.5.0版本，安装步骤如下：
pip install paddle-serving-client==0.5.0 -U
pip install paddle-serving-server==0.5.0  -U
pip install paddlepaddle==2.0.0

2.根据您的启动参数
python -m paddle_serving_server.serve --model serving_server --thread 2 --port 9292 **_--name test_**
加上--name，是http服务，即9292是Http服务端口；不加 --name，开启RPC端口

[2021-03-08 10:40] TeslaZhao commented on #1078
您好，您使用Serving 版本，Paddle的版本信息能发一下吗？还有是否使用了[模型转换接口](https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE_CN.md)

[2021-03-09 00:55] xiahongjin commented on #1078
paddle2.0版本，使用了模型转换接口中serving_io.inference_model_to_serving函数转换的，Serving0.5.0
转换语句：
python -m paddle_serving_client.convert --dirname ch_ppocr_mobile_v2.0_det_infer --model_filename inference.pdmodel --params_filename  inference.pdiparams --serving_server det_server --serving_client det_client

[2021-03-09 02:51] baibaiw5 commented on #1077
谢谢，已解决

[2021-03-09 02:51] #1077 closed, assigned to TeslaZhao

[2021-03-15 06:22] paopjian opened #1085 "使用CPU教程运行失败"
命令:

docker pull registry.baidubce.com/paddlepaddle/serving:0.5.0-devel
docker run -p 9292:9292 --name test -dit registry.baidubce.com/paddlepaddle/serving:0.5.0-devel
docker exec -it test bash

报错:
Error response from daemon: Container 7ac0574a7f984b2fc6ce67ef2f07ec59772ff3aa3066182f0bac379d0712b2d1 is not running
查看日志:
/bin/sh: 1: source: not found

[2021-03-15 07:25] TeslaZhao commented on #1085
您好，docker没有run起来。单独运行下面语句，看一下报错信息。
docker run -p 9292:9292 --name test -dit registry.baidubce.com/paddlepaddle/serving:0.5.0-devel

[2021-03-15 07:26] TeslaZhao commented on #1078
serving server, client, app的版本信息都发一下:

pip list | grep serving

[2021-03-15 07:41] paopjian commented on #1085
![image](https://user-images.githubusercontent.com/20377352/111119287-da8e1a80-8561-11eb-9dcf-23ca7220ba9c.png)

run时没有报错,但是无法启动.环境:ubuntu20.04

[2021-03-15 07:52] TeslaZhao commented on #1085
// 查询被停止serving的container_id
docker ps -a

// 查询docker logs
docker logs container_id

[2021-03-15 08:01] paopjian commented on #1085
![image](https://user-images.githubusercontent.com/20377352/111121509-a536fc00-8564-11eb-81dc-e40407f09afa.png)

[2021-03-15 10:25] bjjwwang commented on #1085
不好意思 docker run缺少了最后的bash
会马上添加到首页
[code]

[2021-03-17 01:58] #1085 closed, assigned to TeslaZhao

[2021-03-17 02:54] #1040 closed, assigned to TeslaZhao

[2021-03-17 02:55] TeslaZhao commented on #1061
您好，在此文档中有关于*.pdparams文件的转换方法，请参考：https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE_CN.md

[2021-03-17 06:51] paopjian opened #1090 "Aistudio教程未公开"
https://aistudio.baidu.com/aistudio/projectdetail/1550674
显示项目未公开

[2021-03-17 08:21] paopjian opened #1091 "java教程服务端启动执行错误"
https://github.com/PaddlePaddle/Serving/blob/develop/java/README_CN.md
已完成
[code]
执行
python -m paddle_serving_server.serve --model uci_housing_model --thread 10 --port 9393 --use_multilang &
发生错误
![image](https://user-images.githubusercontent.com/20377352/111436256-acdbd980-86f9-11eb-955a-2e9838d2a9cb.png)

[2021-03-18 02:47] HexToString commented on #1091
看着像是gcc版本过低导致的问题。
查看一下你的gcc版本

[2021-03-18 07:02] #1091 closed, assigned to nobody

[2021-03-20 07:48] TeslaZhao commented on #1090
请参考此链接 ： https://www.paddlepaddle.org.cn/tutorials/projectdetail/1555945

[2021-03-20 14:05] 60999 commented on #885
有后续吗，同样的问题

[2021-03-21 18:47] 60999 opened #1094 "raspberry 4b 树莓派4B docker下编译出错"
因为下载的cpu镜像架构不同无法运行，所以使用文件 Dockerfile 构建镜像
参考：https://github.com/PaddlePaddle/Serving/blob/develop/doc/DOCKER_IMAGES_CN.md
`
pi@raspberrypi:~/Serving/tools $ mkdir armv7
pi@raspberrypi:~/Serving/tools $ cp Dockerfile.devel ./armv7/
pi@raspberrypi:~/Serving/tools $ cd armv7/
`

修改Dockerfile.devel
ENV WITH_GPU=${WITH_GPU:-OFF}
ENV WITH_AVX=${WITH_AVX:-OFF}

`
pi@raspberrypi:~/Serving/tools $ sudo doc

[2021-03-21 18:50] 60999 commented on #1094
$ sudo docker build -f Dockerfile.devel -t paddle-serving.armv7-pi4:latest .
Sending build context to Docker daemon  11.78kB
Step 1/71 : FROM hub.baidubce.com/ctr/cuda:9.0-cudnn7-devel-ubuntu16.04
 ---> 5978609a60c5
Step 2/71 : MAINTAINER PaddlePaddle Authors <paddle-dev@baidu.com>
 ---> Using cache
 ---> fa640de9e332
Step 3/71 : ARG WITH_GPU
 ---> Using cache
 ---> 7110618d9a45
Step 4/71 : ARG WI

[2021-03-21 19:12] 60999 opened #1095 "jetson nano JetPack 4.5启动 paddle-serving Docker镜像失败"
参考
https://github.com/PaddlePaddle/Serving/blob/develop/README_CN.md#%E5%AE%89%E8%A3%85

python3 summary_env.py
****************************************
Paddle version: None
Paddle With CUDA: None

OS: Ubuntu 18.04
Python version: 3.6.9

CUDA version: None
cuDNN version: None.None.None
Nvidia driver version: None

R32 (release), REVISION: 5.0, GCID: 25531747, BOARD: t210ref, EABI: aarch64, DATE: F

[2021-03-21 19:17] 60999 opened #1096 "jetson nano docker下编译出错"
$ docker build -f Dockerfile.cuda10.2-cudnn8.devel -t paddle-serving.armv8-nano:latest .
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.24/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile.cuda10.2-cudnn8.devel&lab

[2021-03-22 02:05] zouxiaoshi opened #1097 "paddle_serving_client.Client() 创建实例失败"
在执行以下代码时报错
from paddle_serving_client import Client
**_client = Client()_**

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/miniconda3/lib/python3.8/site-packages/paddle_serving_client/__init__.py", line 139, in __init__
    from .serving_client import PredictorRes
ImportError: libcrypto.so.10: cannot open shared object file: No such file or directory

[2021-03-22 02:21] zouxiaoshi commented on #1097
我后来到 /root/miniconda3/lib/python3.8/site-packages/paddle_serving_client 里，其内容如下：
__init__.py  __pycache__  convert.py  io  lib  metric  pipeline  proto  serving_client.so  utils  version.py
在 lib 文件里 只能找到 libcrypto.a  libpython3.8.so  libssl.a
全局搜索下也没有 find / -name libcrypto.so.10

paddle_serving_client 版本是最新版 0.5.0   Feb 24,2021 发布的。

[2021-03-22 02:35] zouxiaoshi commented on #1097
上面的是在服务器上的结果，
我自己搭的nvidia-docker 镜像  cuda10 cudnn7.6
装有paddlepaddle-gpu  paddle_serving_server-gpu.

后来我在本机上测试：
系统是macos catalina
python 环境 3.8

Python 3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/yuank

[2021-03-22 03:23] TeslaZhao commented on #1094
你好，ARM环境与X86相比差别很大，需要在不同的硬件环境做适配。目前在飞腾ARM CPU环境跑通部署，预计下个版本(Serving v0.6.0，预计5月中旬发布)会尝试适配在树莓派.

[2021-03-22 03:26] TeslaZhao commented on #1095
你好，ARM环境与X86相比差别很大，需要在不同的硬件环境做适配。目前在飞腾ARM CPU环境跑通部署，预计下个版本(Serving v0.6.0，预计5月中旬发布)会尝试适配jetson.

[2021-03-22 03:26] TeslaZhao commented on #1096
你好，ARM环境与X86相比差别很大，需要在不同的硬件环境做适配。目前在飞腾ARM CPU环境跑通部署，预计下个版本(Serving v0.6.0，预计5月中旬发布)会尝试适配jetson.

[2021-03-22 08:59] 60999 commented on #1096
好的，谢谢

[2021-03-23 07:45] bultiful opened #1098 "训练时用save_persistables保存模型，如何进行serving模型转换？"
请问我用paddle训练时，是用save_persistables进行全部持久性变量保存，可以用paddle serving进行吗？我看训练好的模型都和用save_inference_model的不一样。

[2021-03-23 07:58] #1090 closed, assigned to TeslaZhao

[2021-03-23 08:34] ghfblt commented on #600
我也是使用yolov3训练出的模型，想用HTTP Service部署，使用curlpost包进行预测的方式，希望给个例子

[2021-03-24 04:20] bjjwwang commented on #1098
需要使用save_inference_model的
save_persistable会把vars事无巨细的保存下来唯独不保存模型结构。save_inference_model会保存相关的结构并做好裁剪。
具体参见[save文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE_CN.md)

[2021-03-24 04:33] bultiful commented on #1098
也就是说这种方式保存的持久化变量模型没法直接进行serving模型转换，得重新训练？

---原始邮件---
发件人: "Jiawei ***@***.***&gt;
发送时间: 2021年3月24日(周三) 中午12:20
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Serving] 训练时用save_persistables保存模型，如何进行serving模型转换？ (#1098)

需要使用save_inference_model的
 save_persistable会把vars事无巨细的保存下来唯独不保存模型结构。save_inference_model会保存相关的结构并做好裁剪。
 具体参见https://github.com/PaddlePaddle/Serving/bl

[2021-03-24 10:10] bjjwwang commented on #1098
我觉得可能也不用 可以保存一个壳 然后把这些参数复制过去也可以的

[2021-03-24 10:12] bjjwwang commented on #1098
不确定你的Paddle版本哈，
model描述文件应该是`__model__` or `***.pdmodel`
params文件 可能是一组文件（一个var对应一个文件）或者是一个文件`__params__` or `**.pdiparams`
现在save persistable的结果其实就是缺那个model描述文件。这个补上我理解也是可以用的。

[2021-03-24 15:07] claudehotline opened #1099 "win10启动报错"
(paddlepaddle) G:\ML Projects\Serving\python\examples\grpc_impl_example\fit_a_line>python -m paddle_serving_server_gpu.serve --model uci_housing_model --thread 10 --port 9393 --gpu_id 0 --name uci
This API will be deprecated later. Please do not use it
This API will be deprecated later. Please do not use it
This API will be deprecated later. Please do not use it
'touch' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

[2021-03-25 01:35] Nicole1983 opened #1100 "ernie_tiny部署paddle serving后，curl返回 request that this server could not understand"
paddler serving部署文本匹配的ernie_tiny后，curl -H "Content-Type:application/json" -X POST -d '{"Data":[['世界上什么东西最小', '世界上什么东西最小？']] , "fetch":["prediction"]}' http://172.0.0.1:9292/ernie/prediction，返回
  400 Bad Request
  Bad Request
  The browser (or proxy) sent a request that this server could not understand.

请问是传入参数格式不对吗？还是操作步骤不正确呢？谢谢！
完整的操作步骤如下：
1. 获取docker 镜像 registry.baidubce.com/paddlepaddle/servin

[2021-03-25 04:08] 60999 commented on #1095
看上面报错是找不到文件
docker适配性强,能否先出一个docker在jetson nano上的版本

[2021-03-26 03:07] TeslaZhao commented on #1099
您好，在Windows系统上部署Serving推荐使用Docker，目前仅python flask方式支持原生windows环境下部署。

[2021-03-26 03:09] TeslaZhao commented on #1100
您好，端口不正确
服务端：9500
uci_service.prepare_server(workdir="./workdir", port=int(**9500**), device="cpu")
Web：9292
http://172.0.0.1:**9292**/ernie/prediction

[2021-03-26 04:25] Nicole1983 commented on #1100
已经调好了，谢谢！

[2021-03-26 04:25] #1100 closed, assigned to TeslaZhao

[2021-03-26 04:25] Nicole1983 commented on #1100
已经调好了，谢谢！

[2021-03-26 08:25] pipishaw opened #1102 "windows环境，serving上部署自己的模型，跑服务器端没报错，HTTP调用的时候报错"
serving版本：
paddle-serving-app                 0.3.0
paddle-serving-client              0.5.0
paddle-serving-server              0.5.0

服务器端错误：
D:\ProgramData\Anaconda3\lib\site-packages\setuptools\depends.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
W0326 16:10:42.209364  7192 analysis_predictor.cc:1

[2021-03-26 08:28] pipishaw opened #1103 "serving上部署自己的模型，跑服务器端没报错，HTTP调用的时候报错"
serving版本：
paddle-serving-app                 0.3.0
paddle-serving-client              0.5.0
paddle-serving-server              0.5.0

服务器端错误：
D:\ProgramData\Anaconda3\lib\site-packages\setuptools\depends.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
W0326 16:10:42.209364  7192 analysis_predictor.cc:1

[2021-03-26 08:30] #1103 closed, assigned to nobody

[2021-03-26 08:32] pipishaw commented on #1102
另外WINDOWS上能通过RPC调用吗？有没有例子？

[2021-03-26 13:19] #1099 closed, assigned to TeslaZhao

[2021-03-28 06:28] lliony opened #1104 "AiStudio报错"
is:issue is:open /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle_serving_server/serving-cpu-avx-openblas-0.5.0/serving: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `CXXABI_1.3.11' not found (required by /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle_serving_server/serving-cpu-avx-openblas-0.5.0/serving) /opt/conda/envs/python35-paddle120-e

[2021-03-28 07:38] TeslaZhao commented on #1102
RuntimeError: (Unavailable) Load operator fail to open file yolov3_mobilenet_v1_menghuan/detection_server//conv2_1_sep_bn_variance, please check whether the model file is complete or damaged.

模型加载失败了，确认下模型文件是否完整，是否转到Serving格式？

windows使用说明请参考文档：https://github.com/PaddlePaddle/Serving/blob/develop/doc/WINDOWS_TUTORIAL.md

[2021-03-28 11:31] bultiful commented on #1098
那这样的要就只能重新训练模型，以其他方式进行模型保存，我训练出来的参数文件就只有图中两种。看了很多方案，好像没有直接转换成paddle serving模型的方式。

<img width="429" alt="1" src="https://user-images.githubusercontent.com/38233022/112750599-05657d80-8ffc-11eb-8b12-fc09ea8f9aa2.png">
<img width="399" alt="2" src="https://user-images.githubusercontent.com/38233022/112750609-11e9d600-8ffc-11eb-96c1-efcb3c6bfe20.png">

[2021-03-29 09:39] deep-rooteddz opened #1107 "使用Paddle Serving部署Ernie-tiny返回结果精度不理想"
在本地测试文本相似度匹配，准确度挺不错的；
但相同的模型部署之后，模型计算出的特征值和部署前稍有不同，准确度和原来差很多。

我使用的是以下命令导出模型：
`
python3 -m paddle_serving_client.convert --dirname . --model_filename model.pdmodel --params_filename model.pdiparams --serving_server serving_server --serving_client serving_client
`
导出文件：
![image](https://user-images.githubusercontent.com/76727820/112817921-8f255180-90b5-11eb-96e9-b0ebb8a82441.png)

模型导出后，对配置文件做了如下改动

[2021-03-30 08:25] deep-rooteddz commented on #1107
原因找到了，是最后的分类器没有使用模型classifier的参数进行初始化；
但新的问题是serving模型的fetch_var只返回特征值，不返回分类结果；
自己定义分类器的话想使用模型classifier的weight和bias只能再重新加载一遍模型吗？
有没有什么方法可以只加载一遍模型，但同时获得特征和分类结果呢？

[2021-03-30 13:28] bjjwwang commented on #1107
您的意思是说 fetch var 应该有两个是吗？
会不会是模型保存的时候 没有加上所需的vars呢

[2021-03-31 08:34] thugbobby opened #1109 "部署HTTP服务后图片的post格式是什么？"
请问部署好HTTP服务后，我要进行POST的数据里有图片，那么图片的数据格式是base64还是其他什么呢？能不能给个示例呢？官方给的示例是post json的。麻烦解答谢谢。

`curl -H "Content-Type:application/json" -X POST -d '{"feed":[{"x": [0.0137, -0.1136, 0.2553, -0.0692, 0.0582, -0.0727, -0.1583, -0.0584, 0.6283, 0.4919, 0.1856, 0.0795, -0.0332]}], "fetch":["price"]}' http://127.0.0.1:9292/uci/prediction`
这个示例要怎么改才能上传图片？

[2021-04-01 04:00] meishitouzhele opened #1110 "win10环境 docker 安装 paddle serving，是否能使用T4 Cuda11 驱动？"
win10环境 docker 安装 paddle serving，是否能使用T4 Cuda11  GPU 驱动？

[2021-04-02 07:47] TeslaZhao commented on #1109
您好，可以参考示例：https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/ocr

[2021-04-02 07:48] TeslaZhao commented on #1110
您好，cuda11.0，cuda10.1，cuda10.2都是可以的

[2021-04-02 09:35] deep-rooteddz commented on #1107
@wangjiawei04 感谢提示，确实是模型保存的问题，现在已经改好了；

有另外个问题，由于我输入feed_var的数据要经过preprocess，才能用于预测，
feed_var本身是不需要送入推理网络的，但如果在preprocess中去掉这个feed_var的话，
在`paddle_serving_client`的`__init__.py的res = self.client_handle_.numpy_predict()`这行中，
会出现下面的问题：

![image](https://user-images.githubusercontent.com/76727820/113402823-45e84100-93d8-11eb-9593-7db7ef2e9a3b.png)

我现在的方案是在preprocess中用处理后的数据替换feed_var原本的内容，
结果可以正常返回，就

[2021-04-06 08:34] TeslaZhao commented on #1097
您好，错误的原因是您的环境下找不到 libcrypto.so.10，解决方案请参考FAQ文档中的解决方案：https://github.com/PaddlePaddle/Serving/blob/develop/doc/FAQ.md
`
wget https://paddle-serving.bj.bcebos.com/others/centos_ssl.tar && \
    tar xf centos_ssl.tar && rm -rf centos_ssl.tar && \
    mv libcrypto.so.1.0.2k /usr/lib/libcrypto.so.1.0.2k && mv libssl.so.1.0.2k /usr/lib/libssl.so.1.0.2k && \
    ln -sf /usr/lib/libcrypto.so.1.0.2k /usr/l

[2021-04-06 08:46] zouxiaoshi commented on #1097
1. 您好，有 ubuntu 版本的 libcrypto.so.10吗，不确定centos 的libcrypto.so.10 是否在ubuntu中也适用。
2. 在创建一个client （client = Client()）对象时还出现了如下错误：
from .serving_client import PredictorRes
ImportError: dlopen(/Users/yuankaizou/opt/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle_serving_client/serving_client.so, 2): no suitable image found. Did find:
/Users/yuankaizou/opt/anaconda3/envs/paddle/lib/python3.8/site

[2021-04-06 09:07] TeslaZhao commented on #1097
1. Ubuntu下可以使用libcrypto.so.10的，我们验证过的.
2. 使用libcrypto.so.10再启动client，看是否还有报错

[2021-04-06 09:17] zouxiaoshi commented on #1097
非常感谢，it works!!
麻烦再问下， 在 macos 中，也可以用这个 centos_ssl.tar吗？
我在macos 中也出现了
from .serving_client import PredictorRes
ImportError: dlopen(/Users/yuankaizou/opt/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle_serving_client/serving_client.so, 2): no suitable image found. Did find:
/Users/yuankaizou/opt/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle_serving_client/serving_client.so: unk

[2021-04-06 09:46] TeslaZhao commented on #1097
您使用mac os原生还是docker环境？

[2021-04-06 09:48] zouxiaoshi commented on #1097
macos 通过conda 创建一个virtual env

[2021-04-06 10:02] meishitouzhele opened #1115 "win10原生系统安装paddle serving使用案例的时候提示wget问题，需要怎么设置才能下载？"

[2021-04-06 10:23] YueWang1996 opened #1116 "PaddlePaddleServing是否支持TLS connection between parameter servers and workers"
你好，根据https://github.com/PaddlePaddle/Serving/blob/develop/doc/DESIGN_DOC_CN.md 此文档可知 C++ Serving设计模型用better-rpc进行底层的通信，Python Pipeline Serving模型采用gRPC和gPRC gateway通信，而better-rpc和gRPC都支持TLS加密，那是否等同于说明PaddlePaddleServing是支持TLS加密连接的呢？如果PaddleServing有关于TLS连接的介绍文档，可否贴一下？谢谢！

[2021-04-07 04:00] meishitouzhele opened #1118 "win10 部署serving后，运行examples下的ocr案例没有问题，想运行图像分类案例imagenet报错如下"
File ".\resnet50_web_service.py", line 78
    image_service.run_web_service()
                ^
SyntaxError: invalid syntax
能提供一个运行examples下图像分类的过程吗？，想运行通过后 发布下自己的图像分类model（在centos的docker下能正常的model，想在win10下测试）感谢

[2021-04-07 06:31] meishitouzhele commented on #1118
![image](https://user-images.githubusercontent.com/11419081/113820950-ff1a9280-97ad-11eb-8272-0d292c0f91df.png)

[2021-04-07 07:47] meishitouzhele commented on #957
之前我是再centos下转换成功了，请问这个转换方法在win10上能用吗？

[2021-04-08 11:31] TeslaZhao commented on #1115
您好，您的win10原生系统上是不是还没有wget，需要安装一下哈

[2021-04-08 12:43] allenxln opened #1121 "咨询一下，如何在paddleserving里面设置并发执行的模块？"
如题，没找到相关的并发处理的位置，感谢解答。

[2021-04-09 02:23] #1107 closed, assigned to bjjwwang

[2021-04-09 02:23] deep-rooteddz commented on #1107
已解决~

[2021-04-09 02:51] zh0ngtian opened #1122 "请问如何修改 batch size 参数和引擎实例数？"
就类似于 Triton 的 dynamic batch 和 instance group

[2021-04-09 07:07] meishitouzhele commented on #1110
win10环境   是直接pip安装serving  还是用docker安装serving好一些？     如果用docker安装serving  docker安装哪个版本？

[2021-04-09 07:08] meishitouzhele commented on #1102
能帮助提供一下 win10 环境下 pip安装serving   调用图像分类的例子吗   serving里图像案例启动不起来

[2021-04-09 07:54] meishitouzhele commented on #1121
如何才能最大限度利用算力卡 达到80%以上利用率？

[2021-04-09 08:41] Huihuihh opened #1123 "执行yolov3模型推理时报错"
利用paddledetection训练了yolov3的模型，然后转化为paddle serving的模型
模型链接：https://pan.baidu.com/s/1iETMZ8b6hLppFaT33Oc3pg
提取码：14ea

`test_client.py`文件
[code]
报错信息
[code]

[2021-04-09 08:46] TeslaZhao commented on #1122
您好，batch_size是批量推理的数量，数据按批量格式组装好，predict接口中加上batch=True即可。

Triton的instance group是指线程数量吗？

[2021-04-09 08:50] TeslaZhao commented on #1121
可以使用Pipeline Serving的模式，通过设置OP并发进程数量，实现多进程推理。其次，支持单机多卡推理，最大化利用算力。
https://github.com/PaddlePaddle/Serving/blob/develop/doc/PIPELINE_SERVING_CN.md

[2021-04-09 08:55] HexToString commented on #1123
看到是后处理的问题，请问是使用v0.5.0的版本么？

[2021-04-09 08:57] HexToString commented on #1118
你这个问题看着像是没有安装Flask导致的

[2021-04-09 09:02] Huihuihh commented on #1123
我转化的模型是在另一台paddlepaddle==2.0.0版本的机器上转化的，因为用这个1.8.4的paddle转化有问题
[code]
[code]

[2021-04-09 09:05] HexToString commented on #1118
1、请问你运行的是原始的resnet50_web_service.py文件么？
2、检查代码在image_service.run_web_service()前必须有image_service.run_rpc_service()
3、也有可能是缺少flask?

[2021-04-09 09:13] HexToString commented on #1123
我复现一下。

[2021-04-09 09:20] meishitouzhele commented on #1118
我是把前必须有image_service.run_rpc_service() 这个注释了，现在放开了，cpu或者gpu报如下we问题
![image](https://user-images.githubusercontent.com/11419081/114158976-e2ba5980-9957-11eb-8ac1-a873946f0bfd.png)
![image](https://user-images.githubusercontent.com/11419081/114159004-e8b03a80-9957-11eb-88ca-ffc7fac2b857.png)

[2021-04-09 09:40] meishitouzhele commented on #1118
![image](https://user-images.githubusercontent.com/11419081/114161486-b3591c00-995a-11eb-97e3-5f64cbe4a6ca.png)

[2021-04-09 09:47] meishitouzhele commented on #1118
运行同目录下的test_image_reader.py有点异常

![M)_}X1LC7J7KP8D2GN18BC0](https://user-images.githubusercontent.com/11419081/114162340-96711880-995b-11eb-8811-2f9c8a9496c6.png)

[2021-04-09 10:27] Huihuihh commented on #1123
突然发现是我自己的问题，我在训练的时候，忘记修改num_classes的值了

[2021-04-09 11:25] zh0ngtian commented on #1122
telsa 你好
1. 我想说的是服务内自动组成batch，比如有两个请求从不同的客户端同时请求服务，服务侧会将他们组成batch=2的tensor送入推理引擎进行推理
2. 这个数量是指推理引擎的数量，就是可以执行forward的那个实例的个数
3. 在serving内部线程数这个概念可能是指rpc worker的线程数、负责拷贝数据的线程数或者引擎实例的线程数，我不清楚你说的线程数指的是哪个？

[2021-04-10 09:26] TeslaZhao commented on #1122
Pipeline Serving 满足您的使用需求。
文档链接：https://github.com/PaddlePaddle/Serving/blob/develop/doc/PIPELINE_SERVING_CN.md
实例链接：https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/pipeline

1. 支持N个请求合并推理，称之为Auto-Batching。配置使用batch_size + auto_batching_timeout
2. 推理引擎的数量由concurrency控制，在进程模式(is_thread_op: False)下concurrency表示每个模型并发进程数，即在每个进程内创建1个推理引擎，可以支持单机多卡推理。

[2021-04-10 09:35] TeslaZhao commented on #1116
您好，better-rpc和gRPC都支持TLS加密，目前示例没有。下周v0.6.0版本将封版提测，预计在下个版本的开发分支上增加TLS示例和文档。如果您有现成的示例也可以提供给我们，谢谢~~

[2021-04-10 10:47] zh0ngtian commented on #1122
谢谢你的回答，还有几个问题想继续请教下哈。
pipeline serving的模型推理应该是由pdserving执行的吧，如果是这样的话
(1) auto batch是不是由pipeline serving层完成batch拼凑再送入pdserving呢？
(2) pdserving是不是不支持单进程多个引擎实例呢？

[2021-04-10 12:25] TeslaZhao commented on #1122
pipeline serving的模型推理是paddle inference而非pdserving。
(1) pipeline组装数据后交给paddle inference推理。
(2) pipeline的进程模式是，每个进程下有一个推理引擎，线程模式是多个线程公用一个单引擎

[2021-04-10 15:45] zh0ngtian commented on #1122
明白了，谢谢！

[2021-04-11 07:19] chengxurensheng666 opened #1125 "paddle_serving java遇到的问题"
我根据java文档https://github.com/PaddlePaddle/Serving/tree/develop/java
放在win中idea打开，并且maven导入了
![image](https://user-images.githubusercontent.com/48110081/114295645-1d97cb00-9ad9-11eb-91c0-6ee0b9a8a425.png)
但是在执行的时候报错，错误提示是
![image](https://user-images.githubusercontent.com/48110081/114295669-3dc78a00-9ad9-11eb-9367-f98ee07765ac.png)

![image](https://user-images.githubusercontent.com/48110081/1142956

[2021-04-11 08:13] TeslaZhao commented on #1097
抱歉，没有在 mac OS做过测试

[2021-04-11 09:29] HexToString commented on #1125
看着像是maven管理的io.grpc.Channel 这个jar包没下载下来，是运行时报的错对吧？
请检查一下你的maven管理的jar包是是否有这个包。

[2021-04-12 00:51] meishitouzhele commented on #1118
额  标记的都不是这个问题吧

[2021-04-12 02:26] chengxurensheng666 commented on #1125
我重新导入包后，之前那个错误消失了，但是出现了新的错误：
![image](https://user-images.githubusercontent.com/48110081/114332694-4a032400-9b79-11eb-9255-6612fd7acdd1.png)
![image](https://user-images.githubusercontent.com/48110081/114332779-7454e180-9b79-11eb-9b79-ce9ac4dbb06a.png)
![image](https://user-images.githubusercontent.com/48110081/114332806-833b9400-9b79-11eb-9144-90c0f1e2fd6f.png)
后台启动了服务端的
![image](https://user-ima

[2021-04-12 02:40] HexToString commented on #1125
这个服务端的启动看着是正常了的，但是客户端没有连接到服务端。
1、如果开了代理的话，会出现这个问题。
2、另外请检查服务端和客户端的ip port是否对应？

[2021-04-12 02:42] HexToString commented on #1123
可否详细讲述一下num_classes对这个的影响？
以及问题发现的过程。
好为其他的同学提供一些帮助。
方便的话，多谢。

[2021-04-12 02:50] Huihuihh commented on #1123
怎么说呢，发现的挺巧合的，查看PaddleDetection上的关于serving的使用案例（ https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0-rc/deploy/serving ），发现按照案例上训练的模型能够成功执行，然后我将对应的`configs/yolov3_mobilenet_v1_roadsign.yml`文件修改成我自己的数据集训练出来的模型也能够成功使用serving推理，然后突然想起原先训练的时候忘记修改num_classes这个值了，然后修改后，重新训练了一个模型测试，能够成功使用serving推理，所以可以确定是这个num_classes值的问题

[2021-04-12 02:50] HexToString commented on #1078
您这个问题看着像是代码中直接或间接用到了，save_inference_model这个函数，这个函数中的参数'params'输入错误。
当'params'没有值时，默认你的模型参数是离散的（多个模型参数问题）
当'params' = "__params__"，则你的模型参数是聚合的。
我猜测你的模型参数文件是后者，而没有指定params参数

[2021-04-12 02:52] xiahongjin commented on #1078
非常感谢，问题已经解决，谢谢您的回复

[2021-04-12 03:08] HexToString commented on #1118
1、test_image_reader.py问题
这个看起来是一个编解码的问题，可能win平台默认的编解码是gbk,指定utf-8即可。
2、倒数第二张图的no attribute 'set gpus'问题
这个看起来像是你使用了gpu,但是ImageService继承自了cpu版本的web_service，如果是使用v0.5.0版本，请使用
if device == "cpu":
    from paddle_serving_server.web_service import WebService
else:
    from paddle_serving_server_gpu.web_service import WebService
如果还不能解决您的问题，请查一下你引入的继承的WebService，有没有set_gpus方法即可。

另外，请您把您的环境信息最好一并发过来，这样会

[2021-04-12 03:09] meishitouzhele commented on #1118
好的 感谢 我重新整理下。

[2021-04-12 03:10] HexToString commented on #1118
您太客气了，用户就是上帝，是我们一贯的服务宗旨。

[2021-04-12 03:11] HexToString commented on #1118
仔细看了一下，您的第一个问题貌似是protobuf导致的问题。
您是否修改了相关的内容呢？例如是否修改了proto文件或其相关文件？

[2021-04-12 03:13] HexToString commented on #1123
多谢您提供的信息，非常感谢。

[2021-04-12 03:13] meishitouzhele commented on #1118
额 没有修改  目前就是win10原生环境  pip安装了 paddlehub，然后能正常使用官网demo和自己训练的model。然后pip安装了paddleserving 运行官方的ocr model能正常发布、调用，然后运行官方的imagenet 发布报错。cpu和gpu都报错

[2021-04-12 03:17] HexToString commented on #1078
可否发一下，您具体修改了哪个文件的哪个地方，能够给其他同学提供一个参考。
如果方便的话，多谢。

[2021-04-12 03:22] HexToString commented on #1060
您可以试试在转换代码中加入
paddle.enable_static()

另外，若代码中直接或间接用到了，save_inference_model这个函数，需要注意这个函数中的参数'params'。
当'params'没有值时，默认你的模型参数是离散的（多个模型参数问题）
当'params' = "params"，则你的模型参数是聚合的。

[2021-04-12 03:25] meishitouzhele commented on #1121
请问这个Pipeline Serving的模式  都支持什么环境  什么版本？

[2021-04-12 03:26] chengxurensheng666 commented on #1125
我仔细检查了，我关闭了客户机上的代理，检查了IP和端口，关闭服务端的防火墙，发现还是这样的情况
![image](https://user-images.githubusercontent.com/48110081/114336527-ce59a500-9b81-11eb-8798-87ecbd976811.png)
方便的话我可以加大佬你一个qq吗或者邮箱也行，这边业务比较急

[2021-04-12 03:30] HexToString commented on #1118
您使用的是哪个版本的呢？
麻烦能把pip list打出来看一下么？

[2021-04-12 03:41] meishitouzhele commented on #1118
C:\Users\Administrator>pip list
Package                       Version
----------------------------- -------------
-pencv-python                 4.5.1.48
alabaster                     0.7.12
appdirs                       1.4.4
astor                         0.8.1
Babel                         2.9.0
bce-python-sdk                0.8.59
cached-property               1.5.2
certifi

[2021-04-12 05:54] HexToString commented on #1125
加我微信吧。sqzz8899

[2021-04-12 05:58] meishitouzhele commented on #1118
上面是环境，然后我运行案例里的  我修改了下使用gpu，错误提示改变成了下面这样，
D:\serving\Serving\python\examples\imagenet>resnet50_web_service.py ResNet50_vd_model gpu 9292
This API will be deprecated later. Please do not use it
This API will be deprecated later. Please do not use it
This API will be deprecated later. Please do not use it
子目录或文件 workdir_0 已经存在。
'touch' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
'touch' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

[2021-04-12 05:58] meishitouzhele commented on #1118
# Copyright (c) 2020 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is d

[2021-04-12 06:23] HexToString commented on #1118
问题的原因是序列化的问题，但是为什么你这会出这个问题，还不能确定。
有一个办法您可以试一下，
web_service.py文件中

server_pros = []（将这一句删除）
        for i, service in enumerate(self.rpc_service_list):
            p = Process(target=self._launch_rpc_service, args=(i, ))
            server_pros.append(p)（将这一句删除）
        for p in server_pros:（将这一句删除）
            p.start()

[2021-04-12 06:24] meishitouzhele commented on #1118
额 我没找到这个文件 web_service.py  请问再哪里？

[2021-04-12 06:29] HexToString commented on #1118
你加我微信吧。sqzz8899

[2021-04-12 07:14] HexToString commented on #1118
这个文章也许可以帮到您，说是win和Linux多进程差异导致的。
https://blog.csdn.net/lijinzemmm/article/details/75735805?utm_medium=distribute.pc_relevant.none-task-blog-2%7Edefault%7EBlogCommendFromBaidu%7Edefault-5.control&dist_request_id=1330144.34750.16182099985152017&depth_1-utm_source=distribute.pc_relevant.none-task-blog-2%7Edefault%7EBlogCommendFromBaidu%7Edefault-5.control

[2021-04-12 07:15] meishitouzhele commented on #1118
嗯嗯 感谢

[2021-04-12 08:56] YueWang1996 commented on #1116
了解了，谢谢回复！期待你们的文档。

[2021-04-12 08:56] #1116 closed, assigned to TeslaZhao, bjjwwang

[2021-04-12 10:18] TeslaZhao commented on #1121
Linux或Docker环境
安装Serving v0.5.0版本

[2021-04-12 10:19] TeslaZhao commented on #1110
强烈推荐使用docker安装，原生win10环境支持的功能有限。推荐使用serving v0.5.0版本

[2021-04-12 16:31] Lie-huo opened #1129 "示例里基本上都是rpc服务的，有没有http服务的？"
使用paddleDetection训练了ppyolo，，请问怎么使用Serving部署成http服务呢？

[2021-04-13 03:27] TeslaZhao commented on #1129
您好，可以参考OCR中的det_debugger_server.py
https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/ocr/det_debugger_server.py

[2021-04-13 09:23] Lie-huo commented on #1129
才接触这块，对这方面不是很懂，自己写的有问多问题，所以想问一下可不可以出一个部署成http服务教程

[2021-04-14 03:28] TeslaZhao commented on #1129
您好，HTTP服务的教程参考下面链接，预计在v0.6.0版本会更新

https://github.com/PaddlePaddle/Serving/blob/v0.5.0/doc/NEW_WEB_SERVICE_CN.md

[2021-04-14 09:55] huangch1024 opened #1134 "在Pipeline Serving模式下加载自己用Paddleocr训练的模型无法启动服务"
已跑通paddle/examples/pieline/ocr官方样例的ocr pieline的部署。
然后在此基础上，将自己训练的的预测模型，通过paddle_serving_client.convert的模块完成转换。
预测模型文件如下
![image](https://user-images.githubusercontent.com/31469777/114691401-3824ab00-9d4a-11eb-9809-a81b2a193f37.png)
转换后的serving文件列表如下
![image](https://user-images.githubusercontent.com/31469777/114691553-61453b80-9d4a-11eb-9e37-2afaf8e3d439.png)
最后开启服务是显示是如下结果
![image](https://user-i

[2021-04-14 10:21] Lie-huo opened #1135 "部署服务时出现，unrecognized arguments: --gpu_ids 0"
在ai studio上运行python/examples/detection/ppyolo_r50vd_dcn_1x_coco时，执行python -m paddle_serving_server.serve --model serving_server --port 9494 --gpu_ids 0出现serve: error: unrecognized arguments: --gpu_ids 0，这是什么问题

[2021-04-14 11:46] HexToString commented on #1135
你使用的是cpu版本的paddle_serving_server,如果想使用gpu，请安装pip install -U paddle_serving_server_gpu，启动的时候
python -m paddle_serving_server_gpu.serve --......

[2021-04-15 06:03] bytes-lost commented on #1134
在上述步骤基础上，执行`python pipeline_http_client.py`，始终未响应

[2021-04-15 07:53] TeslaZhao commented on #1125
您好，在client机器上可以ping通Serving的ip/port吗?

[2021-04-15 08:33] xealml commented on #983
+1

[2021-04-15 10:38] zouxiaoshi opened #1137 "热更新"
模型文件结构如下：
|-serving_server
|-- __model__
|-- __params__
|-- serving_server_conf.protetxt
|-- serving_server_conf.stream.protetxt
通过如下方式启动模型：
python -m paddle_serving_server_gpu.serve --model serving_server --port 9393 --gpu_ids 0
看了 paddle_server_server monitor中的代码，热更新实际上是
1. 替换模型文件 serving_server 2. 在serving_server中创建新的 fluid_time_stamp。
所以，核心还是通过time_stamp来判断是否应该更新模型。
我在serving_server文件夹下尝试创建新的f

[2021-04-16 06:39] xealml opened #1140 "unrecognized arguments: --gpu_id 0"
使用这两个文档启动发生失败，发生错误的在第二个文档的步骤
https://github.com/PaddlePaddle/Serving/blob/develop/README_CN.md
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/ocr

(ocr) [root@jj ocr]$ python3 -m paddle_serving_server.serve --model ocr_det_model --port 9293 --gpu_id 0
usage: serve [-h] [--thread THREAD] [--model MODEL] [--port PORT]
             [--name NAME] [--workdir WORKDIR] [--device DEV

[2021-04-16 06:58] HexToString commented on #1140
我猜你安装的是按照官网的教程来安装的0.5.0的版本。
此时应该python3 -m paddle_serving_server_gpu.serve --model ocr_det_model --port 9293 --gpu_id 0

或者您需要查看0.5.0分支的说明，https://github.com/PaddlePaddle/Serving/tree/v0.5.0/python/examples/ocr

[2021-04-16 07:06] xealml commented on #1135
pip install paddle-serving-client==0.5.0
pip install paddle-serving-server==0.5.0 # CPU
pip install paddle-serving-app==0.3.0
pip install paddle-serving-server-gpu==0.5.0.post102 #GPU with CUDA10.2 + TensorRT7

paddle-serving-server==0.5.0 和 paddle-serving-server-gpu==0.5.0.post102 需要同时装吗？如果只装前者，会报一楼的问题，卸载前者，只安装后者，会报下面的问题
[code]

[2021-04-16 07:24] zouxiaoshi opened #1141 "找不到 libnvinfer.so.7"
[code]

### 说明：
官方镜像体积太大了，后来自己了个镜像。
- BASE IMAGE： nvidia/cuda:10.0-cudnn7-devel-ubuntu16.04
- 其他package如下:
paddle-serving-app        0.2.0
paddle-serving-client     0.5.0
paddle-serving-server-gpu 0.5.0.post102
paddlepaddle-gpu          2.0.1.post100

通过 find / libnv*   找了下，容器里确实没有libnvinfer.so.7，
可以给个这个文件的下载链接吗

[2021-04-16 07:33] TeslaZhao commented on #1141
您好，如果您适用Serving的docker 镜像部署服务，cuda10.1及以上的镜像中安装默认安装对应的Tensor RT lib库。链接：https://github.com/PaddlePaddle/Serving/blob/develop/doc/DOCKER_IMAGES.md

如果您未使用docker镜像，请使用FAQ文档中说明："Cuda10.1及更高版本需要TensorRT。安装TensorRT相关文件的脚本参考 install_trt.sh"。 install_trt.sh链接：
https://github.com/PaddlePaddle/Serving/blob/develop/tools/dockerfile/build_scripts/install_trt.sh

[2021-04-17 08:59] huangch1024 commented on #1134
paddle serving现在是不支持动态图的部署吗？感觉自己训练的模型跟例子区别就是动态图和静态图的区别

[2021-04-17 09:08] huangch1024 opened #1142 "panddle Serving 部署的api地址在哪设置呢？"
paddle serving的api接口地址改在哪设置呢？我看见目前給出来的例子，都是默认的本地127的地址，也没有写在哪设置这个地址呢？

[2021-04-19 04:20] zouxiaoshi commented on #1141
非常感谢。
当时没注意到
paddlepaddle-gpu 和 paddle-serving-server-gpu 版本兼容问题，
忘了paddlepaddle-gpu 2.0.1.post100 是没有编译tensorrt的。

[2021-04-19 04:27] #1141 closed, assigned to TeslaZhao

[2021-04-19 06:55] zouxiaoshi opened #1148 "ppyolo test_client 结果不对"
执行[ppyo_r50vd_dcn_1x_coco](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/detection/ppyolo_r50vd_dcn_1x_coco) 里的示例，但是推理后的结果很差。
推理如果如下：

![000000570688 (1)](https://user-images.githubusercontent.com/44261675/115193836-41818f00-a11f-11eb-8067-1ac786bd9188.jpg)

版本信息如下：
paddle-serving-app        0.2.0
paddle-serving-client     0.5.0
paddle-serving-server-gpu 0.5.0.post10
paddlep

[2021-04-19 07:54] yangwenshuo opened #1149 "启动报错"
File "/usr/local/lib/python3.8/site-packages/paddle_serving_server_gpu/web_service.py", line 230, in run_rpc_service
    localIP = socket.gethostbyname(socket.gethostname())
socket.gaierror: [Errno 8] nodename nor servname provided, or not known

启动命令是
python3 -m paddle_serving_server_gpu.serve --model uci_housing_model --thread 10 --port 9393 --gpu_id 0 --name uci

[2021-04-19 08:11] HexToString commented on #1149
https://blog.csdn.net/weixin_43507521/article/details/88871261

[2021-04-19 09:22] xealml commented on #1140
是的，已经从其他issue中得到支持，感谢回复

[2021-04-19 09:23] #1140 closed, assigned to HexToString

[2021-04-20 02:07] TeslaZhao commented on #1137
您好，模型热加载功能的核心是fluid_time_stamp来判断的，目前支持timestamp_ne, timestamp_gt判断。
要注意2个点：
1.model_toolkit.prototxt文件中，engin里的reloadable_type属性（一般在workdir目录下）
参考：https://github.com/PaddlePaddle/Serving/blob/bb6d004a2b7160bd8514b2e4185ab2ad6dcae64f/tools/cpp_examples/demo-serving/conf/model_toolkit.prototxt
2.不仅要创建fluid_time_stamp文件，还要在此文件中增加当前时间的时间戳(例如1618884444)

[2021-04-20 16:05] zhangjun commented on #1142
你好，服务部署设置ip地址似乎没有必要，除非有机器上多张网卡场景，使用默认地址启动，一般通过部署机器ip能直接访问。使用127.0.0.1作为默认地址比自行设定ip地址更合理些，能减少服务地址误设定的异常情况。

[2021-04-21 07:12] #1149 closed, assigned to HexToString

[2021-04-21 07:15] yangwenshuo opened #1158 "docker里面编译老是失败,baidu内网"
fatal: unable to access 'https://github.com/google/snappy/': Unknown SSL protocol error in connection to github.com:443
fatal: unable to access 'https://github.com/gflags/gflags.git/': Unknown SSL protocol error in connection to github.com:443
Cloning into 'extern_snappy'...
Cloning into 'extern_gflags'...
fatal: unable to access 'https://github.com/open-source-parsers/jsoncpp/': Unknown SSL proto

[2021-04-21 07:16] yangwenshuo opened #1159 "python3启动paddleserving报错"
image_process_service.run_service()
  File "/usr/local/lib/python3.6/site-packages/paddle_serving_server/web_service.py", line 60, in run_service
    self._server.run_server()
  File "/usr/local/lib/python3.6/site-packages/paddle_serving_server/pipeline/pipeline_server.py", line 297, in run_server
    http_port=self._http_port)  # start grpc_gateway
  File "/usr/local/lib/python3.6/site-packages/p

[2021-04-21 07:18] TeslaZhao commented on #1158
您好，HI上私聊我

[2021-04-21 07:21] TeslaZhao commented on #1158
HI:zlSunshine0413

[2021-04-21 07:23] TeslaZhao commented on #1159
您好，请发一下config.yaml

[2021-04-21 07:25] yangwenshuo commented on #1159
worker_num: 1
rpc_port: 8091
#http_port: 8090
dag:
    is_thread_op: true
    client_type: brpc
    use_profile: true
op:
    detect:
        concurrency: 1

[2021-04-21 07:26] yangwenshuo commented on #1159
worker_num: 1
rpc_port: 8091
#http_port: 8090
dag:
    is_thread_op: true
    client_type: brpc
    use_profile: true
op:
    detect:
        concurrency: 1

[2021-04-21 07:27] yangwenshuo commented on #1159
额 我发现去掉httpport的注释就可以了

[2021-04-21 09:00] #1158 closed, assigned to TeslaZhao

[2021-04-21 09:00] #1159 closed, assigned to TeslaZhao

[2021-04-21 09:30] yangwenshuo opened #1160 "编译CPU版本Server报错"
所执行的命令是

mkdir server-build-cpu && cd server-build-cpu
cmake -DPYTHON_INCLUDE_DIR=$PYTHON_INCLUDE_DIR/ \
    -DPYTHON_LIBRARIES=$PYTHON_LIBRARIES \
    -DPYTHON_EXECUTABLE=$PYTHON_EXECUTABLE \
    -DSERVER=ON ..
make -j10

报错的信息是

c++: fatal error: Killed signal terminated program cc1plus
compilation terminated.
core/sdk-cpp/CMakeFiles/sdk-cpp.dir/build.make:292: recipe for target 'core/sdk-cpp/CM

[2021-04-21 10:40] #1160 closed, assigned to nobody

[2021-04-22 02:54] yangwenshuo opened #1162 "paddle sering更换新的proto文件编译失败"
--grpc-gateway_out: no field "name" found in NormalMessageReq

[ 60%] Building CXX object core/cube/cube-api/CMakeFiles/cube-api.dir/src/meta.cpp.o
python/CMakeFiles/paddle_python.dir/build.make:67: recipe for target '.timestamp' failed
make[2]: *** [.timestamp] Error 1
CMakeFiles/Makefile2:1271: recipe for target 'python/CMakeFiles/paddle_python.dir/all' failed
make[1]: *** [python/CMakeFiles/pad

[2021-04-23 12:53] TeslaZhao commented on #1162
name名称非常重要，不仅在python的proto文件Request中有使用，在gateway.proto中也有使用，并且在Service中也有使用，如下图所示。不建议修改。
[code]

[2021-04-24 09:11] pipishaw commented on #1102
我的模型是用PaddleDetection1.8.2训练生成的，用export_serving_model.py导出模型，参数应该是在__params__文件里面，没有像示例一样分开的参数文件，现在升到PaddleDetection2.0.1，想在原来的模型上再训练，但是原来的模型貌似不能用，有没有模型这块的详细介绍？或者训练保存的模型要怎样转换才行？
转换后server下的文件
__model__
__params__
serving_server_conf.prototxt
serving_server_conf.stream.prototxt

[2021-04-25 07:08] bluestinger opened #1173 "uci_housing_client测试报错"
python3.6 test_client.py uci_housing_client/serving_client_conf.prototxt
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0425 03:51:49.812734  3687 general_model.cpp:73] feed var num: 1fetch_var_num: 1
I0425 03:51:49.812860  3687 general_model.cpp:77] feed alias name: x index: 0
I0425 03:51:49.812870  3687 general_model.cpp:80] feed[0] shape:
I0425 03:51:49.812887  3687 general_m

[2021-04-25 07:10] bluestinger commented on #1173
用curl命令访问服务，可以得到预测结果。

[2021-04-25 09:10] HexToString commented on #1173
您好，我猜测您启动的server 传入了--name uci。
当传入了--name 参数后，启动的是webService服务。
而tesy_client代码中，使用的是rpc方式连接，此时需要rpc-server。
请使用Read-Me文档中对应的启动方式。
下个版本会将此处做修改完善。

[2021-04-25 11:30] bluestinger commented on #1173
是传入了name，webService, rpc的服务也启动了。

[2021-04-25 11:30] bluestinger commented on #1173
from paddle_serving_server.web_service import WebService
import numpy as np

class UciService(WebService):
    def preprocess(self, feed=[], fetch=[]):
        feed_batch = []
        is_batch = True
        new_data = np.zeros((len(feed), 1, 13)).astype("float32")
        for i, ins in enumerate(feed):
            nums = np.array(ins["x"]).reshape(1, 1, 13)
            new_data[i] = nums

[2021-04-25 11:56] huangch1024 opened #1177 "Serving部署pipline ocr自己的模型时，自己模型的rec模型的fetch_list是[‘save_infer_model/scale_0.tmp_1’]，而demo为["ctc_greedy_decoder_0.tmp_0", "softmax_0.tmp_0"],导致无法部署自己的模型"
example/pipeling/ocr中的样例模型rec模型

[2021-04-26 03:44] bluestinger opened #1178 "ernie 1.0模型用bert测试报错"
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0426 03:29:11.977586  7611 general_model.cpp:73] feed var num: 5fetch_var_num: 2
I0426 03:29:11.977638  7611 general_model.cpp:77] feed alias name: input_mask index: 0
I0426 03:29:11.977648  7611 general_model.cpp:80] feed[0] shape:
I0426 03:29:11.977654  7611 general_model.cpp:84] shape[0]: 512
I0426 03:29:11.977661  7611 general_m

[2021-04-26 03:45] bluestinger commented on #1178
怎么查看生成的core文件

[2021-04-26 03:55] bluestinger commented on #1178
serving_client_conf.prototxt中feed_var的name是怎么确定的？

[2021-04-26 06:00] HexToString commented on #1178
serving_client_conf.prototxt中feed_var的name是怎么确定的？

这个是由模型设置导出的

[2021-04-26 06:01] HexToString commented on #1178
怎么查看生成的core文件

使用gdb加载core文件

[2021-04-26 06:45] bluestinger commented on #1178
有例子吗？

[2021-04-26 08:43] HexToString commented on #1178
我的意思是，这个字段是由模型决定的。而不是自己设置的。

[2021-04-26 11:36] bluestinger commented on #1178
模型里怎么看呢？

[2021-04-26 11:41] bluestinger commented on #1178
我用
    src_ids = fluid.layers.data(name='1', shape=[-1, args.max_seq_len, 1], dtype='int64')
    sent_ids = fluid.layers.data(name='2', shape=[-1, args.max_seq_len, 1], dtype='int64')
    pos_ids = fluid.layers.data(name='3', shape=[-1, args.max_seq_len, 1], dtype='int64')
    task_ids = fluid.layers.data(name='4', shape=[-1, args.max_seq_len, 1], dtype='int64')
    input_mask = fluid.layers.data(

[2021-04-26 11:53] bluestinger commented on #1178
head -1 data-c.txt | python3.6 ernie_client.py --model ernie_seq512_model_1/serving_client_conf.prototxt

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0426 11:54:38.588513   515 naming_service_thread.cpp:209] brpc::policy::ListNamingService("127.0.0.1:9293"): added 1
dict_keys(['input_ids', 'position_ids', 'segment_ids', 'input_mask'])
[11]
Traceback (most recent call last):

[2021-04-26 11:53] bluestinger commented on #1178
python3.6 -m paddle_serving_server_gpu.serve --model ernie_seq512_model_1/ --port 9293 --gpu_ids 0
mkdir: cannot create directory ‘workdir_0’: File exists
Going to Run Comand
/usr/local/lib/python3.6/site-packages/paddle_serving_server_gpu/serving-gpu-101-0.5.0/serving -enable_model_toolkit -inferservice_path workdir_0 -inferservice_file infer_service.prototxt -max_concurrency 0 -num_threads 2 -po

[2021-04-26 11:55] bluestinger commented on #1178
import sys
from paddle_serving_client import Client
from paddle_serving_client.utils import benchmark_args
from paddle_serving_app.reader import ChineseBertReader
import numpy as np
args = benchmark_args()

reader = ChineseBertReader({"max_seq_len": 128*4})
fetch = ["pooled_output"]
endpoint_list = ['127.0.0.1:9293']
client = Client()
client.load_client_config(args.model)
client.connect(endpoint_l

[2021-04-26 13:00] TeslaZhao commented on #1177
您的问题是？

[2021-04-27 02:39] bluestinger commented on #1178
layer名称的问题通过配serving_client_conf.prototxt解决了，现在
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

  Compile Traceback (most recent call last):
    File "/home/shenchao/.local/lib/python3.6/site-packages/paddle/fluid/framework.py", line 2610, in append_op
    attrs=kwargs.get("attrs", None))

    File "/home/shenchao/.local/lib/python3.6/site-packages/paddl

[2021-04-28 08:54] CH7auAI opened #1189 "Http方式部署thread参数不起作用"
使用以下命令部署模型是，输入的thread参数不起作用，cpu使用率不超过400%：

原因是文件：
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_server/serve.py
中第433行中processes=4，并没有更新为用户的输入参数；

[2021-04-29 01:04] TeslaZhao commented on #1189
您好，感谢您的issue，我们会在下个版本改进

[2021-04-29 23:39] duolabmeng6 commented on #867
请问怎么解决的

[2021-04-30 00:04] JunKuangKuang opened #1195 "docker serarch 报404"
我想要尝试拉取docker镜像的内容，但是在访问了对应的链接之后，却是提示我404找不到资源
[code]

[2021-04-30 00:09] JunKuangKuang commented on #1195
我的系统是centos7，
`Linux iz20d333q744p1z 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

我准备拉取指定的版本来运行我已经做好的模型，但是拉取docker镜像一直失败

[2021-04-30 02:39] Amanda-Barbara opened #1196 "docker 容器无法启动"
我用的是ubuntu20.04系统，按照https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md教程输入一下指令，
$ docker run --gpus all -p 9292:9292 --name test -dit registry.baidubce.com/paddlepaddle/serving:latest-cuda10.2-cudnn8-devel
f2ad919b0f20069c696073ea35f6fd743771c0b9bcb9ebd5adba2969482bb952
$ docker exec -it test bash
Error response from daemon: Container f2ad919b0f20069c696073ea35f6fd743771c

[2021-04-30 07:15] zouxiaoshi commented on #1137
非常感谢。

[2021-04-30 07:15] #1137 closed, assigned to TeslaZhao

[2021-04-30 07:21] huangch1024 commented on #1177
解决了，是静态图和动态图模型训练的区别，建议官方文档说明一下

[2021-04-30 07:45] huangch1024 opened #1200 "Pipeline Serving 的RPC服务同时启动一个web服务器和RPC服务器，请问这里的web是uwsgi还是其他的什么？"

[2021-04-30 08:02] duolabmeng6 opened #1201 "请问可以部署ocr到阿里云函数计算吗 我这边提示错误不知道怎么解决"
···
{
  "errorMessage": "Unable to import module 'index'",
  "errorType": "ImportError",
  "stackTrace": [
    "ImportError: /code/.fun/root/usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required by /code/.fun/python/lib/python3.6/site-packages/paddle/fluid/core_avx.so)"
  ]
}
···

安装环境
···
fun install --runtime python3 --package-type pip install paddle-serving-clien

[2021-05-01 15:29] duolabmeng6 commented on #1201
已经解决了 但是镜像文件1.7g

[2021-05-06 02:54] HexToString commented on #1142
我猜你想要的可能是这个地方？
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_server/web_service.py#L224
仅供参考

[2021-05-06 03:04] HexToString commented on #1173
当您通过--name启动webService时，rpc的port并不是您设置的port，而是12000，如果12000被占用将顺延12001。
web服务的port才是您设置的port号，当web服务接收到您的http请求时，会自动转发给上述后台启动的rpc服务进行实际的预测，所以实际上web服务做了一个转发的事情。
下个版本我们会改进这个设计，使得更加清晰。

[2021-05-06 03:07] HexToString commented on #1196
请在您的docker run命令的最后加上 /bin/bash

[2021-05-06 03:13] HexToString commented on #1178
我猜测您的serving_ver_conf.prototxt也许也需要适配？

[2021-05-06 07:17] huangch1024 commented on #1200
![image](https://user-images.githubusercontent.com/31469777/117257119-1b2d5480-ae7e-11eb-9f54-a233c6c252f6.png)

[2021-05-06 08:55] Amanda-Barbara commented on #1196
@HexToString 可以了，多谢哈。

[2021-05-07 03:40] hysunflower commented on #1195
您好，尝试使用该文档所述的方法pull 镜像试试~  https://github.com/PaddlePaddle/Serving/blob/develop/README_CN.md

[2021-05-07 03:41] #1196 closed, assigned to nobody

[2021-05-07 03:58] lonelydancer opened #1202 "使用0.3.1跑plato模型出core报错。"
用paddle1.8.1训的model
paddle-serving版本是0.3.1

1.构造的数据的shape
这份数据在原生的python 预测端是可以正常进行。
![image](https://user-images.githubusercontent.com/548443/117394972-c0513700-af29-11eb-979d-dca56fb67c68.png)

报错信息
  File "/home/hupenglong/py37/lib/python3.7/site-packages/paddle/fluid/framework.py", line 2610, in append_op
    attrs=kwargs.get("attrs", None))
  File "/home/hupenglong/py37/lib/python3.7/site-pac

[2021-05-07 11:06] bjjwwang commented on #1202
嗯嗯 要不 升级成0.4.0版本
0.4.0的predict(feed={}, fetch=[], batch=True)
其中 feed接口传入一个dict就可以，需要确保每个value都是numpy array，直接reshape成图1 里面的大小
然后batch记的设置成True，代表这次传入的feed是一整个batch，不需要前面再加一个1.

[2021-05-07 11:52] lonelydancer commented on #1202
请问0.4.0对输入有lod tensor的支持是怎样的呢？
换完之后报错~, b并且是中间计算环节了，并不是输入的类型,
训练代码定义的是int64
https://github.com/PaddlePaddle/Knover/blob/plato-2/models/generator.py

step_idx = layers.fill_constant(
shape=[1], dtype="int64", value=0, force_cpu=True)
pre_ids = layers.array_read(array=ids, i=step_idx)

![image](https://user-images.githubusercontent.com/548443/117530984-bf480480-b012-11eb-9924-8ebb718fc5a0.png)

[2021-05-08 07:51] TeslaZhao commented on #1200
web服务是采用 gRPC-gateway实现的

[2021-05-08 07:54] TeslaZhao commented on #1201
镜像里有安装paddle组件吗，还是只安装了Serving?

[2021-05-10 06:04] lonelydancer commented on #1202
@bjjwwang 请帮忙看看呀。不知道是不是版本兼容的问题还是bug

[2021-05-12 13:44] erma0 opened #1216 "OCR的例子直接跑会报错，还有文档的一点小错误"
环境：Win10 X64，paddle2.0.2
1. 运行`python ocr_debugger_server.py gpu`会报错，因为例子中判断参数为GPU后仍旧引入了CPU库。。。
[code]
`ocr_debugger_server.py `代码
[code]
2. 程序支持paddle2.0，但提示某api即将弃用，且没有说api名字，建议更换api；另外Win10下提示touch命令出错，需要加上判断用其他命令，或者提前安装touch（`npm install touch-cli -g`）
[code]
3. OCR的readme中运行CPU和GPU版本用的都是同一个命令。。

这个里面有两处“启动服务”中命令都是这个问题，并没有使用GPU

[2021-05-13 06:54] Jeffrey98-AI opened #1220 "docker 镜像内无法检测到GPU"
提供的 registry.baidubce.com/paddlepaddle/serving:0.5.0-devel 这个镜像进去之后nvidia-smi ，bash: nvidia-smi: command not found，宿主机执行nvidia-smi是可以检测到的，另外试了其他的pytorch镜像也是没问题的

[2021-05-13 22:43] duolabmeng6 commented on #1201
安装了因为没有gcc所以运行不了~

[2021-05-14 02:44] TeslaZhao commented on #1220
您好，您使用的机器(GPU)、CUDA、docker版本能发一下吗？

[2021-05-14 07:56] zouxiaoshi opened #1226 "负载均衡"
您好：
通过如下命令启动RPC serivce 时， 是应用brpc 还是grpc？
[code]
如果是brpc，请问可否 用nginx进行负载。
刚接触brpc, 只知道可以在client端进行负载。
业务需要，像nginx那样集中式负载，所以想问问paddle serving有哪些负载模式。

大概场景是这样的：
好多台机器，每个机器若干服务，
对外只通过一个节点利用负载暴露服务

[2021-05-14 08:51] TeslaZhao commented on #1226
您好，运行命令对外暴露gRPC接口（python -m paddle_serving_server.serve --model uci_housing_model --thread 10 --port 9292 ）。RPC的负载均衡在Client上做，当然要做集中式负载如反向代理层或gateway也可以做到。Serving目前不提供集中式NG负载均衡，网上有很多教程通过Nginx实现gRPC服务的负载均衡（https://www.jianshu.com/p/611d586f58cd）。Serving V0.6版本机房发布基于K8S的安全网关，采用KONG做的，可以参考，下周会提交代码和文档。

[2021-05-17 01:41] zouxiaoshi commented on #1226
非常感谢。

[2021-05-17 01:41] #1226 closed, assigned to TeslaZhao

[2021-05-17 11:50] ouyangshixiong opened #1233 "请教save_dygraph_model问题"
## 环境：
(pd) ➜  pip list | grep paddle
paddle-serving-client 0.5.0
paddle-serving-server 0.5.0
paddlepaddle          2.0.2
## 代码：
resnet50 = paddle.vision.models.resnet50
model = resnet50(num_classes=3)
model = paddle.Model(model)
model.prepare(optimizer=paddle.optimizer.Momentum(learning_rate=0.001, momentum=0.9, parameters=model.parameters()),
                loss= nn.CrossEntropyLoss(),

[2021-05-19 01:01] ouyangshixiong opened #1251 "官方的Docker 版本报错"
直接上图
![企业微信截图_76e6c33a-e32e-49f7-a56c-37df636540e6](https://user-images.githubusercontent.com/2086862/118741440-d55e8c00-b880-11eb-8a1c-b845e52016db.png)

[2021-05-20 03:05] ouyangshixiong commented on #1233
找到[其他](https://aistudio.baidu.com/aistudio/projectdetail/1458673)方法绕过这个坑。

[2021-05-20 03:05] #1233 closed, assigned to nobody

[2021-05-20 08:49] TeslaZhao commented on #1251
docker run -p 9292:9292 --name test -dit registry.baidubce.com/paddlepaddle/serving:0.5.0-devel bash

少加一个bash

[2021-05-21 08:14] #1097 closed, assigned to TeslaZhao, bjjwwang

[2021-05-25 03:23] BraveLii commented on #1122
请问下单进程模式支持多个模型的推理么？从infer.cpp来看，TaskExecutor是单例。

[2021-05-25 08:15] TeslaZhao commented on #1216
使用v0.6.1版本或develop版本已经修复该问题

pip install paddle-serving-client==0.6.1
pip install paddle-serving-server==0.6.1 # CPU
pip install paddle-serving-app==0.6.1
pip install paddle-serving-server-gpu==0.6.1.post102     # GPU with CUDA10.2 + TensorRT7
pip install paddle-serving-server-gpu==0.6.1.post101      # GPU with CUDA10.1 + TensorRT6
pip install paddle-serving-server-gpu==0.6.1.post11        # GPU w

[2021-05-25 09:00] zouxiaoshi opened #1263 "client_type 为 local_predictor 或 grpc时报错"
如下配置文件中 client_type 为 local_predictor 或 grpc时报错
[code]

环境：
paddle-serving-app        0.2.0
paddle-serving-client     0.5.0
paddle-serving-server-gpu 0.5.0.post10
paddlepaddle-gpu          2.0.1.post100

模型：
[code]

报错：
**client_type 为grpc时 报错信息如下**
[code]

**local_predictor时报错信息**
[code]

**源码如下**
[code]

**ppocr_keys_v1.txt**
wget https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.1/ppocr/

[2021-05-26 13:00] TeslaZhao commented on #1263
您好，参考Serving  v0.5版本https://github.com/PaddlePaddle/Serving/tree/v0.5.0

需要将paddle-serving-app 升级到0.3.0或0.3.1
pip install paddle-serving-app==0.3.0

[2021-05-26 13:30] #1251 closed, assigned to TeslaZhao

[2021-05-27 09:32] Ruminateer opened #1265 "uci_housing和lac例子跑不通"
安装环境
[code]

跑起镜像后container内curl
[code]
server 部分 log
[code]

[2021-05-27 09:40] Ruminateer commented on #1265
lac的例子会报不一样的错
[code]
[code]
server 部分log
[code]

[2021-05-27 12:09] zhangjun commented on #1265
服务正常起来了吗   查看下，比如http端口   另外看下是否有使用代理

[2021-05-27 12:43] Ruminateer commented on #1265
服务正常起来了啊   这个报错是 `500 Internal Server Error`

[2021-05-28 05:42] zhangjun commented on #1265
[code]
这个显示serving服务可能是没正常启动 看下12000端口serving服务是否正常

[2021-05-31 07:55] Jnoee commented on #1265
我也是照着首页文档，例子跑不通，HTTP服务，一样的500错误。而且按文档上 python -m paddle_serving_server.serve --model uci_housing_model --thread 10 --port 9292 --name uci 这行跑不起来，说缺少 paddle_serving_server 模块，命令换成 python3 才运行起来的，然后报的错跟楼主提的一样的。
很受挫，镜像5.8G，下载老半天，按着文档一步一步做到最后还跑不起来。

原本是想用DJL跑的，DJL那边也是例子跑不起来，资料又少，然后换到serving来试试，结果还是没跑通例子...
建议开发组核对文档，并做好测试啊，对于刚接触的新学者，例子都跑不通，印象多不好，会感觉很不靠谱。

[2021-05-31 08:03] TeslaZhao commented on #1265
您好，感谢您的建议！与上个版本相比，Paddle Serving支持的python的最低版本由python2.7升级到pythong3.6，因此版本中有些示例的启动方式没有及时修改，我们会统一修改。

[2021-06-04 03:35] zouxiaoshi opened #1273 "pipeline server 重写 process 通过grpc调用其他模型"
想通过重写process 函数，用grpc 调用其他模型，可否给个例子。

[2021-06-07 02:49] Jnoee commented on #1265
能跟进下这个问题吗？我根据新的文档又重试了一次，还是跟上面一样的错误，HTTP报500错误。后端服务的报错跟楼主报的一样。

[2021-06-07 03:49] zouxiaoshi commented on #1263
试了，还是不行。
我后来用了 [generate_runtime_docker.sh](https://github.com/PaddlePaddle/Serving/blob/develop/tools/generate_runtime_docker.sh) 去生成相应环境，也不行。 【DEVELOP分支里的脚本】
[code]
随后生成的docker镜像中，缺少paddlepaddle_gpu，看了下源码，https://github.com/PaddlePaddle/Serving/blob/a6df1730968c1107434919a236280a4cfe728b9e/tools/dockerfiles/build_scripts/install_whl.sh#L68
这个地址有问题，导致无法下载。 【构建镜像时,proxy使不了，报错，给删除了，不知道是不是proxy删除后导致

[2021-06-07 08:43] zouxiaoshi commented on #1263
我又试了下 https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/pipeline/PaddleDetection/yolov3
这次，当client 为 brpc 和 local_predictor时，可用。
client grpc时 initialize client 会报错
[code]

随后，我自己训了个yolov3 模型，然后，无论client是什么都报错。。。。[local_service_handler is None]
[code]

现在就感觉 pipeline service 好玄学。。。

对于grpc/brpc的使用场景有些复杂了，需要启动独立的Server，并且异常信息不方便调试。对这种问题，我们再完善一下文档，再提升一下易用性。

[2021-06-07 08:56] TeslaZhao commented on #1273
https://github.com/PaddlePaddle/Serving/blob/develop/python/pipeline/pipeline_client.py#L96

您好，Pipeline模式支持Rpc模式的，示例参考https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/pipeline/imdb_model_ensemble

[2021-06-08 09:28] TeslaZhao commented on #1263
您好，您遇到问题我来详细解答一下：

1.镜像选择：
CPU:  docker pull registry.baidubce.com/paddlepaddle/serving:0.6.0-devel
GPU: nvidia-docker pull registry.baidubce.com/paddlepaddle/serving:0.6.0-cuda10.2-cudnn8-devel

2.安装，参考每个tag上首页的推荐的server、client、app的匹配关系安装对应版本。
在v0.6.0 版本下：
pip3 install paddle-serving-client==0.6.0
pip3 install paddle-serving-server==0.6.0 # CPU
pip3 install paddle-serving-app==0.6.0
pip3 install

[2021-06-08 09:34] TeslaZhao commented on #1263
对于OCR示例中max_batch_size设置和OCR repo里不同，其实2种情况都经过测试的，是针对shape维度很大图片的特定优化（max_batch_size = 6），在图片偏小的场景max_batch_size =  len(dt_boxes)效果更好
`max_batch_size = 6  # len(dt_boxes)`
https://github.com/PaddlePaddle/PaddleOCR/blob/84445cc4732ccfb9c8e655e11f5f2961faf4074e/deploy/pdserving/web_service.py#L88

[2021-06-08 09:42] TeslaZhao commented on #1265
您好，我们已经在复现问题中，请稍等

[2021-06-08 10:28] TeslaZhao commented on #1265
咨询一下，你们使用的场景是mac主机上使用Docker镜像吗？ @Jnoee @Ruminateer

[2021-06-08 14:33] Ruminateer commented on #1265
我用的是windows上的docker desktop  然后docker build一楼的那个docker file, 按我的理解docker是window还是mac应该没什么区别

[2021-06-09 02:05] Jnoee commented on #1265
ubuntu server 20.04
Docker version 20.10.6, build 370c289

[2021-06-09 09:07] okooo5km opened #1276 "pipline 部署 cascade 模型 http 分析了多张图像后报 Segmentation fault"
如题，使用 pipline 的方式部署了 cascade 服务，使用 http 接口进行图像预测，使用多线程方式调接口，分析了多张图像之后出现段错误。

# 测试环境

- CUDA 11.2
- 显卡：RTX 3090
- python 3.7.0
- PaddlePaddle 2.1.0.post112
- paddle-serving-server-gpu 0.6.0.post11
- paddle_serving_app 0.6.0

# web_service.py

[code]

# config.yaml

[code]

# 错误信息

[code]

[2021-06-09 09:22] TeslaZhao commented on #1265
windows版本是windows 10吗，docker desktop版本是多少？ @Ruminateer

[2021-06-09 09:24] TeslaZhao commented on #1276
您好，今晚我复现一下。图片是公共数据集吗？

[2021-06-09 09:47] okooo5km commented on #1276
好的，我训练的模型是自训练的，不知道paddle model zoo 中 cascade 模型是否可以复现，没测试！

[2021-06-09 12:33] TeslaZhao commented on #1276
您好，我跑通了Serving目录下cascade示例在Pipeline上部署，你训练的模型是在Paddle 2.1上训练的吗？从报错信息上看是slice op运行报错，你看一下PipelineServingLogs/pipeline.log.wf里是否有更多的错误信息。打印一下image名称，image_shape， scale_factor，看下是否在特定图片报错，image_shape， scale_factor是否正确？

[2021-06-09 15:38] Ruminateer commented on #1265
是win10
![image](https://user-images.githubusercontent.com/31800808/121385462-b634b500-c97b-11eb-9e61-af2536e90525.png)

[2021-06-10 04:00] TeslaZhao commented on #1265
您好，问题已经定位，已经修复已提交PR，正在过CI，预计今天会发布新版本。

[2021-06-11 01:16] okooo5km commented on #1276
感谢您的回复，在您的提示下，找到了原因，是 `web_service.py` 中图像预处理的 **Resize** 参数的问题，写反了：

[code]

改正之后：

[code]

可以正常稳定运行了，再次感谢 🤙🏻🤙🏻🤙🏻

[2021-06-11 08:24] okooo5km commented on #1276
@TeslaZhao 您好，我这边又进行了批量图像分析测试，发现有一张图分析的时候仍然会导致段错误，看图像没什么异常，不知道为什么只有这一张图像有问题，单独只使用这一张图像调分析接口，返回的错误是：

[code]

打印了下 `python3.7/site-packages/paddle_serving_app/reader/image_reader.py` 中 (第 **344** 行) `def _get_bbox_result(self, fetch_map, fetch_name, clsid2catid)` 方法中 `fetch_map`：

[code]

确实是没有 `'save_infer_model/scale_0.tmp_1.lod'`，尝试打印能正常分析图像的  `fetch_map`:

[code]

[2021-06-15 02:05] Jnoee commented on #1265
新版本是指0.6.1吗？还没有发布？

[2021-06-16 02:18] TeslaZhao commented on #1276
您好，从错误信息上看缺少模型结果缺少save_infer_model/scale_0.tmp_1.lod，您可以直接修改一下python3.7/site-packages/paddle_serving_app/reader/image_reader.py中_get_bbox_result的代码，判断lod存在在取值。至于为什么会出现lod不存在的情况，我们要和模型的同学反馈一下，再决定如何修改。

[2021-06-16 13:11] bjjwwang commented on #1265
0.6.2已发布

[2021-06-17 09:26] Jnoee commented on #1265
0.6.2 可以跑通了

[2021-06-17 09:27] TeslaZhao commented on #1265
@Jnoee @Ruminateer 感谢反馈问题~

[2021-06-22 08:00] BraveLii commented on #1122
请问下线程模式怎么做到公用一个单引擎的呢？
我看到代码里，所有的engine初始化都会去设置TaskExecutor，而TaskExecutor是一个单例，这样不会出问题么？

[2021-06-22 13:15] BraveLii opened #1285 "多模型共用TaskExecutor的疑问"
ReloadableInferEngine::proc_initialize中使用TaskExecutor的是个单例，那么多个模型会一次去设置、启动同一个TaskExecutor；
在调用schedule()之后，TaskExecutor如何确定去调用哪个模型呢？

[2021-06-22 13:36] HexToString commented on #1285
你问的问题刚好就是我最近要改的地方。
感觉你是一个资深的开发者，预计一周之内，这个地方会改为可以满足多模型的设计，敬请期待。
如果你感兴趣的话，同时邀请你加入我们的核心开发者群。

[2021-06-24 10:59] Ruminateer commented on #1265
@TeslaZhao 改用0.6.2-devel后Lac的例子还是报错
[code]
[code]
[code]

[2021-06-25 03:43] TeslaZhao commented on #1265
您好，这里确实有一个Bug（当prototxt的feed var和alias name不一致的情况），近期会修复。

您可以先使用这种方式启动服务，验证是OK的
python3 lac_web_service.py lac_model/ lac_workdir 8800

[2021-06-25 06:48] TeslaZhao commented on #1265
lac模型要对输入参数做转换，尤其是使用http方式请求，一定要重写lac op的前后处理（参考lac_web_service.py 启动方式）。不能直接使用命令方式运行（python3 -m paddle_serving_server.serve --model ${MODEL}_model --port 8080 --name ${MODEL} ）。

[2021-06-25 10:23] Ruminateer commented on #1265
@TeslaZhao 我换0.6.2-devel试了下uci的那个例子也还是报错, 报的错稍微有点不一样, 这个难道也要前后处理么..
[code]
[code]
[code]

[2021-06-26 15:39] Ruminateer commented on #1265
[code]

[2021-06-27 12:59] pipishaw opened #1287 "windows下docker运行serving的imagenet示例，docker里面HTTP调用成功，宿主机windowsHTTP调用连不上"
windows下docker运行serving的imagenet示例，docker里面HTTP调用成功，宿主机windowsHTTP调用连不上
这种情况要怎么处理？

[2021-06-28 06:42] bjjwwang commented on #1287
是不是 没有对外暴露端口
Windows docker的启动命令有吗

[2021-06-28 14:10] pipishaw commented on #1287
暴漏了端口，用IP+端口不行，用localhost+端口可以访问。

有没有yolov3在windows下能跑的例子，windows跑RPC服务跑不起来，web服务的没看到示例。

[2021-06-29 02:42] Jnoee commented on #1265
你试下这个，我的OK的。

FROM registry.baidubce.com/paddlepaddle/serving:0.6.2-devel

RUN pip3 install paddle-serving-server==0.6.2 paddle-serving-app==0.6.2 paddle-serving-client==0.6.2 -i https://mirrors.aliyun.com/pypi/simple/

ENV MODEL uci_housing

RUN wget --no-check-certificate https://paddle-serving.bj.bcebos.com/${MODEL}.tar.gz && tar -xzvf ${MODEL}.tar.gz

CMD python3 -m paddle_serving_server.serve

[2021-06-29 02:48] Jnoee commented on #1265
我换成gpu的镜像测试，安装serving报错。

Dockerfile：

FROM registry.baidubce.com/paddlepaddle/serving:0.6.2-cuda11-cudnn8-devel
RUN pip3 install paddle-serving-server-gpu==0.6.2.post11 paddle-serving-app==0.6.2 paddle-serving-client==0.6.2 -i https://pypi.tuna.tsinghua.edu.cn/simple
...

报错信息：
Sending build context to Docker daemon  4.096kB
Step 1/5 : FROM registry.baidubce.com/paddlepaddle/serving:0.6.2-cuda11-

[2021-06-29 03:08] TeslaZhao commented on #1265
您好，从错误信息看'socket.timeout: The read operation timed out'是网络问题，您是否开启代理？重新试一下稳定复现吗？

Traceback (most recent call last):
File "/usr/local/lib/python3.6/site-packages/pip/_vendor/urllib3/response.py", line 438, in _error_catcher
yield
File "/usr/local/lib/python3.6/site-packages/pip/_vendor/urllib3/response.py", line 519, in read
data = self._fp.read(amt) if not fp_closed else b""
File "/usr/local/lib/

[2021-06-29 03:11] TeslaZhao commented on #1265
您好，从您的错误信息看，您安装的版本是v0.6.1版本，需要指定版本重新安装一下：
RUN pip3 install paddle-serving-server==0.6.2 paddle-serving-app==0.6.2 paddle-serving-client==0.6.2 -i https://mirrors.aliyun.com/pypi/simple/
@Ruminateer

[2021-06-29 03:13] Jnoee commented on #1265
稳定重现，试过好多次了，网络没有问题。

[2021-06-29 03:28] TeslaZhao commented on #1265
刚刚QA测试了一下，发现是清华源有问题，使用阿里云代理源正常。

pip3 install paddle-serving-server-gpu==0.6.2.post11 paddle-serving-app==0.6.2 paddle-serving-client==0.6.2 -i https://mirrors.aliyun.com/pypi/simple/

[2021-06-29 04:28] Jnoee commented on #1265
是的，换阿里源可以了。

[2021-06-30 12:44] pipishaw commented on #1287
pipeline下的列都卡在这不动了，客户端调用也没反应
λ a325bf88bcc2 /home/Serving/python/examples/pipeline/PaddleDetection/yolov3 {v0.6.0} python web_service.py
/usr/local/lib/python3.7/site-packages/paddle_serving_server/pipeline/pipeline_server.py:341: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  conf

[2021-06-30 15:55] Karenlyw opened #1288 "部署ernie-tiny，server端报错维度不匹配"
使用paddlehub训练好模型后，得到静态图参数和模型，使用paddle_serving_client.convert 转化成inference model 并且得到config。config长这样：
feed_var {
  name: "input_ids"
  alias_name: "input_ids"
  is_lod_tensor: false
  feed_type: 0
  shape: 256
  shape: 1
}

feed_var {
  name: "position_ids"
  alias_name: "position_ids"
  is_lod_tensor: false
  feed_type: 0
  shape: 256
  shape: 1
}
feed_var {
  name: "segment_ids"
  alias_name: "s

[2021-07-01 02:01] lonelydancer commented on #1202
@bjjwwang 你好，我使用paddle2.1.0重新训练了model，并且paddle serving用了最新版，但是依然报错。
File "/home/Knover2/knover/models/unified_transformer.py", line 460, in infer
20599       return self.generator.inference(self, inputs, outputs)
20600     File "/home/Knover2/knover/modules/generator.py", line 217, in inference
20601       topk_indices = layers.lod_reset(topk_indices, pre_ids)
20602     File "/usr/local/python3.7.

[2021-07-01 06:21] Karenlyw commented on #913
您好 请问这个问题解决了吗 我也报了同样的错

[2021-07-02 06:26] TeslaZhao commented on #1288
您好，您使用哪种Serving部署模式（python webservice, python pipeline, 还是命令行启动），以及使用的CPU/GPU 信息？从您的报错信息看是输入数据的维度有问题。

[2021-07-02 07:56] Karenlyw commented on #1288
您好，非常感谢回答，目前数据维度的问题已解决。有一个新的问题，如果client.predict被多进程调用，是应该使用同一个client还是每次调用都建一个新的client呢？涉不涉及client的回收之类的呢？另外运行程序会输出
E0702 03:33:28.017952 10012 factory.h:183] RAW: Insert duplicate with tag: WeightedRandomRender
I0702 03:33:28.017952 10012 abtest.h:67] RAW: Factory has been registed: WeightedRandomRender->EndpointRouterBase.
E0702 03:33:28.270856 10012 variable.cpp:177] Already exposed `general_mo

[2021-07-02 07:56] Karenlyw commented on #1288
您好，非常感谢回答，目前数据维度的问题已解决。有一个新的问题，如果client.predict被多进程调用，是应该使用同一个client还是每次调用都建一个新的client呢？涉不涉及client的回收之类的呢？另外运行程序会输出
E0702 03:33:28.017952 10012 factory.h:183] RAW: Insert duplicate with tag: WeightedRandomRender
I0702 03:33:28.017952 10012 abtest.h:67] RAW: Factory has been registed: WeightedRandomRender->EndpointRouterBase.
E0702 03:33:28.270856 10012 variable.cpp:177] Already exposed general_mod

[2021-07-02 07:56] Karenlyw commented on #1288
您好，非常感谢回答，目前数据维度的问题已解决。有一个新的问题，如果client.predict被多进程调用，是应该使用同一个client还是每次调用都建一个新的client呢？涉不涉及client的回收之类的呢？另外运行程序会输出
E0702 03:33:28.017952 10012 factory.h:183] RAW: Insert duplicate with tag: WeightedRandomRender
I0702 03:33:28.017952 10012 abtest.h:67] RAW: Factory has been registed: WeightedRandomRender->EndpointRouterBase.
E0702 03:33:28.270856 10012 variable.cpp:177] Already exposed general_mod

[2021-07-02 08:05] TeslaZhao commented on #1288
不要每次调用创建client，而是创建一个client数组并与进程绑定，即每个进程内使用唯一的client

[2021-07-02 08:29] Karenlyw commented on #447
您好，请问多进程，每个进程创建一个client的话，可以支持并发嘛

[2021-07-02 08:30] Karenlyw commented on #1288
好的，我试一下，非常感谢！

[2021-07-02 08:38] Karenlyw commented on #1288
想追问下，如果每次调用都创建的话会有什么问题吗

[2021-07-02 08:43] TeslaZhao commented on #1288
慢

[2021-07-02 09:09] HexToString commented on #1285
目前已经新增了支持多个模型的异步任务框架。详情见develop分支。

[2021-07-02 13:29] #1287 closed, assigned to bjjwwang

[2021-07-12 01:33] ghost opened #1295 "Pipeline Serving 的RPC服务启用GRPC多编程语言支持时，无法使用GPU"
如题，使用 paddle serving的RPC多语言模式部署RPC服务，使用 java调用进行图像预测RPC接口，预测图像的时候不走GPU。

### 测试环境
CUDA 11.2
显卡：RTX 3090
python 3.6.0
paddle-serving-server-gpu==0.6.0.post102
paddle-serving-client==0.6.0
paddle-serving-app==0.6.0
paddlepaddle-gpu==2.1.0

### 测试命令
**服务端**
`python3 -m paddle_serving_server.serve --model yolov4_model --use_multilang --port 9393 --gpu_ids 0`

客户端代码使用
`Serving-0.6.0/java/examples/src/m

[2021-07-12 03:07] HexToString commented on #1295
分分钟给你修复。

[2021-07-12 04:03] HexToString commented on #1295
为了不影响您使用，请您在paddle_serving_server的安装路径下，找到server.py文件，直接修改def _prepare_engine函数，在其函数体第一行加上，self.device = device这句话即可。
感谢您对我们框架的支持。给您的使用带来不好的体验，抱歉。
此外，这个问题已经在develop分支修复，下次更新brpc也会有更好的一些性能提升，期待您的使用。

[2021-07-12 06:45] ghost commented on #1295
@HexToString
这样修改之后确实是会变成GPU模式启动，但调用还是会出现错误。

Java端会报错client是空指针
<img width="1094" alt="1" src="https://user-images.githubusercontent.com/26927826/125242965-fd69e900-e31f-11eb-9e57-ce3da5a9a125.png">

服务端日志比较有意义：
首先是日志显示使用了GPU
![2](https://user-images.githubusercontent.com/26927826/125243103-3609c280-e320-11eb-80f3-a6ad899ac4fe.png)

其次是服务端会报**超时错误**
![3](https://user-images.githubusercontent.com/

[2021-07-12 09:09] ghost commented on #1295
@HexToString
您看这个问题能不能继续解决下？

[2021-07-12 09:22] HexToString commented on #1295
目测是超时时间设置的问题，第一次预测时间可能会比较慢，而且每台机器可能都不一样，建议
client.set_rpc_timeout_ms(100000)
没准能有惊喜？

[2021-07-12 10:08] ghost commented on #1295
@HexToString
还是不行，感觉不像是超时问题，像是RPC的问题，没找到对应的endpoint

Java端设置超时时间
<img width="970" alt="1" src="https://user-images.githubusercontent.com/26927826/125270232-09fc3a80-e33c-11eb-8b8f-8ac6ea223e7b.png">

服务端可以看到超时时间已经设置为新的阈值，但还是会报超时错误
![Snipaste_2021-07-12_18-08-10](https://user-images.githubusercontent.com/26927826/125270386-33b56180-e33c-11eb-973b-03ff9bc08520.png)

[2021-07-12 10:36] HexToString commented on #1295
所以，您的问题是，使用CPU可以预测，但是使用GPU启动Server后预测不了？

[2021-07-12 10:53] ghost commented on #1295
我的目的是使用GPU启动Server，然后使用Java通过RPC调用Server预测
 【客户端（java）】-------RPC------【服务端（paddle serving）】
用java的paddle serving client 通过RPC方式调用paddle serving进行服务化封装的模型进行预测，而且预测的模型使用GPU资源。

最开始问题状况是
执行
`python3 -m paddle_serving_server.serve --model yolov4_model --use_multilang --port 9393 --gpu_ids 0`
启动服务端，然后java客户端可以调用，但是服务端的模型未使用GPU资源

然后根据
https://github.com/PaddlePaddle/Serving/issues/1295#issuecomment-87

[2021-07-12 11:05] HexToString commented on #1295
我仔细看了下，您需要改的大概是另外一个地方的rpc_timeout_ms
搜索paddle_serving_client的安装目录下的client.py文件，有两处都需要修改一下。
        self.rpc_timeout_ms = 20000，将这句改为1000000

[2021-07-12 11:08] wanghyzyyt commented on #1295
好，明天早上我试下。

[2021-07-12 12:07] HexToString commented on #1295
好的，按理说应该是这里的问题，如果还是不行的话，你试一下develop分支。
这个分支不需要你改任何代码即可预测。

[2021-07-13 00:36] ghost commented on #1295
@HexToString
参考 https://github.com/PaddlePaddle/Serving/issues/1295#issuecomment-878186742
修改以后，java客户端可以成功调用paddle server端了，是个好消息。

但是仍存在2个问题：
1、paddle_serving_server.serve启动后，java端第一次调用时间很长（4-5分钟）
2、后续调用的时间会变短，但调用时间平均在1s左右
<img width="1006" alt="1" src="https://user-images.githubusercontent.com/26927826/125373229-5173dc80-e3b7-11eb-8a46-6eb3ddf75637.png">
从GPU使用上看，感觉像没有使用GPU，比较奇怪
![2](https://us

[2021-07-13 02:51] HexToString commented on #1295
感谢您持续的反馈。
您的意见对我而言非常重要，推荐您加我微信，sqzz8899，我们更高效的沟通。

[2021-07-13 03:08] learningpro opened #1298 "v0.6.2按照文档部署pipeline测试的时候卡住了【CPU版】"
使用的版本是0.6.2分支，房价预测fit_a_line顺利通过，但是测试pipeline ocr的时候出现问题，启动web_service.py后停在了  start proxy service；启动pipeline_http_client.py 时候无任何输出，挂在了那儿不动了，无法完成测试
![image](https://user-images.githubusercontent.com/1081377/125383797-96553e80-e3ca-11eb-8a92-08d6c620b479.png)

host系统是Mac OS 11.4， docker版本是 docker desktop 3.3.3(64133)，使用的官方镜像 registry.baidubce.com/paddlepaddle/serving:0.6.2-devel，dockerfile中安装了各种相关

[2021-07-13 07:02] lizhangling1 opened #1299 "目标检测 如何实现http请求"
给予 PaddleDetection 进行的目标检测训练，部署serving，但只找到了通过RPC形式进行测试，请问怎么实现http形式？

尝试用curl:
 curl -H "Content-Type:application/json" -X POST -d '{"feed":[{"image":  "beizi608.jpeg”}], "fetch":["save_infer_model/scale_0.tmp_1"]}' http://127.0.0.1:9292/detection/prediction

抛出错误：
[172.17.0.2:9292][E1002]Fail to find method on `/detection/prediction'

[2021-07-13 08:33] iwnl-chr1s opened #1300 "部署serving的error"
调用paddle_serving_server.serve时候出现error
可能是miss了哪个步骤吧，无从下手 :(

![image](https://user-images.githubusercontent.com/56196194/125419110-a3505b26-8078-4a0e-9f46-c02b756b70aa.png)

[2021-07-13 09:03] HexToString commented on #1295
相关问题已单独回复，两者特性不同。
下个版本我们会升级java等其他语言的性能，敬请期待。

[2021-07-13 09:38] #1295 closed, assigned to HexToString

[2021-07-13 09:40] Jnoee opened #1301 "用docker的方式部署能支持加载多个模型吗？"
用docker的方式部署能支持加载多个模型吗？
怎么做？有没有例子？

[2021-07-13 09:42] Jnoee opened #1302 "有运行时镜像吗？devel镜像太大了"
带cuda的镜像14G，不带cuda的镜像5.8G。
有没有精简的镜像？只需要支持加载模型运行的最简镜像。

[2021-07-14 08:09] Karenlyw opened #1306 "pipeline客户端一直报错transport is closing"

[2021-07-14 08:09] lizhangling1 opened #1307 "如图，目标检测，模型直接预测没问题，部署成serving，通过rpc访问，返回结果，框偏了"
![image](https://user-images.githubusercontent.com/55176464/125586930-14342a89-db54-4fe9-95d0-9c2470618a99.png)

[2021-07-14 08:21] HexToString commented on #1306
可否给一些报错的截图，还有一些您运行的版本信息呢？
我们也好尽快帮您定位问题。

[2021-07-14 08:22] TeslaZhao commented on #1300
您好，请补充一下您安装serving的版本，机器环境，模型，服务启动的方法

[2021-07-14 08:24] TeslaZhao commented on #1301
不支持单个Serving服务加载多个模型，但可以启动多个Serving服务

[2021-07-14 08:25] bjjwwang commented on #1302
有的 https://github.com/PaddlePaddle/Serving/blob/develop/doc/DOCKER_IMAGES.md#attachment-the-list-of-all-the-docker-images

最下面的表格

[2021-07-14 08:27] bjjwwang commented on #1307
这个一般得看看 预处理结束 ，预测结束 ，和后处理结束 能否与 本地预测保持一致。
检查顺序是从前到后，一般来说 很可能是前处理的逻辑和本地预测有diff

[2021-07-14 08:28] bjjwwang commented on #1299
https://github.com/PaddlePaddle/Serving/tree/v0.6.0/python/examples/pipeline/PaddleDetection/faster_rcnn

[2021-07-14 08:30] HexToString commented on #1301
支持的，目前有三种做法供您选择
1、如果您使用的Pipeline模式部署，那么目前就支持多模型。只需要修改配置文件即可，见https://github.com/PaddlePaddle/Serving/blob/v0.6.0/python/examples/pipeline/ocr/config.yml
2、如果您使用的是grpc或者http方式，可以通过两次请求，来实现多模型串联，但如您可见，会对性能有一定的影响，如想使用此方式请参考https://github.com/PaddlePaddle/Serving/tree/v0.6.0/python/examples/ocr
该部分的实现方式即是在一个模型的返回处理时启动另外一个服务。
3、目前在develop分支，我们已经支持了Server端直接加载多个模型，该部分功能会在下个版本发布，目前也可以使用，但develop分支会随时合入代码

[2021-07-14 08:30] TeslaZhao commented on #1298
您好，您可以查看PipelineServingLogs/pipeline.log.wf 看看是否有错误信息

[2021-07-14 08:52] Karenlyw commented on #1306
目前来看preprocess是跑完了 但是不进到postprocess函数

版本：
paddle-serving-app        0.6.0
paddle-serving-client     0.6.0
paddle-serving-server-gpu  0.6.0.post102
paddlehub                 1.8.0
paddlepaddle-gpu          2.1.0

config：
 http_port: 18080  # HTTP 服务的端口号，若该值小于或等于 0 则不开启 HTTP 服务，默认为 0
op:
   ivane:
        timeout: 1000 # 预测超时时间，单位为毫秒。默认为 -1 即不超时
        retry: 1 # 超时重发次数。默认为 1 即不重试
        batch_si

[2021-07-14 09:14] Hengmen opened #1310 "如何导出.proto文件？"
使用https://github.com/PaddlePaddle/Serving/blob/v0.6.0/doc/SAVE_CN.md中的说明
成功保存用于Paddle Serving的模型，已可以正常使用Python客户端与服务端的模型进行通信，得到识别结果。

现希望用C++编写另外的客户端，要求高并发，高效的通信，选择方式使用bRPC进行通信。
bRPC需要.prtot文件进行ProtoBuf编码，但是导出文件中只有.prototxt文件，没有.prtot文件。.prototxt文件中包含的信息少于.prtot文件，我无法从.prototxt文件导出.prtot文件。

我现在的问题是缺少.prtot文件，无法使用bRPC进行通信。

[2021-07-15 01:29] iwnl-chr1s commented on #1300
测试用例跑出来了！
这个issue，我是从“python”改用“python3” 就没了
后来也出现了跟issue#1265的同样的error，细读底下各位好大哥的讨论，用0.6.2的version就搞定了
“pip3 install paddle-serving-server==0.6.2 paddle-serving-app==0.6.2 paddle-serving-client==0.6.2 -i https://mirrors.aliyun.com/pypi/simple/”
    劳烦了>.<

[2021-07-15 01:42] HexToString commented on #1310
您好，模型中是不包含proto文件的。
我想您可能对两者的概念理解有些偏差。
prototxt其实只是一个模型输入信息的集合，如果你高兴完全可以用txt存储。
而proto是规定了rpc传输的数据交换格式，类似于http通信中的json。
在我们的框架代码中，已经包含了proto，约定好了格式，所以您不需要再定义proto，见
https://github.com/PaddlePaddle/Serving/blob/v0.6.0/core/general-server/proto/general_model_service.proto
另外，目前的python/examples 路径下的大部分示例，其实都是python通过pybind方式调用C++的brpc客户端发起的访问，如果您跑的示例是这个，您大可不必再编写C++ brpc Client，它只是多了一道pybind的调用耗时与数据的拷

[2021-07-15 01:45] HexToString commented on #1306
https://blog.csdn.net/liangzhiyang/article/details/104674930
看看这个文章是否能解决您的问题。

[2021-07-15 01:47] HexToString commented on #1300
不客气。
有任何问题，欢迎随时来提问

[2021-07-15 07:42] Jnoee commented on #1301
好的，期待新版本。

[2021-07-15 08:06] gss-bai opened #1311 "serving部署faster rcnn模型出错"
infer_cfg.yml文件如下：
use_python_inference: false
mode: fluid
draw_threshold: 0.5
metric: COCO
arch: RCNN
min_subgraph_size: 40
with_background: true
Preprocess:
- is_channel_first: false
  is_scale: true
  mean:
  - 0.485
  - 0.456
  - 0.406
  std:
  - 0.229
  - 0.224
  - 0.225
  type: Normalize
- interp: 1
  max_size: 1333
  target_size: 800
  type: Resize
  use_cv2: true
- channel_first: true
  to

[2021-07-15 08:59] Hengmen commented on #1310
谢谢您的解释，我先理解您提供的网页中的内容。

[2021-07-15 11:53] Jeffrey98-AI opened #1312 "crnn inference模型转 server 模型没有ctc_greedy_decoder_0.tmp_0"
inference模型转 server 模型没有client 文件夹里的prototxt 配置文件ctc_greedy_decoder_0.tmp_0
![baidu1](https://user-images.githubusercontent.com/18739799/125783741-fefc256e-670a-4d4f-8160-e8b9b0a4f170.png)
![baidu2](https://user-images.githubusercontent.com/18739799/125783783-3da3049b-16b7-4004-aaa5-7aa230e8143e.png)

上面是百度提供的转换好的server模型，下面是训练的模型转换为server模型生成的prototxt 文件。
在预测的时候会提示没有对应的key
报错地址是 /usr/local/lib/py

[2021-07-16 01:24] Jnoee commented on #1302
runtime镜像也很大，跟devel没啥差别呀：
registry.baidubce.com/paddlepaddle/serving   0.6.2-cuda11-py38-runtime   600adaa64afa   3 weeks ago    13.7GB
registry.baidubce.com/paddlepaddle/serving   0.6.2-cuda11-cudnn8-devel   f07b3f6d4645   2 months ago   14GB

[2021-07-16 02:53] Nick198903 commented on #1307
解析结果的代码有bug，自己写一个即可

[2021-07-16 09:10] dianziMAN opened #1313 "pipeline serving 方式部署模型是否支持模型加解密"
我查看了 Serving/python/examples/encryption/ 这个关于模型加解密的例子，请问采用pipeline serving方式部署模型是否支持加解密操作？需要做哪些配置？

[2021-07-19 06:51] zjqwer123 opened #1314 "部署在alstudio上的服务端可以在本地机器上访问吗"

[2021-07-19 09:04] TeslaZhao commented on #1313
您好，Serving/python/examples/encryption/示例展示了通过 运行python encrypt.py实现模型加密。部署方法采用python调起C++ Server并加载已加密模型（python -m paddle_serving_server.serve --model encrypt_server/ --port 9300 --use_encryption_model）。

python pipeline 的local推理方式不支持模型加解密，必须在C++框架下支持模型加解密，python代码加密一直是python语言弱项，通过反汇编工具很轻松地反解出python源码，使用python代码做解密，无法保护模型的安全。

[2021-07-19 09:45] TeslaZhao commented on #1314
不能

[2021-07-19 09:52] TeslaZhao commented on #1307
您好，是框架解析结果的代码有问题吗？能否贴一下有问题的代码？

[2021-07-19 09:55] TeslaZhao commented on #1306
您好，在本机内，使用127.0.0.1:18080 能访问成功吗？

[2021-07-19 09:55] HexToString commented on #1311
1、您可以使用gdb调试Server端代码，或者直接调试core定位问题的行数，来进一步解决。
注意，启动docker时，需要--privileged。
2、如果需要我们帮你复现的话，需要您提供一些额外的信息。
请问您用的是什么版本的paddle
运行的是Serving/python/examples/detection/下面的哪个示例

[2021-07-20 01:41] #1220 closed, assigned to TeslaZhao, bjjwwang

[2021-07-20 06:27] Nick198903 commented on #1307
不好意思 调用参数没看清楚，自己又收撸一份，代码没问题

[2021-07-20 06:30] Nick198903 commented on #1148
参数调用不对

[2021-07-20 07:54] Nick198903 opened #1315 "RTX 6000显卡服务端PP YOLOv2 推演速度"
RTX6000 单卡服务器上布置了Paddle-Serving服务，在开启服务的时候尝试了 --precision fp32、----precision fp16， --precision int8，--use_trt，测试PP yolov2推演（仅推演，不包含预处理+后处理）性能，推演时间都是130ms左右，这有点难以理解，毕竟精度减半，速度应该有较大提升才对，求指点

[2021-07-21 01:47] Karenlyw commented on #1306
也是preprocess能跑出结果，然后就卡住了

[2021-07-21 01:50] TeslaZhao commented on #1315
您好，您使用的Serving版本，推理方式（a.Python WebService, b.Python Pipeline, c.C++ Serving），使用HTTP or RPC方式？

[2021-07-21 01:51] Nick198903 commented on #1315
你好 我使用的0.6版本，python Web，RPC

[2021-07-21 01:52] TeslaZhao commented on #1306
有报错信息吗？查看 PipelineServingLogs/pipeline.log.wf，是否有报错信息

[2021-07-21 01:57] TeslaZhao commented on #1315
使用此方法吗？  https://github.com/PaddlePaddle/Serving/blob/v0.6.0/doc/DESIGN_DOC_CN.md#42-web%E6%9C%8D%E5%8A%A1%E7%A4%BA%E4%BE%8B

[2021-07-21 02:01] Nick198903 commented on #1315
你好 我是模仿https://github.com/PaddlePaddle/Serving/blob/v0.6.0/python/examples/detection/ppyolo_r50vd_dcn_1x_coco/README_CN.md
这个进行测试的

[2021-07-21 02:01] TeslaZhao commented on #1315
在RTX6000 显卡上使用paddle inference单测，测试过推理性能吗？低精度和trt的设置同时要开启--ir_optim，每种--precision fp32、----precision fp16， --precision int8，--use_trt，--ir_optim=True 情况下的的推理时间是大概是多少？

[2021-07-21 02:06] HexToString commented on #1301
好的，感谢您的持续关注，新版本应该很快就会发布，会有性能提升以及整体的一些变化。

[2021-07-21 02:24] Nick198903 commented on #1315
好的 我测试下

[2021-07-21 03:02] Nick198903 commented on #1315
问题解决 确实是因为没有开启ir_optim的原因， 谢谢

[2021-07-21 03:11] TeslaZhao commented on #1315
好的

[2021-07-21 03:11] #1315 closed, assigned to TeslaZhao

[2021-07-21 03:14] TeslaZhao commented on #1313
在Pipeline模式下可以采用Remote方式访问远端C++ Server，C++ Server中加载加密模型。与local方式推理相比，性能略有下降，但安全性有很好的保证，不知道这种方式是否满足您的需求?

[2021-07-21 03:28] dianziMAN commented on #1313
我会按照您说的方式多做一些尝试，感谢您的耐心解答。

[2021-07-21 03:29] #1314 closed, assigned to TeslaZhao

[2021-07-21 03:45] zouxiaoshi opened #1316 "模型部署后占用的GPU显存大小与什么相关？"
感觉显存不太够用，所以想有没有什么办法可以节约GPU显存。

## 环境：
显卡： Tesla P4   Tesla P100
paddle-serving-server-gpu 0.6.1.post102
paddlepaddle-gpu          2.1.0
paddle-serving-client     0.6.1
paddle-serving-app        0.6.1

## 启动方式：
[code]

## 测试如下：  (测试1-3 用的是Tesla P4)
[code]

SO,
模型占用GPU显存大小倒底与什么有关呢，
如何在不影响性能情况下，减小GPU显存？

[2021-07-21 10:10] Jeffrey98-AI opened #1317 "OCR pipeline server 显存限制问题"
paddle ocr pipeline server传入比较大的图像的时候会报下面的错误，测试小图像的base64传入却是正常的，大图分辨率1068*6118

[code]
软件版本：
paddle-serving-app        0.6.0
paddle-serving-client     0.6.0
paddle-serving-server-gpu 0.6.0.post102
paddlepaddle-gpu          2.1.0

调试了一下，发现与图像分辨率没什么关系，OCR 检测OP是没问题的，识别OP里面预处理也没问题，没有运行到后处理那一步，应该是在识别的预测阶段出错，与文本行数有关，33行以下就没问题，超过33行就会出现上面的错误

[2021-07-21 12:02] HexToString commented on #1317
为了尽快复现您的问题，请您提供一下您的版本信息。
以及跑的是什么模型，图片大小大概是多大？

[2021-07-21 12:11] HexToString commented on #1316
首先显存占用大是由于预先在显卡上分配了两个G的数据，之前之所以这么考虑是为了防止由于数据传入导致显存不够时，还需要分配显存，从而影响性能。
解决办法：
修改Serving/paddle_inference/paddle/include/paddle_engine.h文件中
config.EnableUseGpu(2000, FLAGS_gpuid);
将2000改为50。

这只会影响您的第一次预测，显存不够时，会再额外开辟显存。
此时，修改后您需要重新编译，并设置serving_bin环境变量，请参考https://github.com/PaddlePaddle/Serving/blob/v0.6.0/doc/COMPILE_CN.md

在即将到来的新版本中，我们会默认将显存改小。

[2021-07-22 01:35] zouxiaoshi commented on #1316
非常感谢。
打扰再提一点想法。
可否将GPU显存占用大小变为启动模型时的参数，分为三档：
1. 像现在2GB那样，系统设置默认大小
2. 占用最小显存，后续动态分配
3. 人工设置显存占用大小

GPU资源比较紧缺，希望能更灵活配置GPU资源。多谢。

[2021-07-22 05:24] HexToString commented on #1317
好的，我们会尽快复现。
也推荐你使用gdb调试一下，看看到底是哪里报错。
如果您自己解决了问题，也麻烦请您分享一下您的经验，能够帮助到更多的人。

[2021-07-22 05:25] HexToString commented on #1316
您的建议非常好。
我们会考虑您的建议。

[2021-07-22 07:34] zouxiaoshi opened #1318 "profile Tracer in 步骤指的是什么"
用的是pipeline sever, 发现程序跑的慢，尝试profile
日志如下：
[code]
其中
[code]
像 prep midp postp 好理解，但是这里的 **_in[3127.71525 ms]_** 和  **_out[24.809 ms]_** 指的是什么步骤，
是 RequestOP 和 ResponseOp吗?
为什么   **_in[3127.71525 ms]_** 会如此慢？ 如何才能优化？

[2021-07-22 07:44] Karenlyw commented on #1306
已解决 感谢

[2021-07-22 08:02] TeslaZhao commented on #1318
Op(det):in[3127.71525 ms]，in时间表示det op的前置chanel数据产生堆积（channel中数据取出时间 - 放入时间）；
表示生成速度 远大于 消费速度，数据在channel中长时间等待。
优化方法：增加OP并发度或降低请求量

out[24.809 ms] out时间表示放入下一个OP的channel的时间，一般数据量大会产生较大的out时间
优化建议：
1.检查channel传递的数据大小和延迟
2.优化传入数据，不传递数据或压缩后再传入

[2021-07-22 08:44] TeslaZhao commented on #1317
GLOG_v=3 python3 web_service.py，您好，使用GLOG_v=3 启动服务，会打印出更多的报错信息。另外，您使用的是GPU推理吗，观察一下显存的变化，在大图的时候显存使用率到多少？

[2021-07-23 04:04] Jeffrey98-AI commented on #1317
![微信图片_20210723120059](https://user-images.githubusercontent.com/18739799/126736078-4aa8d32f-c0c5-44aa-bc1e-9721ff837909.png)
图像一般50多行，1000字左右，测试4卡V100 GPU 最大并发12

[2021-07-23 04:17] TeslaZhao commented on #1317
GLOG_v=3 在出现core dump过程的日志打印有变化吗？

[2021-07-23 04:19] Jeffrey98-AI commented on #1317
问题出现在识别里面的minibatch batch size 大小的设置，web_service.py 里面 max_batch_size 这个参数我直接给了一个比较大的值，没有拆分minibatch，我这一张图50行左右直接合成一个batch，这样单个batch的文本行数就会比较大，出现上面那个错误，拆分minibatch 之后就没有这个问题了。

[2021-07-23 06:00] zouxiaoshi commented on #1318
您好：
传入的是 base64 img,
增大了Op 的 concurrency 以及 DAG里的channel_size 后，
感觉效果不明显，
请问，还有其他的优化可能吗？
多谢。

[2021-07-23 06:48] Jeffrey98-AI commented on #1317
I0723 06:38:20.467614 46914 conv_cudnn_op.cu:96] Compute ConvOp with cuDNN: data_format=NCHW compute_format=NCHW
I0723 06:38:20.468361 46914 conv_cudnn_helper.h:249] Fallback to non-v7 method to find conv algorithm becasue the workspace size request(802160640) exceeds the limit(536870912)

---------------------------------
在那个C++ Traceback 错误附近发现了这个日志打印输出，这应该是做了什么限制吧？

[2021-07-23 07:34] HexToString commented on #1317
首先，恭喜您破案了。
这是C++ 端有一个数据传输的最大限制，默认的最大单次传输数据量限制为512MB。
如果您是通过命令行启动，您可以通过命令行参数，--max_body_size 来指定（单位为Bytes）
或者您可以直接修改paddle-serving-server安装目录下的serve.py文件中的
default=512 * 1024 * 1024,
这一行。

感谢您提供的宝贵信息，我们会在修复这个不太合理的大小限制设定。

[2021-07-23 13:59] ponycloud235 commented on #983
+1 一样的问题啊。。。

[2021-07-23 14:05] ponycloud235 opened #1319 "serving0.6的版本是否支持使用paddlepaddle1.8.5训练的模型"
如题
 我使用0.4版本的serving部署，同样监控的图片部署，有的会奔溃，错误信息
Error Message Summary:
----------------------
Error: Tensor not initialized yet when Tensor::type() is called.
  [Hint: holder_ should not be null.] at (/paddle/paddle/fluid/framework/tensor.h:
使用0.5的版本serving部署，也会有同样的情况

0.6的版本是否支持使用paddlepaddle1.8.5训练的模型？

[2021-07-23 15:28] ponycloud235 opened #1320 "serving0.6模型在特定的图片下报错"
使用paddlepaddle1.8.5 训练的模型在serving0.6 特定图片会出差。 尝试了0.4、0.5的版本均有此问题。如果有需要可以提供模型

[2021-07-26 01:33] #1316 closed, assigned to HexToString

[2021-07-26 01:44] zouxiaoshi commented on #1302
自己手动制作镜像吧，参考
https://github.com/PaddlePaddle/Serving/blob/v0.6.0/tools/Dockerfile.runtime_template
把一些必要的都装完了，整完大概11个G.
官方的runtime镜像有很多python版本，可直接先下了个官方runtime镜像，然后再删除多余的python版本。

nvidia 的 base 镜像才不到3个G，希望官方能优化下镜像大小。

[2021-07-26 06:44] Jeffrey98-AI commented on #1317
--------------------------------------------------
按照提到的两种方式去改 max_body_size 这个参数都没用，实际运行时还是512x1024x1024

[2021-07-26 11:46] Sqhttwl opened #1322 "Jetson"
请问Serving0.6.0在jetson平台使用，直接pip或者docket pull就可以，还是需要进行其他环境方面的编译。

[2021-07-27 03:26] TeslaZhao commented on #1320
具体说下环境信息（CPU/GPU，docker/Linux原生）、模型类型、pipeline/webservice/C++、出错图片的信息等？

[2021-07-27 08:53] Tears1997 opened #1323 "加载优化器参数文件后报错conv2d_2.w_0_moment1_0 should in state dict"
如题，在一个.py文件中训练模型并保存模型和优化器参数文件后，执行另一个训练方法（使用相同的模型类创建的对象，保证模型结构没有更改，也保证不存在中文路径加载错误问题），使用opt.set_state_dict(opt_dict)加载刚才保存的优化器参数文件会报错AssertionError: Optimizer set error, conv2d_2.w_0_moment1_0 should in state dict。

但是奇怪的是，如果先执行训练保存优化器参数文件，然后停止运行，然后把前面的训练部分注释掉，而直接执行加载优化器参数文件后进行训练，则一切正常。不知道是什么情况。无论是在aistudio还是本地pycharm运行都存在这个问题。

另外，这个教程页面的代码就存在这个问题：https://www.paddlepaddle.org.cn/tutorials/projectde

[2021-07-28 02:51] TeslaZhao commented on #1323
您好，训练/模型加载相关的问题建议到 paddle(https://github.com/PaddlePaddle/Paddle) 提issue。

[2021-07-28 03:24] zhangjun commented on #1322
目前serving不支持jetson平台部署。建议使用预测库方式部署，参见https://paddleinference.paddlepaddle.org.cn/demo_tutorial/cuda_jetson_demo.html。

也可以使用从[paddle linux预测库](https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html)下载安装python 预测库，并使用serving WebService localpredict部署方式。

[2021-07-28 08:03] dlkht opened #1326 "训练好的transformer翻译模型部署到服务器不能预测"
1. 按照https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/machine_translation/transformer操作训练，可以在本地电脑python环境预测模型，结果可以。
2. 但按照https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/machine_translation/transformer/deploy/serving说明部署后，不能预测，客户端返回提示failed call predictor with req: insts { tensor_array { int64_data: 36 int64_data: 19 int64_data: 37 int64_data:。。。。}
3. 部署环境：paddlepadd

[2021-07-29 02:14] Andy546 opened #1327 "Error response from daemon: Get https://registry.baidubce.com/v2/: x509: certificate signed by unknown authority"
[黄埔学院]
系统：Centos 7
PaddlePaddle-gpu: 2.1.0
问题1. 在拉取Paddle Serving镜像时一直失败
使用命令：nvidia-docker pull registry.baidubce.com/paddlepaddle/serving:0.6.0-cuda10.2-cudnn8-devel
报错如下：
<img width="1163" alt="截屏2021-07-29 09 49 55" src="https://user-images.githubusercontent.com/10570127/127420851-5a62ae30-cf56-4161-89bf-ec8894f26e36.png">
问题2. cudnn我使用的是7，但是镜像里没有cuda10.2与cudnn7的组合，这样会有问题吗

[2021-07-29 03:13] TeslaZhao commented on #1326
您好，服务端启动正常吗，有没有报错信息？

[2021-07-29 03:19] TeslaZhao commented on #1327
nvidia-docker pull registry.baidubce.com/paddlepaddle/serving:0.6.0-cuda10.2-cudnn8-devel  -i https://pypi.tuna.tsinghua.edu.cn/simple

[2021-07-29 05:18] Andy546 commented on #1327
docker有-i 这个参数吗

[2021-07-29 05:50] dlkht commented on #1326
有，提示如下信息，改用paddle_serving_serve_gpu==0.5.0后就可以正确预测了，是不是0.6.2版本必须要安装tensorRT?
“/usr/local/python3.7.0/lib/python3.7/site-packages/paddle_serving_server/serving-gpu-102-0.6.2/serving: error while loading shared libraries: libnvinfer.so.7: cannot open shared object file: No such file or directory”

[2021-07-29 06:02] TeslaZhao commented on #1326
https://github.com/PaddlePaddle/Serving/blob/v0.6.0/doc/FAQ.md#q-libnvinferso-cannot-open-shared-object-file-no-such-file-or-directory

[2021-07-29 06:32] TeslaZhao commented on #1327
抱歉，-i是pip 的命令，你遇到的问题参考下面链接。

https://stackoverflow.com/questions/50768317/docker-pull-certificate-signed-by-unknown-authority

[2021-07-29 07:16] dlkht commented on #1326
好的，谢谢！我将缺少的SO都拷贝到相应路径下了，但最后还是提示缺少文件：/usr/local/python3.7.0/lib/python3.7/site-packages/paddle_serving_server/serving-gpu-102-0.6.2/serving: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found (required by /usr/local/python3.7.0/lib/python3.7/site-packages/paddle_serving_server/serving-gpu-102-0.6.2/libnvinfer.so.7)
文件libm.so.6: version `GLIBC_2.27'在哪里找得到？

[2021-07-29 07:24] TeslaZhao commented on #1326
如果在原生linux的glibc的版本和依赖的glibc版本不匹配，解决方法：
1.推荐使用docker环境安装Serving
2.安装glibc_2_27，https://blog.csdn.net/qq_39503880/article/details/110277422

[2021-07-29 09:38] dlkht commented on #1326
谢谢！

[2021-07-29 11:04] dlkht commented on #1326
现在能正常预测了
还有一个疑问，服务端安装不带tensorRT的server(版本0.5.0），其预测速度要比带TensorRT的版本（0.6.2)要快一些，这是什么原因呢？不是用了tensorRT更快吗？

[2021-07-30 01:17] Andy546 opened #1328 "使用yolov4例子报错"
环境：
docker PaddleServing serving:0.6.0-cuda10.2-cudnn8-devel
在镜像内安装了
paddle-serving-app        0.6.0
paddle-serving-client     0.6.0
paddle-serving-server-gpu 0.6.0.post102
paddlepaddle-gpu          2.1.0
运行examples/yolov4例子时一直报错TypeError: 'NoneType' object does not support item assignment
<img width="602" alt="截屏2021-07-30 09 09 47" src="https://user-images.githubusercontent.com/10570127/12758532

[2021-07-30 02:53] Andy546 commented on #1327
你好，目前找到原因了是内网代理限制

[2021-07-30 02:53] #1327 closed, assigned to TeslaZhao

[2021-07-30 04:00] TeslaZhao commented on #1328
fetch_map是none，结果没有返回，您使用python webservice、python pipeline、C++ Serving中哪种部署方式？

[2021-07-30 04:05] TeslaZhao commented on #1326
您使用了哪些优化选项，2个版本的平均延时是多少？

[2021-07-30 05:14] Andy546 commented on #1328
使用的是github这个目录里的步骤
[https://github.com/PaddlePaddle/Serving/tree/v0.5.0/python/examples/yolov4](url)

[2021-07-30 06:07] TeslaZhao commented on #1328
您已经安装了0.6.0的版本，代码示例也使用v0.6.0的代码示例。https://github.com/PaddlePaddle/Serving/tree/v0.6.0/python/examples/yolov4

另外，服务启动后，检查一下服务启动是否正常？发送请求后，是否有报错信息？

[2021-07-30 06:25] Andy546 commented on #1328
请求没有报错信息，就是一直不通，不知道为啥.....

[2021-07-30 06:37] TeslaZhao commented on #1328
![image](https://user-images.githubusercontent.com/6309021/127611159-07938010-d6e7-485b-96af-5b2bdf777808.png)
服务端启动截图

![image](https://user-images.githubusercontent.com/6309021/127611218-1fdb0e53-543d-4354-a172-c0bfd49e1250.png)
client启动截图

output目录下结果
![image](https://user-images.githubusercontent.com/6309021/127611285-90c3e1d0-0361-44f6-a2aa-564360f0e90b.png)

[2021-07-30 06:37] TeslaZhao commented on #1328
您看一下服务端启动后效果是否一致？

[2021-07-30 07:15] Andy546 commented on #1328
OK了，是端口号设置的问题。还有个问题请教下，如果自己训练的PaddleDetection模型用的是yolov3_mobilenet_v3_large_ssld_270e_voc.yml配置文件，参考的部署是
[https://github.com/PaddlePaddle/Serving/tree/v0.6.0/python/examples/pipeline/PaddleDetection/yolov3](url)
问题如下：
1. config.xml为什么要配置两个port，如果docker部署的话，这两个端口号是不是都要做端口映射
2. config.xml是不是要自己配置啊，export_model.py生成Serving模型后没有config.xml文件
谢谢

[2021-07-30 07:33] TeslaZhao commented on #1328
1.两个port 分别是rpc_port 和http_port，即启动一个服务会同时处理rpc和http请求。docker部署需要做端口映射
2.config.yml需要手动配置，可以参考下面示例，只需要修改op相关的参数即可。
https://github.com/PaddlePaddle/Serving/blob/v0.6.0/python/examples/pipeline/simple_web_service/config.yml

[2021-07-30 08:05] Andy546 commented on #1328
好的，谢谢，我试一下

[2021-07-30 08:33] #1323 closed, assigned to TeslaZhao

[2021-07-30 10:56] dlkht commented on #1326
谢谢!应该是没使能tensorrt,我到nlp哪里提个issue

[2021-08-01 13:10] TeslaZhao commented on #1326
开启tensorrt需要同步开启ir_optim

[2021-08-02 11:51] TeslaZhao commented on #1319
您好，
PaddleServing v0.6.0 集成Paddle 2.1 inference包;
PaddleServing v0.5.0 集成Paddle 2.0 inference包;

您使用paddlepaddle1.8.5训练的模型，是可以支持的。Paddle Serving使用模型推理的步骤：
1、安装paddleserving，推荐使用docker安装，https://github.com/PaddlePaddle/Serving/blob/v0.6.0/doc/RUN_IN_DOCKER_CN.md
2、保存用户Serving的模型格式，https://github.com/PaddlePaddle/Serving/blob/v0.6.0/doc/SAVE_CN.md
3、参考python/examples下示例，编写测试代码，https://github.com/Pad

[2021-08-03 00:31] ponycloud235 commented on #1319
好的，我在尝试尝试

[2021-08-03 06:50] Karenlyw opened #1331 "关于热更新的问题"
您好，我想请问如果不用monitor服务，直接替换serving_server中的模型文件，不重启server服务的话可以实现模型热更新吗？

[2021-08-03 12:49] TeslaZhao commented on #1331
不能

[2021-08-03 14:25] youngstu opened #1332 "Serving 是否支持TTS流式合成这种任务？"
Serving 是否支持TTS流式合成这种任务？

[2021-08-03 14:32] TeslaZhao commented on #1332
您好，PaddleServing目前不支持TTS流式，我们正在收集相关的需求，待需求明确和方案调研完成可加入开发任务队列中。您可以具体说一下您的业务场景，使用场景，同类的Serving服务支持TTS的情况，或示例等？这将有助于我们了解业务需求。

[2021-08-03 14:40] youngstu commented on #1332
您好，描述如下：

1、业务和使用场景
我们业务场景是实时播报场景，为了降低播报延迟，需要tts支持流式合成。调研了一下发现市场上TTS基本都是流式的（包括百度、讯飞、微软等）。

2、问题
1）PaddleServing 仅支持tts非流式合成（http协议）？
2）PaddleServing 支持流式tts这种任务（websocket协议）需要做哪些支持，是否有支持计划？
3）PaddleServing 增加TTS这种流式合成任务支持，在算法层是否需要做一些开发？

[2021-08-03 14:58] Karenlyw commented on #1331
使用general monitor访问远程训练服务器 报错failed: Connection refused.请问这个是为什么呢？远程访问是否有默认端口呢？

[2021-08-04 01:06] #1328 closed, assigned to TeslaZhao

[2021-08-04 01:25] Andy546 opened #1333 "docker 部署两个服务报错"
[黄埔学院]
docker部署了两个服务（文字检测和文字识别），但是有冲突，启动一个后另一个会无法启动或者直接被kill。
环境
python 3.7.11
paddle-serving-app                0.6.0
paddle-serving-client             0.6.0
paddle-serving-server             0.6.0
paddle2onnx                       0.7
paddlehub                         2.1.0
paddlenlp                         2.0.7
paddlepaddle                      2.1.0

文字检测参考：[https://github.com/PaddlePaddle/Se

[2021-08-04 03:31] bjjwwang commented on #1333
问题1有个疑问 两个端口一样吗
问题2 我其实没看懂 “问题2. 先启动文字识别服务(Paddle hub)，再启动文字识别服务，PaddleHub也直接被kill” 是不是哪个地方描述的不对。

[2021-08-04 05:25] Andy546 commented on #1333
两个端口不一样，问题2写错了，先启动文字识别服务(Paddle hub)，再启动文字检测服务(Paddle Serving)

[2021-08-04 06:37] HexToString commented on #1317
serve.py和server.py文件中应该都有这个设定，最终这个大小，是在您的终端命令行中会出现 --max_body_size 您需要观察一下，这个是否是您设定的值。
或者您直接命令行传入这个参数的具体数值也是可以的。
下个版本我们会修复这个问题，给您的使用带来了不便，非常抱歉。
感谢您的持续关注。

[2021-08-04 06:38] HexToString commented on #1320
我猜可能图片大小的问题
https://github.com/PaddlePaddle/Serving/issues/1317
您参考一下这个Issue看看呢？

[2021-08-04 07:05] TeslaZhao commented on #1332
非流式TTS，使用http协议，模型服务是无状态的，理论上PaddleServing上可以直接部署的。目前TTS模型没有部署测试过。

流式TTS，使用websocket协议，一般会采用Nginx做反向代理和SSL校验，upstream为ws-proxy能hold住长连接，并进行协议转换，转成rpc/stream等，再交给模型推理服务进行处理。整套服务架构非常复杂的，对PaddleServing而言，定位接收rpc/stream做模型服务化部署，Nginx + ws-proxy工作不会参与。

支持流式TTS需要的工作非常多，支持stearm协议，在异步流水线调度增加数据流的控制策略等，需要详细调研和工程设计，预计在Q4开发完成。

[2021-08-04 07:25] HexToString commented on #1317
经过核查，您是对的。
我们的程序代码在两个地方(Client端和Server)分别设置了该参数，所以您修改后仍无效。
如果您需要立即修改，请修改
修改paddle-serving-client安装目录下的client.py文件中的
os.environ["FLAGS_max_body_size"] = str(512 * 1024 * 1024)
或者在Client端，设置环境变量export FLAGS_max_body_size=您想要的大小。
加上上面Server端的修改，此时则不会出现问题。

非常感谢您提供的宝贵信息。

[2021-08-04 07:29] Andy546 commented on #1333
目前来看可能是因为容器占用资源过多，内存或者cpu，换个好点的服务器可以了。还有个问题请教下，如果自己构建CPU版的Paddle Serving镜像的话用哪个dockerfile？
我看了下Dockerfile.devel文件里用的是FROM hub.baidubce.com/ctr/cuda:9.0-cudnn7-devel-ubuntu16.04，这不也是GPU版的吗？

[2021-08-04 13:36] 77h2l opened #1334 "自定义sdk借用paddle-serving部署"
假设我现在有一个自己的sdk,想借助paddle-serving 部署简单的服务，需要怎么操作？

[2021-08-05 06:10] bjjwwang commented on #1333
不好意思 才看到。
是的，目前这个是跟随Paddle那边一起给的，所以CPU也沿用cuda9的镜像作为base。

[2021-08-05 09:37] TeslaZhao commented on #1334
sdk是指？

[2021-08-06 00:41] Andy546 commented on #1333
你好，我在使用 [https://github.com/PaddlePaddle/Serving/blob/v0.6.0/tools/Dockerfile.devel](url)进行构建时，一直无法成功，报错如下，请问你们可以构建成功吗？
<img width="1752" alt="截屏2021-08-05 21 57 47" src="https://user-images.githubusercontent.com/10570127/128438680-c0e1ef82-7ce2-4296-8e89-0a1c9c8b5190.png">

[2021-08-06 00:42] Andy546 commented on #1333
你好，我在使用 [https://github.com/PaddlePaddle/Serving/blob/v0.6.0/tools/Dockerfile.devel](https://github.com/PaddlePaddle/Serving/blob/v0.6.0/tools/Dockerfile.devel) 进行构建时，一直无法成功，报错如下，请问你们可以构建成功吗？
<img width="1752" alt="截屏2021-08-05 21 57 47" src="https://user-images.githubusercontent.com/10570127/128438803-bb42bbfb-a36f-4eba-8d13-b73ce204825c.png">

[2021-08-06 02:08] Jeffrey98-AI commented on #1317
--------------------------------------------------------------
安装目录下的 serve.py client.py 都改了，仍然无效。
在小图预测文本检测阶段竟然也出现了 Fallback to non-v7 method to find conv algorithm becasue the workspace size request(562888704) exceeds the limit(536870912) 这种错误，图像DetOP 预处理后维度 (1,3,160,608) ，然而把图像拓展到两张（2,3,160,608）却是正常的,（1,3,1068,6118)这么大的图检测OP都不会超出500M的显存限制，(1,3,160,608)这种小图的检测却超出了500M ，检测的server模型由https://paddle

[2021-08-06 02:43] Andy546 commented on #1333
[黄埔学院]
在安装gcc的时候报错
<img width="1747" alt="截屏2021-08-06 10 42 10" src="https://user-images.githubusercontent.com/10570127/128448046-727282a9-5687-4b8e-a45f-f8b6f1f09fc3.png">

[2021-08-06 06:16] bjjwwang commented on #1333
当时是成功的，安装GCC 8.2非常的久，我在后台跑一次看看

[2021-08-06 06:32] Andy546 commented on #1333
好的，谢谢，一直卡在GCC8.2安装失败这

[2021-08-09 01:05] Andy546 commented on #1333
你好，请问下你那可以跑成功吗？

[2021-08-09 03:30] bjjwwang commented on #1333
我这里是成功的

[2021-08-09 03:30] bjjwwang commented on #1333
方便发一下命令吗
docker build 那个

[2021-08-09 05:24] Andy546 commented on #1333
使用的dockerfile是 [https://github.com/PaddlePaddle/Serving/blob/v0.6.0/tools/Dockerfile.devel](url)，我重命名为Dockerfile。构建命令是
`docker build -t paddleserving:v0.1 .`
Dockerfile里需要COPY的文件已经在Dockerfile同目录下准备好了。

[2021-08-09 05:27] bjjwwang commented on #1333
哦哦 因为有相对路径的原因，最好是 docker build -f tools/Dockerfile.devel -t paddleserving:v0.1 .

[2021-08-09 05:43] Andy546 commented on #1333
这块问题好像不是在路径这，好像是在安装GCC 8.2时报错

[2021-08-09 05:59] bjjwwang commented on #1333
可以看下dockerfile里面的COPY命令，有些依赖的文件也要确保都在。
很可能前面的一些问题导致gcc82没编过去。

[2021-08-09 06:06] Andy546 commented on #1333
好的，我再检查检查，谢谢

[2021-08-09 06:46] Andy546 commented on #1333
你好，还是有同样的问题。本机环境需要装GCC吗？Dockerfile里的基础镜像hub.baidubce.com/ctr/cuda:9.0-cudnn7-devel-ubuntu16.04镜像是不是缺东西啊？

[2021-08-09 12:33] TeslaZhao commented on #1333
您好，您是以 PaddleServing的 Dockerfile 作为base 制作新的docker 镜像吗？

[2021-08-10 00:47] Andy546 commented on #1333
是啊，Dockerfile一点也没改

[2021-08-11 02:39] 77h2l commented on #1334
比如将paddleocr通过封装工程接口的形式，封装成sdk后，怎么快速通用的通过paddle-serving来部署服务（不通过paddle-ocr部署demo里面修改内部代码的方式）？

[2021-08-11 04:10] question7603 opened #1342 "About 'python -m paddle_serving_client.convert', ModuleNotFoundError"
Dear,
When I want to convert inference model to paddle serving model, I use python -m paddle_serving_client.convert --dirname..., but it has ModuleNotFoundError, No module named 'paddle_serving_client.proto', so I turned back to the dir python/paddle_serving_client, failed to find any file named proto, so what can i do, when i had the inference model, and i want to convert it to a serving model, b

[2021-08-11 04:14] question7603 commented on #1342
![wrong_message](https://user-images.githubusercontent.com/45715114/128968748-95ac9683-1676-4c6f-8ef1-e17e3749e05c.png)

[2021-08-11 07:08] question7603 commented on #1342
Has been solved. Close. Thank you all.

[2021-08-11 07:08] #1342 closed, assigned to nobody

[2021-08-12 02:52] TeslaZhao commented on #1334
Paddle Serving一定需要用到Paddle OCR的模型，这部分和SDK无关。

可以使用Python Pipeline方式，OCR模型的前后处理通过sdk接口来解析？

[2021-08-12 07:01] Jeffrey98-AI opened #1343 "pipeline 模式启动server 无法添加类似命令行启动的参数"
命令行启动 server 实际是运行如下的命令：
/usr/local/lib/python3.6/site-packages/paddle_serving_server/serving-gpu-102-0.6.0/serving -enable_model_toolkit -inferservice_path workdir_0 -inferservice_file infer_service.prototxt -max_concurrency 0 -num_threads 2 -port 12000 -precision fp32 -use_calib False -reload_interval_s 10 -resource_path workdir_0 -resource_file resource.prototxt -workflow_path workdir_0 -workfl

[2021-08-12 13:53] linghaolu opened #1346 "pipeline 方式 0.4.0 报错"
是不是pipeline 方式需要安装 paddle 环境？
但是我安装paddle 1.8 后，依然报错，应该是pipeline的 proxy.so 跟 paddle 环境冲突导致？这种怎么解？
[code]

[2021-08-16 03:23] bjjwwang commented on #1346
这种一般是系统版本比较低或者Python使用的gcc版本比较低导致的。
方便
[code]
的输出
以及python是哪个GCC版本编译的吗

[2021-08-16 03:43] HexToString commented on #1343
您好，由于我们工作的疏忽。并未在pipeline模式下，开发设置该参数的接口。
您可以按照以下步骤去修改：
1、pip3.6 show paddle-serving-server
2、到安装目录下，一般是位于Location: /usr/local/lib/python3.6/site-packages/paddle_serving_server/
3、修改此目录下的 pipeline/pipeline_server.py  和 pipeline/pipeline_client.py文件
4、修改其中max_receive_message_length 和 max_send_message_length字段，单位是字节。一般是512*1024*1024,表示512M，您可以根据自己的需要修改。

下个版本中会修复此问题，给您带来不便，敬请谅解。

[2021-08-17 02:09] HexToString commented on #1317
已经给您在别的帖子回复，这是由于GRPC->BRPC有两层RPC都限制了大小导致的。
之前给您的，是修改BRPC的，因为看到您的报错信息都是在C++端。
但是可能您的GRPC端也会存在大小的限制问题。
另外推荐您使用Pipeline+local的方式，会比这种GRPC-->BRPC 的方式快。
或者您可以直接使用C++串联OCR模型。但两个模型之间的前后处理可能需要您自己根据需求在原有代码基础上修改。

[2021-08-18 13:59] EtachGu commented on #767
0.6 仍然存在显存无法释放的问题

[2021-08-18 15:16] Karenlyw opened #1356 "pipeline没有使用gpu"
config.yml里设置了device_type=2
`op:
   ivane_op:
        timeout: -1
        retry: 1
        #concurrency: 3
        batch_size: 1
        auto_batching_timeout: -1
        local_service_conf:
            device_type: 2
            client_type: 'local_predictor'
            model_config: '/home/Serving/serving_server/'
            fetch_list: ["fc_0.tmp_2"]
            devices: "0"
`
用python3.6 pipe

[2021-08-19 07:19] Jeffrey98-AI commented on #1343
修改 max_receive_message_length 和 max_send_message_length 这两个字段也是无效的，pipeline OCR 的检测、识别两个OP的client_type 都是 local_predictor

[2021-08-19 12:32] TeslaZhao commented on #1356
1、您是在docker中部署pipeline服务吗，nvidia-smi是查不到进程ID的。

2、可以指定devices: "2"，可以看到2显卡上显存的变化吗？

3、开启TensorRT 需要同步开启ir_optim开关, 默认False。可参考python/examples/pipeline/simple_web_service/config.yml
            ir_optim: True