[2019-04-08 10:05] YishengCheng opened #1 "Serving编译没有问题，output中demo目录下serving运行报错Segmentation fault，无日志，无其他提示。"
运行命令： bin/serving
系统环境：centos 7.4

其他说明：client中的demo运行ok。

[2019-04-08 12:06] wangguibao commented on #1
辛苦编译一个Debug版本吧，然后gdb一下，把调用栈贴出来我们看一下。

[code]

[2019-04-09 06:32] YishengCheng commented on #1
![4cMf3o3w](https://user-images.githubusercontent.com/18047321/55777960-17c71380-5ad4-11e9-801a-7394feaa0316.png)

上图就是重新debug编译后gdb运行的截图，请帮忙分析下。

[2019-04-09 06:33] YishengCheng commented on #1
(gdb) bt
#0  0x0000000000e1c098 in google::LogMessage::Init(char const*, int, int, void (google::LogMessage::*)()) ()
#1  0x0000000000e1c37c in google::LogMessage::LogMessage(char const*, int) ()
#2  0x0000000000dbc633 in baidu::paddle_serving::predictor::OpRepository::regist_op<baidu::paddle_serving::serving::WriteOp> (this=0x329cb00 <baidu::paddle_serving::predictor::OpRepository::instance()::re

[2019-04-10 11:33] YishengCheng commented on #1
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-114.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-redhat-li

[2019-04-17 06:24] wangguibao commented on #1
Glog问题。代码中个别位置打印日志时，glog尚未初始化导致出core。已排除修复一批类似的错误。

[2019-06-13 12:07] LaraStuStu opened #11 "Client 与 Server端通过BRPC调用是否支持常链接场景下的负载均衡？"
![image](https://user-images.githubusercontent.com/18028216/59431122-b2b2d580-8e16-11e9-97d3-c369848e7684.png)

关于推理服务部署的时候，Client端与Server端之间通过brpc调用，这个是否支持长连接场景下的负载均衡，如果支持，如何实现？

[2019-06-14 02:58] wangguibao commented on #11
您说的长连接场景下的负载均衡，具体是指的什么case，能再详细一点吗？

Paddle Serving通过BRPC支持负载均衡，常见的算法如round-robin, locality-aware等，在client端可以配置。

但不确定您问的长连接场景下的负载均衡，是什么样的需求

[2019-06-25 00:49] 707503331 opened #13 "ubuntu18.04 下按照INSTALL.md的说明进行执行报错。"
**按照INSTALL.md中的说明，执行如下步骤，最后异步最终报错：**
$ git clone https://github.com/PaddlePaddle/serving.git
$ cd serving
$ mkdir build
$ cd build
$ cmake ..
$ make -j4
$ make install

**报错信息如下：**
............................................
[ 48%] Completed 'extern_opencv'
[ 48%] Built target extern_opencv
Makefile:129: recipe for target 'all' failed
make: *** [all] Error 2

[2019-06-25 02:33] wangguibao commented on #13
这个可能要再找一下具体出错的位置，辛苦您再细细看一下编译日志，找到具体出错的地方，我们看一下。

[2019-06-25 02:45] 707503331 commented on #13
附件是我的命令窗口缓存的所有数据了，看看能找到线索吗？

------------------ 原始邮件 ------------------
发件人: "Wang Guibao"<notifications@github.com>;
发送时间: 2019年6月25日(星期二) 上午10:33
收件人: "PaddlePaddle/Serving"<Serving@noreply.github.com>;
抄送: "Kevin Bu"<707503331@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [PaddlePaddle/Serving] ubuntu18.04 下按照INSTALL.md的说明进行执行报错。 (#13)

这个可能要再找一下具体出错的位置，辛苦您再细细看一下编译日志，找到具体出错的地方，我们看一下。

—

[2019-06-25 02:58] wangguibao commented on #13
是不是我没找到。。Issue页面上看不到附件

[2019-06-25 03:07] luotao1 commented on #13
@707503331 请不要用邮件回复，这样附件是看不到的。

[2019-06-25 03:31] 707503331 commented on #13
issue 上没有找到可添加附件的入口啊？能添加附件吗？

------------------ 原始邮件 ------------------
发件人: "Tao Luo"<notifications@github.com>;
发送时间: 2019年6月25日(星期二) 中午11:07
收件人: "PaddlePaddle/Serving"<Serving@noreply.github.com>;
抄送: "Kevin Bu"<707503331@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [PaddlePaddle/Serving] ubuntu18.04 下按照INSTALL.md的说明进行执行报错。 (#13)

@707503331 请不要用邮件回复，这样附件是看不到的。

—
You are receiving

[2019-06-25 03:34] 707503331 commented on #13
有qq吗？我直接发给你附件也行

[2019-06-25 03:34] wangguibao commented on #13
可以把输出拷贝出来

[2019-06-25 03:36] 707503331 commented on #13
日志太长了，超出长度限制了。我选择性的截取有error的日志吧，稍等。

[2019-06-25 03:36] 707503331 commented on #13
/home/kevin/mytest/projects/paddle/Serving/build/Paddle/third_party/install/glog/include/glog/logging.h:717:32: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
 DEFINE_CHECK_OP_IMPL(Check_EQ, ==)  // Compilation error with CHECK_EQ(NULL, x)?

[2019-06-25 03:36] 707503331 commented on #13
/home/kevin/mytest/projects/paddle/Serving/build/Paddle/third_party/install/glog/include/glog/logging.h:717:1: note: in expansion of macro ‘DEFINE_CHECK_OP_IMPL’
 DEFINE_CHECK_OP_IMPL(Check_EQ, ==)  // Compilation error with CHECK_EQ(NULL, x)?

[2019-06-25 03:36] 707503331 commented on #13
/home/kevin/mytest/projects/paddle/Serving/build/Paddle/third_party/install/glog/include/glog/logging.h:717:32: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
 DEFINE_CHECK_OP_IMPL(Check_EQ, ==)  // Compilation error with CHECK_EQ(NULL, x)?
/home/kevin/mytest/projects/paddle/Serving/build/Paddle/third_party/install/protobuf/include/google/protobuf/stubs/port.h

[2019-06-25 03:37] 707503331 commented on #13
/usr/bin/ld: cannot find /usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/crtn.o: Too many open files
/usr/bin/ld: cannot find /usr/lib/gcc/x86_64-linux-gnu/7/crtoffloadend.o: Too many open files
collect2: error: ld returned 1 exit status
paddle/fluid/inference/CMakeFiles/paddle_fluid_shared.dir/build.make:1142: recipe for target 'paddle/fluid/inference/libpaddle_fluid.so' failed
make[5]:

[2019-06-25 03:38] 707503331 commented on #13
-- Could NOT find PythonLibs (missing: PYTHON_LIBRARIES PYTHON_INCLUDE_DIRS) (Required is exact version "3.6.7")
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'numpy'
-- Found apache ant 1.10.5: /usr/bin/ant
-- Found JNI: /usr/lib/jvm/default-java/lib/libjawt.so

[2019-06-25 03:39] wangguibao commented on #13
[code]
这个地方可能是出错原因，可以用如下命令看一下当前系统允许的最大open file数
[code]

如有管理员权限可以试着改大一点看看，例如改成10240：
[code]

[2019-06-25 03:42] 707503331 commented on #13
python 版本 有要求吗？我用的是Python 2.7.15rc1
上面的错误有提示： Required is exact version "3.6.7"

[2019-06-25 03:43] wangguibao commented on #13
[code]
这个地方说明系统没有安装python，或者没有将PYTHON_LIBRARIES或PYTHON_INCLUDE_DIRS环境变量设好，可以装一下python，然后将对应的路径export到环境变量里，例如：
[code]

[2019-06-25 03:44] wangguibao commented on #13
应该不需要固定版本的python

[2019-06-25 04:02] 707503331 commented on #13
好的，谢谢！
我想再问一下，用java直接调用 python脚本应该也可以实现 预测功能，并且更简单。
这跟 paddle_serving 有什么区别吗？用 paddle serving 有什么优势吗？

------------------ 原始邮件 ------------------
发件人: "Wang Guibao"<notifications@github.com>;
发送时间: 2019年6月25日(星期二) 中午11:44
收件人: "PaddlePaddle/Serving"<Serving@noreply.github.com>;
抄送: "Kevin Bu"<707503331@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [PaddlePaddle/Serving] ubuntu18.04 下按照INS

[2019-06-25 05:05] wangguibao commented on #13
Serving主要是为生产环境大规模部署预测服务用的，类似tensorflow Serving，解决训练后模型的应用部署问题。

如果是小规模预测验证，可以用你说的方法

[2019-06-25 05:50] 707503331 commented on #13
好的，明白了，谢谢！

------------------ 原始邮件 ------------------
发件人: "Wang Guibao"<notifications@github.com>;
发送时间: 2019年6月25日(星期二) 中午1:05
收件人: "PaddlePaddle/Serving"<Serving@noreply.github.com>;
抄送: "Kevin Bu"<707503331@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [PaddlePaddle/Serving] ubuntu18.04 下按照INSTALL.md的说明进行执行报错。 (#13)

Serving主要是为生产环境大规模部署预测服务用的，类似tensorflow Serving，解决训练后模型的应用部署问题。

如果

[2019-06-27 02:54] #13 closed

[2019-06-27 02:54] 707503331 commented on #13
本地python环境问题，再自己研究下，谢谢您的解答，辛苦了！

[2019-07-01 11:35] joelyang97 opened #16 "关于编译SDK-CPP部分时的错误"
一些环境信息
系统:Ubuntu 16.04.5 LTS
gcc/g++: 5.4.0
cmake: 3.5.1
python: 2.7.12

出现的情况
CMake过程中没有错误，顺利完成Configure。之后在make的过程中，前面是正常的，但是在编译SDK-CPP部分的时候会报出一些编译错误。下面截取其中主要的一些报错信息(基本都是语法错误)：
1 /usr/include/c++/5/backward/hash_fun.h:136:12: error: previous definition of ‘struct __gnu_cxx::hash<int>’
     struct hash<int>
2 serving/build/third_party/install/brpc/include/butil/strings/string_piece.h:416:70: erro

[2019-07-04 05:59] wangguibao commented on #16
Serving还没有在gcc 5上验证过，我们开发编译用的环境是gcc 4.8.2
我们尽快想办法在gcc 5上验一下，抱歉

[2019-07-05 08:04] wangguibao opened #21 "kvdb test cases coredump"
Running output/bin/db_func, output/bin/db_thread will occasionally coredump:
[code]

[2019-07-05 23:17] joelyang97 commented on #16
没关系。我换成GCC4.8.2试一下。感谢您和您所在的团队所做的开发和开源工作。

[2019-07-08 07:09] wangguibao commented on #16
本地用gcc 5.2编译依赖模块brpc时不通过，报如下错误
[code]

ssl_compat.h中确实有2个一样的函数定义，已经给brpc repo提issue，待修复中

[2019-07-17 06:27] wangguibao commented on #16
@joelyang97
我在本地用 GCC 5.4.0编译了一遍工程，修复了一个build error #26
但是除此之外，在编译sdk-cpp目录时，没有遇到你issue里贴的错误。。

[2019-07-17 06:28] wangguibao commented on #16
BRPC的函数重复定义，brpc团队已经修复了
https://github.com/apache/incubator-brpc/issues/833

[2019-07-18 03:54] joelyang97 commented on #16
感谢您的工作。我自己尝试一下，应该是我这边的环境问题了。如果我成功了，我会把这issue关掉。我会积极向您反馈。

[2019-07-24 02:31] joelyang97 commented on #16
昨晚编译成功。
具体环境为:
ubuntu14.04 64位
g++/gcc 4.8
cmake 3.5
同时在过程中发现需要安装几个依赖的库用下面的命令安装:
sudo apt-get install libbz2-dev libssl-dev

两个小的建议:
1. 同时建议后期可以把链接库改为动态链接库，在编译链接过程中如果是链接静态库，不知道为什么demo-client这个项目下面，有关链接到libbrpc.a这个静态库的链接都会报ssl相关函数未定义的错误。明明brpc编译是没有问题的。我的解决办法是把所有的link.txt和relink.txt中的链接libbrpc.a的项都链接到libbrpc.so动态链接库上。
2.建议修改一下CMakeList文件，将各个项目的安装目录定位到/usr/local中。现在编译安装后，我还得重新修改LD_LIBRARY_PATH等系统环境变量

[2019-07-24 02:31] #16 closed

[2019-08-15 02:02] wangguibao opened #59 "Need a configuration option to let user specify whether enable memory optimzation or not"
收到反馈，GPU预测引擎在图像分割模型上，EnableMemoryOpt()后会在memory optimizaiton pass fail，具体call stack为：

<img width="1428" alt="6c2512709b2d41827fb25eb19886d2a2" src="https://user-images.githubusercontent.com/1445888/63067876-9a108a00-bf43-11e9-8a38-ae90677b5f08.PNG">

希望能够增加一个配置开关，让用户指定是否打开内存优化。

[2019-08-30 02:27] MRXLT opened #64 "cube-agent读取磁盘路径错误"
cube/cube-agent/src/agent/define.go中init函数会读取磁盘路径，但是由于有的磁盘名过长，df显示时会换行，使用df -h | grep -E '/home|/ssd'命令获取到的信息不完整，字符串分割出来的数组长度会少一位，获取路径数据时会发生数组越界

[2019-08-30 02:46] MRXLT commented on #64
相关代码
![image](https://user-images.githubusercontent.com/16594411/63989553-4a20ee00-cb13-11e9-8d75-1775565f56b9.png)
错误截图：
![image](https://user-images.githubusercontent.com/16594411/63989375-b18a6e00-cb12-11e9-8d48-1621bf45829a.png)
图中的数字为追bug时打印出的disk数组的长度
程序中命令获取到的磁盘信息
![image](https://user-images.githubusercontent.com/16594411/63989484-12b24180-cb13-11e9-98d8-628a6a0622da.png)

实际的磁盘信息
![image]

[2019-09-03 09:29] wangguibao commented on #59
Fixed by #63

[2019-09-03 09:29] #59 closed

[2019-09-05 03:19] MRXLT commented on #64
已提pr修复
https://github.com/PaddlePaddle/Serving/pull/65

[2019-09-05 03:19] #64 closed

[2019-10-10 09:19] wangguibao opened #88 "Build with gcc 5.4.0 error"
System: 16.04.6 LTS (Xenial Xerus)
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.11)

Error message:
[code]

[2019-10-11 07:37] #21 closed

[2019-10-13 09:22] 3050311118 opened #90 "可否出个docker镜像，源码编译了一天，老是中途错误"
os  ubuntu 18.04
go 1.12
cmake 3.10
g++ 7.4.0

最好出个镜像，学习测试下，不用卡在编译上

[2019-10-16 02:45] wangjiawei04 commented on #90
目前官方镜像还没有出来，如果需要编译环境，目前需要一个GCC4.8.2
可以 pull hub.baidubce.com/ctr/paddleserving:latest 这个镜像

[2020-01-03 09:10] bjjwwang opened #117 "Cube和Serving的配置过于复杂"
易用性问题反馈：
1. Cube和Serving启动的时候，配置文件复杂难以配合。
2. 缺乏一个Demo模型 （稀疏 + Dense），本地自动加载并能够提供预测服务。

[2020-01-14 02:43] guru4elephant opened #118 "demo-serving下的serving多次启动占用同一个端口不报错"
如题，需要添加报错信息。

[2020-02-04 01:59] guru4elephant opened #125 "Feature request：make general model config a protobuf"
currently, client and server use different general model configs, users may have confusion about this.

Unify configuration into unify protobuf and make it readable and writable with python API is a requirement.

[2020-02-04 02:16] guru4elephant opened #126 "make serving server and serving client two wheels"
serving server and serving client should have different path.

[2020-02-06 01:14] guru4elephant opened #127 "add go client for paddle serving"
add go client for serving

[2020-02-07 01:30] guru4elephant opened #132 "**serving二进制可以自动下载**"
针对cpu、gpu版本，将server分成两组whl包，并能够根据包下载不同版本的二进制
预期支持：cpu+mkl+avx；cpu+openblas+avx；cpu+openblas+sse；gpu+mkl+avx

[2020-02-07 01:37] guru4elephant opened #133 "**Refine General Reader**"
当前的general reader，对lodtensor.name的赋值存在问题，需要通用化；

https://github.com/PaddlePaddle/Serving/pull/145

[2020-02-07 01:55] guru4elephant opened #134 "** Refine General Infer Op **"
目前general infer op的输出，直接通过response发出，不适合在infer的结果之上进行二次计算，例如ernie model中的pooling操作，需要将general infer op的输出放到op的output中；此外，增加一个将input放到response中发出的general_response_op，用来负责响应rpc

[2020-02-07 01:58] guru4elephant opened #135 "** 验证GPU是否能在当前的GeneralServing下使用 **"
当前GeneralServing还没有在GPU上进行测试，需要使用典型任务进行效果和性能测试

[2020-02-07 02:37] guru4elephant opened #136 "** 统一GeneralServing的Log信息级别 **"
统一改为LOGV(2)，方便与inference lib的输出日志做区分

[2020-02-07 05:35] guru4elephant opened #137 "** Fetch Variable可变 **"
Client端可以指定部分fetch var进行单次预测，并且网络服务可以支持返回部分fetch var
https://github.com/PaddlePaddle/Serving/pull/145

[2020-02-07 05:40] guru4elephant opened #138 "Client端增加predict_with_profiler函数"
实现predict_with_profile和batch_predict_with_profile

predict can be profiled with profile_client and profile_server flags, close this issue

[2020-02-07 08:05] guru4elephant opened #140 "pip可安装"
支持paddle-serving-client的pip可安装
支持paddle-serving-server的cpu/gpu版本可安装，包含不同的lib版本

[2020-02-07 08:15] guru4elephant opened #141 "add fluid_time_file as default serving configration"
currently, we have to add fluid_time_file manually
https://github.com/PaddlePaddle/Serving/pull/147

[2020-02-07 08:37] guru4elephant opened #142 "add go client for GeneralServing"
当前的client支持python，我们需要增加一个Go的client

[2020-02-07 13:52] #136 closed, assigned to guru4elephant

[2020-02-07 13:53] guru4elephant opened #143 "add criteo ctr task example"
we need click through rate example for reference
https://github.com/PaddlePaddle/Serving/pull/148

[2020-02-07 14:31] guru4elephant opened #144 "print useful client information for failed call of predictor"
E0207 22:24:21.136749 181141 general_model.cpp:144] failed call predictor with req: insts

https://github.com/PaddlePaddle/Serving/pull/209

[2020-02-08 11:45] Kontinuation opened #146 "gitsubmodule core/general-client/pybind11 seems to be broken"
I encountered an error when building PaddleServing in CLIENT_ONLY mode:

[code]

The error message says that `/home/Serving/core/general-client/pybind11` directory does not contain a CMakeLists.txt file, and it turns out to be an empty directory. `pybind11` has been changed to a git submodule in commit 546f164088dd5bd8d7d8597af7195b56fba16f03 , but this submodule is not properly configured, which

[2020-02-09 03:18] guru4elephant opened #149 "setup ci for general serving"
we need an automatically verification mechanism for serving

[2020-02-09 05:02] guru4elephant opened #150 "add performance evaluation tool"
we need to regress old version of performance when we do optimization on our framework.

https://github.com/PaddlePaddle/Serving/pull/215

[2020-02-09 09:19] guru4elephant opened #152 "add auc and acc metric for client"
add auc and acc computation for client

[2020-02-09 09:20] guru4elephant opened #153 "add multi thread prediction wrapper"
currently, client does not support multi thread prediction, but users can do multi process prediction based on python subprocess. we need to wrapper this as a simple function.
https://github.com/PaddlePaddle/Serving/pull/156

[2020-02-09 09:20] #143 closed, assigned to guru4elephant

[2020-02-09 09:21] #141 closed, assigned to nobody

[2020-02-09 09:21] #133 closed, assigned to guru4elephant

[2020-02-09 09:21] #137 closed, assigned to nobody

[2020-02-09 22:46] guru4elephant opened #154 "failed fetch predictor"
E0210 06:46:00.630698 101654 predictor_sdk.h:52] Failed fetch predictor:, ep_name: general_model
![image](https://user-images.githubusercontent.com/35550832/74111666-5e443d80-4bd1-11ea-9865-9cc20c17bfb8.png)

[2020-02-10 00:06] guru4elephant opened #155 "add profiler for general server"
add profiler for server side

[2020-02-10 00:46] guru4elephant commented on #146
Thanks for your pointing, we will fix

[2020-02-10 06:29] #155 closed, assigned to nobody

[2020-02-10 06:29] #152 closed, assigned to nobody

[2020-02-10 07:25] #153 closed, assigned to guru4elephant

[2020-02-12 01:46] MRXLT opened #161 "优化client端日志"
client端启动时会输出以下不必要的日志对用户产生干扰，需要进行优化
![image](https://user-images.githubusercontent.com/16594411/74295540-4826b080-4d7c-11ea-810f-3a4cca6e87a3.png)

https://github.com/PaddlePaddle/Serving/pull/202

[2020-02-12 04:47] guru4elephant opened #164 "publish imdb performance benchmark"
please public prediction benchmark with predict() and batch_predict() interface.
For imdb task, the model should run on cpu device and model inference time should be profiled.

https://github.com/PaddlePaddle/Serving/pull/215

[2020-02-12 10:31] guru4elephant opened #165 "add dist kv op for server side"
add dist kv op and corresponding python configurations

https://github.com/PaddlePaddle/Serving/pull/296

[2020-02-12 10:31] guru4elephant opened #166 "add local kv op for server side"
add local kv op with rocks db and corresponding server side

https://github.com/PaddlePaddle/Serving/pull/296

[2020-02-12 10:32] guru4elephant opened #167 "add a new application with general serving"
support bert as a service application with general serving

[2020-02-12 10:32] guru4elephant opened #168 "profiling general bert as a service."

[2020-02-14 15:01] guru4elephant opened #172 "fix batch size buf for general reader and general infer op"
fix the bug

[2020-02-15 01:47] guru4elephant opened #173 "Unify Data Transfer Between Server Op"
Currently, data structure is designed manually which is not very extensible. We want to make ops configurable in python API, data structure between ops should be unified and the dependencies of Op can be obtained through resource rather than hard coding

[2020-02-15 02:15] guru4elephant commented on #173
Try to refactor server side as three layers of operators
![image](https://user-images.githubusercontent.com/35550832/74580167-05fbaa00-4fdc-11ea-9e05-bef895d748fe.png)

[2020-02-15 02:16] guru4elephant opened #174 "add English version readme for paddle serving"
For English native users of PaddlePaddle and PaddleServing

[2020-02-15 03:29] casolxia opened #175 "pip install failed pip安装失败"
whl文件也搜不到
Looking in indexes: https://pypi.mirrors.ustc.edu.cn/simple/
Collecting paddle-serving-client
  ERROR: Could not find a version that satisfies the requirement paddle-serving-client (from versions: none)
ERROR: No matching distribution found for paddle-serving-client

[2020-02-15 06:27] #132 closed, assigned to MRXLT

[2020-02-17 10:44] #172 closed, assigned to MRXLT

[2020-02-17 11:11] #134 closed, assigned to MRXLT

[2020-02-17 11:12] #142 closed, assigned to nobody

[2020-02-17 11:12] #173 closed, assigned to guru4elephant

[2020-02-17 12:05] guru4elephant opened #179 "fix pybind11 submodule problem"
core/general-client/pybind11 should be a submodule

[2020-02-18 01:52] MRXLT opened #182 "batch predict failed"
batch predict failed with general server

[2020-02-18 02:11] MRXLT opened #183 "添加使用自编译的二进制文件的方法"
让用户可以调用本地编译的server端二进制文件

[2020-02-18 04:41] MRXLT commented on #183
https://github.com/PaddlePaddle/Serving/pull/184
已merge

[2020-02-18 04:41] #183 closed, assigned to MRXLT

[2020-02-18 13:14] guru4elephant opened #187 "add profiling from client side to server side with information on each operators"

[2020-02-18 13:21] guru4elephant opened #188 "add a tool for profile result analysis and visualization"
for issue #187, we need a python tool to analyze or visualize the profiling result.
https://github.com/PaddlePaddle/Serving/pull/215

[2020-02-20 01:47] #182 closed, assigned to MRXLT

[2020-02-20 01:49] MRXLT opened #192 "add available port check for server"

[2020-02-20 15:43] #179 closed, assigned to nobody

[2020-02-20 15:43] #187 closed, assigned to guru4elephant

[2020-02-20 15:44] #174 closed, assigned to guru4elephant

[2020-02-21 03:10] guru4elephant opened #195 "Should have a default gpu id?"
File "test_gpu_server.py", line 26, in <module>
    server.run_server()
  File "/home/users/dongdaxiang/paddle_whls/custom_op/paddle_release_home/python/lib/python2.7/site-packages/paddle_serving_server_gpu/__init__.py", line 264, in run_server
    self.gpuid,
AttributeError: 'Server' object has no attribute 'gpuid'

[2020-02-21 07:43] MRXLT opened #197 "添加client端shape检查功能"

[2020-02-21 07:45] MRXLT commented on #192
https://github.com/PaddlePaddle/Serving/pull/196

[2020-02-21 07:45] #192 closed, assigned to MRXLT

[2020-02-21 13:48] guru4elephant opened #199 "对server端如何安装，配置各种版本，各种线程或者GPU进行一个说明"
对server端如何安装，配置各种版本，各种线程或者GPU进行一个说明，增加到doc中

[2020-02-22 00:40] guru4elephant commented on #175
please check now, wheel packages uploaded. @casolxia

[2020-02-22 00:41] guru4elephant commented on #146
fixed. https://github.com/PaddlePaddle/Serving/pull/180, will close this issue.

[2020-02-22 00:41] #146 closed, assigned to nobody

[2020-02-22 03:43] guru4elephant opened #200 "paddle_serving_server一行命令启动时，返回可访问URL"
可以增加一个基于HTTP可以访问的demo或者直接给出http post地址

[2020-02-22 15:42] guru4elephant opened #203 "benchmarking bert as a service with multi-gpu"
we need to test the throughputs and latency for new version of serving

[2020-02-23 12:43] #138 closed, assigned to MRXLT

[2020-02-24 23:50] guru4elephant opened #207 "support multiple return type"
current client api only supports float value return, need to support float/int64

https://github.com/PaddlePaddle/Serving/pull/209

[2020-02-25 01:48] #140 closed, assigned to MRXLT

[2020-02-26 22:11] #161 closed, assigned to MRXLT

[2020-02-26 22:15] guru4elephant opened #210 "add server side preprocessing and postprocessing framework with python"
https://github.com/PaddlePaddle/Serving/pull/213

[2020-02-26 22:15] #175 closed, assigned to guru4elephant

[2020-02-26 22:17] guru4elephant commented on #154
thread initialization was not called. fixed.

[2020-02-26 22:17] #154 closed, assigned to nobody

[2020-02-27 07:42] wwjjy opened #211 "请问现在有官方的dockerfile了吗?"
如题，如果有的话，能否提供一下，文档里的链接点进去是404呀~

[2020-02-27 13:54] bjjwwang commented on #211
目前还在开发中，应该会在这几天就会更新出来。
如果是想要编译，暂时可以下载镜像 hub.baidubce.com/ctr/paddleserving:latest

[2020-02-28 10:04] guru4elephant opened #214 "support paddle_serving_server.web_serve launch command for simple http post and debug"
https://github.com/PaddlePaddle/Serving/pull/213

[2020-02-29 06:57] #150 closed, assigned to nobody

[2020-02-29 06:58] #188 closed, assigned to MRXLT

[2020-02-29 06:59] #164 closed, assigned to MRXLT

[2020-02-29 14:41] guru4elephant opened #217 "Model Ensemble Example"
## Take text classification as an example
- train models with CNN/BOW/LSTM encoder with the same text input.
- build a paddle serving service with three models in one service.
- try to parallelize the inference and get the ensemble model score.
- write publishable documents in English and Chinese for this feature.

https://github.com/PaddlePaddle/Serving/pull/450

[2020-02-29 14:49] guru4elephant opened #218 "A/B Test Example"
Take the models trained in https://github.com/PaddlePaddle/Serving/issues/217, and deploy two of the models as A/B test.

[2020-02-29 14:51] guru4elephant opened #219 "Criteo CTR model with Dist KV"
train a criteo CTR model and serving the model with dist kv op for sparse features.

Motivation of this tutorial:
- show how to use dist kv op in rpc service
- show how to config built-in operators on server side.

[2020-02-29 15:04] guru4elephant opened #220 "Add an image representation service Example"
add an image representation service with general serving.
- Model: Resnet50 based on Imagenet dataset
- write a publishable tutorial for the serving part given a trained model with paddle.

[2020-02-29 15:22] guru4elephant opened #221 "LAC as a NLP serving example"
add a word segmentation example
- reuse the model from jieba
- a user's input is a Chinese sentence.
- write preprocess logic on web service side.
- serve word segmentation model with RPCService.

[2020-03-01 00:21] guru4elephant opened #222 "Inference of two models with dependencies example"
Build a serving example with two models
- the score of model A is the input of model B
- Train model A and model B with Criteo dataset on CTR DNN
- Model A is only trained with dense features
- Model B is trained with sparse features and the score from odel A.

[2020-03-01 01:07] guru4elephant opened #223 "Knowledge Distilling Example"
Build a knowledge distilling example, teachers are hosted on server side, and students are training agent.

[2020-03-02 06:15] #135 closed, assigned to MRXLT

[2020-03-02 07:49] #144 closed, assigned to nobody

[2020-03-02 07:49] #207 closed, assigned to nobody

[2020-03-02 07:50] #210 closed, assigned to nobody

[2020-03-02 07:50] #214 closed, assigned to nobody

[2020-03-02 09:01] guru4elephant opened #224 "execute a serving server with configs only"
server export a config includes transpiled server and client config, as well as workdir.
it will be user-friendly if a server can start up with only config and workdir.

[2020-03-02 11:45] barrierye opened #226 "/doc/DESIGN.md中某段缺少句号，可能让人理解困难"
建议添加句号或其他更好的排版：

[2020-03-03 05:38] guru4elephant opened #230 "Text classification with IMDB"
To show how to use user-defined web service to host a text classification model

[2020-03-03 07:08] barrierye opened #231 "/python/examples/criteo_ctr/get_data.sh 文件中URL未解码，导致脚本运行错误"
原文件第一行

应该为

原脚本运行下载文件为：data%2Fctr_prediction%2Fctr_data.tar.gz，无法顺利运行。

[2020-03-03 11:29] barrierye opened #232 "/python/examples/criteo_ctr/local_train.py 基于新版paddle提示警告"
在新版paddle中添加了一个auc op相关的警告，见https://github.com/PaddlePaddle/Paddle/pull/19838

[2020-03-03 11:47] barrierye commented on #232
还有一个报错：

[2020-03-03 12:21] barrierye opened #234 "/python/examples/fit_a_line 例子在client启动时会出core"
复现如下：
1. cd python/examples/fit_a_line && sh ./get_data.sh
2. python test_client.py serving_client_conf/serving_client_conf.prototxt

进只有一句`segmentation fault`信息

在`<python-site-packages-path>/paddle_serving_client/__init__.py`加断点如下：
![image](https://user-images.githubusercontent.com/28446721/75775080-31c4b100-5d8c-11ea-8ada-db0bf3f699ff.png)
报错信息如下：
![image](https://user-images.githubusercontent.

[2020-03-04 11:33] guru4elephant opened #239 "多线程timeline"
timeline当前在多线程下无法区分线程级别的数据，需要增加request id信息

[2020-03-05 11:20] barrierye commented on #234
在新机器上重新编译了client，正常跑不会出core，应该是之前的编译环境有点问题。

[2020-03-05 11:23] barrierye opened #242 "编译时Golang需要>=1.9，原文档写的是>=1.8"
编译时候遇到
[code]

[2020-03-05 14:35] guru4elephant commented on #232
thx, fixed in https://github.com/PaddlePaddle/Serving/pull/235

[2020-03-05 14:35] #232 closed, assigned to nobody

[2020-03-06 05:48] barrierye opened #246 "在Travis-CI中编译遇到libbrpc.a链接错误"
相关环境：
- ubuntu 14.04.5
- cmake 3.9.2
- gcc 4.8.4
- go 1.14
- python 2.7.17

部分报错信息：
[code]

[2020-03-06 06:40] barrierye opened #247 "/doc/GETTING_STARTED.md 与现在完全不一致建议直接删除，用/python/examples中各个样例的README替代"
文件：https://github.com/barrierye/Serving/blob/develop/doc/GETTING_STARTED.md
目前develop代码在编译时貌似不再支持/doc/INSTALL.md中的`make install`命令：
[code]
这导致本文件在现有代码基础上完全无法复现，建议用/python/examples中各个样例的README替代GETTING_STARTED

[2020-03-06 08:49] guru4elephant opened #250 "serve.py对于GPU直接占用所有卡，每卡一个进程"
python -m paddle_serving_server.serve --model bert --gpuids 0,1,2,3 --port 9292

[2020-03-06 09:22] barrierye opened #251 "在Travis-CI中编译遇到serving_client.so链接错误"
相关环境：
- ubuntu 14.04.5
- cmake 3.9.2
- gcc 4.8.4
- python 2.7.17
- go 1.14

报错信息如下：
[code]
似乎要加上`-fPIC`重新编译，但之前没有遇到过这种情况。

[2020-03-06 09:51] barrierye commented on #251
Python编译的时候加上fPIC选项可以解决

[2020-03-06 09:51] #251 closed, assigned to nobody

[2020-03-06 09:59] barrierye commented on #246
更新openssl后不再出现

[2020-03-06 11:01] #239 closed, assigned to MRXLT

[2020-03-06 11:04] guru4elephant opened #252 "dist kv op based ctr auc test."

[2020-03-07 09:29] barrierye opened #253 "编译Server代码的时候有时候会报错（概率性出现）：no Go files in /Serving/core/cube/cube-transfer/src/github.com/mipearson/rfw"
cmake选项：
[code]

编译命令：
[code]

报错信息：
[code]

[2020-03-07 14:58] guru4elephant opened #254 "support python 3"

[2020-03-08 01:48] barrierye commented on #234
用于复现的Dockerfile如下：
[code]

[2020-03-09 02:05] RockWater opened #258 "无法下载paddle-serving-server"
pip install paddle-serving-server
Collecting paddle-serving-server
  Could not find a version that satisfies the requirement paddle-serving-server (from versions: )
No matching distribution found for paddle-serving-server

[2020-03-09 09:09] guru4elephant opened #259 "install and run auth do not match"
![image](https://user-images.githubusercontent.com/35550832/76198225-a2eee300-6228-11ea-8697-e00c9526b1e7.png)

A user may install paddle-serving-server with root auth, but run with user auth. The serving binary can not be written on disk in this case, should report an friendly error.

[2020-03-09 09:16] MRXLT commented on #258
你好，请问使用的python版本是多少呢，paddle serving目前还没有发布python3版本的安装包

[2020-03-09 16:47] bjjwwang opened #262 "ctriteo ctr client出现如下错"
![image](https://user-images.githubusercontent.com/23625746/76236068-131c5980-6267-11ea-8b1c-756eda4a30f5.png)

[2020-03-10 04:39] barrierye commented on #253
该文件是在编译过程中下载的，当网络条件不好的时候会遇到。

[2020-03-10 04:39] #253 closed, assigned to nobody

[2020-03-10 07:40] RockWater commented on #258
难怪。我用的是python3。谢谢。预计什么时候发布python3的版本呢

[2020-03-10 08:59] littletomatodonkey opened #264 "已经安装了paddle1.7 gpu版本，安装client时仍然强制安装cpu版本的paddle1.7"
如题
![image](https://user-images.githubusercontent.com/14270174/76295997-7a322080-62f0-11ea-8a74-09eee27b5bc5.png)

[2020-03-11 01:56] MRXLT commented on #258
预计会在本月或下个月发布

[2020-03-11 05:15] leidongfeng opened #269 "如何实现fl.equal结果转换数据类型"
我想用fl.equal算子，进行计算，得到了一个类似于[True,True,False]的结果，然后我使用fl.reduce_sum计算这个结果的sum([True,True,False])，结果说reduce_sum需要输入不能是bool类型。请问这个要如何转。也就是把[True,false]转为[1,0]，让模型继续可导？能给个示例吗（我使用的是paddle静态图）

[2020-03-11 08:50] guru4elephant opened #270 "switch between inference pass and no pass"
sometimes, an inference pass should be close for debugging, current inference library can not be closed by serving server.

[2020-03-12 03:55] houj04 opened #272 "bug in paddle_serving_server_gpu/web_serve.py"
the code "service.run_server()" on line 39
should be "web_service.run_server()"

[2020-03-12 04:04] houj04 opened #273 "bug in paddle_serving_server_gpu/serve.py"
line 66 is: gpus = os.environ["CUDA_VISIBLE_DEVICES"]
it needs "import os" first

[2020-03-12 04:35] guru4elephant commented on #269
没看懂您的issue@leidongfeng

[2020-03-12 05:55] MRXLT commented on #264
感谢反馈，这个bug已提PR修复

[2020-03-12 06:14] houj04 opened #275 "missing "del feed["fetch"]" in gpu web server"
in python/paddle_serving_server_gpu/web_service.py, at line 109, it seems the following two lines are missing, between "self.preprocess" and "client_list[0].predict":
[code]

[2020-03-12 10:13] houj04 opened #278 "start gpu server failed when CUDA_VISIBLE_DEVICES is not set"
if the environment variable of CUDA_VISIBLE_DEVICES is not set, paddle_serving_server_gpu/serve.py will abort at line 67: gpus = os.environ["CUDA_VISIBLE_DEVICES"]

[2020-03-12 10:21] leidongfeng commented on #269
谢谢，这个最后是找到了算子fl.cast直接可以解决问题。

[2020-03-12 10:21] #269 closed, assigned to nobody

[2020-03-12 11:26] linhandev commented on #258
期待

[2020-03-12 13:35] #197 closed, assigned to MRXLT

[2020-03-12 13:35] #250 closed, assigned to MRXLT, guru4elephant

[2020-03-12 14:11] #149 closed, assigned to MRXLT, barrierye

[2020-03-13 06:54] Just-D commented on #211
这docker里面工具都没装？

[2020-03-15 04:58] guru4elephant commented on #278
https://github.com/PaddlePaddle/Serving/pull/268

[2020-03-15 04:58] #278 closed, assigned to nobody

[2020-03-15 04:58] guru4elephant commented on #275
https://github.com/PaddlePaddle/Serving/pull/268

[2020-03-15 04:58] #275 closed, assigned to nobody

[2020-03-15 04:58] guru4elephant commented on #273
https://github.com/PaddlePaddle/Serving/pull/268

[2020-03-15 04:58] #273 closed, assigned to MRXLT

[2020-03-15 10:42] houj04 opened #286 "增加对多种CPU指令集的适配"
背景：我在一台支持avx2指令集的机器上进行了编译和安装。然后将整个python包分发到其它机器上执行的时候报错
Illegal instruction (core dumped)
推测是分发的那批机器比较古老，cpu不支持avx2指令集。
希望的操作：可以运行时自动检测指令集，或者编译的时候可以增加选项以选择支持的指令集。因为编译的机器确实可能和运行的机器cpu型号不同。

[2020-03-16 02:06] #242 closed, assigned to nobody

[2020-03-16 02:31] barrierye commented on #211
最新版的运行镜像：
hub.baidubce.com/ctr/paddleserving:0.1.3
hub.baidubce.com/ctr/paddleserving:0.1.3-gpu
在容器内执行`pip install paddle-serving-server`或`pip install paddle-serving-server-gpu`即可使用

[2020-03-16 04:04] houj04 commented on #286
我在cmake的时候刷了-DWITH_AVX=OFF好像也不行。编译出来的目标文件仍然是这个（路径里面带着avx）
python27-gcc482/lib/python2.7/site-packages/paddle_serving_server/serving-cpu-avx-openblas-0.1.3/serving
推测是中间某个步骤，从bos下载某个依赖的时候没有进行区分。

[2020-03-16 08:17] MRXLT commented on #272
感谢反馈，该bug已修复，https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_server_gpu/web_serve.py

[2020-03-16 08:17] #272 closed, assigned to nobody

[2020-03-16 10:00] #264 closed, assigned to MRXLT

[2020-03-17 02:18] MRXLT commented on #258
已发布0.1.3版本，加入了对python3的支持

[2020-03-17 02:19] MRXLT commented on #254
0.1.3版本已发布，加入对python3的支持

[2020-03-17 02:19] #254 closed, assigned to MRXLT

[2020-03-17 02:21] MRXLT commented on #259
this bug fixed in https://github.com/PaddlePaddle/Serving/pull/265

[2020-03-17 02:21] #259 closed, assigned to MRXLT

[2020-03-17 02:23] MRXLT commented on #195
this bug fixed in commit 078ca225f78a7ca58dfe7093c704211573e13aa6

[2020-03-17 02:23] #195 closed, assigned to MRXLT

[2020-03-17 02:29] MRXLT commented on #286
感谢反馈，serving目前提供了avx-mkl、avx-openblas和noav-openblas三种版本的二进制文件，会在server端第一次执行时根据机器环境下载，但是没有对avx2和avx进行区分，暂时可以通过在avx2的机器上使用1.7.1的inference lib进行编译，这样编译出的二进制文件可以兼容avx环境。
步骤：
修改https://github.com/PaddlePaddle/Serving/blob/develop/cmake/paddlepaddle.cmake#L34 中1.6.3为1.7.1
按照https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE.md 编译文档进行编译，使用编译出的二进制文件替换原来paddle_serving_server或paddle_serving_s

[2020-03-17 03:06] MRXLT opened #290 "web service not support multi-gpu"
当使用export CUDA_VISIBLE_DEVICES=0,1指定多卡时，web service无法实现多卡预测。
原因1
![image](https://user-images.githubusercontent.com/16594411/76817863-fff92300-683e-11ea-91e4-4703ce8cd188.png)
脚本中对于使用多卡的情况做了限制，不支持多卡，仅使用client_list[0]进行预测。
原因2
当修改掉以上代码后，启动预测服务，gpu 0上的预测服务正常，gpu 1上的预测服务挂掉
报错如下
![image](https://user-images.githubusercontent.com/16594411/76817985-5a927f00-683f-11ea-8da8-1cda90809059.png)

[2020-03-17 03:07] MRXLT opened #291 "gpu web service not support gpu 1"
当通过 export CUDA_VISIBLE_DEVICES=1指定使用gpu 1的时候，web service启动时报错

![image](https://user-images.githubusercontent.com/16594411/76818196-ed331e00-683f-11ea-81a0-081e7f64bec5.png)

[2020-03-18 14:07] lesterhnu opened #298 "服务化部署了人像分割服务之后偶尔会出现500 Internal Server Error 请协助解决"
![image](https://user-images.githubusercontent.com/42615458/76968851-8d826300-6964-11ea-93da-ce9c71d91bcc.png)

[2020-03-18 14:15] guru4elephant commented on #298
能否提供一个复现环境？@lesterhnu

[2020-03-19 02:31] lesterhnu commented on #298
![image](https://user-images.githubusercontent.com/42615458/77025508-3d3eeb80-69cc-11ea-994c-9fb9d9febe27.png)
![image](https://user-images.githubusercontent.com/42615458/77025541-534cac00-69cc-11ea-8051-eb2a13a70da7.png)
![image](https://user-images.githubusercontent.com/42615458/77025553-5a73ba00-69cc-11ea-9744-c77573fecdb7.png)
![image](https://user-images.githubusercontent.com/42615458/7702559

[2020-03-19 16:17] guru4elephant commented on #298
这个是paddlehub的问题，请到paddlehub提问，paddle serving后续也会提供人像分割服务的部署示例和高性能版本，敬请关注。

[2020-03-20 02:01] #298 closed, assigned to MRXLT

[2020-03-20 02:04] #211 closed, assigned to bjjwwang

[2020-03-20 02:07] guru4elephant commented on #290
https://github.com/PaddlePaddle/Serving/pull/293

[2020-03-20 02:07] #290 closed, assigned to nobody

[2020-03-20 02:07] guru4elephant commented on #291
https://github.com/PaddlePaddle/Serving/pull/293

[2020-03-20 02:07] #291 closed, assigned to nobody

[2020-03-20 02:10] #258 closed, assigned to MRXLT

[2020-03-20 02:12] #246 closed, assigned to nobody

[2020-03-20 07:20] mcl-stone opened #305 "自己训练的模型，如何转换成serving可以使用的模型"

[2020-03-20 09:00] mcl-stone commented on #305
使用PaddleDetection训练的模型

[2020-03-20 11:20] MRXLT commented on #305
你好，可以使用paddle_serving_client.io.save_model接口，请参考这篇文档，https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE.md

[2020-03-20 11:31] guru4elephant commented on #262
we should solve the problem of import error.

[2020-03-20 11:32] guru4elephant commented on #252
https://github.com/PaddlePaddle/Serving/pull/296 done.

[2020-03-20 11:32] #252 closed, assigned to bjjwwang

[2020-03-20 11:36] guru4elephant commented on #230
@MRXLT will give a tutorial about training and serving with IMDB dataset.

[2020-03-20 11:39] #165 closed, assigned to bjjwwang

[2020-03-20 11:39] #166 closed, assigned to bjjwwang

[2020-03-23 01:14] houj04 opened #316 "web_serve会额外占用一个端口"
发现使用python -m paddle_serving_server_gpu.web_serve的时候，除了会使用设置的port以外，还会占用port+1这个端口。
在某些情况下用户无法获得连续的端口，例如在使用某些PaaS平台提供的动态端口的时候。
希望可以让用户自己指定每一个能使用的端口号，而不是目前直接在port后面+1。

[2020-03-23 03:01] houj04 opened #317 "编译文档需要更新，里面仍有旧的CLIENT_ONLY参数"
这个commit把CLIENT_ONLY参数移除了，并增加了新的参数。
https://github.com/PaddlePaddle/Serving/commit/e8e19b21775ea9aeb350c0a5050f07ffa6535a8a
但是这个文档没有同步更新。
https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE.md

[2020-03-23 03:05] barrierye opened #318 "imdb example中get_data.sh脚本提供的模型acc偏低"
bow:
[code]
cnn:
[code]
lstm:
[code]

[2020-03-23 08:56] barrierye commented on #247
执行cmake时需要加上`-DCMAKE_INSTALL_PREFIX=./output/`参数，否则默认安装到`/usr/local`路径下，如果没有相应的权限则会遇到这个问题。

[2020-03-23 08:56] #247 closed, assigned to barrierye

[2020-03-24 02:10] guru4elephant commented on #316
接下来会做改进，把rpc的端口通过环境变量获取，如果环境变量获取不了则从用户指定端口开始获取前N个可用端口用作rpc服务的端口，感谢反馈！

[2020-03-24 06:16] hysunflower opened #324 "Paddle Serving 0.2.0 在Python3.6 下server 和client安装异常"
详见  [DLTP-4993](http://newicafe.baidu.com:80/issue/DLTP-4993/show?from=page)

 * BUG复现步骤：

   *   docker pull hub.baidubce.com/ctr/paddleserving:0.1.3-gpu镜像

   *   建立docker

   *   安装anaconda 5.3.1

   *   建立py3.6环境并 pip install paddlehub

   *   执行

       *  (1)  pip install paddle_serving_client

       *  (2) pip install paddke_serving_server_gpu

 * 期望结果：

按照安装逻辑，应该是client支持单独安装，也支持server安装时

[2020-03-24 06:31] hysunflower opened #325 "Paddle Serving 0.2.0 基础功能测试 imdb模型 README 文档错误"
详见 [DLTP-5021](http://newicafe.baidu.com:80/issue/DLTP-5021/show?from=page)

imdb 模型 README 页实例描述有误 [imdb](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/imdb)
![图片](https://user-images.githubusercontent.com/52739577/77395257-25a4a000-6ddc-11ea-9ea8-5fd2cfd47307.png)

[2020-03-24 09:21] barrierye commented on #317
感谢关注，文档已更新。

[2020-03-24 09:21] #317 closed, assigned to barrierye

[2020-03-25 02:58] MRXLT opened #332 "示例错误集合"
### bert示例
bert_client.py 缺少importBertReader
readme中获取模型的命令缺少参数
文档中的配置文件夹与实际文件夹名称不一致
执行预测命令文件名与实际不一致，thread参数多余
### ctr文档
没有gpu预测服务的启动方法
### imagenet示例
get_model.sh解压文件名称错误
client执行预测时配置文件名错误
### imdb示例
reademe中使用的模型未保持一致

[2020-03-25 09:43] MRXLT opened #336 "BERT IN 10 MINS DOC ERROR"
![image](https://user-images.githubusercontent.com/16594411/77522945-00895d80-6ec0-11ea-9f8c-b80e3fa2a4c3.png)
代码错误
![image](https://user-images.githubusercontent.com/16594411/77522979-0a12c580-6ec0-11ea-85f0-6d0f68dbcfe0.png)
运行时出错

[2020-03-25 10:23] MRXLT opened #339 "bert 示例启动http预测服务时错误"
![image](https://user-images.githubusercontent.com/16594411/77526408-75ab6180-6ec5-11ea-84a4-a0fd465a5611.png)

[2020-03-25 10:23] MRXLT opened #340 "bert 示例执行rpc预测服务时错误"
![image](https://user-images.githubusercontent.com/16594411/77526541-bc995700-6ec5-11ea-8b1a-3c9c8f826ec1.png)

[2020-03-25 12:24] mcl-stone commented on #305
感谢！

[2020-03-25 12:24] #305 closed, assigned to MRXLT

[2020-03-25 13:29] wangxicoding opened #342 "client作为子进程时出错退出导致别的子进程Hang住"
多个reader子进程连接不同的serving，当其中一个serving出错后（如显存超了），可能导致与之相连的reader子进程出错exit(-1)。
https://github.com/PaddlePaddle/Serving/blob/21b998fa5cdb2efed045a7379cb366476366b683/core/general-client/src/general_model.cpp#L364-L367
用多进程共享的Queue、Pipe时，如果子进程使用了锁或者信号量等共享对象，杀掉进程可能导致其它进程死锁。

------
**具体现象**
如图，某一serving显存超限，挂了。
![image](https://user-images.githubusercontent.com/10208305/77540608-579e2b00-6ede-11ea-8b81

[2020-03-26 05:38] MRXLT commented on #332
fixed in https://github.com/PaddlePaddle/Serving/pull/338

[2020-03-26 05:40] MRXLT commented on #336
fixed in https://github.com/PaddlePaddle/Serving/pull/338

[2020-03-26 05:40] MRXLT commented on #325
fixed in https://github.com/PaddlePaddle/Serving/pull/338

[2020-03-26 05:41] #325 closed, assigned to MRXLT

[2020-03-26 05:41] #332 closed, assigned to MRXLT

[2020-03-26 05:41] #336 closed, assigned to MRXLT

[2020-03-26 05:57] MRXLT commented on #340
原因是保存的模型max_seq_len与client数据预处理时使用的max_seq_len不一致

[2020-03-26 06:16] #340 closed, assigned to MRXLT

[2020-03-26 06:20] MRXLT opened #345 "bert模型V100上GPU server 实际占卡和指定的GPU 卡号不一致"
启动时指定使用4，5，6，7卡，但实际占用未0，1，2，3

[2020-03-26 15:30] guru4elephant commented on #342
https://github.com/PaddlePaddle/Serving/pull/343

[2020-03-26 15:30] #342 closed, assigned to guru4elephant

[2020-03-26 15:33] #231 closed, assigned to guru4elephant

[2020-03-29 13:16] MRXLT opened #350 "参考编译文档从源码编译gpu版本失败"
<img width="1104" alt="编译GPU server" src="https://user-images.githubusercontent.com/16594411/77850039-7cf2a800-7202-11ea-978e-20a87b6aaaf5.png">

[2020-03-29 13:18] MRXLT opened #351 "参考run in docker文档，gpu docker build失败"
![image](https://user-images.githubusercontent.com/16594411/77850112-df4ba880-7202-11ea-9acb-2a51d48a8aa5.png)

[2020-03-29 13:21] MRXLT opened #352 "参考run in docker文档，构建cpu镜像失败"
Sending build context to Docker daemon 2.048 kB
Step 1 : FROM centos:6.3
Pulling repository docker.io/library/centos
Could not reach any registry endpoint

[2020-03-29 13:28] MRXLT opened #353 "py3版本client运行imdb示例失败"
![image](https://user-images.githubusercontent.com/16594411/77850318-4158dd80-7204-11ea-9cd6-98a32c9bc75b.png)

[2020-03-29 13:30] MRXLT opened #354 "py3版本运行ctr示例失败"
![image](https://user-images.githubusercontent.com/16594411/77850341-6fd6b880-7204-11ea-897b-2352cc5fc2f3.png)

[2020-03-29 13:41] MRXLT opened #355 "文档中名词书写不统一"
文档中有多处名词不统一的问题
paddle 与 paddlepaddle
paddleserving  与paddle serving

[2020-03-30 01:07] wangxicoding opened #356 "多进程使用出错"
与paddle共用时，在Process开的子进程里面连接serving服务会出错。在使用线程或者不与paddle共用时没有问题
`client.connect([endpoint])`
![image](https://user-images.githubusercontent.com/10208305/77866414-8d883a00-7265-11ea-9bc9-93d84b95ea46.png)

[2020-03-30 01:11] wangxicoding opened #357 "【需求】predict支持numpy"
现在predict只支持list，效率较低，需要支持numpy
https://github.com/PaddlePaddle/Serving/blob/07fb167bb012b98602d589aae7fc57997d7e2f17/core/general-client/src/general_model.cpp#L135-L141

[2020-03-30 01:22] guru4elephant commented on #357
有具体case嘛，提供一个环境看看

[2020-03-30 02:44] barrierye commented on #351
可否提供下相应的Docker版本和执行命令？没有复现出这个错误

[2020-03-30 03:03] barrierye commented on #352
使用的是旧版Dockerfile，新版Dockerfile是基于centos:7.3.1611构建的，请根据文档中的[Dockerfile](https://github.com/PaddlePaddle/Serving/blob/develop/tools/Dockerfile)构建

[2020-03-30 03:26] barrierye commented on #350
请问是在本地编译还是在Docker环境中编译，可否提供一下复现的命令？

[2020-03-30 04:50] hysunflower commented on #352
已重试，构建成功，并可通过  [构建docker ](https://github.com/PaddlePaddle/Serving/blob/v0.2.0/doc/RUN_IN_DOCKER_CN.md) CPU 版本  测试example

[2020-03-30 04:52] #352 closed, assigned to nobody

[2020-03-30 05:13] hysunflower commented on #351
* 使用的dockerfile 为由 serving 编译页跳转而来的[Dockerfile](https://github.com/PaddlePaddle/Serving/blob/develop/tools/Dockerfile.gpu.devel)
 *  [docker 构建页](https://github.com/PaddlePaddle/Serving/blob/v0.2.0/doc/RUN_IN_DOCKER_CN.md)的dockerfile 跳转和[serving编译页](https://github.com/PaddlePaddle/Serving/blob/develop/tools/Dockerfile.devel)的docker file跳转，所指向的具体内容（CPU 版本和GPU版本均是）有些许diff，上图所示为基于serving 编译页提供的docker

[2020-03-30 05:28] barrierye commented on #351
您好，[serving编译页（COMPILE.md）](https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE.md)提供的是编译所需的Dockerfile（*.devel），[docker构建页（RUN_IN_DOCKER.md）](https://github.com/PaddlePaddle/Serving/blob/v0.2.0/doc/RUN_IN_DOCKER_CN.md)提供的是运行所需的Dockerfile（没有devel后缀）。因为编译需要一些运行时不需要的组件，所以两者有些许diff。

RUN_IN_DOCKER文档中使用的是运行所需的[Dockerfile.gpu](https://github.com/PaddlePaddle/Serving/blob/v0.2.0/tools/Docker

[2020-03-30 05:33] hysunflower commented on #351
docker 构建页的dockerfile 跳转可以成功构建 GPU 镜像 并通过测试GPU example
另外https://github.com/PaddlePaddle/Serving/blob/v0.2.0/doc/RUN_IN_DOCKER_CN.md
中此处
<img width="993" alt="图片" src="https://user-images.githubusercontent.com/52739577/77878591-385f1f00-728b-11ea-85d4-6016547eeb8d.png">

是否应该加上 --gpu_ids=XXX? 因为只export GPU 而不设置 --gpu_ids该参数 会报
<img width="1183" alt="图片" src="https://user-images.githubusercontent.c

[2020-03-30 05:42] barrierye opened #360 "server端(gpu)开多线程会下载多个 serving-gpu-0.1.3.tar.gz包"
![image](https://user-images.githubusercontent.com/28446721/77879077-3c3f7100-728c-11ea-8862-773c8ee3fe74.png)

[2020-03-30 05:48] barrierye commented on #351
可否提供下机器上的gpu数，可能您的机器上没有两块gpu但是`export CUDA_VISIBLE_DEVICES`设置了两块。
另外`--gpu_ids=`会覆盖环境变量`CUDA_VISIBLE_DEVICES`，您是否用`--gpu_ids=0`只设置了一块gpu？

[2020-03-30 05:55] hysunflower commented on #351
八卡的机器

示例中--gpu_ids是缺省的，@MRXLT  已解答export 非必须 ，缺省情况下默认用0卡，但是实际情况是不export，缺省该参数会
<img width="1198" alt="图片" src="https://user-images.githubusercontent.com/52739577/77879932-1ca94800-728e-11ea-8661-a765f329e230.png">

[2020-03-30 06:06] hysunflower commented on #350
docker 内编译，所用docker 镜像  hub.baidubce.com/ctr/paddleserving:0.1.3-gpu
所需编译 工具及其版本按照该 [dockerfile](https://github.com/PaddlePaddle/Serving/blob/develop/tools/Dockerfile.gpu.devel)准备
步骤
 * git clone https://github.com/PaddlePaddle/Serving
 * cd Serving && git submodule update --init --recursive
 * git checkout v0.2.0
 * mkdir build && cd build
 *  export PYTHONROOT=/usr/
 * cmake -DPYTHON_INCLUDE_DIR

[2020-03-30 06:15] barrierye commented on #351
您好，缺省`CUDA_VISIBLE_DEVICES`和`gpu_ids`将使用0卡；另外查看了代码，这部分没有更新存在一个bug（您给的图）。

文档中将会补上`CUDA_VISIBLE_DEVICES`和`gpu_ids `的说明，感谢！

[2020-03-30 06:27] barrierye commented on #350
您好，gpu版本编译请使用[Dockerfile.gpu.devel（即您查看的Dockerfile）](https://github.com/PaddlePaddle/Serving/blob/develop/tools/Dockerfile.gpu.devel)，而运行镜像 hub.baidubce.com/ctr/paddleserving:0.1.3-gpu 是给运行而非编译使用的（由Dockerfile.gpu构建），暂时没有提供构建好的开发镜像。

两者的基础镜像不同，Dockerfile.gpu.devel使用的基础镜像为nvidia/cuda:9.0-cudnn7-devel-centos7，而Dockerfile.gpu使用的基础镜像为nvidia/cuda:9.0-cudnn7-runtime-centos7

[2020-03-30 07:07] hysunflower commented on #350
好的，明白了，总体就是编译需要编译镜像，运行需要运行镜像，编译镜像支持运行，但是运行镜像不支持编译哈。

我试一下按照编译所需的dockerfile构建镜像然后编译。建议在 [如何编译serving](https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE.md)页面提供链接跳转至
[如何在Docker中运行PaddleServing](https://github.com/PaddlePaddle/Serving/blob/v0.2.0/doc/RUN_IN_DOCKER_CN.md) ,为用户提供dockerfile 构建编译镜像的用法

[2020-03-30 07:09] barrierye commented on #350
好的，将会在RUN_IN_DOCKER文档中添加开发镜像相关的说明，感谢！

[2020-03-30 08:39] ShenYuhan opened #363 "Start bert_as_service fail."
Env:
PaddlePaddle: 1.6.2
Paddle_gpu_serving: 0.8.2
platform：Linux version 3.10.0_3-0-0-20 (gcc version 4.8.2 20140120 (Red Hat 4.8.2-16) (GCC) ) #1 SMP Thu May 24 14:41:54 CST 2018

When execute：
[code]

Exception info:
![image](https://user-images.githubusercontent.com/28444161/77892251-e62af780-72a4-11ea-93e3-6fdb1484f3b1.png)

[2020-03-30 08:56] MRXLT opened #364 "示例代码的py3兼容性问题"
在执行py3版本的示例中遇到以下问题
imdb示例
![image](https://user-images.githubusercontent.com/16594411/77893989-3c993580-72a7-11ea-8e87-4f8766d941f9.png)
imagenet示例
![image](https://user-images.githubusercontent.com/16594411/77894035-4cb11500-72a7-11ea-8823-891d2d2176b3.png)
ctr示例
![image](https://user-images.githubusercontent.com/16594411/77894060-563a7d00-72a7-11ea-9213-4f67cdc2201f.png)

[2020-03-30 08:56] MRXLT commented on #364
fixed in https://github.com/PaddlePaddle/Serving/pull/358

[2020-03-30 10:50] wangxicoding opened #366 "[bug][需求] 一个进程可以建多个client连同一server"
如下代码和图所示，一个进程建多个client连接同一server会出错。 目的是一个用于trainer_reader，在后台线程一直读取训练数据，另外一个client用于读取test数据。
[code]
![image](https://user-images.githubusercontent.com/10208305/77904270-dd432180-72b6-11ea-9376-316d6b335023.png)

[2020-03-30 11:08] hysunflower commented on #350
试了一下按照 [Dockerfile.gpu.devel](https://github.com/PaddlePaddle/Serving/blob/develop/tools/Dockerfile.gpu.devel)构建镜像出现如下问题:
<img width="1354" alt="图片" src="https://user-images.githubusercontent.com/52739577/77905843-8a1e9e00-72b9-11ea-8214-5585f320d878.png">

步骤：
 * 拷贝dockerfile 内容到Dockerfile
 *  开代理
 *  docker build -t hub.baidubce.com/paddlepaddle/serving:0.1.3-gpu-build-to-compile .
不知是什么原因？

[2020-03-30 11:22] barrierye commented on #350
看起来是下载get-pip.py的时候出现的问题，请问用您的代理可以顺利下载get-pip.py（`curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py`）吗？

[2020-03-30 11:24] hysunflower commented on #350
可以的，如下
<img width="1029" alt="图片" src="https://user-images.githubusercontent.com/52739577/77907314-04e8b880-72bc-11ea-9864-ca211ff37adc.png">

<img width="370" alt="图片" src="https://user-images.githubusercontent.com/52739577/77907334-0dd98a00-72bc-11ea-9710-4a65506cd088.png">

[2020-03-30 11:33] barrierye commented on #350
想确认下您这个也是在代理环境下下载get-pip.py吗？
能否将Dockerfile中 `curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py >/dev/null`的 `>/dev/nul`删除，看看具体输出了什么呢

[2020-03-30 11:35] hysunflower commented on #350
好的，我重新执行下docker build

[2020-03-30 12:40] wangxicoding commented on #366
client连接不同client也会出错！！！如图先连9999，再连9998，出错。
[code]

![image](https://user-images.githubusercontent.com/10208305/77913175-6150d580-72c6-11ea-8e40-64d83e5e8cbf.png)

[2020-03-30 13:34] hysunflower commented on #350
重试之后 docker build 成功，之前可能是网络原因导致的下载失败？

然后编译server GPU版本执行 make -j10出现
<img width="342" alt="图片" src="https://user-images.githubusercontent.com/52739577/77918229-28b4fa00-72ce-11ea-8af5-b55a407143a0.png">
是还需要另外的编译依赖吗？我所理解的是dockerfile已经为用户提供了所有的依赖了

[2020-03-30 13:39] barrierye commented on #350
是的，在make编译时需要下载一些第三方库进行编译，在过程中可能会因为网络原因而导致编译错误。您可以重新在本次make失败后继续make一下

[2020-03-30 14:41] hysunflower commented on #350
<img width="904" alt="图片" src="https://user-images.githubusercontent.com/52739577/77924771-b1379880-72d6-11ea-8185-68a9321e94b7.png">

已成功编译

一个疑问，上述提到的编译需要用编译环境的dockerfile 来构建镜像，但是我之前用运行镜像起的docker 成功编译的client 、cpu server以及paddle-serving-app, 这三个是可以在运行或者开发镜像编译的而只有GPU 必须是开发镜像才可以吗？

[2020-03-30 14:52] barrierye commented on #350
您是否使用相应的docker.devel在CPU运行镜像中安装了必要的组件？

CPU版本的运行镜像和开发镜像都是同一个基础镜像，而GPU版本的运行镜像和开发镜像不是同一个基础镜像。

[2020-03-31 05:29] hysunflower commented on #350
好的，多谢

[2020-03-31 05:36] #350 closed, assigned to nobody

[2020-03-31 09:03] #364 closed, assigned to MRXLT

[2020-03-31 09:04] MRXLT commented on #354
fixed in https://github.com/PaddlePaddle/Serving/pull/358

[2020-03-31 09:04] #354 closed, assigned to nobody

[2020-03-31 09:07] MRXLT commented on #345
fixed in https://github.com/PaddlePaddle/Serving/pull/371
通过export CUDA_VISIBLE_DEVICES 指定使用的gpu，此时gpu_ids参数指定的gpu索引号为CUDA_VISIBLE_DEVICES中的gpu顺序

[2020-03-31 09:07] #345 closed, assigned to nobody

[2020-04-01 13:13] barrierye commented on #351
文档中将会补上CUDA_VISIBLE_DEVICES和gpu_ids 的说明，感谢！

缺省`gpu_ids`将使用CPU，当`gpu_ids`超出`CUDA_VISIBLE_DEVICES`会报错

[2020-04-01 13:13] #351 closed, assigned to nobody

[2020-04-01 13:14] #226 closed, assigned to nobody

[2020-04-01 13:22] barrierye commented on #218
added A/B Test example in #320

[2020-04-01 13:22] #218 closed, assigned to barrierye

[2020-04-02 01:15] mcl-stone opened #377 "PaddleDetection训练出来的模型，如何转换成PaddlePaddle/Serving可以部署的方式，求例子，弄了好久了还是不行"

[2020-04-02 06:22] guru4elephant commented on #377
收到，我们准备个例子

[2020-04-02 07:33] mcl-stone commented on #377
感谢感谢

[2020-04-02 08:22] MRXLT opened #382 "按照编译文档编译Serving时出错"
参考https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md
错误如下
![image](https://user-images.githubusercontent.com/16594411/78226323-22a56000-74fe-11ea-845e-21efd26d4c1c.png)

[2020-04-02 08:39] MRXLT opened #383 "server端不支持centos6 ,ubuntu16,ubuntu 18"
centos 6
![image](https://user-images.githubusercontent.com/16594411/78227832-79139e00-7500-11ea-9b53-e9b8d57701c2.png)

ubuntu 16
![image](https://user-images.githubusercontent.com/16594411/78227541-fdb1ec80-74ff-11ea-86cd-5838a7e6f713.png)
ubuntu 18
![image](https://user-images.githubusercontent.com/16594411/78227578-0b677200-7500-11ea-8288-a5ae65908849.png)

[2020-04-02 09:23] hysunflower commented on #382
我这边可以编译成功。
* 所用docker 镜像为 [如何编译PaddleServing](https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md) 页提供的GPU Dpckerfile 所编译好的镜像

 * 然后在v0.2.0分支上按照[如何编译PaddleServing](https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md)  进行GPU 编译

 * 编译过程有make -j10 后2次失败，但是重试后最终能够成功编译
<img width="973" alt="图片" src="https://user-images.githubusercontent.com/52739577/78232279-96e40

[2020-04-02 09:42] mcl-stone commented on #377
请问到时例子放在什么地方

[2020-04-02 10:45] bjjwwang commented on #377
尽快给您一个可以wget的链接 压缩包解压就可以运行的那种

[2020-04-03 01:41] mcl-stone commented on #377
感谢！

[2020-04-03 04:56] barrierye commented on #382
单线程编译没有问题，在使用多线程编译时（尤其是使用`-j10`）有可能会失败，多次重试后可以构建成功。

应该是makefile中缺失部分依赖，这是一个问题。

[2020-04-03 08:51] bjjwwang commented on #377
我目前做了Serving保存的Pddet模型，我用yolov3的网络测试通过。可以在PaddleDetection目录下的tools/export_model.py的save_infer_model下做以下的改动，这样，就可以在pddet_serving_model下获取serving server端的模型配置，在pddet_client_conf获得客户端的配置。

![image](https://user-images.githubusercontent.com/23625746/78341895-03283900-75cb-11ea-93f1-78101d5cebff.png)
需要按照箭头处import serving的一个包
然后按照红框处，写好feed 和 fetch字典，运行export_model即可。

此外，还有数据的读取部分，可以参考Serving代码库下的pyth

[2020-04-03 09:06] barrierye opened #392 "开10线程编译时遇到机器内存不足导致编译错误"
机器总内存为4045240 kB，可用内存为 2716572 kB
[code]

[2020-04-03 10:45] barrierye commented on #382
您好，能否看下Error位置处，是否是以下报错？
[code]

[2020-04-03 13:45] #366 closed, assigned to barrierye

[2020-04-03 14:57] bjjwwang commented on #377
wget https://paddle-serving.bj.bcebos.com/unittest/pddet_yolov3_mobilenet_v1_fruit.tar.gz 里面是yolov3的模型可在serving启动。

[2020-04-04 01:42] guru4elephant commented on #363
https://github.com/PaddlePaddle/Serving/blob/develop/doc/BERT_10_MINS.md 可以参考这个@ShenYuhan

[2020-04-04 03:33] mcl-stone commented on #377
感谢！

[2020-04-04 06:20] guru4elephant commented on #392
https://github.com/PaddlePaddle/Serving/pull/393

[2020-04-04 06:20] #392 closed, assigned to nobody

[2020-04-04 06:21] guru4elephant commented on #383
官方给出按照docker启动server的方法，放在readme

[2020-04-04 07:15] guru4elephant opened #398 "GO_CLIENT DOC不能执行"
https://github.com/PaddlePaddle/Serving/blob/develop/doc/IMDB_GO_CLIENT.md
文档无法跑通

[2020-04-04 08:30] #324 closed, assigned to MRXLT

[2020-04-04 09:37] barrierye commented on #382
多线程编译存在另外一个错误，应该也是依赖问题：
[code]

[2020-04-04 14:59] #360 closed, assigned to MRXLT

[2020-04-05 04:02] guru4elephant commented on #398
https://github.com/PaddlePaddle/Serving/pull/399 fixed

[2020-04-05 04:02] #398 closed, assigned to guru4elephant

[2020-04-05 04:02] guru4elephant commented on #382
https://github.com/PaddlePaddle/Serving/pull/393 fixed.

[2020-04-05 04:03] #262 closed, assigned to nobody

[2020-04-05 04:04] #339 closed, assigned to MRXLT

[2020-04-05 04:37] #382 closed, assigned to nobody

[2020-04-05 04:38] #355 closed, assigned to nobody

[2020-04-05 04:38] guru4elephant commented on #230
https://github.com/PaddlePaddle/Serving/blob/develop/doc/TRAIN_TO_SERVICE.md

[2020-04-05 04:38] #230 closed, assigned to MRXLT

[2020-04-05 04:39] guru4elephant commented on #221
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/lac

[2020-04-05 04:39] #221 closed, assigned to bjjwwang

[2020-04-05 04:39] #125 closed, assigned to guru4elephant

[2020-04-05 04:39] #126 closed, assigned to nobody

[2020-04-05 04:41] guru4elephant commented on #117
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/criteo_ctr_with_cube

[2020-04-05 04:41] #117 closed, assigned to nobody

[2020-04-05 04:41] guru4elephant commented on #90
https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER.md

[2020-04-05 04:41] #90 closed

[2020-04-05 04:42] guru4elephant commented on #168
shown in https://github.com/PaddlePaddle/Serving/blob/develop/doc/BERT_10_MINS.md

[2020-04-05 04:42] #168 closed, assigned to MRXLT

[2020-04-05 04:42] guru4elephant commented on #127
https://github.com/PaddlePaddle/Serving/tree/develop/go

[2020-04-05 04:42] #127 closed, assigned to nobody

[2020-04-05 04:44] #11 closed

[2020-04-05 04:46] guru4elephant commented on #167
https://github.com/PaddlePaddle/Serving/blob/develop/doc/BERT_10_MINS.md

[2020-04-05 04:46] #167 closed, assigned to MRXLT

[2020-04-05 04:49] guru4elephant commented on #199
https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md

[2020-04-05 04:49] #199 closed, assigned to MRXLT

[2020-04-05 04:50] guru4elephant commented on #234
fixed in https://github.com/PaddlePaddle/Serving/pull/385

[2020-04-05 04:50] #234 closed, assigned to nobody

[2020-04-05 04:51] guru4elephant commented on #357
https://github.com/PaddlePaddle/Serving/blob/develop/doc/BERT_10_MINS.md

[2020-04-05 04:51] guru4elephant commented on #203
https://github.com/PaddlePaddle/Serving/blob/develop/doc/BERT_10_MINS.md

[2020-04-05 04:51] #203 closed, assigned to MRXLT

[2020-04-05 04:52] guru4elephant commented on #219
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/criteo_ctr_with_cube

[2020-04-05 04:52] #219 closed, assigned to bjjwwang

[2020-04-05 04:53] guru4elephant commented on #220
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/imagenet

[2020-04-05 04:53] #220 closed, assigned to MRXLT

[2020-04-06 15:32] guru4elephant opened #409 "enable FP16 when serving."

[2020-04-06 15:34] guru4elephant opened #410 "load balancing for multi gpu serving"
we should have a load balancing mechanism for gpu serving. gpu memory is limited, it is not acceptable if multiple queries make gpu memory increase out of boundary.

[2020-04-06 15:36] guru4elephant opened #411 "multiple language client supported."
we should support multiple client language for serving.

[2020-04-06 15:38] guru4elephant opened #412 "async prediction interface"
async request should be supported.

[2020-04-06 15:38] guru4elephant opened #413 "auto-batching of queries in GPU serving"
support auto-batching on server side.

[2020-04-06 15:40] guru4elephant opened #414 "support customized operators"

[2020-04-06 16:00] guru4elephant opened #415 "a rpc interface to unload a model"

[2020-04-07 02:21] wangxicoding opened #416 "变长序列输入导致Serving服务挂掉"
如图，定义feed_var时，shape为(-1, max_seqlen, 1)也即(-1, 300, 1)。
但在实际输入时seqlen会变化，输入可能是(100, seqlen=101, 1)  (100, seqlen=231, 1) (100, seqlen=300, 1) ...
![image](https://user-images.githubusercontent.com/10208305/78622418-a624cf80-78b7-11ea-86cf-45480ea8efe5.png)

这种情况下predict会导致Serving服务挂掉
![image](https://user-images.githubusercontent.com/10208305/78623065-5f37d980-78b9-11ea-8ec3-06b80be554c0.png)

[2020-04-08 03:02] mcl-stone commented on #377
您好，按您的回复测试了下，报以下错误，我的cuda是10.1，但他找9.0版本
python3 -m paddle_serving_server_gpu.serve --model ./inference_model/yolov3_darknet_voc/hat_serving_model --port 9292 --gpu_ids 3
CUDA Version 10.1.105
mkdir: cannot create directory ‘workdir_3’: File exists
Going to Run Comand
/usr/local/lib/python3.6/dist-packages/paddle_serving_server_gpu/serving-gpu-0.2.0/serving -enable_model_toolkit -inferservice_path

[2020-04-08 03:16] mcl-stone commented on #377
使用这个实例在serving中启动也是报上面一样的错误

[2020-04-08 03:43] MRXLT opened #424 "client 获取fetch_var中的某几个var时出错"
保存的模型中fetch var有10个，client预测时fetch参数中只指定第1，3，5个，预测时出现段错误

[2020-04-08 04:05] bjjwwang commented on #377
我建议要不要试一试Docker
首先参考下这个文档的GPU的部分
https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md
然后以这个yolov3的模型为例

[code]
进入docker以后
[code]
您可以试一下。

[2020-04-08 04:05] bjjwwang commented on #416
感谢您的问题，收到，我们研究一下。

[2020-04-08 04:16] MRXLT commented on #424
fixed in PR https://github.com/PaddlePaddle/Serving/pull/425

[2020-04-08 04:20] MRXLT commented on #353
fixed in commit cd0e0b21175054511a64a6a066687849be7c75c4

[2020-04-08 05:03] mcl-stone commented on #377
好的！感谢！你这最后说“python3目前是不支持的”，是paddle serving都不支持python3吗？

[2020-04-08 05:12] bjjwwang opened #426 "fit a line的web_serve API已废弃，但文档未改动"
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/fit_a_line

这里的HTTP Service用到的paddle_serving_server.web_serve的API已经被废弃。
文档应当尽速修改

[2020-04-08 05:53] #424 closed, assigned to MRXLT

[2020-04-08 06:20] bjjwwang commented on #377
Paddle Serving的服务端Server不支持Python3。
但PaddleServing的客户端Client是支持的，未来还会做更多语言的支持。

[2020-04-08 07:22] mcl-stone commented on #377
好的！那我用docker，感谢！

[2020-04-08 08:03] mcl-stone opened #427 "libcrypto.so.10缺少"
gpu_ids not set, going to run cpu service.
CUDA Version 10.0.130
mkdir: cannot create directory 'workdir_-1': File exists
Going to Run Comand
/usr/local/lib/python2.7/dist-packages/paddle_serving_server_gpu/serving-gpu-0.2.0/serving -enable_model_toolkit -inferservice_path workdir_-1 -inferservice_file infer_service.prototxt -max_concurrency 0 -num_threads 10 -port 9292 -reload_interval_s 10 -reso

[2020-04-08 08:15] mcl-stone commented on #377
我在docker中运行，使用的python2，还是这个错误root@a0d1adebb7ca:/paddle/Documents/PaddleDetection# python -m paddle_serving_server_gpu.serve --model uci_housing_model --thread 10
gpu_ids not set, going to run cpu service.
CUDA Version 10.0.130
mkdir: cannot create directory 'workdir_-1': File exists
Going to Run Comand
/usr/local/lib/python2.7/dist-packages/paddle_serving_server_gpu/serving-gpu-0.2.0/serving -enab

[2020-04-08 08:27] barrierye commented on #377
您好，想确认一下您使用的是哪个docker镜像。[RUN_IN_DOCKER](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)文档中暂时只提供了CUDA9的镜像，但您的Log信息中是`CUDA Version 10.0.130`

[2020-04-08 08:28] wangjiawei04 commented on #377
用的是哪个docker镜像？
是`hub.baidubce.com/paddlepaddle/serving:0.2.0-gpu`这个吗

[2020-04-08 08:30] mcl-stone commented on #377
我是使用的docker pull hub.baidubce.com/paddlepaddle/paddle:1.7.1-gpu-cuda10.0-cudnn7这个，里面安装了serving，这样不行吗？是不是必须用cuda9？那我也用这个镜像试试

[2020-04-08 08:35] barrierye commented on #377
目前版本(Paddle Serving 0.2.0)只支持cuda9.0-cudnn7，需要使用对应的镜像才能运行。建议使用`hub.baidubce.com/paddlepaddle/serving:0.2.0-gpu`镜像（已经做好了环境适配）~

[2020-04-08 08:39] barrierye commented on #427
您好，目前Paddle Serving 0.2.0的release包只支持cuda9.0-cudnn7，建议使用[RUN_IN_DOCKER](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)文档中的`hub.baidubce.com/paddlepaddle/serving:0.2.0-gpu`镜像（已经做好环境适配）。

如果您有CUDA10的需求，可以根据[COMPILE](https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md) 文档从源码进行编译，使用自己编译的包~

[2020-04-08 08:40] mcl-stone commented on #377
![image](https://user-images.githubusercontent.com/62418900/78763231-74932d80-79b7-11ea-8e7f-c066ef3912c1.png)
![image](https://user-images.githubusercontent.com/62418900/78763312-8d034800-79b7-11ea-85e9-294631e1e712.png)
需要在docker内再安装什么吗？我有四个显卡，但docker内检测不到

[2020-04-08 08:41] barrierye commented on #377
请问您是否按[RUN_IN_DOCKER](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)文档用`nvidia-docker`命令启动容器？

[2020-04-08 08:44] mcl-stone commented on #377
按照官方安装和使用
![image](https://user-images.githubusercontent.com/62418900/78763651-000cbe80-79b8-11ea-8ee7-2206187503bb.png)
![image](https://user-images.githubusercontent.com/62418900/78763721-1a469c80-79b8-11ea-8c82-591ad37dcfc0.png)
需要用下面这个吗？
![image](https://user-images.githubusercontent.com/62418900/78763798-35191100-79b8-11ea-8d09-0d0f2b2d3adc.png)

[2020-04-08 08:49] barrierye commented on #377
目前只测试过通过`nvidia-docker`命令启动容器。

可否提供一下您的启动命令？

[2020-04-08 08:51] mcl-stone commented on #377
docker run -p 9292:9292 --name test -dit hub.baidubce.com/paddlepaddle/serving:0.2.0-gpu
docker exec -it test bash
就是把前面nvidia去掉了，那我也装上nvidia-docker试试把

[2020-04-08 08:54] barrierye commented on #377
需要GPU版的docker：
- `docker run --gpus all -dit hub.baidubce.com/paddlepaddle/serving:0.2.0-gpu`
- `nvidia-docker run -dit hub.baidubce.com/paddlepaddle/serving:0.2.0-gpu`

目前只测试过后者。

[2020-04-08 08:55] mcl-stone commented on #377
好的！感谢！

[2020-04-08 09:03] #427 closed, assigned to nobody

[2020-04-08 10:03] MRXLT commented on #356
经过沟通，在使用新版本的serving后没有再出现这个问题，推荐使用0.2.0版本或者develop版本

[2020-04-08 13:03] #377 closed, assigned to MRXLT, bjjwwang

[2020-04-08 14:10] barrierye opened #430 "Travis-CI中paddlehub下载bert_chinese_L-12_H-768_A-12模型可能会超时"
![image](https://user-images.githubusercontent.com/28446721/78794002-be930800-79e5-11ea-81c8-d5caf51b5906.png)

可以考虑使用bos上保存的模型文件: https://paddle-serving.bj.bcebos.com/paddle_hub_models/text/SemanticModel/bert_chinese_L-12_H-768_A-12.tar.gz (max_seq_len=128)

[2020-04-08 16:29] #426 closed, assigned to nobody

[2020-04-09 04:43] wangxicoding opened #432 "fetch的变量过大导致出错"
batch_size=10。batch_size=1的fetch的数据量约为22.63MB，batch_size=10数据量约为226.3MB，too big data！
![image](https://user-images.githubusercontent.com/10208305/78858436-0609aa80-7a5f-11ea-9217-4bb3fa0c9b7b.png)

[2020-04-09 06:17] wangxicoding commented on #432
batch_size=2时出现一大堆警告
![image](https://user-images.githubusercontent.com/10208305/78862982-1de72b80-7a6b-11ea-9673-44c08c320dba.png)

[2020-04-09 06:32] wangxicoding opened #433 "batch_size为1返回的fetch_map_list为dict"
fetch_map_list = client.predict(feed=feed_map_list, fetch=fetch)

如果feed_map_list的len为1，即batch_size=1，则返回的fetch_map_list为 dict
若feed_map_list的len > 1，即batch_size>1，则返回的fetch_map_list为列表 [dict, ..., dict]

返回类型不一致，按照多batch时候的代码处理batch_size=1的场景会出错。希望可以把返回类型统一一下
![image](https://user-images.githubusercontent.com/10208305/78864616-8a175e80-7a6e-11ea-90fa-6e362db5a6ba.png)
![image](https://user-images

[2020-04-09 06:52] wangxicoding opened #434 "导致Serving服务挂掉的场景"
1、batch_size过大，显存爆掉

2、传入空数据
![image](https://user-images.githubusercontent.com/10208305/78865872-014df200-7a71-11ea-830d-0eddd08fc43d.png)

3、非法、不合规数据？如目前不支持的变长seqlen

服务需要健壮些，否则用户的某些操作一不小心就导致Serving挂掉了

[2020-04-09 06:59] guru4elephant commented on #433
改为统一design，返回list

[2020-04-09 08:03] MRXLT commented on #433
为了更灵活的支持各种模型的预测结果shape，将返回结果统一为dict格式，每个key内部为batch的预测结果，numpy array格式
https://github.com/PaddlePaddle/Serving/pull/462

[2020-04-09 08:47] MRXLT commented on #432
可以在server端和client但通过FLAGS_max_body_size来扩大数据量限制，单位为字节，默认为64MB

[2020-04-09 08:55] hysunflower opened #436 "提供的编译docker里没有配置python3"
* 如链接 [How to compile PaddleServing](https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE.md)，，未配置py3
 * 在编好的dev 镜像安装anaconda 并创建3.6的环境后，编译过程出现
<img width="1158" alt="图片" src="https://user-images.githubusercontent.com/52739577/78876918-a7eebe80-7a82-11ea-990f-72a8ffc0e0a4.png">
<img width="638" alt="图片" src="https://user-images.githubusercontent.com/52739577/78877167-01ef8400-7a83-11ea

[2020-04-09 09:33] barrierye commented on #436
您好，后面会提供python3版本的镜像~

[2020-04-09 11:22] MRXLT commented on #434
感谢反馈，针对第2、3条，添加了对输入数据的格式检查，PR https://github.com/PaddlePaddle/Serving/pull/437

[2020-04-09 12:44] bjjwwang opened #438 "PaddleServing 保存模型 图片变长字段处理"
模型是Paddle Detection训练出来的faster_rcnn_r50_1x，出错的流程如下
-----------

## client发送预测请求

cv2打开图片转ndarray
前处理为 [[image], [im_shape], [im_info]]
然后把这个作为feed_dict
{'image': image, 'im_shape': im_shape, 'im_info': im_info}
其中 image是 ndarray shape为 (1228800,) 也就是 3，640，640被拉长成一维。
im_shape是 list [640. ,640.  , 1.]
im_info 是 list [480. ,640.   ,1.]

-----------
## server端处理出错
进入到服务器端之后,开启GLOG_v=2
卡了一段时间程序退出挂掉了，但

[2020-04-10 03:05] bjjwwang commented on #438
原因是因为 Server_io在保存模型的时候 image变成了 -1, 3, -1, -1， 对应 batch，RGB通道， H， W
其中H W属性是从im_shape 来indicate的。

在Serving的reader阶段，会过滤掉-1，因此误认为image只有3个elements。

因此Serving保存模型，需要支持变长字段。

[2020-04-10 04:27] guru4elephant opened #440 "图像分割的预置模型"
能否支持 https://github.com/PaddlePaddle/PaddleSeg 下的模型服务，支持多卡远程预测服务等功能

[2020-04-10 04:36] #436 closed, assigned to barrierye

[2020-04-10 05:36] bjjwwang opened #441 "Paddle Serving CPU做FasterRCNN检测超时20秒"
## 复现步骤
[code]

## 错误日志
### 客户端
[code]

#### 服务器端
我增加了输出Tensor的打印
`multiclass_nms` 为 size `[96,6]`的 Tensor

log时间信息
[code]

因此可以确认 服务端预测本身 没有问题，但20秒超时限制太短。

[2020-04-10 11:29] bjjwwang opened #443 "Paddle Detection GPU FasterRCNN 报错 CUDA9"
## 复现步骤
[code]

CPU版本可以运行成功，但是GPU版本会出现如下报错 CUDA 9.0，就是CUDA版本对不上的错
![image](https://user-imagpses.githubusercontent.com/23625746/78987650-3174be00-7b61-11ea-9891-7e7a79175b84.png)

我手动换成了CUDA10，出现如下报错
[code]

[2020-04-10 16:17] barrierye opened #444 "C++端异常退出（段错误）时，python端直接退出不显示C++报错信息"
执行相同逻辑遇到段错误，python端没有显示C++的报错信息：
[code]
![image](https://user-images.githubusercontent.com/28446721/79005515-98a66880-7b89-11ea-9da7-7b085d6731f4.png)
[code]
![image](https://user-images.githubusercontent.com/28446721/79005589-c7244380-7b89-11ea-9064-ab6fe0fd0853.png)

[2020-04-11 00:22] guru4elephant commented on #444
目前比较难处理，需要将错误码返回至client

[2020-04-13 03:01] wangxicoding opened #445 "Serving性能相关问题"
![image](https://user-images.githubusercontent.com/10208305/79088296-c56aa380-7d74-11ea-8549-95ef3b0f1ab8.png)

见之前issue https://github.com/PaddlePaddle/Serving/issues/432 ，batch_size=1时，fetch的数据量约为22.63MB。profile图中共有三个连接进程，每个batch_size=1。
可能由于fetch数据量较大，`postpro`部分占用时间较长，`client_infer`后面也出现较长的空挡，不知道是否是网络传输的空挡。
进程间不同通信的空挡较大可能是由于fetch数据较大，进程处理数据 + OutPutQueue.put() + InputQueue.get() 耗时较长造成的

[2020-04-13 07:08] wangxicoding opened #446 "client只支持在自己线程内使用？"
client在主线程中定义连接server，开启线程池用主线程中定义的client predict，出现如下错误。目前client只支持在定义的线程内使用？
![image](https://user-images.githubusercontent.com/10208305/79100058-16d85a00-7d98-11ea-9d6f-aaed5b2af926.png)

[2020-04-13 09:04] wangxicoding opened #447 "创建多个client似乎没有并发"
一个进程中创建多个线程，每个线程启动一个client连接同一个server，出现如下log，各个线程的client共用底层的链接？
![image](https://user-images.githubusercontent.com/10208305/79107507-10051380-7da7-11ea-90d2-bcac56e46c4b.png)

进行profile，图中开了三个进程，每个进程开两个线程连接同一server，不同进程连接不同server。从图看来同一线程里的多个client没有并发起来。
![image](https://user-images.githubusercontent.com/10208305/79107826-adf8de00-7da7-11ea-8096-c3ea3bf384b3.png)

速度测试，一个进程一个线程的速度和一个进程两个线程的速度 都

[2020-04-13 09:41] barrierye commented on #447
您好，之前确实是同进程的client共用底层连接，在这个PR中解决了：https://github.com/PaddlePaddle/Serving/pull/395

我们会尽快进行速度测试。

[2020-04-13 10:04] wangxicoding commented on #447
嗯，现在是对同一server加大线程并发似乎没有效果

[2020-04-14 06:40] MRXLT commented on #446
目前predict接口暂不支持多线程调用，推荐使用多进程

[2020-04-14 15:49] guru4elephant opened #452 "add profiler module to paddle_serving_app"
we need a profiler that is programable, for example
[code]

[2020-04-14 16:09] guru4elephant opened #453 "add traffic monitor for service"
given a service, we need to observe the real time traffic of service.

[2020-04-15 07:44] MRXLT commented on #445
感谢反馈，这里的时间空档包含了数据的网络传输、python和c++之间的内存拷贝，由于数据量较大导致耗时过多，我们后续会进行优化

[2020-04-16 04:00] barrierye commented on #447
目前同进程多Client没有速度提升，我们会尽快解决这个问题。

[2020-04-16 12:16] barrierye commented on #447
您好，目前由于Python GIL全局锁的问题，同进程内多个线程的Client不能做到并发。
后续我们会考虑Client异步predict，或是采用其他方式改善这个问题。

[2020-04-17 07:36] barrierye opened #461 "SERVER_DAG.md needs to be updated"
#450 中加入了op_graph_maker，需要更新SERVER_DAG.md文档。

[2020-04-17 22:29] #447 closed, assigned to nobody

[2020-04-21 05:45] omtbreak opened #464 "PaddleDetection训练好的模型，如何通过Serving部署在服务器上，然后通过http/rpc的方式使用"

[2020-04-21 06:08] guru4elephant commented on #464
https://github.com/PaddlePaddle/Serving/pull/448 会提供这个示例，即将合入@omtbreak

[2020-04-22 02:50] MRXLT commented on #432
将默认的消息大小限制从64MB提升到512MB，并且server端可以通过--max_body_size参数配合client使用FLAGS_max_body_size环境变量来提升消息大小限制
https://github.com/PaddlePaddle/Serving/pull/463/commits/bb6400995b7747275a89260d9e9b3695d7d10390
https://github.com/PaddlePaddle/Serving/pull/463/commits/0403df8c39d785499b5bc226c7ddd30505f20367

[2020-04-22 02:52] #432 closed, assigned to nobody

[2020-04-22 02:57] #433 closed, assigned to MRXLT

[2020-04-22 08:53] guru4elephant opened #468 "client端C++接口暴露"
batch_predict接口的C++版本暴露，方便用户可以联编

[2020-04-23 03:06] #461 closed, assigned to nobody

[2020-04-23 03:50] #217 closed, assigned to barrierye

[2020-04-23 04:54] ClassmateXiaoyu opened #473 "在Windows下模型保存后，启动服务失败"
我按照paddlepaddle微信公众号里介绍的方法进行bert模型上线部署，完全按照步骤保存模型后，启动模型时，终端报错。
源码：
[code]
终端报错如下：
[code]

[2020-04-23 05:54] wyc880622 opened #474 "paddleServing 安装需要安装docker吗 paddlex发布完成如果通过paddleserving 调用http调用"
1.我发布完的paddlex的模型，我想通过http调用进行预测。
2.我文章可以直接安装paddleserving，但文章后面链接到此项目，需要安装docker在安装paddleserving。
https://paddlepaddle.org.cn/support/news?action=detail&id=1945
我现在想知道如何快速的将paddleserving安装并发布我的paddlex的模型。
谢谢

[2020-04-23 07:07] bjjwwang commented on #474
您可以将paddleX训练出来的模型 docker cp到容器里面。参考这个文档
https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md

这个时候是Paddle模型，还不具备上线的能力，需要做如下的转换
[code]
将以上的程序执行`python trans_model.py $YOUR_MODEL_DIR` 就可以看到有 `model_server`和`model_client`两个文件。这样就可以用于上线了。
[code]

[2020-04-23 07:23] wyc880622 commented on #474
谢谢，我刚才看了paddlehub 不知道能否发布paddle的模型和paddledetection的模型。如果可以是不是比docker这个简单，因为我感觉docker还需要在装环境，有些麻烦了。
或者用C++ 的调用模型。我想知道飞浆的模型，发布后那种方式部署最快，最容易部署。我发现飞浆模型部署方式太多了。请给推荐个。谢谢

[2020-04-23 07:49] barrierye commented on #473
您好，Paddle Serving暂时不支持Windows环境，可以参考这个文档[使用Docker进行部署](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)

[2020-04-23 07:55] ClassmateXiaoyu commented on #473
好的。我是否应该先把已经安装的paddle serving删除，然后配置docker环境，环境配置后再按照链接里的方法进行部署。

[2020-04-23 07:59] barrierye commented on #473
您可以直接配置docker环境（docker提供了一个虚拟化的环境，本地已安装的对其没有影响）。

[2020-04-23 08:04] ClassmateXiaoyu commented on #473
好的，谢谢。

[2020-04-23 08:09] #430 closed, assigned to nobody

[2020-04-23 11:09] omtbreak commented on #464
请问多久可以提供，以及从哪里看呐

[2020-04-23 11:23] guru4elephant commented on #474
好的，感谢反馈，我们考虑进一步提高server端部署易用性

[2020-04-24 14:15] guru4elephant commented on #464
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model
@omtbreak

[2020-04-24 15:24] wangxicoding opened #482 "check_cuda的方式有问题"
![image](https://user-images.githubusercontent.com/10208305/80228625-db843800-8681-11ea-8eb1-90134ed5d9f7.png)
不能这样检查是否存在GPU的呀。服务部署挂了一片。。
可以检查环境变量中是否有cuda的so文件，但有so文件不一定有gpu设备，还需要检查是否有/dev/nvidia*

![image](https://user-images.githubusercontent.com/10208305/80228503-b4c60180-8681-11ea-8aca-6b4f06689c1a.png)
![image](https://user-images.githubusercontent.com/10208305/80228582-cad3c200-8681-11ea-916

[2020-04-25 03:54] guru4elephant commented on #482
收到，感谢反馈！@wangxicoding

[2020-04-25 03:54] guru4elephant opened #484 "AI Studio使用py3找不到serve模块"
![image](https://user-images.githubusercontent.com/35550832/80270533-8846cf80-86eb-11ea-8cb6-103103715022.png)
AI Studio使用py3找不到serve模块

[2020-04-26 02:28] MRXLT commented on #484
经查看，用户安装了paddle_serving_server_gpu版本，所以使用时找不到paddle_serving_server，不过目前aistudio 使用的环境为ubuntu 16，存在环境兼容性的问题

[2020-04-26 03:51] omtbreak commented on #464
感谢，还有一个问题，请问pddet_serving_model下的模型权重和由PaddleDetection训练得到的模型权重有什么区别，是需要转换嘛

[2020-04-26 04:09] wangxicoding opened #486 "client缺少python端predict的性能profile"
https://github.com/PaddlePaddle/Serving/blob/f54717396f7cc161046e38b117458ccd5729957b/python/paddle_serving_client/__init__.py#L260-L262
目前在predict在Python端的数据preprocess和postprocess缺少profile，需要补上。
更详细可看ISSUE https://github.com/PaddlePaddle/Serving/issues/488

[2020-04-26 04:18] guru4elephant opened #487 "predict接口增加timeline信息打点"
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_client/__init__.py#L269
此处代码由于增加了numpy array的构建，性能比较低，需要加入打点进行Profile，方便后续优化

[2020-04-26 04:25] wangxicoding opened #488 "新版serving client端性能需优化点"
新版client采用numpy，从下面的distill_reader的profile结果可以看出，目前reader所占耗时比例很低。主要耗时集中在real_predict也就是`client端`的耗时。

外层阶段 | 内层阶段 | 耗时 | 耗时占比
-- | -- | -- | --
get_ready（获取就绪memory) |   | 0.117ms | 0.026%
predict（预测阶段，分三阶段）耗时439.54ms | preprocess(准备数据，memory->list) | 0.056ms | 0.013%
<nop> |real_predict | `438.717ms` | `99.77%`
<nop>| postprocess(复制predict到memory) | 0.694ms | 0.157%
put_complete（放回完成memory) |  

[2020-04-26 05:43] wangxicoding opened #489 "需要建立python与c++各数据转换的性能baseline，用于指导性能优化"
python<-->python转换需测数据：
| 源数据格式 | 目标数据格式 | 转换方法 | 数据大小 |
|--- | --- | --- | --- |
| numpy | list | list(src) | 1MB.. |
| numpy | list | src.tolist() | . |
| ctypes | list | list(src) | . |
| ctypes | list | src[:] | . |
| list | numpy | np.array(list) | . |
| list | ctypes | dst[:] = src[:] | . |
| list | ctypes | cp(*src) | . |

c++ <--> python转换需测数据：
| 源数据格式 | 目标数据格式 | 转换方法 | 数据大小 |
|--- | --- |

[2020-04-26 05:47] wangxicoding commented on #489
[code]
比如用ipython的%timeit的来获取性能
![image](https://user-images.githubusercontent.com/10208305/80299102-55bcd580-87c4-11ea-838c-f36d17596d1f.png)

[2020-04-27 02:44] guru4elephant opened #491 "增加图像分割的示例"
图像分割的预处理和后处理相对比较麻烦，serving需要在app里支持对应的前后处理，以及对经典分割模型的支持

[2020-04-27 04:30] #486 closed, assigned to nobody

[2020-04-27 05:44] wyc880622 opened #494 "已在Windows下安装Docker，我想将训练完成的模型发布到Serving中"
我按网址中的去做
https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER.md
但在这条命令中让输入用户，我不知道是什么样子的。请问我应该怎么做才可以？
docker run -p 9292:9292 --name test -dit hub.baidubce.com/paddlepaddle/serving:0.2.0
docker exec -it test bash
![image](https://user-images.githubusercontent.com/25219834/80337669-09899800-888d-11ea-87c3-fec876ffce55.png)
是不是不在docker中安装也行？

[2020-04-27 06:03] wyc880622 commented on #494
![image](https://user-images.githubusercontent.com/25219834/80338830-e8767680-888f-11ea-8915-dc69f2f97cf7.png)

[2020-04-27 06:08] barrierye commented on #494
您好，Paddle Serving目前只支持Linux环境，如果想在Windows下运行需要借助Docker。
您这里已经通过`docker exec -it test bash`进入了Docker容器，继续执行后续命令即可~

[2020-04-27 06:41] wyc880622 commented on #494
您这里已经通过docker exec -it test bash进入了Docker容器，继续执行后续命令即可？
您好，我现在很迷茫，不知道该如何进行命令了。

[2020-04-27 06:54] barrierye commented on #494
![image](https://user-images.githubusercontent.com/28446721/80342261-69d10780-8896-11ea-8259-96be6d2fdf2b.png)

您已经通过`docker exec -it test bash`命令进入了Docker容器（可以理解为一个虚拟的Linux环境），终端显示：
[code]
接下来需要按照[文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)，安装PaddleServing（考虑到国内环境，下面命令使用了清华源加速下载）：
[code]
然后可以根据后面的测试example来运行。

获取模型文件：
[code]

运行服务端（在后台运行）：
[code]

测试（下面命令为向服

[2020-04-27 15:18] guru4elephant commented on #464
没有区别，只是里面有serving要求的配置文件@omtbreak

[2020-04-28 01:31] wyc880622 commented on #494
![image](https://user-images.githubusercontent.com/25219834/80436915-d863a300-8932-11ea-8feb-cd70e1465642.png)
你好由于基础太薄，还需要像你请教，我现在已经将paddle-serving-server安装完成，运行下面命令就出现了问题，现在不知道应该如何解决。

[2020-04-28 01:47] wyc880622 commented on #494
![image](https://user-images.githubusercontent.com/25219834/80437804-385b4900-8935-11ea-973f-3b3e90f0123a.png)
你好zh'ge这个应该是出结果，但我现在还没有明白这里面的道理，我应该怎么发布我自己的模型到里面进行http调用。

[2020-04-28 02:22] barrierye commented on #494
您好，Docker容器相当于一个虚拟的Linux环境，与Windows的操作不同（注意到您使用了`cd G:\Ha1con\Paddle\serving`Windows的路径）。

安装好paddle-serving-server的Python包后，就具备启动服务端的条件，但启动服务端还需要一个模型文件（注意到您装好Python包后直接启动了服务端）。

下载好我们准备的模型文件后，就可以基于该模型启动服务端，`python -m paddle_serving_server.serve --model uci_housing_model --thread 10 --port 9292 --name uci >std.log 2>err.log &`命令是在`9292`端口启动一个后台进程（注意到您多次使用了该命令，因为9292端口号已经被占用，所以后面几次启动失败）。

启动完毕后就可以执

[2020-04-28 06:34] barrierye opened #499 "develop代码rpc预测时，在Client端报Waring"
运行fit_a_line rpc版本，client端输出如下：
[code]

[2020-04-28 11:46] MRXLT opened #501 "senta示例中性能需要优化"
使用senta模型示例预测1000条样本需要246.45秒，使用lac做预处理的部分性能较差
![image](https://user-images.githubusercontent.com/16594411/80483340-7f265e80-8988-11ea-9fb7-964254f6bf55.png)

[2020-04-28 11:48] barrierye opened #502 "能否通过某种方式控制Serving重新加载workdir的配置"
参考TF的模型管理，可以在运行时新增服务或卸载服务（包括版本切换等）。

Serving目前应该可以通过创建多个Workflow来实现同时运行多个服务（接口暂时没开放），如果可以通过某种方式控制Serving重新加载workdir的配置，那么就可以做到运行时新增服务或卸载服务（实现#415 的功能）。

[2020-04-28 12:27] MRXLT opened #503 "同进程中启动两个client，预测时会卡住"
senta示例中使用lac模型做预处理时，如果将lac client只创建不释放，就会在预测时卡住，复现问题可以将senta示例中的代码做如下改动，此时再通过http访问senta任务就会卡住
![image](https://user-images.githubusercontent.com/16594411/80486915-7f295d00-898e-11ea-8629-4d1cb825765e.png)

[2020-04-28 14:27] barrierye opened #504 "Web Service在预测出错时返回200"
![image](https://user-images.githubusercontent.com/28446721/80499200-40e86980-899f-11ea-91b0-8a47abf81ecb.png)

![image](https://user-images.githubusercontent.com/28446721/80499351-755c2580-899f-11ea-9c01-8434aea71784.png)

[2020-04-28 16:09] barrierye commented on #503
按照上述描述成功复现卡住的情况。

但我对代码进行了简化（以fit_a_line的client为例），简化代码没有成功复现 （不知道简化后逻辑没有有出入......），还需要追下：
[code]

[2020-04-28 17:18] barrierye commented on #503
重新简化原逻辑，下面的代码可以成功复现（需要在9393另起一个服务）。第一个Server貌似没有收到Client的rpc请求
[code]

[2020-04-29 00:54] guru4elephant opened #505 "通过发送rpc请求获取服务端的模型配置"
服务端加载模型后，客户端只需要去链接，并用rpc的方式获取配置，降低使用门槛

[2020-04-29 00:56] guru4elephant opened #506 "无代码入门demo"
给定一个配置文件，生成一个web服务表单，包括每个字段需要输入的文本框，并生成请求按钮

[2020-04-29 02:25] MRXLT commented on #489
10 loops

size 1024 * 1024

type float32

python to python
| origin type | target type | cost ms  |      function      |
| :---------: | :---------: | :------: | :----------------: |
|  np.array   |    list     | 485.650  |     list(src)      |
|  np.array   |    list     | 252.208  |    src.tolist()    |
|    ctype    |    list     | 1651.359 |     list(src)      |
|    ctype    |    list     | 3

[2020-04-29 08:06] barrierye opened #508 "Http请求的接口有所变更，需要更新develop a new Web service文档"

[2020-04-29 08:56] pavel-ignatovich opened #509 "Automated code review for Paddle Serving"
Hi!
I am a member of the team developing monocodus — a service that performs automatic code review of GitHub pull requests to help organizations ensure a high quality of code.
We’ve developed some useful features to the moment, and now we’re looking for early users and feedback to find out what we should improve and which features the community needs the most.

We ran monocodus on a pre-created fo

[2020-04-30 01:30] omtbreak commented on #464
您好，以Faster RCNN来说，PaddleDetection训练得到的模型权重，保存类型为（ pdmodel, pdopt, pdparams）
而例子中 /faster_rcnn_model/pddet_serving_model 的提供下载的用于serving的模型权重是( _scale, _offset, _weights )
这是有区别的吧，不知道如何进行转换，希望得到您的回复。

[2020-04-30 02:43] wangxicoding commented on #482
fix PR https://github.com/PaddlePaddle/Serving/pull/495

[2020-04-30 02:43] #482 closed, assigned to MRXLT

[2020-04-30 04:13] #508 closed, assigned to barrierye

[2020-04-30 06:31] MRXLT commented on #503
服务卡住与flask启动多进程有关，lac_client在主进程中初始化，在flask服务中被多进程调用导致卡住，将flask服务改为单进程时预测服务执行正常

[2020-04-30 06:34] MRXLT commented on #501
flask使用单进程启动，lac_client初始化步骤优化后，预测1000条样本需要4.02秒
https://github.com/MRXLT/Serving/commit/2cec85b3ebb163bfd345522976b740f83917e4a0

[2020-04-30 06:40] dlkht opened #514 "docker 内cuda和本机cuda版本不一样如何解决"
按照paddle server说明拉了一个docker
nvidia-docker pull hub.baidubce.com/paddlepaddle/serving:0.2.0-gp
部署了tansformer模型，但预测发生错误

检查发现docker环境是cuda9.0, 而本机安裝的是10.01，所以部署怀疑是cuda版本问题引起，应该如何解决？谢谢

[2020-04-30 08:04] MRXLT commented on #514
可以贴一下报错的截图吗

[2020-04-30 08:20] dlkht commented on #514
输入预测命令
curl -H "Content-Type:application/json" -X POST -d '{"words": "你  好" , "fetch":["out_ids", "out_scores"]}' http://127.0.0.1:9292/transformer/prediction

服务端输出错误部分是：
I0430 08:18:01.036864  1150 analysis_predictor.cc:462] ======= optimize end =======
W0430 08:18:01.038638  1150 infer.h:473] Succ load common model[0x1cc9f510], path[transformer_model].
W0430 08:18:01.038657  1150 infer.h:171] S

[2020-04-30 08:24] MRXLT opened #515 "bert、Resnet50、ResNet101模型的http方法报500 Internal server error"
由于http服务为了支持batch预测，导致之前的http服务脚本出错

[2020-04-30 08:26] MRXLT opened #516 "app模块中的lac_reader不兼容python3"
![image](https://user-images.githubusercontent.com/16594411/80689022-4c52a680-8aff-11ea-9c62-eb01d85f944b.png)

[2020-04-30 08:31] wyc880622 opened #517 "windows不支持nvidia-docker 安装是这样的吗。"
百度大佬您好，我从网上查看windows不支持 nvidia-docker 安装，那paddleserving的部署是不是可以理解, paddleserving 不支持paddleDetection的训练文件部署。
我想运行如下示例  Image Classification
https://github.com/PaddlePaddle/Serving
但需要Note: This demo needs paddle-serving-server-gpu.
所以现在的paddleDetection部署问题进行预测有支持GPU的吗？
或者paddleServing的部署利用cpu如何实现paddleDection训练模型的预测。谢谢

[2020-04-30 08:46] ClassmateXiaoyu commented on #473
在docker环境中运行命令python -m paddle_serving_server.serve --model bert_seq20_model --thread 10 --port 9292报错：
[code]

[2020-04-30 09:45] barrierye commented on #473
报错显示没有`bert_seq20_model/serving_server_conf.prototxt`文件，请检查您是否下载了我们准备好的`bert_seq20_model `文件

[2020-04-30 09:48] barrierye commented on #515
example下的web service将在这个pr中修复：#471

[2020-04-30 09:52] MRXLT opened #518 "py2环境client编译失败"
![image](https://user-images.githubusercontent.com/16594411/80697308-60040a00-8b0b-11ea-96b7-b1586d79ad60.png)

[2020-04-30 10:33] barrierye commented on #518
具体是哪个环境呢？是在编译镜像中遇到的吗

[2020-04-30 12:07] guru4elephant commented on #517
@wangjiawei04 能否提供一个简单的小模型，使用cpu即可预测

[2020-04-30 13:46] ClassmateXiaoyu commented on #473
在安装docker之前，在Python环境里下载了bert_seq20_model模型。是不是应该在docker容器里下载bert_seq20_model模型？

[2020-04-30 13:47] barrierye commented on #473
是的，可以按照文档完整的走一遍~

[2020-04-30 13:55] ClassmateXiaoyu commented on #473
好的，还有一个疑惑。保存模型的那段代码是否也需要在容器里写呀？

[2020-04-30 14:00] barrierye commented on #473
是这样的，可以在容器里写，也可以在外面做好模型后用`docker cp /path/to/src/file /path/to/dest/file`把模型文件拷贝到容器内。（需要保证容器内能访问到模型文件，也可以通过挂载方式，具体参考`docker run`的`-v`或`--mount`参数）

但是考虑您外面的环境是Windows，可能无法顺利用Serving的接口保存模型（可以尝试下），建议还是在容器内生成模型。

[2020-04-30 14:22] ClassmateXiaoyu commented on #473
好的，谢谢，我再重新走一遍。

[2020-04-30 15:41] #499 closed, assigned to barrierye

[2020-05-01 01:46] wyc880622 commented on #517
我提供一个j简单的小模型吗？

[2020-05-01 04:04] dlkht opened #520 "在本机测试paddle serving example模型bert提示错误"
error while loading shared libraries: libcrypto.so.10: cannot open shared object file: No such file or directory

[2020-05-01 06:24] barrierye commented on #520
建议在Docker中运行~参考[文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)

[2020-05-01 10:11] guru4elephant commented on #517
您提供也可以，我们来给demo @wyc880622

[2020-05-01 10:42] wyc880622 commented on #517
1.这里面是我本人自己导出的模型，fasterrcnn和yolo 目前yolo用main测试是成功。
链接：https://pan.baidu.com/s/1Bvz9F65tHX8W9woxKJ1R2w 密码：poxr

2.我有个问题，我在导出模型的时候yolo的yml和百度给官方yolo导出的模型yml有差异
具体差异是 本人导出的没有图片上的内容，百度的有。所以我自己加上了后，c++就可以预测了。不知道这是什么原因造成的。
![image](https://user-images.githubusercontent.com/25219834/80800066-1c78d100-8bdb-11ea-9e99-2d24be3b77e9.png)
3.还有一个问题
目前我在看c++的部署代码，由于本人不会c++想用c#来调用c++部署的类库。百度能否提供c++部署类库，供C#调用。谢谢

[2020-05-02 01:41] guru4elephant opened #523 "Verify the Preprocessing steps for Resnet50"
seq = Sequential([
    File2Image(), Resize(256), CenterCrop(224), RGB2BGR(), Transpose((2, 0, 1)),
    Div(255), Normalize([0.485, 0.456, 0.406], [0.229, 0.224, 0.225])
])

[2020-05-02 08:41] wangxicoding opened #524 "patchelf导致so文件出错"
https://github.com/PaddlePaddle/Serving/blob/f5fd7c9de42a5ff319a9fd32c53c6c1213e06f3e/python/paddle_serving_client/__init__.py#L128

![image](https://user-images.githubusercontent.com/10208305/80859424-8ce32900-8c93-11ea-9356-5da3d3bc0d98.png)

多个进程同时跑patchelf时会导致so文件出错，进程挂掉

[2020-05-02 09:04] wangxicoding commented on #524
在安装的时候执行这个命令来解决？
不过厂内环境用gcc4.8.2编译使用patchelf重定向路径后会把gcc4.8.2的路径信息刷掉，glibc高版本会找不到，还能正常跑倒是有些奇怪。。

[2020-05-03 01:12] guru4elephant opened #525 "无法复现检测模型的效果"
基于
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model
进行复现，得到的结果图与readme给出的图不一致

[2020-05-03 06:42] guru4elephant opened #526 "paddle_serving_app中增加教程闭环体验"
通过
paddle_serving_app.package --list_model
paddle_serving_app.package --get senta_lstm
paddle_serving_app.package --tutorial senta_lstm
帮助用户用命令行的方式获取已有模型列表，下载模型部署包，运行教程

[2020-05-04 10:14] bjjwwang commented on #525
已修复。

[2020-05-05 13:52] omtbreak opened #529 "PaddleDetection训练得到的模型权重转换至Serving部署可用的权重类型"
PaddleDetection训练得到的模型权重会得到 pdmodel, pdopt, pdparams三个文件
而[提供的例子](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model) 下，/faster_rcnn_model/pddet_serving_model 的提供的用于serving的模型权重是是 _scale, _offset, _weights等类型的文件，希望获得如何转换的方式

[2020-05-05 14:29] guru4elephant commented on #529
@omtbreak 可以试一下https://github.com/PaddlePaddle/Serving/blob/develop/doc/INFERNCE_TO_SERVING.md

[2020-05-05 14:30] guru4elephant commented on #529
我们会在PaddleDetection中增加一个导出serving package的功能，请保持关注

[2020-05-06 03:29] #525 closed, assigned to bjjwwang

[2020-05-06 03:51] dlkht commented on #514
看了一下网上也有人提出cuda error code : 3问题，与多进程有关？

[2020-05-06 05:50] omtbreak commented on #529
感谢您的回复，请问大体多久会提供这个功能呢？

[2020-05-06 07:05] ClassmateXiaoyu commented on #473
你好，我今天重新按照流程走了多次，始终都是同样的错误，代码如下：
[root@f97de3a1c592 /]# python -m paddle_serving_server.serve --model uci_housing_model --thread 4 --port 9292 --name uci
web service address:
http://172.17.0.2:9292/uci/prediction
 * Serving Flask app "serve" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server

[2020-05-06 07:09] ClassmateXiaoyu commented on #473
你好，我今天按照建议重新走了几遍，始终是如下错误，代码如下：
[code]

[2020-05-06 07:12] barrierye commented on #473
注意到报错信息里有这么一句话`socket.error: [Errno 98] Address already in use`，您在做这步之前是否已经在该端口启动过一个服务，尝试杀掉之前启动的服务后再重新跑一遍

[2020-05-06 07:17] ClassmateXiaoyu commented on #473
你好，这块我不是很懂。要杀掉服务是通过重启容器，还是删除容器后重新建立一个容器？

[2020-05-06 07:19] barrierye commented on #473
使用`ps -ef | grep "serving" | grep -v grep | awk '{print $2}' | xargs kill`命令杀掉服务进程

[2020-05-06 07:41] ClassmateXiaoyu commented on #473
使用上述命令进程杀掉了。我从cmd进容器写了curl的命令后，有新错误，代码如下：
[code]
cmd代码：
![C3C43E45-E003-4ea2-B2BD-11B48988747C](https://user-images.githubusercontent.com/62195135/81148883-b233a800-8faf-11ea-866c-7f562aa8e1f9.png)
随后，终端这边出现如下代码：
[code]

[2020-05-06 07:47] barrierye commented on #473
您好，可否在容器内用`pip freeze`命令查看下`paddle-serving-server`的版本？这可能是我们更新了python包但是没有及时更新文档的问题

[2020-05-06 07:55] bjjwwang opened #530 "imagenet模型http请求失败"
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/imagenet
环境：
OS： Ubuntu 16.04

[code]
报错如下
[code]

[2020-05-06 07:56] ClassmateXiaoyu commented on #473
paddle-serving-server版本0.2.1
![042DC7AC-E875-4621-9333-39D3CC416AB9](https://user-images.githubusercontent.com/62195135/81150162-0b044000-8fb2-11ea-8ced-6f6fc6cfc2ca.png)

[2020-05-06 08:00] bjjwwang commented on #529
今天就会提供。我稍后继续跟进回复

[2020-05-06 08:01] barrierye commented on #473
您好，您可以暂时先用0.2.0版本的paddle-serving-server，使用下面的命令重新安装：
`pip install -U paddle-serving-server==0.2.0 -i https://pypi.tuna.tsinghua.edu.cn/simple`
文档没有及时更新十分抱歉

[2020-05-06 08:03] barrierye opened #531 "pypi上的whl包版本为0.2.1，但文档还未更新"
0.2.1版本比较大的改动是http服务的接口发生变化（兼容batch），这导致原有的文档运行错误。issue #473 反映了这个问题。

[2020-05-06 08:07] ClassmateXiaoyu commented on #473
好的，谢谢。我重新安装0.2.0版本再走一遍

[2020-05-06 08:31] barrierye commented on #530
用的whl包是哪个版本的？需要使用这几个：
[code]
同时确保`patchelf`已经安装，`apt-get install patchelf`

[2020-05-06 08:47] ClassmateXiaoyu commented on #473
你好，又有问题了。刚才我直接删除了容器，重新建立容器并进入，paddle-serving-server和client都是下载的0.2.0版本。用房价预测模型进行测试还是遇到了错误，显示无法连接，代码如下：
[code]

[2020-05-06 08:52] barrierye commented on #473
您这里使用了`172.17.0.2`，请使用`127.0.0.1`（本机地址）

[2020-05-06 08:59] bjjwwang commented on #530
谢谢 已解决

[2020-05-06 08:59] #530 closed, assigned to barrierye

[2020-05-06 09:11] ClassmateXiaoyu commented on #473
你好，我改用127.0.0.1还是无法连接：
[code]

[2020-05-06 09:22] barrierye commented on #473
您好，可以发下具体操作流程和日志吗？这个情况我们好像没有遇到过

[2020-05-06 09:33] ClassmateXiaoyu commented on #473
操作流程：基本上就是按照https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md来做的。
代码如下：
[code]
操作日志不知道在哪里导出来。

[2020-05-06 09:57] barrierye commented on #473
能否尝试下使用`0.0.0.0`地址

[2020-05-06 10:36] ClassmateXiaoyu commented on #473
你好，我用0.0.0.0试了，还是无法连接，代码如下：
[code]

[2020-05-06 11:10] barrierye commented on #473
注意到您的步骤里是前台启动服务端的
[code]
您在执行预测命令前是否使用了`control+c`停止了服务端？

后台启动需要在命令后面加上`&`，例如
[code]
（这条命令还将输出重定向到`log.txt`文件。）

[2020-05-06 11:23] ClassmateXiaoyu commented on #473
你好，我之前预测前未使用`control+c`停止服务端。正确做法是否应该在执行预测命令前要先使用`control+c`停止服务端后在再使用后后台启动进行预测。

[2020-05-06 11:56] barrierye commented on #473
正确的做法是先在后台启动服务：
[code]
然后执行预测：
[code]

[2020-05-06 12:01] ClassmateXiaoyu commented on #473
好的，谢谢。我再走一遍

[2020-05-07 03:32] ClassmateXiaoyu commented on #473
你好，HTTP的服务测试没问题了，可以预测出来价格。今天测试RPC服务有问题，由于本机是Windows系统，所以python部分的代码是在容器内运行，代码如下：
[code]

[2020-05-07 03:47] barrierye commented on #473
您好，您使用的`paddle-serving-client`默认为0.2.1版本，请用`pip install -U paddle-serving-client==0.2.0 -i https://pypi.tuna.tsinghua.edu.cn/simple`命令安装0.2.0版本。

我们会尽快更新文档，感谢支持

[2020-05-07 03:56] ClassmateXiaoyu commented on #473
我刚确认了一下，paddle-serving-client是0.2.0的版本！
![1](https://user-images.githubusercontent.com/62195135/81252783-5c1b3f00-9059-11ea-8f3b-e76d11041cc8.png)

[2020-05-07 04:01] barrierye commented on #473
能否贴一下`log.txt `文件的内容

[2020-05-07 04:17] ClassmateXiaoyu commented on #473
你好，`log.txt `这个文件在哪里查看，还是通过docker的命令去查看？

[2020-05-07 04:22] barrierye commented on #473
在当前docker容器的当前目录查看（由`python -m paddle_serving_server.serve --model uci_housing_model --thread 4 --port 9292 &>log.txt &`命令生成）

您可以在当前目录下用`cat log.txt`命令将文件内容输出

[2020-05-07 04:39] ClassmateXiaoyu commented on #473
[code]

[2020-05-07 04:51] barrierye commented on #473
您好，log文件中没有什么有效信息。我想确认下您在`cat log.txt`前有没有做其他操作？

这个`log.txt`是之前rpc测试失败得到的，还是重新执行了`python -m paddle_serving_server.serve --model uci_housing_model --thread 4 --port 9292 &>log.txt &`得到的

[2020-05-07 04:55] ClassmateXiaoyu commented on #473
你好，这个log.txt是我重新执行了python -m paddle_serving_server.serve --model uci_housing_model --thread 4 --port 9292 &>log.txt &得到的。重新执行python -m paddle_serving_server.serve --model uci_housing_model --thread 4 --port 9292 &>log.txt &的结果与1小时前的那个是一样的。

[2020-05-07 05:01] barrierye commented on #473
请执行下面的步骤：
1. 杀掉服务端进程：`ps -ef | grep "serving" | grep -v grep | awk '{print $2}' | xargs kill`
2. 重新启动rpc服务端：`python -m paddle_serving_server.serve --model uci_housing_model --thread 4 --port 9292 &>log.txt &`，该操作会把服务端的输出重定向到`log.txt`
3. 用python测试rpc预测：
[code]
4. 查看`log.txt`文件：`cat log.txt`

[2020-05-07 05:34] MRXLT commented on #524
在https://github.com/PaddlePaddle/Serving/pull/532  中修复，将client定位so的方式从使用patchelf改为修改环境

[2020-05-07 06:31] ClassmateXiaoyu commented on #473
很尴尬，试了多次显示如下内容：
[root@da3e5e0cf679 /]# ps -ef | grep "serving" | grep -v grep | awk '{print $2}' | xargs kill

Usage:
 kill [options] <pid|name> [...]

Options:
 -a, --all              do not restrict the name-to-pid conversion to processes
                        with the same uid as the present process
 -s, --signal <sig>     send specified signal
 -q, --queue <sig>      use sigqueue(2) rather t

[2020-05-07 06:38] barrierye commented on #473
这个是没有相应的后台程序的意思（即服务端已经被杀掉了），您可以从第二步开始执行

[2020-05-07 06:49] ClassmateXiaoyu commented on #473
你好，这是从第2步开始的完整代码，包括了cat log.txt：
[code]

[2020-05-07 07:43] barrierye commented on #473
能否发下具体的复现步骤呢（从创建docker容器开始）？这边没有复现出来

文档中正常的步骤：
1. 创建docker容器：`docker run -p 9292:9292 --name test -dit hub.baidubce.com/paddlepaddle/serving:0.2.0`
2. 进入容器：`docker exec -it test bash`
3. 下载0.2.0版本的server `pip install paddle-serving-server==0.2.0 -i https://pypi.tuna.tsinghua.edu.cn/simple` 和client `pip install paddle-serving-client==0.2.0 -i https://pypi.tuna.tsinghua.edu.cn/simple`
4. 下载模型：`wget

[2020-05-07 08:00] ClassmateXiaoyu commented on #473
好的，我将容器删除后，从头到尾重新走一遍，代码随后贴上。

[2020-05-07 09:23] ClassmateXiaoyu commented on #473
你好，以下是复现的代码：
[code]

[2020-05-07 10:45] dlkht opened #535 "执行from .serving_client import PredictorClient提示错误"
错误如下：
patchelf: section header table out of bounds
W0507 18:33:44.715210  3105 init.cc:209] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0507 18:33:44.715245  3105 init.cc:211] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
W0507 18:33:44.715252  3105 init.cc:214] The detail failure signal is:

W0507 18:33

[2020-05-07 11:44] bjjwwang commented on #529
https://github.com/PaddlePaddle/PaddleDetection/pull/605 可以参考这个PR，目前在合入过程中。

[2020-05-07 12:21] #531 closed, assigned to nobody

[2020-05-07 13:53] omtbreak commented on #529
非常感谢您的工作！

[2020-05-08 02:14] dlkht commented on #535
重装最新版serving(0.2.1)后，提示：
ImportError: /usr/lib/libcrypto.so.10: version `OPENSSL_1.0.1_EC' not found (required by /home/qzy3/.local/lib/python3.7/site-packages/paddle_serving_client/serving_client.so)
我是在ubuntu系统

[2020-05-08 02:58] barrierye commented on #473
能否在当前容器的当前目录下，用`cat log/serving.INFO`命令查看下输出？
（0.2.1版本的文档已经更新，您也可以直接用0.2.1版本：[运行文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)）

[2020-05-08 04:09] MRXLT commented on #535
你好，请问是ubunt16还是ubunt18

[2020-05-08 05:35] dlkht commented on #535
ubuntu19.04

[2020-05-08 07:05] ClassmateXiaoyu commented on #473
你好，这个问题是环境问题还是其他别的问题，需要怎么做才能解决？

[2020-05-08 07:16] omtbreak commented on #529
您好，在使用过程中发现存在一个错误。
export_serving_model中引用的export_model的parse_reader方法中
[code]
sample_transform获取到的是一个dict对象，和提供的代码有冲突，因此无法生成infer_cfg.yml，除此之外，都正常运行

[2020-05-08 07:38] #524 closed, assigned to MRXLT

[2020-05-08 07:47] guru4elephant commented on #491
https://github.com/PaddlePaddle/Serving/pull/521

[2020-05-08 07:52] guru4elephant commented on #440
https://github.com/PaddlePaddle/Serving/pull/521

[2020-05-08 07:52] #440 closed, assigned to nobody

[2020-05-08 08:02] #529 closed, assigned to bjjwwang

[2020-05-08 08:26] barrierye commented on #503
是否可以在WebService中添加一个函数，例如：
[code]
如果有其他client，可以重写该函数：
[code]

这样可以避免上述问题

[2020-05-08 09:12] ClassmateXiaoyu commented on #473
你好，我刚才试了一下其他方法，问题解决了。昨天在输入启动RPC的命令后，后面的client端代码我是在容器中进入容器里的python2.7环境，逐条执行的python代码，结果就是昨天的报错。我刚才将client代码在宿主机单独保存为py脚本后，通过docker cp到容器的根目录中。在输入启动RPC的命令后，直接通过python rpc_house.py执行client端的python代码，最后成功预测了房价模型的价格。同时，我还做了一个测试，在Windows环境下serving_io.save_model保存的paddle serving模型通过docker cp到容器根目录后，容器可以顺利启动HTTP服务。
[code]

[2020-05-08 09:26] barrierye commented on #473
有一种可能是，服务端第一次启动时需要下载一些文件，如果您操作比较快，可能在预测时服务端还未初始化好

[2020-05-08 11:24] dlkht opened #536 "部署transformer的情况变化"
服务端升级serer到0.2.1，server收到的数据格式处理没问题了（将np.array转成list),但执行batch_predict（）时，client端收到{"result":"Request Value Error"}
server端提示：
2020-05-08 11:12:25,176-INFO: 172.17.0.1 - - [08/May/2020 11:12:25] "POST /transformer/prediction HTTP/1.1" 200 -
是什么原因？

[2020-05-08 12:39] guru4elephant commented on #536
能否贴一些可复现的源码和模型包

[2020-05-08 12:47] guru4elephant commented on #517
我们Q2会开放多语言客户端的feature，敬请期待@wyc880622

[2020-05-08 13:13] #523 closed, assigned to guru4elephant

[2020-05-08 13:13] #509 closed, assigned to nobody

[2020-05-08 13:14] #491 closed, assigned to nobody

[2020-05-08 13:15] #473 closed, assigned to nobody

[2020-05-08 13:16] #484 closed, assigned to nobody

[2020-05-08 13:16] #487 closed, assigned to MRXLT

[2020-05-08 13:19] guru4elephant commented on #464
https://github.com/PaddlePaddle/PaddleDetection/blob/master/tools/export_serving_model.py @omtbreak 请参考这个工具导出部署包

[2020-05-08 13:19] #464 closed, assigned to bjjwwang

[2020-05-08 13:20] #222 closed, assigned to MRXLT

[2020-05-08 13:21] #356 closed, assigned to MRXLT

[2020-05-08 13:21] #286 closed, assigned to MRXLT

[2020-05-08 13:22] #363 closed, assigned to MRXLT

[2020-05-09 04:33] bjjwwang opened #538 "预测Ernie模型出错"
## 报错信息
[code]
## 日志
### GLOG_v = 2日志
[code]

## 复现步骤
[code]

[2020-05-09 06:59] ClassmateXiaoyu opened #540 "bert模型预测出错"
你好，我今天试着用HTTP和RPC两种方式启动bert的预测，分别遇到了问题。
最开始已经用命令ps -ef | grep "serving" | grep -v grep | awk '{print $2}' | xargs kill先杀一遍进程，HTTP的启动命令、报错、日志如下：
[code]

[2020-05-09 07:03] bjjwwang commented on #538
paddle inference lib 1.7.1 使用会出错， 1.7.2开始不会报错。
目前Serving使用的inference lib已升级为1.7.2。

[2020-05-09 07:03] #538 closed, assigned to nobody

[2020-05-09 07:14] ClassmateXiaoyu commented on #540
你好，启动RPC之前也用命令ps -ef | grep "serving" | grep -v grep | awk '{print $2}' | xargs kill先杀了一遍进程，RPC的启动命令、报错、日志如下：
[code]

[2020-05-09 07:22] dlkht commented on #536
怎么上传文件和包呢

[2020-05-09 07:45] MRXLT commented on #540
你好，请问安装的是哪个版本，系统环境是什么样的。
RPC服务的报错是因为没有安装opencv，可以使用pip install opencv-python解决

[2020-05-09 07:54] MRXLT commented on #536
如果方便的话可以提供一下网盘链接，或者发送到我的邮箱xlt2024@gmail.com

[2020-05-09 08:00] ClassmateXiaoyu commented on #540
你好，是Windows环境下安装的docker，pull的镜像是hub.baidubce.com/paddlepaddle/serving   0.2.0。
![1](https://user-images.githubusercontent.com/62195135/81467829-ec01ea00-920d-11ea-91d5-8e891ad392e0.png)
![2](https://user-images.githubusercontent.com/62195135/81467833-f7551580-920d-11ea-9c41-ced5c9c66334.png)
![3](https://user-images.githubusercontent.com/62195135/81467836-fe7c2380-920d-11ea-8a99-e258ce22e39b.png)

[2020-05-09 08:34] ClassmateXiaoyu commented on #540
你好，cv2的问题解决后，RPC有新报错，命令、报错、日志、如下：
[code]
[code]

[2020-05-09 08:54] dlkht commented on #536
@MRXLT 你好！测试代码及model上传到网盘，已将网盘连接及提取码发到你的邮箱，下载压缩包后，请参阅read.me说明

[2020-05-09 09:02] MRXLT commented on #540
升级到0.2.1版本的serving试一下

[2020-05-09 09:18] dlkht commented on #536
解压包后，麻烦将transformer_base_reader.py 第34和40行的tsfm_server改成tsfm_server_2

[2020-05-09 09:30] barrierye opened #542 "imdb example无法用numpy预测"
![image](https://user-images.githubusercontent.com/28446721/81469931-7e0fef80-921a-11ea-8995-93feb7c82585.png)

错误信息中4294967295应该是-1，word_ids里没有-1的值：
[code]

Client端复现代码：
[code]

[2020-05-09 10:56] ClassmateXiaoyu commented on #540
你好，是将paddle-serving-client和paddle-serving-server都升到0.2.1，还是只用升paddle-serving-client到0.2.1？

[2020-05-09 11:42] bjjwwang commented on #535
有安装openssl 或者 openssl的版本号是多少

[2020-05-09 12:09] MRXLT commented on #540
都升级到0.2.1

[2020-05-09 12:47] ClassmateXiaoyu commented on #540
好的，我试一下

[2020-05-09 13:59] barrierye commented on #542
imdb的输入是LodTensor，不支持numpy输入，如果使用numpy输入需要有警告提示

[2020-05-10 02:26] dlkht commented on #535
openSSL 1.1.1b

[2020-05-11 03:12] omtbreak opened #544 "paddle_serving_app无法使用Detection"
根据提供的[Faster RCNN示例](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model)，在test_client.py中，
[code]
在pycharm或者linux命令行下，都对
[code]
报错，找不到serving_app_reader.pddet模块

[2020-05-11 03:46] guru4elephant commented on #544
请使用
https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/faster_rcnn_model/new_test_client.py

[2020-05-11 04:44] omtbreak commented on #544
通过pip和pycharm安装的paddle-serving-app库依然找不到Sequential, File2Image, BGR2RGB等函数

[2020-05-11 05:18] MRXLT commented on #544
请先使用链接中develop版本的安装包，0.0.3会在之后这正式发布
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_app-0.0.3-py2-none-any.whl

[2020-05-11 07:50] MRXLT commented on #535
试一下develop版本的client，还未发布，通过下面的链接下载安装
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.2.2-py3-none-any.whl

[2020-05-11 07:58] dlkht commented on #535
好的，谢谢

[2020-05-11 07:58] bjjwwang opened #547 "百度云CCE集群（K8S）无法pip install paddle-serving-server"
## Server端Yaml
以下文件名为`lac_serving.yaml`
[code]
执行 `kubectl apply -f lac_serving.yaml`
在启动容器之后，发现pip install 操作会TIMEOUT。

[2020-05-11 08:03] omtbreak commented on #544
好的，请问可以提供python3的安装包嘛

[2020-05-11 08:19] ClassmateXiaoyu commented on #540
你好，我将上周6的容器删除了，重新创建了一个容器，并安装的0.2.1的client和server。安装后，uci_housing模型可以正常HTTP和RPC预测。但是在bert模型上依旧无法预测。HTTP报错{"result":"Request Value Error"}可能是由于传入的数据不对，RPC的报错Illegal instruction (core dumped)。
代码如下：

[code]

[code]

[code]

[2020-05-11 08:26] MRXLT commented on #536
你好，在预处理的部分返回结果中包含了numpy arry的类型和lodtensor的类型，
![image](https://user-images.githubusercontent.com/16594411/81540267-f7871980-93a3-11ea-9198-7220bddcf63c.png)
serving暂时不支持这种输入方式，请将数据都转为numpy array类型或者都转为list类型

[2020-05-11 09:47] dlkht commented on #536
好的，谢谢

[2020-05-11 09:51] guru4elephant opened #548 "预测库选项整理"
预测库在默认apply pass的时候，可能会存在某些模型上无法work，为了保证用户能够优先使用正确的模型，C++一侧的预测库选项会默认关闭掉所有pass，用户在起服务的时候可以选择开启pass。

[2020-05-11 09:53] guru4elephant opened #549 "预测库入口使用zero copy"
1.7以后，预测库可以省略feed op的操作，直接将输入的tensor copy到初始使用的位置。

[2020-05-11 11:40] MRXLT commented on #544
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_app-0.0.3-py3-none-any.whl

[2020-05-11 12:27] omtbreak commented on #544
请问，新的new_test_client的运行命令和[示例](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model)的readme中的运行命令应该不同了吧，new_test_client.py中的sys的各个参数应该是什么呢？

[2020-05-11 14:47] #542 closed, assigned to barrierye

[2020-05-12 01:27] ClassmateXiaoyu commented on #540
你好，我的这2个报错能解决吗，需要怎么做才能解决这2个问题？

[2020-05-12 01:55] omtbreak opened #553 "客户端调用 from .serving_client import PredictorClient 报错"
本机系统MaxOS，使用的 paddle_serving_client-0.2.2-py3-none-any.whl
[code]
模型开启在Ubuntu18，客户端调用代码报错
[code]

[2020-05-12 06:54] dlkht commented on #536
你好！把输入全部用np.array表示后，仍有错误，提示如下。
I0512 14:44:14.721690 27671 naming_service_thread.cpp:209] brpc::policy::ListNamingService("127.0.0.1:12000,127.0.0.1:12001,127.0.0.1:12002,"): added 3
W0512 14:44:29.995329 27671 predictor.hpp:129] inference call failed, message: [E111]1/1 channels failed, fail_limit=1 [C0][E111]Fail to connect SocketId=3@127.0.0.1:12001: Connection refused [R1][E111]Fail to connec

[2020-05-12 07:28] MRXLT commented on #548
添加ir_optim参数控制是否开启pass优化
https://github.com/PaddlePaddle/Serving/pull/554

[2020-05-12 07:28] #548 closed, assigned to MRXLT

[2020-05-12 08:00] omtbreak commented on #544
请问，新的new_test_client的运行命令和示例的readme中的运行命令应该不同了吧，new_test_client.py中的sys的各个参数应该是什么呢？

[2020-05-12 09:10] #540 closed, assigned to MRXLT

[2020-05-12 09:10] ClassmateXiaoyu opened #555 "docker容器中，HTTP和RPC服务进行bert模型预测时报错"
基本环境是按照文档pull的hub.baidubce.com/paddlepaddle/serving:0.2.0镜像，Windows7 64位环境下安装的docker。容器中安装的0.2.1版本的的client和server。安装后，uci_housing模型可以正常HTTP和RPC预测。但是用bert模型进行测试时有报错，内容如下。HTTP报错{"result":"Request Value Error"}可能是由于传入的数据不对，RPC的报错Illegal instruction (core dumped)。
代码如下：

[code]

[code]

[2020-05-12 10:55] MRXLT commented on #518
python环境问题，使用编译镜像可以编译成功

[2020-05-12 10:55] #518 closed, assigned to nobody

[2020-05-12 10:56] MRXLT commented on #516
fixed in commit cadcd5936f6751845eaafa257ea431bdd0a3b1da

[2020-05-12 10:56] #516 closed, assigned to nobody

[2020-05-12 11:40] barrierye commented on #555
您好，可以把操作流程完整的发一下吗（包括进入容器，在容器中安装了包的命令等）？这边没能复现出来

[2020-05-13 02:36] ClassmateXiaoyu commented on #555
你好，复现步骤如下，包含了从状态查询，启动容器，进入容器，以及安装包的信息等：
**容器的状态、启动、进入、安装包等信息**
[code]
**启动RPC服务预测、cat bert_log.txt**
[code]
**杀serving进程、启动HTTP服务预测、cat bert_log.txt**
[code]

[2020-05-13 03:34] barrierye commented on #555
您好，
1. 注意到您使用的是`bert_seq20_model `模型，该文件由`prepare_model.py`文件（在`bert`目录下）生成。而`prepare_model.py`依赖于`paddlehub`，但是没有看到您安装了相关的Python包，想知道您的模型文件是怎么获得的？
2. 您在测试RPC的时候使用了`bert_seq20_rpc.py`文件，应该是做了些改动，可否展示下该文件的内容？
3. 还注意到http有该输出`127.0.0.1 - - [13/May/2020 02:17:04] "POST /bert/prediction HTTP/1.1" 200 -`，http预测是否正常？
4. 建议严格按照[README](https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/

[2020-05-13 04:00] ClassmateXiaoyu commented on #555
你好，
问题1：使用的bert_seq20_model 模型是在本地Windows环境下通过paddle_serving_client.io保存的（https://github.com/PaddlePaddle/Serving/blob/develop/doc/BERT_10_MINS_CN.md，按照step1在本地Windows保存的）。随后将2个文件夹（bert_seq20_client和bert_seq20_model）通过docker cp到了容器内。本地Windows环境下安装了paddlehub==1.6.1
和paddlepaddle==1.7.2版本。
问题2：bert_seq20_rpc.py文件内容基本上按照文档https://github.com/PaddlePaddle/Serving/blob/develop/doc/BERT_10_MINS_CN.md，的st

[2020-05-13 05:59] dlkht commented on #536
@MRXLT 你好！我发了个新邮件给你，麻烦帮找下原因，谢谢！

[2020-05-13 07:15] ClassmateXiaoyu commented on #555
你好，另一台电脑的docker容器内安装了python包paddle-serving-client==0.2.1、paddle-serving-server==0.2.1、paddlehub==1.6.2、paddlepaddle==1.7.2。下午严格按照README的流程在走，输入命令python prepare_model.py 128后，出现报错。
**prepare_model.py的代码与README中提供的是一样的**
[code]
**报错信息：**
[code]

[2020-05-13 07:28] ClassmateXiaoyu commented on #555
我将core_avx删除后，命令python prepare_model.py 128执行没问题并正常保存了模型文件。
[code]

[2020-05-13 08:02] ClassmateXiaoyu commented on #555
你好，
接下来按照文档启动RPC服务过程中，出现如下信息（有很多重复的，我截取了2段）：
[code]

[2020-05-13 08:04] barrierye commented on #555
Server端的输出是什么呢？

[2020-05-13 08:10] ClassmateXiaoyu commented on #555
一大串这样的重复信息
[code]

[2020-05-13 08:14] barrierye commented on #555
这部分应该是Client端的错误信息（意思是预测错误，输出了该次预测的请求值），能否看一下Server端的错误信息？

[2020-05-13 08:29] ClassmateXiaoyu commented on #555
请教一下，Server端的错误在哪里看。
我看了一下目录，在目录log中有2个文件serving.INFO，serving.WARNING。
**serving.INFO的信息**
[code]
**serving.WARNING的信息**
[code]

[2020-05-13 12:48] MRXLT commented on #536
收到了，我看一下

[2020-05-13 13:06] ClassmateXiaoyu commented on #555
你好，我下午提供的信息是否正确。如果不正确，麻烦指正，我好及时提供有用的信息去处理这个问题。

[2020-05-13 13:38] barrierye commented on #555
serving.INFO和serving.WARN似乎没有什么有效信息，是否可以开两个窗口，一个开Server，另一个开Client，看看Server有什么输出到控制台？

[2020-05-13 13:53] ClassmateXiaoyu commented on #555
开2个命令窗口，分别走RPC和HTTP，可以这么理解吗？还有一个疑问，我注意到readme文档里的server是gpu模式的脚本，我适当的修改或删除部分代码改为cpu模式的脚本，可以这样做吗？

[2020-05-13 14:02] barrierye commented on #555
不是的，整个Serving分为Server端和Client端，可以使用PRC或者HTTP方式启动Server。以RPC方式为例（HTTP方式，Client端只需要能发送HTTP请求即可）：
- Server端使用的是`paddle-serving-server`包，用来启动服务，对应命令是`python -m paddle_serving_server.serve --model bert_seq128_model/ --port 9292`；
- Client端使用的是`paddle-serving-client`包，用来获取RPC服务，对应的是`bert_client.py`文件，命令为`head data-c.txt | python bert_client.py --model bert_seq128_client/serving_client_conf.prototxt`

建议

[2020-05-13 14:12] ClassmateXiaoyu commented on #555
好的，明白了。明天上班发过去。

[2020-05-14 01:47] jiangchao123 opened #557 "criteo_ctr_with_cube目录中Readme的第一步编译源码的目的是什么？"
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/criteo_ctr_with_cube
请问criteo_ctr_with_cube目录中Readme的第一步编译源码的目的是什么？文档里没有写的很明白，是必须要自己先编译源码，才能体验cube? 这个操作感觉很反锁
1.是不是要先安装cmake？
2.是不是必须要用python2.7来编译？

[2020-05-14 03:31] ClassmateXiaoyu commented on #555
**server端信息：**
[code]
**client端信息：**
[code]

[2020-05-14 04:13] barrierye commented on #555
命令上没有问题，似乎是Client没有成功连接到Server。

猜想会不会是网络配置问题？前面提到

bert的操作与测试uci_housing是一致的吗？

[2020-05-14 05:54] ClassmateXiaoyu commented on #555
我先把HTTP的发一下，uci_housing的随后发过来：
**server端：**
[code]
**client端，此时是在另一个cmd窗口输入的指令：**
[code]
**随后在server端显示如下信息：**
[code]

[2020-05-14 05:55] barrierye commented on #555
Serving的HTTP实现是基于RPC的，所以我们可以暂时先看RPC的问题

[2020-05-14 06:32] ClassmateXiaoyu commented on #555
这是uci_housing模型测试的信息。
**HTTP方式的server端信息：**
[code]
**HTTP方式的client端的信息（另一个cmd窗口输入命令）：**
[code]
**随后HTTP方式的server端出现如下信息：**
[code]

**RPC方式的server端信息：**
[code]
**RPC方式的client端信息：**
[code]
uci_housing模型的测试是正常的可以打印出一致的价格出来。

[2020-05-14 07:04] ClassmateXiaoyu commented on #555
随后又测了一次bert。
**server端信息：**
[code]
**client端信息：**
[code]

[2020-05-14 07:13] MRXLT commented on #555
你好，请试用一下最新版本的client和server，看是否还有这个问题
client安装包
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.2.2-cp27-none-linux_x86_64.whl
cpu server安装包
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_server-0.2.2-py2-none-any.whl

[2020-05-14 07:16] ClassmateXiaoyu commented on #555
好的，我安装最新版试一下。

[2020-05-14 08:08] ClassmateXiaoyu commented on #555
你好，我已经安装了最新版本的client和server。随后首先对uci_housing模型进行了测试，HTTP和RPC都正常，可以打印出price。对bert模型进行测试时，出现以下信息。
**HTTP方式的server端信息：**
[code]
**HTTP方式的client端信息（另一个cmd窗口执行命令）：**
[code]
**随后HTTP方式的server端信息：**
[code]
**RPC方式的server端信息：**
[code]
**RPC方式的client端信息（另一个cmd窗口执行命令）：**
[code]

[2020-05-14 09:24] bjjwwang commented on #557
现在不需要了，之前QA有提过一次，后来预先编译好了wget下来就可以了，文档中关于编译的部分会很快删除

现在已不需要

支持2.7 3.6 3.7，会在首页更新 编译说明文档

文档更新预计今晚完成。
感谢

[2020-05-14 10:18] bjjwwang opened #559 "paddle serving编译文档支持python3"
https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE.md
https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md

[2020-05-14 10:52] MRXLT commented on #555
server端应该有个log/serving.INFO，里面有没有报错信息

[2020-05-14 11:08] jiangchao123 commented on #557
好的，谢谢~

[2020-05-14 11:55] MRXLT opened #560 "numpy输入缺少shape检查"
numpy输入的shape与模型预期不一致会导致server挂掉，可以在client完成检查

[2020-05-14 12:01] guru4elephant commented on #560
可以做弱检查，比如检查dim是否与配置文件一致，但-1维度的shape不应该检查

[2020-05-14 15:30] bjjwwang commented on #553
ubuntu 18的python 3.7是如何安装的。

[2020-05-14 15:35] omtbreak opened #562 "paddle-serving-client源码问题"
paddle-serving-client源码中，调用了.serving_client中的PredictorClient
[code]
但在使用客户端代码报ImportError
[code]
查找发现，通过pip3安装的paddle-serving-client中，没有serving_client.py文件，只有serving_client.so
![截屏2020-05-1423 30 20](https://user-images.githubusercontent.com/12478872/81954593-9e391780-963b-11ea-8750-bc92152d3c83.png)

[2020-05-15 00:57] omtbreak commented on #553
使用如下命令安装的
[code]
ubuntu的服务器处没有使用docker，但是正常开启了。
ImportError报错的是客户端处的load_client_config,和服务器处没关系，查找报错发现是paddle-serving-client源码中，调用了.serving_client中的PredictorClient
[code]
客户端处使用pip安装的paddle-serving-client没有serving_client.py
![截屏2020-05-1423 30 20](https://user-images.githubusercontent.com/12478872/81954593-9e391780-963b-11ea-8750-bc92152d3c83.png)

[2020-05-15 01:07] ClassmateXiaoyu commented on #555
你好，这是昨天最后一次进行RPC之后的log/serving.INFO信息（到发这条消息时没有进行其他的服务启动的操作）。
[code]

[2020-05-15 02:47] barrierye commented on #562
您好，`serving_client.so`是由pybind生成的，可以在Python端直接调用。
该文件是在Linux下编译的，与macOS的文件格式不同，建议[在Docker中运行](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)

[2020-05-15 03:03] bjjwwang commented on #553
好的 感谢 我今天复现一下。

[2020-05-15 03:04] bjjwwang commented on #562
是想要在mac os上运行吗

[2020-05-15 03:07] bjjwwang commented on #559
其实就是添加
[code]
这样的命令就可以了

[2020-05-15 03:07] barrierye commented on #559
Python3 在文档中有提到：

本文档将以Python2为例介绍如何编译Paddle Serving。如果您想用Python3进行编译，只需要调整cmake的Python相关选项即可。

[2020-05-15 04:47] MRXLT commented on #555
看日志server端是正常的，在client端启动之前export GLOG_v=3，重新执行client端，可以打出来更多debug信息看一下

[2020-05-15 04:55] MRXLT commented on #536
![image](https://user-images.githubusercontent.com/16594411/82012575-f3604200-96aa-11ea-8f19-1e27f2104a6a.png)
![image](https://user-images.githubusercontent.com/16594411/82012590-fe1ad700-96aa-11ea-8fb5-14c1daa79ab2.png)
图中这几个feed var的shape与保存的模型文件中的shape不一致，以trg_src_attn_bias为例，reader产出的shape应该是(1,8,150,150)
对于非lod tensor需要保证输入的shape与保存模型的输入shape一致，可以通过padding实现

[2020-05-15 05:57] dlkht commented on #536
好的，谢谢！

[2020-05-15 07:55] bjjwwang commented on #557
已修复

[2020-05-15 07:56] #557 closed, assigned to bjjwwang

[2020-05-15 08:20] ClassmateXiaoyu commented on #555
你好，这是在client端启动之前export GLOG_v=3后的信息，HTTP和RPC方式都有。
**HTTP方式的server端信息：**
[code]
**HTTP方式的client端信息（另一个cmd窗口执行命令）：**
[code]
**随后HTTP方式的server端信息：**
[code]
**RPC方式的server端信息：**
[code]
**RPC方式的client端信息（另一个cmd窗口执行命令）：**
[code]

[2020-05-15 08:25] ClassmateXiaoyu commented on #555
这是紧接着上一步操作后cat的log/serving.INFO和serving.WARNING信息。
[code]

[2020-05-15 12:17] omtbreak commented on #562
您好，那如果macos或者windows就只能在docker中运行嘛

[2020-05-15 12:18] omtbreak commented on #562
我现在是想在macos上测试，但业务部署的客户端是运行在windows

[2020-05-15 12:35] barrierye commented on #562
是的，目前只支持Linux。您可以考虑在Windows或macOS上用HTTP模式获取服务

[2020-05-15 13:25] omtbreak commented on #562
明白了，那可以提供一个通过HTTP方式调用目标检测服务的例子嘛

[2020-05-15 13:37] barrierye commented on #562
可以参考这个例子：[Faster RCNN model on Paddle Serving](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model)

[2020-05-15 13:46] omtbreak commented on #562
这个例子我看只有rpc调用的方式呀，http的方式没有

[2020-05-15 14:20] barrierye commented on #562
暂时没有目标检测服务的HTTP例子，可以参考下图像分类的例子：[Image Classification
](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/imagenet)

[2020-05-16 03:01] linux-devil opened #565 "Cant pull serving:0.2.0-gpu"
nvidia-docker pull hub.baidubce.com/paddlepaddle/serving:0.2.0-gpu fails to pull all the layer

Tried multiple times , but there is some timeout.

[2020-05-16 03:19] guru4elephant commented on #565
服务器上不能访问百度云CCE的dockerhub hub.baidubce.com, 可能是因为没有路由。
加这句试试：
ip r add 100.64.0.0/10 via 10.255.100.1 dev eth0

[2020-05-16 04:23] linux-devil commented on #565
sudo ip r add 100.64.0.0/10 via 10.255.100.1 dev wlp112s0
Error: Nexthop has invalid gateway.

[2020-05-16 05:24] barrierye commented on #565
可以访问dockerhub吗？试试这个：docker pull barriery/serving:0.2.0-gpu
不行的话可以考虑在能访问外网的机器上下载镜像，传到内网机器

[2020-05-16 07:18] linux-devil commented on #565
Thanks @barrierye  this works

[2020-05-16 07:18] #565 closed, assigned to barrierye

[2020-05-16 12:10] linux-devil opened #566 "To find paddle serving model"
Where can I find pyramid_box_lite_server_mask to be able to use with  paddle_serving_server.serv

[2020-05-17 02:14] guru4elephant opened #567 "inference_model_to_serving接口参数顺序需要修改"
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_client/io/__init__.py#L106

`model_filename`和`params_filename`的使用频率低于`serving_server`和`serving_client`，通常可以不写，需要放在后面

[2020-05-17 02:15] guru4elephant commented on #566
we don't have the model in our model zoo. but you can transfer the model yourself with https://github.com/PaddlePaddle/Serving/blob/develop/doc/INFERNCE_TO_SERVING.md
@linux-devil

[2020-05-17 02:20] omtbreak commented on #562
不好意思，这个图像分类的例子的服务器端代码在ubuntu18上也跑不起来
[code]
容器外安装了paddle_serving_app，版本0.0.2
还是希望可以提供一个HTTP的目标检测的例子

[2020-05-17 04:22] #566 closed, assigned to nobody

[2020-05-17 08:56] #559 closed, assigned to MRXLT, barrierye

[2020-05-17 10:47] guru4elephant opened #568 "Imagenet/Coco等经典数据集的词典、Label信息作为app的api"
提供各个数据集的获取方法，以及在应用中直接调用的方法

[2020-05-18 08:21] miaochunyuan opened #572 "用你们提供的docker源码进行编译gpu版的serving"
提供的docker是cuda9，从docker编译出来的版本就只能适用于cuda9吗？我想编译出适用于cuda10的版本该如何编译

[2020-05-18 09:15] barrierye commented on #572
提供的GPU编译镜像只能编译CUDA9版本的，可以尝试将[Dockerfile](https://github.com/PaddlePaddle/Serving/blob/develop/tools/Dockerfile.gpu.devel)的第一行改为：
[code]
构建编译镜像（主机的cuda版本要比镜像高）

[2020-05-18 09:48] omtbreak opened #573 "docker容器内使用rpc调用目标检测服务报错"
### 客户端
#### 客户端环境
客户端系统是MacOS，使用[Docker Run](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER_CN.md)中的方式配置了本地的docker容器环境
[code]
#### rpc调用代码
在容器中运行rpc调用的代码, 根据[Faster RCNN on Serving](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model)进行修改得到的，使用的文件均为容器内路径, 外网访问端口为18050，内网开启端口为8050
[code]
#### serving_client_conf.prototxt
根据[export serving

[2020-05-18 10:15] guru4elephant commented on #572
后续会考虑提供cuda10镜像

[2020-05-18 12:56] bjjwwang commented on #573
你训练的是cascade rcnn是么 我马上复现一下。

[2020-05-18 13:20] omtbreak commented on #573
是的，如果您复现的话，希望您能把完整的客户端调用代码以及参数和环境告知我一下，太感谢您了

[2020-05-18 14:54] wangxicoding opened #575 "多进程下和paddle一起使用时出错"
https://github.com/PaddlePaddle/Serving/blob/ac1ba932ea66b3fb1cc0bbbdcd94bde91fd679a8/core/sdk-cpp/include/stub_impl.hpp#L330
目前定位到这行代码。把宏手动展开
![image](https://user-images.githubusercontent.com/10208305/82226923-b1a8f300-9959-11ea-8f6b-146ee4400b60.png)

这个语句chn_options.protocol = var.parameters.protocol.value; 出错了？
已经加了try catch了，是这行语句新开了线程，后台线程出错了，被paddle捕获了？
![image](https://user-images.githubu

[2020-05-18 16:22] bjjwwang commented on #573
我复现了，是因为cascade rcnn还需要padstride操作来对齐输入，目前已经跑通。
padstride算子会在5月19日提交PR并评审。

[2020-05-19 01:28] omtbreak commented on #573
感谢，能提供下客户端调用的代码和需要的文件嘛，这个调用我搞了很久了都没有成功

[2020-05-19 02:39] MRXLT commented on #567
已修改
https://github.com/PaddlePaddle/Serving/pull/556/files?file-filters%5B%5D=.devel&file-filters%5B%5D=.py&file-filters%5B%5D=.sh#diff-3a1fb4e721d5b2ebb8e37a3727271511

[2020-05-19 02:39] #567 closed, assigned to MRXLT

[2020-05-19 05:35] bjjwwang commented on #573
https://github.com/PaddlePaddle/Serving/pull/577 可以试一下这个
但是app端要自己编译然后重新安装。
编译过程参考 https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md

[2020-05-19 07:07] omtbreak commented on #573
app端指的是paddle-serving-app嘛

[2020-05-19 07:08] bjjwwang commented on #573
对的

[2020-05-19 07:16] omtbreak commented on #573
我整理下您的意思，如果不编译重新安装paddle-serving-app的话，就没有办法使用PadStride算子是吧。
会报这个错误
[code]
那重新编译的话，是应该clone哪个分支的Serving？develop分支的嘛
![截屏2020-05-1915 14 11](https://user-images.githubusercontent.com/12478872/82296210-705d2580-99e3-11ea-9c96-f80e2c336623.png)

[2020-05-19 07:22] bjjwwang commented on #573
目前可以用develop分支了 PR已合入

[2020-05-19 08:13] wangxicoding commented on #575
https://github.com/apache/incubator-brpc/blob/87f149c464ea0322a5b59d040bb80e7847f365be/src/bthread/task_control.cpp#L165
目前定位到brpc中的这行代码。启线程出错了吗。。头痛。。
![image](https://user-images.githubusercontent.com/10208305/82301972-91297900-99eb-11ea-9a49-643f94d4fcea.png)
![image](https://user-images.githubusercontent.com/10208305/82302068-b0280b00-99eb-11ea-984e-013bd30ccb9c.png)

[2020-05-19 09:28] wangxicoding commented on #575
发现是pathlib的问题。。
python -m pip install pathlib 安装后执行会报错
python -m pip uninstall pathlib 卸载后不会出问题

------更新-------
pathlib2存在的情况下没有问题，pathlib2删了出错。。

[2020-05-19 10:36] bjjwwang commented on #547
可以参考：https://cloud.baidu.com/doc/VPC/s/Cjwvyu10x

[2020-05-19 11:11] omtbreak commented on #573
您意思是可以不需要编译了还是在编译时使用git clone https://github.com/PaddlePaddle/Serving.git

[2020-05-19 11:13] bjjwwang commented on #573
编译时使用https://github.com/PaddlePaddle/Serving.git 就可以了

[2020-05-19 13:14] omtbreak commented on #573
我使用https://github.com/PaddlePaddle/Serving.git ，按照您发的编译教程重新编译了paddle-serving-app，并得到了paddle_serving_app-0.0.3-py3-none-any.whl，然后重新使用这个whl安装了paddle-serving-app,但仍然报错
[code]

[2020-05-19 13:16] bjjwwang commented on #573
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_app/__init__.py#L15
抱歉，疏忽了，在这一行之后继续加上 `PadStride`
然后再编译一遍吧

我稍后把这个小错误改了

[2020-05-19 14:36] omtbreak commented on #573
请问，我又编译了一次，出现下面这个错误，是网络的问题么
[code]

[2020-05-19 14:48] bjjwwang commented on #573
继续`make -j10 `一下就好

[2020-05-19 15:53] omtbreak commented on #573
试了两次，依旧挂在这里，这是和网络情况有关嘛。
还有个问题，请问你们是不是使用openssl 1.0.1_EC？

[2020-05-20 00:53] omtbreak commented on #573
您好，我按照编译的教程，这是我的python环境，因为我使用python3，所以按照教程修改了些地方
![截屏2020-05-2008 46 05](https://user-images.githubusercontent.com/12478872/82392447-73552600-9a76-11ea-8b2c-1348d2c9cc19.png)
![截屏2020-05-2008 54 00](https://user-images.githubusercontent.com/12478872/82392872-81577680-9a77-11ea-9143-928d915f2b43.png)

这是我的操作步骤
[code]
我也在/Serving/python/paddle_serving_app/__init__.py中重新加了PadStride
![截屏2020-05-2008

[2020-05-20 02:31] omtbreak commented on #573
您可以直接提供下您编译的结果吗

[2020-05-20 03:10] omtbreak commented on #573
或者您解释下为啥还是找不到PadStride，我再重新编译

[2020-05-20 03:16] bjjwwang commented on #573
等会儿 现在有几个需要确认一下
1. 编译app是否有问题，是上面的`extern_zlib`吗
2.  运行test_client.py 出现了什么样的问题

[2020-05-20 03:21] omtbreak commented on #573
1. 上面的extern_zlib是哪个？我用的https://github.com/PaddlePaddle/Serving.git，编译过程中出现的
[code]
其中Serving就是git clone https://github.com/PaddlePaddle/Serving.git得到的

2. 运行test_client.py报错
![截屏2020-05-2008 52 09](https://user-images.githubusercontent.com/12478872/82401326-15333d80-9a8c-11ea-81a3-0880ff5501a5.png)依旧找不到PadStride

[2020-05-20 04:57] bjjwwang commented on #573
1. 我先定位下这个问题
2. 要不这样，在你的` $PYTHONROOT/lib/python3.6/site-package/paddle_serving_app/__init__.py `把这个PadStride加上。 `$PYTHONROOT`就是你的python主目录

[2020-05-20 05:34] omtbreak commented on #573
我发现我通过pip安装的paddle-serving-app不在您说的
[code]
下，而是在
[code]
并且
[code]
中是有PadStride的

[2020-05-20 05:38] bjjwwang commented on #573
好的 ， $PYTHONROOT， $是环境变量的标识符，您这里的~/.local就是 $PYTHONROOT，这个科普一下。

一般来说`~/.local/lib/python3.6/site-packages/paddle_serving_app/__init__.py `这里有PadStride，在
`~/.local/lib/python3.6/site-packages/paddle_serving_app/reader/image_reader.py` 里面也有class PadStride 的话，就不应该找不到了。

[2020-05-20 05:43] omtbreak commented on #573
[code]
中是有class PadStride的，有个情况是，我在按照教程编译时，教程里使用的$PYTHONROOT 是/usr
![截屏2020-05-2013 42 32](https://user-images.githubusercontent.com/12478872/82409198-ce4f4300-9a9f-11ea-9d26-127462acdced.png)
是因为这个导致的么，我在编译时要将$PYTHONROOT 换成 ~/.local么

[2020-05-20 05:49] bjjwwang commented on #573
对的 可以删除编译文件试一下 。重新编译app就行。

[2020-05-20 06:12] miaochunyuan commented on #572
您好，在自己构建了cuda10版本的镜像后，编译安装后运行会出现cuda not `found的报错：`

[code]

只修改了dockerfile里的第一行：FROM nvidia/cuda:10.0-cudnn7-devel-centos7构建的镜像

[2020-05-20 06:16] miaochunyuan commented on #572
您好，在自己构建了cuda10版本的镜像后，编译安装后运行会出现cuda not found的报错：

[code]

只修改了dockerfile里的第一行：FROM nvidia/cuda:10.0-cudnn7-devel-centos7构建的镜像

[2020-05-20 06:18] barrierye commented on #572
容器是否是用nvidia-docker启动的？

[2020-05-20 06:49] miaochunyuan commented on #572
是的，容器内可以找到cuda，使用gpu

[2020-05-20 06:51] miaochunyuan commented on #572
是的，容器内可以找到cuda，使用gpu

[2020-05-20 06:58] MRXLT commented on #572
有使用SERVING_BIN指定编译出的serving二进制路径吗

[2020-05-20 07:07] miaochunyuan commented on #572
使用了

[2020-05-20 07:12] MRXLT commented on #572
使用ldd命令查看一下编译出的serving二进制的动态库链接情况

[2020-05-20 07:21] dlkht opened #580 "android手机做客户端，只能用http方式与server通讯吗？"
用rpc可行否？

[2020-05-20 07:49] omtbreak commented on #573
正克隆到 'extern_protobuf'
这个步骤是要从paddle进行fork么，过去两个小时一直卡在这里。

[2020-05-20 09:29] omtbreak commented on #573
哎，您好，我将$PYTHONROOT替换为你说的~/.local重新进行了编译，但是编译过程最后报错
[code]
这是因为，之前使用PYTHONROOT为/usr时，/usr/bin/python是存在的，而换成~/.local后，路径~/.local/bin下并不存在python或者python3，所以找不到，这种情况如何进行编译呢？
您可以提供您编译得到的whl文件嘛？

[2020-05-20 11:15] miaochunyuan commented on #572
`linux-vdso.so.1 =>  (0x00007ffc5070f000)
        libpthread.so.0 => /usr/lib64/libpthread.so.0 (0x00007f4e3587c000)
        libcudart.so.10.0 => /usr/local/cuda/lib64/libcudart.so.10.0 (0x00007f4e35602000)
        libiomp5.so => /paddle/Serving/build/third_party/install/Paddle/third_party/install/mklml/lib/libiomp5.so (0x00007f4e35226000)
        libmklml_intel.so => /paddle/Serving/build/third_p

[2020-05-20 11:48] omtbreak commented on #580
请问您是做什么模型

[2020-05-20 13:26] guru4elephant commented on #580
我们后续可以支持手机端rpc，计划Q2末完成grpc的微服务@dlkht

[2020-05-20 13:32] omtbreak commented on #573
您好，我重新换了一台服务器，这次完全按照教程来进行编译，用最后生成的paddle-serving-app.whl进行了重装，依然报错
[code]

[2020-05-20 13:44] omtbreak commented on #573
我总结了一下，现在的情况是
1. 使用/usr作为$PYTHONROOT，可以编译成功并得到paddle-serving-app.whl，但用这个安装后，运行test_client.py，依旧不能找到PadStride，您也说不应该用/usr作为$PYTHONROOT
2. 使用~/.local作为PYTHONROOT，无法编译成功，因为～/.local/bin下没有python3 or python。

我还是不明白，为什么这个需要我们自己编译

[2020-05-20 13:57] omtbreak commented on #562
您好，可以提供一个RPC或者HTTP的目标检测的例子吗，[Faster RCNN on Paddle Serving](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model)中的例子无法运行

[2020-05-20 14:01] barrierye commented on #573
这个是因为在编译过程中拉取github代码仓库，如果网络较差会拉取失败

您的python路径是`/usr/bin/python`，所以这个是正确的。您用`pip show paddle_serving_app`命令看看具体安装在什么地方？看看对应位置的`__init__.py`里有没有`PadStride`

这是因为新加的算子刚合入devel分支，对应的包还没上传至pypi，需要一点时间。您现在用的话要用最新代码编译

[2020-05-20 14:08] barrierye commented on #573
稍后我们提供一个临时版的app包

[2020-05-20 14:21] omtbreak commented on #573
__init__.py中是有PadStride的，但运行时就报undefined的错误，您可以提供一个app包，那再好不过了，感谢。

[2020-05-20 14:27] barrierye commented on #573
定位到问题是`python/paddle_serving_app/reader/__init__.py`文件没有加`PadStride`，我们会尽快修复。
您可以使用下面的whl包：
[code]

[2020-05-20 14:35] omtbreak commented on #573
我试一下，感谢感谢

[2020-05-20 15:06] omtbreak commented on #573
说实话，额，我在两个服务器上都试了试，依然报PadStride undefined的错误，要崩溃了

[2020-05-20 15:12] barrierye commented on #573
非常抱歉！刚刚编译用的是原来的代码，现在已经更正。您用上面的链接重新下载安装一下

[2020-05-20 15:35] omtbreak commented on #573
我使用刚才的链接重新下
[code]
运行test_client.py，还是报错
[code]

[2020-05-20 15:39] omtbreak commented on #573
btw，请问你们使用的OPENSSL_1.0.1_EC 是不是就是OPENSSL_1.0.1 ？因为我在openssl的releases中没有找到OPENSSL_1.0.1_EC
[code]

[2020-05-20 15:46] barrierye commented on #573
请用`pip show paddle_serving_app`查看下对应的路径下`paddle_serving_app/__init__.py`文件是否有下面的语句（注意不要用错Python版本）：
[code]
`paddle_serving_app/reader/__init__.py`是否有下面的语句：
[code]

openssl:
[code]

[2020-05-20 15:55] omtbreak commented on #573
1. PadStride的问题我感觉终于解决了，感谢您这么晚帮我解决这个。
2. openssl这个问题，我按照我的环境，稍微修改了下您的命令
[code]
得到
[code]

[2020-05-20 15:59] barrierye commented on #573
您看下`paddle_serving_server`文件夹中是否有对应的so文件：
[code]

[2020-05-20 16:01] omtbreak commented on #573
是有这个文件的
[code]

[2020-05-20 16:02] barrierye commented on #573
试试把这个so文件加入到`LD_LIBRARY_PATH`路径下：
[code]

[2020-05-20 16:13] omtbreak commented on #573
嗯嗯，这些都可以了。
我按照wangjiawei04同学之前发的[例子](https://github.com/wangjiawei04/Serving/blob/10fd8cdd3180a8afa0ada144d55203e58b760a61/python/examples/cascade_rcnn/get_data.sh)

服务器端可以开启服务，客户端可以发送请求了。但是报错
服务器端
[code]

客户端
[code]

[2020-05-20 16:15] barrierye commented on #573
这个好像是模型上的问题，要等@wangjiawei04 明早回复啦

[2020-05-20 16:21] barrierye opened #583 "Client打包上crypto的so文件"
在这个issue #573  中，用户遇到找不到crypto的情况：
[code]

[2020-05-21 01:18] omtbreak commented on #573
哈哈感觉循环回来了，因为之前是就是报这个错，wangjiawei04同学才加的PadStride算子，嗯嗯，非常感谢您的帮助

[2020-05-21 01:45] dlkht commented on #580
知道了，谢谢！

[2020-05-21 02:39] omtbreak opened #584 "提供的客户端调用示例运行出错"
提供的[示例](https://github.com/wangjiawei04/Serving/blob/10fd8cdd3180a8afa0ada144d55203e58b760a61/python/examples/cascade_rcnn/get_data.sh)为将cascade rcnn模型在服务器部署，并使用rpc方式调用。
客户端报错内容为
[code]

服务器端报错内容为
[code]

[2020-05-21 02:41] #584 closed, assigned to nobody

[2020-05-21 02:45] omtbreak commented on #573
您好，现在客户端程序可以找到PadStride算子并重新运行了，但运行test_client.py后依旧出现维度不匹配问题
具体为
客户端报错
[code]

服务器端报错
[code]

[2020-05-21 02:55] bjjwwang commented on #573
这个是调用的预测库的问题 会在0.2.2版本完全修复
现在解决方法如下
[code]
然后再启动一下

最后一句命令 也许在python安装路径里面看看具体是什么位置，就是把二进制的serving程序替换过去。

[2020-05-21 06:20] mcl-stone opened #585 "运行导出的模型时报错"
使用
![image](https://user-images.githubusercontent.com/62418900/82529621-01f89e80-9b6e-11ea-9a9f-179f2ad50b71.png)
这样方法导出模型后，使用python3 -m paddle_serving_server.serve --model inference_model/yolov4_cspdarknet_voc_trush --thread 2 --port 9292运行服务，报如下错误

![image](https://user-images.githubusercontent.com/62418900/82529729-38ceb480-9b6e-11ea-9dcd-619d41d75543.png)
求解决！

[2020-05-21 07:33] #585 closed, assigned to nobody

[2020-05-21 08:03] omtbreak opened #586 "paddle-serving-client使用PredictorClient出现ImportError"
使用环境
[code]
运行[示例](https://github.com/wangjiawei04/Serving/blob/10fd8cdd3180a8afa0ada144d55203e58b760a61/python/examples/cascade_rcnn/get_data.sh)的test_client.py时报错
[code]

[2020-05-21 08:28] #586 closed, assigned to nobody

[2020-05-21 08:36] bjjwwang opened #587 "ERNIE 模型 sequence_unpad op参数shape检查出错"
## Serving端报错
[code]
报错的原因是 `paddle.fluid.layers. sequence_unpad ( x, length, name=None )` 当中的length字段不能为两个维度，预期是[1]， 实际上是[1 ,1]
此api详情 https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/sequence_unpad_cn.html#sequence-unpad

### 那么为什么是[1,1]呢？
首先要介绍client端的代码
[code]
其中`eval_placeholder_7`到`13`就是sequence_unpad的length参数。可以看到这个参数在这里传入的都是`[100]`。在这里`eval_placeholder_7`到`13` shape =

[2020-05-21 09:02] omtbreak opened #588 "RPC调用方式出现inference call failed 超时错误"
两台Ubuntu服务器A和B
情况1
服务器A开启Serving服务（可在本机运行test_client.py 访问127.0.0.1:port获取检测服务）
服务器B远程运行test_client.py程序
B服务器运行报超时错误
[code]

情况2
服务器B开启Serving服务
笔记本MacOS下创建docker，docker中运行test_client.py，访问服务器B的检测服务,同样报错报错
[code]

[2020-05-21 11:20] omtbreak commented on #573
请问访问另一台服务器启动的检测服务出现超时错误是为什么呢
[code]
我分别使用一台mac(通过paddle提供的centos docker容器)运行test_client.py，访问一台Ubuntu服务器上开启的服务，并且使用一台Ubuntu运行test_client.py访问另一台Ubuntu服务器开启的服务，
均出现超时错误

[2020-05-21 11:32] bjjwwang commented on #573
我意识到这个需要gpu来跑。
不过cpu也行，就是非常慢。
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_client/__init__.py#L88
到您的~/.local/lib/python2.7/site-package/paddle_serving_client/__init__.py 下对应的位置改下。
改到100000甚至更大。

不过100秒到超时虽然是失去了可用性，但如果可以跑出个结果，至少在GPU机器上就没问题了。

[2020-05-21 11:41] omtbreak commented on #573
感谢，跑通了。我们确实是想用GPU来跑，但是咱们Serving不是现在不支持CUDA10嘛，所以就先用CPU来跑通，感谢您

[2020-05-21 11:43] #588 closed, assigned to nobody

[2020-05-21 11:44] bjjwwang commented on #587
TODO 目前打算在Serving端的C++ Op侧 hack一下

[2020-05-21 11:47] bjjwwang commented on #573
不客气 应该的。深知和用户还有距离，有很多要继续努力的地方，我们也将更加贴近用户，打造更好用的Serving框架。

[2020-05-22 01:53] lerry-lee opened #589 "serving_client调用rpc预测服务时报错，可服务模型使用paddleNLP的simnet"
保存可服务模型时，顺便打印了输入输出变量的名称
[code]

打印结果为
[code]
于是我按照这个名称来定义输入、获取输出.
启动好rpc预测服务后，调用client测试
[code]
其中Sim_reader是模仿源码里面的数据读取方式写的
[code]
其中SimNetProcessor源码里是从文件中一行一行读，我改写成从list中按元素读了.
然后我执行客户端测试，发现报一些错误

[code]

我尝试打印过left,pos_right，是variable的类型，里面还有lod_tensor，不知道是不是里面没有实际数据...

[2020-05-22 04:43] barrierye opened #590 "Client端从rpc的pb数据转换到C++的ModelRes耗时占比很大"
profile：
![image](https://user-images.githubusercontent.com/28446721/82632064-c91dff80-9c29-11ea-805e-59950c2d44ec.png)
对应的代码部分：
![image](https://user-images.githubusercontent.com/28446721/82632051-c28f8800-9c29-11ea-9523-a1dcb5b3e526.png)

[2020-05-22 05:34] bjjwwang opened #592 "TODO paddle serving app的tutorial需要完善一下"
[code]
预期出现对应模型的操作步骤，这块需要添加一下。
相关代码：
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_app/models/model_list.py

[2020-05-22 08:41] MRXLT opened #594 "部分示例缺少readme"
以下示例缺少readme
deeplabv3
mobilenet
resnet50_v2
unet_for_image_seg

[2020-05-22 08:46] wszph opened #595 "serving_client调用rpc报错(FasterRCNN)"
你好，我在测试提供的目标检测模型提供Faster RCNN Model实例 时，可以正常启动serve端，但是client端报错如下：
[code]
测试代码也是采用实例中的test_client.py文件，麻烦看一下什么原因？

[2020-05-22 08:52] MRXLT commented on #589
本issue内容与https://github.com/PaddlePaddle/models/issues/4624 相同，详细内容请参考该issue

[2020-05-22 09:01] MRXLT opened #596 "faster rcnn 示例错误"
1：文档一处错误，test_client.py修改为new_test_client.py。

2：new_test_client.py中用到sys，未import sys

3：导入sys后报如下错误：
![image](https://user-images.githubusercontent.com/16594411/82650845-de0c8a00-9c4d-11ea-9f3b-16d11b45b13a.png)

[2020-05-22 09:34] omtbreak opened #597 "PaddleDetection export得到的模型部署后出现ShapeError"
### 前提条件
#### 条件1
在PaddleDetection训练得到的模型权重，由提供的[export工具](https://github.com/PaddlePaddle/PaddleDetection/pull/605)，将其转换得到serving_server、serving_client等文件

serving_server 中的serving_server_conf.prototxt
![截屏2020-05-2217 25 26](https://user-images.githubusercontent.com/12478872/82653119-4c068080-9c51-11ea-9c40-98fc9aaf89a6.png)

serving_client中的serving_client_conf.prototxt
![截屏2020-05-2217 27 45](h

[2020-05-22 10:21] barrierye opened #598 "python端Client跨线程调用predict报错（numpy输入）"
python端client跨线程用numpy预测的时候会偶发性报错（在不报错的情况下预测结果正常），list暂时没遇到这种情况。
可能是GIL的释放导致变量生命周期管理异常（list对应的predict的GIL部分不知道什么时候不见了）

报错信息：
[code]

复现代码：
[code]

[2020-05-23 06:05] mcl-stone opened #600 "自己训练导出的模型，HTTP Service部署后预测失败"
![image](https://user-images.githubusercontent.com/62418900/82722968-a230fd80-9cfd-11ea-8931-60186bd1ab85.png)
使用上图示例是可以成功的，自己训练完模型后，按照Paddle Serving部署模型导出也是成功的，使用导出的模型按照示例HTTP Service部署成功后，预测时失败。
![image](https://user-images.githubusercontent.com/62418900/82723000-f89e3c00-9cfd-11ea-845b-e13870738e8c.png)
上图左边是自己导出后的serving_server_conf.prototxt，右边是示例中的文件。使用curl -H "Content-Type:application/json"

[2020-05-23 08:10] mcl-stone commented on #600
加了imsize：但还是不行

[2020-05-23 08:55] mcl-stone commented on #600
我是使用yolov4训练出的模型，想用HTTP Service部署，使用curlpost包进行预测的方式，希望给个例子。谢了！

[2020-05-23 13:05] guru4elephant commented on #600
收到case，我们会尽快提供检测任务的可视化demo

[2020-05-23 14:50] barrierye commented on #598
原因是Client端的result_handle_并不是线程安全的

[2020-05-23 15:29] guru4elephant opened #602 "AIStudio，python3无法使用paddle_serving_app"
![image](https://user-images.githubusercontent.com/35550832/82734376-442c0680-9d4d-11ea-85d8-91111c1123da.png)
问题如图

[2020-05-24 00:49] mcl-stone commented on #600
感谢！好了给个连接吧，最近比较急，要使用。

[2020-05-24 14:02] omtbreak commented on #573
您好，请问您提供的cascade rcnn，是不是将PaddleDetection训练的模型权重通过PaddleDetection下的[转换工具](https://github.com/PaddlePaddle/PaddleDetection/blob/master/tools/export_serving_model.py)换到Serving可用的类型的，我在部署我训练的cascade rcnn以及faster rcnn时，出现这个错误[ShapeError](https://github.com/PaddlePaddle/Serving/issues/597)

[2020-05-25 01:55] miaochunyuan opened #606 "使用更改dockerfile构建的cuda10镜像编译后无法在cuda10中使用"
修改了dockerfile中的FROM nvidia/cuda:10.0-cudnn7-devel-centos7构建了cuda10编译镜像，编译安装后运行会出现cuda not found的报错：
`GLOG_v=2 python -m paddle_serving_server_gpu.serve --model servingExport/yolov3_darknet_voc/serving_client --port 9293 --gpu_id 5
mkdir: cannot create directory 'workdir_5': File exists
CUDA not found, please check your environment or use cpu version by "pip install paddle_serving_server"`
在docker中

[2020-05-25 02:10] #598 closed, assigned to barrierye

[2020-05-25 03:30] barrierye commented on #606
您好，我们会尽快复现一下

[2020-05-25 04:33] omtbreak commented on #573
您好，请问你们提供的cascade rcnn，是不是将PaddleDetection训练的模型权重通过PaddleDetection下的[转换工具](https://github.com/PaddlePaddle/PaddleDetection/blob/master/tools/export_serving_model.py)换到Serving可用的类型的，我在部署我训练的cascade rcnn以及faster rcnn时，出现这个错误[ShapeError](https://github.com/PaddlePaddle/Serving/issues/597)

[2020-05-25 05:15] barrierye commented on #606
您好，可以展示下`ldd $SERVING_BIN`和`ls /dev/ | grep nvidia`的输出吗？

[2020-05-25 05:29] bjjwwang commented on #597
我看看哈

[2020-05-25 05:30] bjjwwang commented on #573
我马上复现一下

[2020-05-25 06:53] MRXLT commented on #596
已修复
https://github.com/PaddlePaddle/Serving/pull/599

[2020-05-25 07:14] miaochunyuan commented on #606
感谢，还是发现了$SERVING_BIN设置的有问题，现在可以正常运行了

[2020-05-25 07:14] #606 closed, assigned to barrierye

[2020-05-25 07:27] barrierye commented on #572
与 #606 重复

[2020-05-25 07:27] #572 closed, assigned to barrierye

[2020-05-25 07:29] barrierye commented on #595
这个应该是Client端的正常输出，程序运行的返回值正常吗？

[2020-05-25 08:53] omtbreak commented on #573
嗯嗯，您能讲讲您是怎么从PaddleDetection训练得到的权重转换到serving_server和serving_client的嘛，我觉得有可能是这里出的问题

[2020-05-25 10:20] wszph commented on #595
@barrierye 现在Faster RCNN Model实例代码可以正常测试。现在有另外一个问题，我的serving_server_conf.prototxt如下：
feed_var {
  name: "image"
  alias_name: "image"
  is_lod_tensor: false
  feed_type: 1
  shape: 3
  shape: 608
  shape: 608
}
feed_var {
  name: "im_shape"
  alias_name: "im_shape"
  is_lod_tensor: false
  feed_type: 0
  shape: 2
}
fetch_var {
  name: "save_infer_model/scale_0.tmp_0"
  alias_name: "outputs"
  is_l

[2020-05-25 10:24] bjjwwang commented on #595
我记得imshape没什么影响，预留给图片的长和宽。比如[608, 608]

[2020-05-25 10:25] bjjwwang commented on #600
方便给个模型让我测试一下吗，以及还有报的是什么样的错误。

[2020-05-25 15:09] omtbreak commented on #573
请问您有结果了嘛

[2020-05-26 00:58] mcl-stone commented on #600
可以的，模型的部署没有报错，就是使用时不知道怎么使用，我模型怎么给你？

[2020-05-26 00:59] mcl-stone commented on #600
这我qq，986548155，可以的话，加qq我给您吧？

[2020-05-26 01:00] mcl-stone commented on #600
或者您在飞桨交流3群里吗，我从那跟您说

[2020-05-26 01:24] omtbreak commented on #573
希望能尽快出结果，比较着急

[2020-05-26 02:55] omtbreak commented on #573
我们训练的faster rcnn、cascade rcnn、yolov3还有object365都有这方面的问题

[2020-05-26 04:59] wszph commented on #595
我在client中尝试用[608, 608]，
serving端会报错：
InvalidArgumentError: Tensor holds the wrong type, it holds int64_t, but desires to be int.
  [Hint: Expected valid == true, but received valid:0 != true:1.] at (/paddle/paddle/fluid/framework/tensor_impl.h:33)
  [operator < yolo_box > error]

我是用yolov3微调的模型，完整的测试代码如下：
from paddle_serving_client import Client

from paddle_serving_app.reader import Sequential, F

[2020-05-26 06:17] mcl-stone commented on #600
![image](https://user-images.githubusercontent.com/62418900/82866064-c2112d00-9f5a-11ea-9a82-21612e876764.png)
我使用时，应该时这个参数不知道填什么，我自己yolov4训练的模型和你们提供的yolov3_r50vd_dcn_obj365_pretrained模型，使用tools/export_serving_model.py导出方式后，导出的文件需要都是下图这样，im_size参数填写不知如何写，写上后也报错，导出后模型的部署是没有问题的。帮忙看看吧，谢谢了！
![image](https://user-images.githubusercontent.com/62418900/82866472-904c9600-9f5b-11ea-9915-6710fc467c50.png)

[2020-05-26 07:28] bjjwwang commented on #600
好的

[2020-05-26 07:48] hongenge opened #610 "Paddle Serving的inference_model_to_serving接口转换模型文件的时候报错"
代码：
[code]

截图：
![image](https://user-images.githubusercontent.com/15665995/82874033-f93a0b00-9f67-11ea-9a54-91228f1f4b08.png)
![abcd](https://user-images.githubusercontent.com/15665995/82874395-79f90700-9f68-11ea-9743-506053d7b3c6.png)

[2020-05-26 09:54] xiaomujiang opened #611 "faster_rcnn_model运行不知所措"
paddle-serving-app (0.0.2)
paddle-serving-client (0.2.1)
paddle-serving-server (0.2.1)

安装教程波斯顿，运行正常， 然后我想运行下demo下 的faster_rcnn
wget https://paddle-serving.bj.bcebos.com/pddet_demo/faster_rcnn_model.tar.gz
wget https://paddle-serving.bj.bcebos.com/pddet_demo/infer_cfg.yml
tar xf faster_rcnn_model.tar.gz
mv faster_rcnn_model/pddet* ./
GLOG_v=2 python -m paddle_serving_server_gpu.serve --model pddet

[2020-05-26 10:02] guru4elephant commented on #611
pip install paddle_serving_app

[2020-05-26 10:05] MRXLT commented on #611
你好，这个示例需要最新版本的代码
可以先使用以下链接中的安装包
app
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_app-0.1.0-py3-none-any.whl
client
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.3.0-cp36-none-manylinux1_x86_64.whl
server
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_server_gpu-0.3.0-py3-none-any.whl

[2020-05-26 11:12] xiaomujiang commented on #611
我更新了上次三个文件
paddle-serving-app (0.1.0)
paddle-serving-client (0.3.0)
paddle-serving-server (0.3.0)

其中安装paddle paddlepaddle (1.8.1)
其他文件都是默认文件，没有修改，然后报错如下
[root@9573eac10303 faster]# python3 test_client.py pddet_client_conf/serving_client_conf.prototxt infer_cfg.yml 000000570688.jpg
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0526 11:11:46.914041  1322 naming_service_thread.cp

[2020-05-26 12:10] MRXLT commented on #610
你好，这个接口需要使用develop的版本
可以先使用以下链接中的安装包
app
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_app-0.1.0-py3-none-any.whl
client
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.3.0-cp36-none-manylinux1_x86_64.whl
server
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_server_gpu-0.3.0-py3-none-any.whl

[2020-05-26 12:42] omtbreak commented on #573
object365没有这个shapeerror的问题，但faster rcnn和 cascade rcnn是有的，希望您能回复如何解决

[2020-05-26 23:45] omtbreak commented on #611
这个问题我也遇到过，可以修改/usr/local/lib/python3.6/site-packages/paddle_serving_app/reader/image_reader.py中的fin.read()，将其改为fin.read('rb')

[2020-05-27 01:31] BeyondYourself opened #613 "在docker上构建服务，是否需要root权限"
当前准备在linux环境下Docker内构建Paddle Serving，在构建docker服务中是否需要使用到root权限，

[2020-05-27 01:41] omtbreak commented on #597
您有结果了吗

[2020-05-27 01:42] xiaomujiang commented on #611
我试了你的方法，还是没有解决
[root@9573eac10303 faster]# python3 test_client.py pddet_client_conf/serving_client_conf.prototxt infer_cfg.yml 000000570688.jpg
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0527 01:38:57.522652  1983 naming_service_thread.cpp:209] brpc::policy::ListNamingService("127.0.0.1:9495"): added 1
Traceback (most recent call last):
  File "test_client.py", line 36, in <

[2020-05-27 01:48] omtbreak commented on #611
哦说错了，是改上一行fin = open(img_path,'rb')

[2020-05-27 02:03] guru4elephant commented on #613
启动docker本身就需要root或者sudo

[2020-05-27 02:33] xiaomujiang commented on #611
这么修改解决， 后面出现 feed的shape问题，  这个demo需要额外修改吗？
[root@9573eac10303 faster]# python3 test_client.py pddet_client_conf/serving_client_conf.prototxt infer_cfg.yml 000000570688.jpg
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0527 02:29:43.321322  2142 naming_service_thread.cpp:209] brpc::policy::ListNamingService("127.0.0.1:9495"): added 1
The shape of feed tensor image not match.

[2020-05-27 02:36] MRXLT commented on #611
请重新下载安装一下client
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.3.0-cp36-none-manylinux1_x86_64.whl

[2020-05-27 02:52] xiaomujiang commented on #611
重新安装没有解决，~.~
[root@9573eac10303 faster]# python3 test_client.py pddet_client_conf/serving_client_conf.prototxt infer_cfg.yml 000000570688.jpg
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0527 02:50:42.765457  2227 naming_service_thread.cpp:209] brpc::policy::ListNamingService("127.0.0.1:9495"): added 1
The shape of feed tensor image not match.

[2020-05-27 03:38] MRXLT commented on #611
你好，可能是没有成功安装成最新的版本，请先卸载现在安装的client，然后下载链接中的安装包，再安装一下，这个链接中的文件md5sum 为
![image](https://user-images.githubusercontent.com/16594411/82975149-47a1e500-a00e-11ea-8949-0804092febce.png)
最新版本中这个shape check已经去掉
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_client/__init__.py#L208

[2020-05-27 04:22] hongenge commented on #613
需要root权限，或者sudo docker

[2020-05-27 05:22] omtbreak commented on #611
我也是用户，请问你的shape的报错能完整给我看下吗

[2020-05-27 05:37] xiaomujiang commented on #611
----------------------------------------------------------
这里 inference call failed, message: [E1008]Reached timeout=20000ms   失败是什么原因，时间可以修改吗？
[root@9573eac10303 faster]# python3 test_client.py pddet_client_conf/serving_client_conf.prototxt infer_cfg.yml 000000570688.jpg
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0527 03:49:32.673326  2323 naming_service_thread.cpp:209] brp

[2020-05-27 06:28] xiaomujiang commented on #611
报错 上面贴的就是完整的，只提示了那么多， 后面说更新一下新的包， 但是还存在问题

[2020-05-27 07:06] MRXLT commented on #611
你好，这个限时可以修改
python/lib/python2.7/site-packages/paddle_serving_client/__init__.py中89行的rpc_timeout_ms来解决，但是还是建议使用gpu来跑图像检测任务

[2020-05-27 11:57] guru4elephant commented on #611
我们会暴露rpc timeout设置接口@xiaomujiang

[2020-05-27 12:01] #596 closed, assigned to nobody

[2020-05-27 12:04] guru4elephant commented on #594
是否可以加入到tutorial

[2020-05-27 12:06] guru4elephant commented on #589
增加simnet example

[2020-05-27 12:07] #575 closed, assigned to nobody

[2020-05-27 12:08] guru4elephant commented on #573
收到

[2020-05-27 12:22] qingqing01 commented on #597
@omtbreak  看错误信息，注意会不会是多个输入字段的顺序错误。  @wangjiawei04 辛苦帮看下。

[2020-05-27 15:54] guru4elephant opened #616 "增加TRT选项"
serving增加TRT选项

[2020-05-28 00:32] BeyondYourself commented on #613
好的，谢谢各位，之前直接用的root用户构建的，没有注意是否可以非root

[2020-05-28 00:32] #613 closed, assigned to nobody

[2020-05-28 00:47] guru4elephant opened #617 "暴露rpc client的timeout设置接口"
https://github.com/PaddlePaddle/Serving/issues/611

[2020-05-28 03:23] omtbreak commented on #611
timeout这个我也遇到过，就是因为是cpu跑的原因，改下timeout的参数就能解决，你现在能跑通整个过程了吗，我现在还有问题

[2020-05-28 06:29] MRXLT opened #618 "使用Dockerfile.centos6.devel生成的镜像编译cpu server报错"
第一次make时失败，再次执行make后编译成功
![image](https://user-images.githubusercontent.com/16594411/83106780-9d9a8980-a0ef-11ea-9831-ae2540b09c77.png)
![image](https://user-images.githubusercontent.com/16594411/83106759-97a4a880-a0ef-11ea-97df-8b64e2a1e2f3.png)

[2020-05-28 06:32] MRXLT opened #619 "第一次启动http预测服务时会下载两个serving tar包并报错"
![image](https://user-images.githubusercontent.com/16594411/83106999-08e45b80-a0f0-11ea-8a9f-3f4d32272fc2.png)

[2020-05-28 06:38] MRXLT commented on #619
https://github.com/PaddlePaddle/Serving/pull/615/commits/30f1b53c21c014af16514fe85015888017e9a20a
已修复

[2020-05-28 06:59] barrierye commented on #618
复现了下遇到这个问题：

需要先安装setuptools

[2020-05-28 07:10] BeyondYourself commented on #610
@MRXLT 如果不是develop版本，就像上面说到的是0.2.1的版本，此处该怎么用

[2020-05-28 07:15] barrierye commented on #618
该镜像的python位置与centos7的镜像不同（重新装的python2.7）

[2020-05-28 07:17] BeyondYourself commented on #610
client
https://paddle-serving.bj.bcebos.com/whl/paddle_serving_client-0.3.0-cp36-none-manylinux1_x86_64.whl
这个版本有window版本的吗

[2020-05-28 07:26] BeyondYourself commented on #610
[image](https://user-images.githubusercontent.com/12640462/83111523-50bab100-a0f7-11ea-992e-429ba19ddbcb.png)
![image](https://user-images.githubusercontent.com/12640462/83111645-865f9a00-a0f7-11ea-85c8-9ff962fbd16f.png)

根据上面的develop版本，在引入包的时候没有相关的方法，只有图上的几个函数

[2020-05-29 03:00] HankPeng03 opened #622 "hub.baidubce.com/ctr/paddleserving 中 命令 执行 /serving/bin/elastic_serving时，报错Illegal instruction (core dumped)"
在模型库 个性化推荐-DeepCTR 中 镜像 hub.baidubce.com/ctr/paddleserving 中 命令 执行 /serving/bin/elastic_serving时，报错 Illegal instruction (core dumped)，有遇到过类似的问题么，求助

[2020-05-29 03:00] HankPeng03 commented on #622
![20F7EE3844D5BCD6C4953ED40E4EDE29](https://user-images.githubusercontent.com/22376333/83216341-9b8e0480-a19b-11ea-8f6a-43991cb0c75c.jpg)

[2020-05-29 03:37] xiaomujiang commented on #611
我增大了timeout，没有通过，后面我要改GPU运行

[2020-05-29 03:37] #611 closed, assigned to nobody

[2020-05-30 07:35] ClassmateXiaoyu opened #625 "关于paddle.fluid自训练模型线上部署的问题"
我根据AI Studio中的教程在本地电脑用paddle.fluid复写了一个手写数字识别脚本，在本地电脑可以正常保存模型并预测输入图片的结果。之后通过docker运行paddle serving将手写数字识别模型进行线上部署预测，其中通过paddle_serving_client.io.inference_model_to_serving()将fluid.io.save_inference_model()保存的模型进行了转换。随后写了rpc的脚本，通过python -m paddle_serving_server.serve --model 模型server/ --port 9292启动了服务，在client端执行python rpc脚本.py 模型client/serving_client_conf.prototxt时，没有出现在本地环境进行测试预测数来的正确结果。
本地电脑环境：Wi

[2020-05-31 10:27] bjjwwang commented on #622
您好 方便kubectl logs paddleserving看一下嘛

[2020-06-01 02:30] MRXLT commented on #625
你好，看样子是server端出问题了，请问server端有没有报错信息，在启动server的路径下有log/serving.ERROR文件，如果server端出错会有报错日志

[2020-06-01 02:31] #619 closed, assigned to MRXLT

[2020-06-01 02:44] ClassmateXiaoyu commented on #625
有serving.INFO和serving.WARNING，没有serving.ERROR，下图是上周六跑后的log信息
![QQ图片20200601104115](https://user-images.githubusercontent.com/62195135/83371285-a5f70b00-a3f4-11ea-9652-0e25dbf8d9ec.png)

[2020-06-01 04:44] MRXLT commented on #625
client端发送请求后，server端进程有退出的情况吗

[2020-06-01 05:52] ClassmateXiaoyu commented on #625
中午又模拟了一遍，client端发送请求后，client的结果与问题截图一样。server端用ps看了一下，如下图（ps时，已经在client端发送请求了）。
![QQ图片20200601135029](https://user-images.githubusercontent.com/62195135/83379761-e5caec00-a40e-11ea-88cc-bc4ec9fd7da1.png)

[2020-06-01 06:53] gongweibao opened #627 "Can't find CUDA when I use CUDA10"
when I use CUDA10, it reports that serving can't find CUDA and I use CUDA 9 resolve it!

[2020-06-01 07:09] barrierye commented on #627
CUDA9 is used by default for Paddle Serving.
If you need CUDA10, you can [compile it from source](https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE.md).

[2020-06-01 07:12] gongweibao commented on #627
Why not just release CUDA-9.0,  CUDA-10.0 version's wheel package?

[2020-06-01 07:36] MRXLT commented on #625
请贴一下log/serving.INFO的尾部日志

[2020-06-01 07:40] barrierye commented on #627
We will consider release CUDA9 and CUDA10 version later.

[2020-06-01 08:10] ClassmateXiaoyu commented on #625
![QQ图片20200601160933](https://user-images.githubusercontent.com/62195135/83389170-562f3880-a422-11ea-8f6b-223f0202b409.png)

[2020-06-01 08:30] MRXLT commented on #625
麻烦你按照以下步骤获取以下更详细的日志
1、在server的终端里export GLOG_v=3
2、启动server
3、client端发送请求
然后截一下serving.INFO的尾部日志和client端输出到屏幕的日志

[2020-06-01 08:40] MRXLT opened #628 "latest gpu镜像中执行debugger报错"
![image](https://user-images.githubusercontent.com/16594411/83391712-73fe9c80-a426-11ea-983a-f360bed71970.png)

原因：环境中缺失 libcupti.so
复现脚本
https://github.com/PaddlePaddle/Serving/tree/develop/python/paddle_serving_app#debug-tools

[2020-06-01 08:52] ClassmateXiaoyu commented on #625
按照建议的步骤操作后，图一是serving.INFO信息，图二是client端输出到屏幕的信息。
![QQ图片20200601164658](https://user-images.githubusercontent.com/62195135/83392360-8d541880-a427-11ea-9a4a-0bf690042c25.png)
![QQ图片20200601165106](https://user-images.githubusercontent.com/62195135/83392704-1f5c2100-a428-11ea-8bcf-3fb11973dd03.png)

[2020-06-01 10:01] barrierye commented on #628
有更详细的复现步骤吗？

根据[文档](https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_app/README_CN.md#debug%E5%B7%A5%E5%85%B7)执行下面的脚本：
[code]

运行正常（gpu选项改成True同样运行正常）

[2020-06-01 12:20] MRXLT commented on #625
暂时还找不到出错的原因，建议先更新一下到0.2.3版本看问题是否还存在

[2020-06-01 14:01] boceng opened #630 "使用docker编译得到whl包安装后，启动服务报错CUDA not found"
使用docker编译得到paddle_serving_server_gpu-0.2.2-py3-none-any.whl，在docker外进行安装后，启动服务报错：
CUDA not found, please check your environment or use cpu version by "pip install paddle_serving_server"

但在docker内进行安装并启动服务不会报错，启动结果如下：
[code]
-------------------------------------分割线-----------------------------------------

docker内编译设置有：Dockerfile.gpu.devel下第一行为 FROM nvidia/cuda:10.0-cudnn7-devel-centos7，docker内部c

[2020-06-01 14:06] boceng commented on #630
对了，使用的python3编译得到到whl包

[2020-06-01 14:50] bjjwwang commented on #630
docker里面和外面都是什么样的CUDA版本
`env | grep LD_LIBRARY_PATH` 分别能看一下吗

[2020-06-01 15:14] barrierye commented on #628
使用paddlepaddle-gpu可以复现

[2020-06-01 15:17] barrierye commented on #630
在容器外有使用编译出来的二进制吗？（设置`SERVING_BIN`环境变量）

[2020-06-02 01:23] ClassmateXiaoyu commented on #625
刚更新完，貌似只有server能升级到0.2.3，client用pip install --upgrade 指定0.2.3升级，反馈没有这个版本号。正在用server0.2.3跑脚本，截图稍后贴上。

[2020-06-02 01:34] ClassmateXiaoyu commented on #625
有一点很奇怪，我在docker内升级server和client都可以到0.2.3，本地电脑环境只有server可以到0.2.3

[2020-06-02 01:47] ClassmateXiaoyu commented on #625
docker内的版本：
![QQ图片20200602093533](https://user-images.githubusercontent.com/62195135/83470317-74457900-a4b4-11ea-8d24-58c72489d66b.png)
随后在server启动服务，但是0.2.3版本出现了0.2.1没有的Illegal instruction (core dumped)，截图如下：
![QQ图片20200602094159](https://user-images.githubusercontent.com/62195135/83470714-778d3480-a4b5-11ea-95bb-326353899ebf.png)
随后在client端发送请求，截图如下：
![QQ图片20200602094621](https://user-images.git

[2020-06-02 01:57] HankPeng03 commented on #622
![image](https://user-images.githubusercontent.com/22376333/83471526-75c47080-a4b7-11ea-84c1-479be70a0390.png)

报错信息很简单

[2020-06-02 02:12] boceng commented on #630
docker内：
cat /usr/local/cuda/version.txt
CUDA Version 10.0.130
env | grep LD_LIBRARY_PATH
LD_LIBRARY_PATH=/usr/local/nvidia/lib:/usr/local/nvidia/lib64

docker外：
cat /usr/local/cuda/version.txt
CUDA Version 10.0.130
env | grep LD_LIBRARY_PATH
输出为空

[2020-06-02 02:35] boceng commented on #630
你好，有设置SERVING_BIN，但发现了问题，感谢指出。

[2020-06-02 02:52] boceng commented on #630
docker内：

[root@51b8568a2eb0 ~]# ldd $SERVING_BIN
	linux-vdso.so.1 =>  (0x00007ffc99d2c000)
	libpthread.so.0 (0x00007f46ef158000)
	libcudart.so.10.0 => /usr/local/cuda/lib64/libcudart.so.10.0 (0x00007f46eeede000)
	libiomp5.so => /paddle/ServingCuda10-1/build/third_party/install/Paddle/third_party/install/mklml/lib/libiomp5.so (0x00007f46eeb02000)
	libmklml_intel.so => /paddle/ServingCuda10-1/build

[2020-06-02 02:58] bjjwwang commented on #630
libiomp5.so、libmklml_intel.so、libdnnl.so.1 这三个文件在 SERVER_BIN所在的文件夹里面有吗

如果有可以考虑把那个路径加入到 LD_LIBRARY_PATH

[2020-06-02 03:10] barrierye commented on #630
[code]

[2020-06-02 03:11] barrierye commented on #630
[code]

[2020-06-02 05:53] JiaoZiLang commented on #600
用yolov3自己训练的模型同样碰到这个问题，麻烦能给个yolov3的demo不？

[2020-06-02 06:17] #628 closed, assigned to barrierye

[2020-06-02 08:38] boceng commented on #630
问题已解决，再次感谢两位

[2020-06-02 12:33] vinceyzw opened #636 "Paddle Serving 还不支持ubuntu16吗"

[2020-06-02 15:43] #630 closed, assigned to nobody

[2020-06-02 15:46] #503 closed, assigned to barrierye

[2020-06-03 02:23] MRXLT commented on #636
你好最新的0.2.3版本是支持ubuntu16的

[2020-06-03 02:28] MRXLT commented on #617
已添加
https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_client/__init__.py#L180

需要在调用connect方法之前设置，单位为毫秒

[2020-06-03 02:30] MRXLT commented on #594
已添加readme，下一步添加到tutorial中

[2020-06-03 02:44] ClassmateXiaoyu commented on #625
你好，请问这个问题下一步该怎么处理，是否需要我提供脚本进行复现？

[2020-06-03 02:49] MRXLT commented on #625
嗯嗯，请提供一下可复现的脚本

[2020-06-03 02:50] ClassmateXiaoyu commented on #625
好的，通过什么方式提供给你？

[2020-06-03 02:51] MRXLT commented on #610
0.2.1可以参考这个文档使用，不过还是建议使用0.3.0的版本
https://github.com/PaddlePaddle/Serving/blob/v0.2.0/doc/SAVE.md
目前serving还不支持windows版本

[2020-06-03 06:42] MRXLT opened #638 "latest镜像默认不支持中文显示"
![image](https://user-images.githubusercontent.com/16594411/83604230-6a9d3d80-a5a8-11ea-8c96-3a94222ab804.png)
在python3环境处理中文数据时会出现乱码，需要export LANG=en_US.utf8

[2020-06-03 08:16] MRXLT commented on #625
将文件发送给我的邮箱吧 xlt2024@gmail.com

[2020-06-03 08:46] ClassmateXiaoyu commented on #625
邮件已发送。

[2020-06-03 09:55] barrierye opened #640 "monitor未安装依赖"
ModuleNotFoundError: No module named 'commands'

[2020-06-03 11:33] MRXLT commented on #640
https://github.com/PaddlePaddle/Serving/pull/639/files#diff-ca4633514e53f5cf97e6e393b2e8a993
为了兼容py3，计划换成subprocess

[2020-06-03 11:49] JiaoZiLang opened #641 "自训练yolov3 rpc部署失败"
如题，用PaddleDetection 自训练yolov3模型，参考rcnn的serving写rpc的部署，调用失败。（感觉yolov3很常用，可否给一个yolov3的demo指导）

[2020-06-03 13:12] bjjwwang opened #642 "Serving输入类型不支持int32"
在部署yolov4的时候，发现一个输入是int32，需要支持。

[2020-06-03 13:13] bjjwwang commented on #641
这两天就会支持，。
出错目前原因是serving没有做int32支持，所有类型都是int64。

[2020-06-04 02:18] bjjwwang opened #644 "RCNN保存模型的fetch变量没有在prototxt文件体现出lod_tensor：true这样的信息"
https://github.com/PaddlePaddle/PaddleDetection/issues/855

[2020-06-04 02:27] #618 closed, assigned to barrierye

[2020-06-04 07:31] #597 closed, assigned to nobody

[2020-06-04 07:31] #573 closed, assigned to bjjwwang

[2020-06-04 08:40] MRXLT commented on #625
你好，代码中有两处错误，
1、从已保存的模型中导出serving可用的配置文件时，server和client端配置文件的目录名称写反了
2、predict接口中fetch变量名错误，应该为fc_2.tmp_2，脚本中用的是save_infer_model/scale_0.tmp_0，fetch变量名应该与serving_client_conf.prototxt文件中的fetch变量的alias_name相同

[2020-06-04 10:50] niiikolai opened #648 "使用Detection导出的模型在Serving 预测的效果差异较大"
差异比较大
使用的模型：cascade_rcnn_dcn_r101_vd_fpn_1x
Detection预处理如下：
sample_transforms:
  - !DecodeImage
    to_rgb: true
    with_mixup: false
  - !NormalizeImage
    is_channel_first: false
    is_scale: true
    mean: [0.485,0.456,0.406]
    std: [0.229, 0.224,0.225]
  - !ResizeImage
    interp: 1
    max_size: 1333
    target_size: 800
    use_cv2: true
  - !Permute
    channel_first: true
    to_bgr:

[2020-06-04 11:14] #638 closed, assigned to barrierye

[2020-06-05 01:30] BeyondYourself commented on #648
希望文档部分能够尽量丰富起来，现在也是用serving部署遇到一堆问题，日志啥的都没有配置，有这方面的说明吗

[2020-06-05 06:19] ClassmateXiaoyu commented on #625
你好，我上午按照建议对脚本进行了修改，server和client端配置文件的目录名称进行了调换。有个疑问我没弄懂，我这边无论是docker中还是本地Windows训练，2边得到的serving_client_conf.prototxt文件中的fetch变量的alias_name名字都是save_infer_model/scale_0.tmp_0，没有出现建议的fc_2.tmp_2。此外，我用自己写的另一个fluid模型进行了实验，得到的serving_client_conf.prototxt文件中的fetch变量的alias_name名字依旧是save_infer_model/scale_0.tmp_0。感到很奇怪，不同的模型得到的serving_client_conf.prototxt文件中的fetch变量的alias_name名字都是save_infer_model/scale_0.t

[2020-06-05 06:49] MRXLT commented on #625
这个可能是我使用的paddle版本和你的不一致，这个不影响serving使用，fetch这里还是以使用的配置文件中的为准，你这里要是用save_infer_model/scale_0.tmp_0

[2020-06-05 07:56] ClassmateXiaoyu commented on #625
你好，我从paddle_serving_app.local_predict模块中导入了Debugger类并创建了实例debugger。随后，使用debugger.predict接口，并用serving_client_conf.prototxt文件中的feed和fetch变量的alias_name名字img和save_infer_model/scale_0.tmp_0，结果可以正常打印出每个标签的概率。说明fetch名字没有问题了，接下来是到docker进行线上的测试。
![DDA04097-3B7F-4d5c-BBA3-7A5843E7C236](https://user-images.githubusercontent.com/62195135/83851003-48402700-a744-11ea-881e-686e66e35bda.png)

但是在docker启动server端服务

[2020-06-05 08:25] BeyondYourself opened #652 "docker环境下，http服务启动 失败"
`Traceback (most recent call last):
  File "OCRService.py", line 34, in <module>
    image_service.run_web_service()
  File "/usr/local/lib/python3.7/site-packages/paddle_serving_server/web_service.py", line 119, in run_web_service
    self.app_instance.run(host="0.0.0.0",
AttributeError: 'OCRService' object has no attribute 'app_instance'`
我的模型已经转换为paddleServing模式；
环境paddle1.8.1  python3.7  docke

[2020-06-05 10:22] zoe531 opened #653 "paddle-serving-client 最新的安装包和线上源码不一致"
运行最新的包发现源码 save_model(serving_client, serving_server,）参数反了，发现线上源码已更新，能否及时更新安装源的包？
## 安装包代码
![屏幕快照 2020-06-05 下午6 09 16](https://user-images.githubusercontent.com/10573385/83865777-42a10c00-a759-11ea-9d28-b7157f2de308.png)
## 线上代码
![屏幕快照 2020-06-05 下午6 21 25](https://user-images.githubusercontent.com/10573385/83865884-77ad5e80-a759-11ea-9bca-1d3a7b928250.png)

[2020-06-05 11:01] MRXLT commented on #625
直接wget那个tar包的链接能够下载吗

[2020-06-05 11:04] MRXLT commented on #653
请先使用这个链接中的安装包，链接中的安装包编译自develop分支
https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md
我们需要对代码进行测试后才能正式发布，所以会与develop分支代码有一些差异，请谅解

[2020-06-05 11:05] #640 closed, assigned to nobody

[2020-06-05 12:29] guru4elephant commented on #627
will release in 0.4.0

[2020-06-05 12:31] #617 closed, assigned to MRXLT

[2020-06-05 12:31] #594 closed, assigned to MRXLT

[2020-06-06 02:15] ClassmateXiaoyu commented on #625
今天再运行的时候可以下载了，不知道是不是电脑自身的问题。

[2020-06-07 08:47] guru4elephant opened #656 "debugger支持lod_level=1的预测输入"

[2020-06-08 11:25] kgkzhiwen opened #657 "feed_vars and fetch_targets for save_model for blazeface"
请问我要用save_model来保存blazeface模型，以便在serving上运行，我应该使用什么作为feed_vars 和fetch_targets?

谢谢！

[2020-06-08 14:33] barrierye commented on #657
您好，可以参考[这个脚本](https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/bert/prepare_model.py)

[2020-06-09 00:53] kgkzhiwen commented on #657
这个是针对PaddleHub的模型。对于不在Paddle Hub里的模型，比如开发套件里面的，要怎么样获取输入和输出context？ 谢谢！

[2020-06-09 01:30] cqzhao opened #658 "FasterRCNN例子无法运行"
在AiStudio上运行FasterRCNN的[例子](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/faster_rcnn_model), Server端正常运行，使用test_client进行预测时，客户端报错：
[code]

[2020-06-09 02:23] zoe531 commented on #653
macos 不支持 chient 安装

[2020-06-09 02:35] barrierye commented on #657
是已经导出模型文件吗？可以参考[这个文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE_CN.md)

[2020-06-09 03:14] BeyondYourself opened #660 "本地镜像中未成功启动服务端"
在服务器的linux系统中（不能连外网），在paddle的镜像中进行服务端的启动，出现以下错误：
![image](https://user-images.githubusercontent.com/12640462/84102029-efbda200-aa41-11ea-94e5-f7317e33987c.png)
，其中镜像中已经安装了paddle-serving-client和server，版本为：
paddle-serving-client 0.2.3
paddle-serving-server 0.2.3
服务器已经安装了，这个是还要重新安装一次？
paddle版本是1.8.1
python版本3.7.7

[2020-06-09 05:22] kgkzhiwen commented on #657
是一个用blazeface训练好的模型，已经用fluid.io.save保存下来 产生了三个文件，（final.pdmodel, final.params, final.pdopt), 要怎么样把它转化为serving可以用的模型。

使用inference_model_to_serving出现版本不相容的错误，

因此，我想用python把模型调出来，然后再用save_model转化为serving可以用的模型。我已经找到feed_vars,可是始终弄不到target_vars的结构。请问有什么办法？

[2020-06-09 06:32] barrierye commented on #660
您好，paddle-serving-server在第一次使用时，需要访问外网下载一个二进制文件

[2020-06-09 07:01] bjjwwang commented on #657
https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/advanced_tutorials/deploy/EXPORT_MODEL.md 参考这个

[2020-06-09 07:05] BeyondYourself commented on #660
@barrierye 离线使用的怎么部署，哪里可以下载

[2020-06-09 07:13] MRXLT opened #662 "mem_optim和ir_optim参数指定为False时也会开启对应的功能"

[2020-06-09 07:14] barrierye commented on #660
根据上述log中的链接下载`serving-cpu-noavx-openblas-0.2.3.tar.gz`，将其解压到`<paddle_serving_server安装路径>/serving-cpu-noavx-openblas-0.2.3`

[2020-06-09 07:53] omtbreak opened #664 "Serving 调用时Out of Memory"
1. 在服务器上使用0号显卡或者1号显卡开启目标检测模型，并且服务器显卡显存充足
![截屏2020-06-0915 51 22](https://user-images.githubusercontent.com/12478872/84120953-16db9a00-aa69-11ea-8be0-34f20b4ca780.png)

2. 使用RPC方式调用时，服务器端报错out of memory
![截屏2020-06-0915 52 28](https://user-images.githubusercontent.com/12478872/84121062-3e326700-aa69-11ea-834d-8c028a89dada.png)

并且按照指示设置
[code]
同样出现问题，没有解决

[2020-06-09 07:57] BeyondYourself commented on #660
Thanks，已解决

[2020-06-09 07:57] #660 closed, assigned to nobody

[2020-06-09 07:59] guru4elephant commented on #658
您使用的应该是cpu的主机导致服务端计算超时，建议用gpu，或者调整timeout的参数
调整参数的代码
[code]

[2020-06-09 08:08] MRXLT commented on #664
你好，可以在启动server服务时，添加--mem_optim True参数开启显存优化

[2020-06-09 08:25] omtbreak commented on #664
解决了谢谢

[2020-06-09 08:58] ClassmateXiaoyu commented on #625
你好，昨天用一台i7台式电脑进行手写数字识别模型测试，重新安装了系统以及编程环境，RPC已经可以跑起来并得到结果。但是今天测试HTTP这块，报错比较多。

[2020-06-09 09:20] ClassmateXiaoyu commented on #625
我是用uci房价模型那种默认的HTTP启动server的方式启动服务后，通过curl方式可以得到预测结果。自己写的脚本报错很多。

[2020-06-09 09:22] barrierye commented on #625
具体是什么报错呢？curl可以得到结果的话大概率是脚本有点问题

[2020-06-09 09:28] ClassmateXiaoyu commented on #625
我再跑一遍HTTP的脚本，随后把报错贴上来

[2020-06-09 11:02] kgkzhiwen commented on #657
谢谢！我现在可以输出模型，也可以运行serving，

可是，当我尝试用RPC client 做预测的时候，产生下面的错误。 要怎么样解决？
W0609 18:58:15.637337  1998 redis_protocol.cpp:69] No corresponding PipelinedInfo in socket
E0609 18:58:15.637379  1998 input_messenger.cpp:113] A message from 127.0.0.1:9292(protocol=esp) is bigger than 536870912 bytes, the connection will be closed. Set max_body_size to allow bigger messages
W0609 18:58:15.637388  1998 input_

[2020-06-10 02:35] omtbreak commented on #664
您好，在持续调用多张图片的情况下，添加--mem_optim True参数后，仍出现这个问题
![截屏2020-06-1010 33 09](https://user-images.githubusercontent.com/12478872/84220708-0fb69980-ab06-11ea-9d93-e24778c276ba.png)

[2020-06-10 06:13] ClassmateXiaoyu commented on #625
你好，昨天curl和py脚本都成功是另一个处理文本数据的模型。报错的是手写数字识别的模型，在server端通过python -m paddle_serving_server.serve --model nbh_model_server --port 9292 --name nbh启动了HTTP服务，随后在client端不管是运行py脚本还是curl命令，都返回这个报错，图片的预处理方式与模型训练之前使用的是同一个处理方式。
server端启动服务没有报错，这是在client运行py脚本后返回的信息：
![QQ截图20200610140944](https://user-images.githubusercontent.com/62195135/84233013-13591900-ab24-11ea-8744-a831f10c6bdc.png)
这个是client端返回的报错：
![QQ截图

[2020-06-10 06:17] ClassmateXiaoyu commented on #625
手写数字识别用PRC服务没有问题，可以预测结果出来。
![QQ截图20200610141535](https://user-images.githubusercontent.com/62195135/84233422-e35e4580-ab24-11ea-8636-1a1c573a9793.png)

[2020-06-10 06:57] barrierye commented on #625
看起来应该是client端发送的http请求有问题，web service是自己实现的吗？可以贴出来看看吗

[2020-06-10 07:10] ClassmateXiaoyu commented on #625
web service：
![QQ截图20200610150412](https://user-images.githubusercontent.com/62195135/84237281-ae092600-ab2b-11ea-8eb9-a746d9d5fc35.png)
client http：
![QQ图片20200610150831](https://user-images.githubusercontent.com/62195135/84237636-4acbc380-ab2c-11ea-80ad-2310b62c4590.png)

[2020-06-10 08:50] barrierye commented on #625
fetch的值看起来有点奇怪，可以看下server端的log（在server端会生成log文件夹）看看具体是什么问题

[2020-06-10 09:13] ClassmateXiaoyu commented on #625
![QQ截图20200610170919](https://user-images.githubusercontent.com/62195135/84249339-33490680-ab3d-11ea-90c7-bca995706387.png)
cat serving.INFO都是循环显示一样的信息（截图是最后3条）
![QQ截图20200610171103](https://user-images.githubusercontent.com/62195135/84249490-67bcc280-ab3d-11ea-8885-3a5f54b1647f.png)
cat serving.WARNING也都是循环显示一样的信息（截图是最后5条）
![QQ截图20200610171243](https://user-images.githubusercontent.com/62195135/8

[2020-06-10 12:19] mcl-stone opened #671 "serving什么时候支持int32"
自己训练的模型部署使用时报错，因为不支持int32，请问什么时候支持，求支持

[2020-06-10 12:40] MRXLT commented on #664
你好，请问使用的模型是什么样的，启动服务时显卡上的可用显存是多少

[2020-06-10 12:40] #662 closed, assigned to MRXLT

[2020-06-10 14:15] omtbreak commented on #664
启动的模型时cascade rcnn，启动服务时显卡情况就如![截屏2020-06-0915 51 22](https://user-images.githubusercontent.com/12478872/84120953-16db9a00-aa69-11ea-8be0-34f20b4ca780.png)所示

[2020-06-10 23:03] guru4elephant commented on #671
@mcl-stone 已经排到todo了

[2020-06-11 00:49] mcl-stone commented on #671
感谢！

[2020-06-11 01:00] mcl-stone commented on #671
请问有大概的完成时间点吗？很期待！

[2020-06-11 02:19] omtbreak commented on #664
有可能是，服务器端再完成一次图片的检测后，并不释放当前使用的显存，而当下一次调用来时，又去重新申请新的显存。

[2020-06-11 02:35] barrierye commented on #653
目前版本的client不支持macOS使用，可以考虑使用HTTP接口。后续版本我们会推出一个支持多平台多语言的client，感谢支持~

[2020-06-11 03:06] barrierye commented on #625
可以提供一下可复现的脚本吗？邮箱 barriery@qq.com

[2020-06-11 03:28] MRXLT commented on #658
可以参考这里的文档设置timeout
https://github.com/PaddlePaddle/Serving/blob/develop/doc/FAQ.md

[2020-06-11 03:41] ClassmateXiaoyu commented on #625
你好，邮件已发送。

[2020-06-11 05:59] barrierye commented on #625
您好，404问题我没能复现，可以再检查下url等网络相关的配置吗？

我发现另一个问题：
目前Serving Client支持list和numpy array两种输入，当输入格式为list时需要将输入矩阵展平成一维（不然无法通过shape检查，这个我们之后会改进）。
而HTTP方式是通过list格式输入的，故需要将输入img.reshape(-1)一下。

[2020-06-11 06:00] barrierye opened #672 "Client端输入类型为list时，需要展平成一维，不然无法通过shape检查"
在 #625 中，用户通过HTTP方式发送 image.reshape(1, 28, 28).tolist() 数据，但因为没有通过shape检查导致预测失败。

Client中shape检查的相关代码：
[code]

[2020-06-11 09:29] ClassmateXiaoyu commented on #625
你好，我按照建议将feed的数据进行了reshape(-1)后，HTTP服务没有报错，成功的打印了每个标签的概率值，这个问题看来还是feed数据的格式问题，URL这块是ok的。目前模型的RPC和HTTP都可以正常部署并预测数据，非常感谢。

[2020-06-11 13:43] #625 closed, assigned to MRXLT, barrierye

[2020-06-12 00:56] #555 closed, assigned to nobody

[2020-06-12 00:58] BeyondYourself opened #674 "paddle-serving的RPC和支持多线程调用吗"
1 paddle-serving的RPC和支持多线程调用吗
2 服务端在处理的时候支持多线程操作吗，还是只支持多进程
3 服务端部署目前支持分布式部署吗

[2020-06-12 03:38] zhangzhen8230 opened #675 "lac服务只支持分词吗？"
README中给出了lac服务示例，但是只有分词功能，看paddle下的paddlehub的lac可以分词和命名实体实体等，并且lac现在已经出了2.0. 现在的paddleserving下的lac模型是最新的吗？ 是否支持其它如词性标注、命名实体识别等工程。

[2020-06-12 05:26] guru4elephant commented on #675
实际上可以基于serving框架进行自主开发，serving团队也会提供一些最新模型的示例给用户@zhangzhen8230

[2020-06-12 08:45] ClassmateXiaoyu opened #677 "模型通过paddle serving部署后的使用疑惑"
模型已经通过paddle serving部署成功（RPC和HTTP都已实现）。现在有关于一些使用上的疑惑：
现有一台操作系统为Windows 64的电脑A（以下简称为A），A的环境包括docker（内含paddlepaddle，paddlehub、paddle-serving-server、paddle-serving-client、paddle-serving-app）；一台操作系统同为Windows 64的电脑B（以下简称为B），B的环境同样包括docker（内含paddlepaddle，paddlehub、paddle-serving-server、paddle-serving-client）。
情景1：A做为server端，在A docker中成功的启动了HTTP服务，此时在A docker中，无论是通过运行py脚本或是curl命令，都可以正常的预测数据。在B那边输入网址预测时，预

[2020-06-12 11:13] MRXLT commented on #677
你好，请问docker是否做了端口映射

[2020-06-12 11:15] MRXLT commented on #642
https://github.com/PaddlePaddle/Serving/pull/676 已merge

[2020-06-13 00:26] ClassmateXiaoyu commented on #677
你好，docker run创建容器的时候，添加了-p 9292:9292做了映射的。

[2020-06-15 00:56] ClassmateXiaoyu commented on #677
容器创建时命令docker run -p 9292:9292 --name test -dit 镜像名

[2020-06-15 13:10] MRXLT commented on #677
docker b中有没有设置代理，HTTP预测服务的话，client端如果有代理时会报错

[2020-06-16 01:12] ClassmateXiaoyu commented on #677
你好，docker没有设置过相关的代理，server和client都没有设置过。我猜想是否与用作server端的电脑ip是否为固定ip有关呀？

[2020-06-16 02:41] MRXLT commented on #671
你好，对int32的支持正在PR中
https://github.com/PaddlePaddle/Serving/pull/676

[2020-06-16 02:41] omtbreak commented on #677
请问您可以使用RPC方式多次调用模型么

[2020-06-16 02:49] ClassmateXiaoyu commented on #677
你好，是这样的。HTTP和RPC这两种服务在同一台电脑上分别开启server和client端，是都可以多次成功调用模型的，我在办公室多台电脑都试过了。现在我是想同不同的电脑做测试，A电脑做server端，B电脑做client端。公司的外网ip为非固定ip，公司内部的电脑都在同一个局域网，通过DHCP自动分配的ip。我在A电脑docker容器中启动server端HTTP货RPC服务后，B电脑（即client端）访问不到A电脑server端的RPC或HTTP服务。

[2020-06-16 07:10] barrierye opened #682 "在Ubuntu16环境下编译失败"
目前是在centos6镜像下编译ubuntu16的包，没有在纯ubuntu16的环境编译过。
用户用ubuntu系统的人数应该不比centos系统的少，如果按照readme进行编译，很可能出问题。

[2020-06-16 08:46] BeyondYourself opened #684 "paddle-serving启动成功后，相关的日志在哪里设置"
1 服务启动成功，客户端调用成功后，有如下警告：`WARNING: Logging before InitGoogleLogging() is written to STDERR`，这个该怎么解决
2 服务端相关启动日志可以从哪里设置，目前没有找到相关配置

[2020-06-17 02:01] BeyondYourself opened #686 "RPC模式下，windows客户端下启动报错"
RPC模式下，linux客户端调用服务正常，但是在windows客户端下，直接调用报错，window的paddle-serving-client为0.2版本，paddle为1.8.1  CPU模式下的调用，具体错误如下：
![image](https://user-images.githubusercontent.com/12640462/84846147-b9ef6d80-b080-11ea-8afc-3b2683674114.png)
看了看源码，关于paddle_serving_client.serving_client这部分是so文件，是C的实现方式，这个调用可以改进一下吗，
![image](https://user-images.githubusercontent.com/12640462/84846439-66c9ea80-b081-11ea-8c08-526eec78e6f

[2020-06-17 02:26] guru4elephant commented on #686
您好，windows下的使用我们会给出官方方法，当前pip发布的client无法在win上直接使用

[2020-06-17 02:36] barrierye opened #687 "LATEST PACKAGES页面的client包不支持非linux平台安装"
https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md

[2020-06-17 02:44] barrierye commented on #686
在下一个版本中会加入多平台的支持。

windows可以暂时考虑：
1. 当前版本使用HTTP方式获取服务
2. 使用临时版本的包：[传送门](https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md)
  （但是目前最新client包只支持linux安装，我们会在这个issue中修复 #687 ）

临时版本的多平台服务端和客户端的使用方法：
- [server端](https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/fit_a_line/test_multilang_server.py)
- [client端](https://github.com/PaddlePaddle/Serving/blob/deve

[2020-06-17 05:34] barrierye commented on #686
临时版本的包的地址已经更新：https://github.com/PaddlePaddle/Serving/blob/1a7db667259f3610492a29e2b462f307d2b3881f/doc/LATEST_PACKAGES.md

[2020-06-18 06:33] ClassmateXiaoyu commented on #677
你好，请问这是docker设置问题还是电脑公网ip问题呢？

[2020-06-18 07:06] MRXLT commented on #677
你好，应该是非固定ip导致的，最好能固定server端的ip

[2020-06-18 07:07] MRXLT commented on #687
已解决
https://github.com/PaddlePaddle/Serving/pull/688

[2020-06-18 07:07] #687 closed, assigned to nobody

[2020-06-18 07:32] ClassmateXiaoyu commented on #677
好的，我在云服务器上也试了一下，在云上安装了docker后，由于无法像本地电脑进BIOS开启VT功能，docker也没办法在云上运行起来，相当尴尬。
![QQ图片20200618153040](https://user-images.githubusercontent.com/62195135/84991251-da9aee80-b178-11ea-9a18-ea80f9e98507.png)

[2020-06-18 08:12] BeyondYourself commented on #686
好的，多谢解答 @barrierye @guru4elephant

[2020-06-18 08:12] #686 closed, assigned to barrierye

[2020-06-18 09:28] barrierye opened #690 "imdb的模型被更新过，需要更新相应脚本的fetch变量"
![image](https://user-images.githubusercontent.com/28446721/85003632-0c1bb600-b189-11ea-854e-acf8124d0bca.png)
目前模型只有prediction一个fetch变量

[2020-06-19 05:30] barrierye opened #691 "CUBE_QUANT文档中的文件名与实际不符 && quant example不能跑通"
1. 文档中为`cube_prepare_quant .sh`，实际为`cube_quant_prepare.sh`
2. quant 例子不能跑通（非quant版本可以跑通）
启动cube：
[code]
启动server进行预测，server端报错如下：
[code]

[2020-06-19 15:56] bjjwwang opened #692 "OCR模型 batch predict没跑通"
http://gitlab.baidu.com/wangjiawei04/serving-ocr-benchmark

[2020-06-20 01:21] andy-zhangtao commented on #677
找一台Linux的VPS，然后创建容器时，通过-p 将http/rpc的端口对外暴露出来就能解决你的问题了

[2020-06-20 02:20] ClassmateXiaoyu commented on #677
好的，谢谢答复。我准备了一个入门级的云服务器，centos7系统，上午正在装python、paddle和其他环境，下午在云上试一下。

[2020-06-20 07:27] ClassmateXiaoyu commented on #677
下午在云服务器开启了server服务，其中HTTP和RPC模式都分别进行了启动。随后，在另一台笔记本client通过分别通过curl命令和py脚本访问服务，结果都成功的打印了结果，server端没有报错。

[2020-06-20 10:13] chengxurensheng666 commented on #553
我也遇到了这个问题，请问解决了吗

[2020-06-20 10:20] chengxurensheng666 opened #693 "windows环境下rpc客户端报错No module named 'paddle_serving_client.serving_client'"
![image](https://user-images.githubusercontent.com/48110081/85199496-a06d5080-b322-11ea-963d-5958030cb133.png)

[2020-06-20 11:24] chengxurensheng666 commented on #693
users' first issue？

[2020-06-20 11:44] guru4elephant commented on #693
您好，支持多平台的client，最近刚刚merge还没有release，我们会尽快提供release版本，耽误您时间了

[2020-06-20 12:00] barrierye commented on #693
您好，可以参考这个issue #686
多平台支持还在完善中，预计在这两天合入，详见https://github.com/PaddlePaddle/Serving/issues/683

[2020-06-20 14:27] chengxurensheng666 commented on #693
好的，请尽快发布，对了还有一个问题请你们提供一个http请求demo演示fasterrcnn嘛，padddleserving的案例还比较少

[2020-06-21 04:03] guru4elephant commented on #693
好的，放到计划中

[2020-06-22 01:13] #677 closed, assigned to nobody

[2020-06-23 01:34] JiaoZiLang commented on #641
请问一下现在支持了么@。@

[2020-06-24 02:13] wangxicoding opened #698 "brpc client release会出问题"
单个进程创建多个client，最后release的时候会出现下面的错误。
![image](https://user-images.githubusercontent.com/10208305/85489785-1ca5b380-b603-11ea-8fd0-33244d77f8bb.png)

[2020-06-24 02:25] wangxicoding opened #699 "paddle环境 brpc建多个client出错"
python3 paddle环境另开一个进程，建多个client，出现如下错误。
![image](https://user-images.githubusercontent.com/10208305/85490123-cab15d80-b603-11ea-9c3f-f964bb7bc0ea.png)

python2 如果装上pathlib，出现一样的错误。
![image](https://user-images.githubusercontent.com/10208305/85490728-de10f880-b604-11ea-9c22-f710a416765e.png)

[2020-06-24 08:27] levinxo opened #701 "http预测服务框架选择咨询"
[code]

问下上面的serving二进制`serving-cpu-avx-openblas-0.3.0.tar.gz`有开源吗？ 如果想单独使用这个二进制部署http预测服务是否可行（不用python和flask，担心flask不稳定）？

[2020-06-24 10:46] guru4elephant commented on #701
是开源的，服务端采用高性能的C++实现，用rpc通信。当前我们推荐使用这个二进制进行单模型部署，接下来的版本会推出python版本的rpc服务。另外，python + flask的部署方式可以直接使用web service这种微服务模式。

[2020-06-28 09:24] barrierye commented on #693
您好，多平台的服务端/客户端已经支持，用法参考：https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/grpc_impl_example/fit_a_line

[2020-06-28 14:31] levinxo commented on #701
@guru4elephant 感谢，请问：
1. 这个二进制是否有相关编译、部署的说明文档（没有找到相关代码和文档）？
2. 是否有集成到docker镜像的方式？
3. 是否有prometheus接口监控（参考[tfserving](https://www.tensorflow.org/tfx/serving/serving_config#monitoring_configuration)）？

[2020-06-29 02:40] zhuyingjun-zyj opened #704 "PaddleSeRVING"

[2020-06-29 02:46] #704 closed, assigned to nobody

[2020-06-29 03:06] zhuyingjun-zyj opened #706 "Paddle Serving 、Paddle Inference、PaddleHub Serving三者的区别是什么？有什么样的包含关系？"
问题一：
想用paddles erving做模型的部署，发现文档上有paddle inference也可以部署模型，想知道这两者有什么区别？分别针对什么样的业务场景
  问题二：
我想实现在web端一键控制模型的开始训练、停止训练、预测服务、上传自定义数据集、在web端展示模型训练的实时状态信息，paddleserving、paddleinference、paddlehub serving三个中的哪个框架可以和web端交互实现这种业务场景么？如果可以，能说一下具体的实现方式么？
还希望老师们解答一下，多谢！！

[2020-06-29 07:34] wang-kangkang opened #707 "paddle和paddle_serving_client一起导入报错"
先导入paddle，再导入client：
import paddle
from paddle_serving_client import Client
报错信息：
[code]
先导入client，再导入paddle和fluid
from paddle_serving_client import Client
import paddle
import paddle.fluid as fluid
报错信息：
[code]
单独跑paddle和client都是可以的。环境是cuda9 cudnn7.3。
目前我这里升级glibc不熟练。。。一不小心机器容易挂。有没有其他安全点的方法

[2020-06-30 02:50] guru4elephant commented on #706
paddle serving是远程服务，即发起预测的设备（手机、浏览器、客户端等）与实际预测的硬件不在一起。paddle inference是一个library，适合嵌入到一个大系统中保证预测效率，paddle serving调用了paddle inference做远程服务。paddlehub serving可以认为是一个demo，后面都会使用paddle serving作为统一预测服务入口。如果在web端交互，一般是调用远程服务的形式，可以使用paddle serving的web service搭建。@zhuyingjun-zyj

[2020-06-30 03:10] barrierye commented on #701
参考[编译文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md) ，在cmake阶段需添加`-DCMAKE_INSTALL_PREFIX=./output`选项来指定目标产出路径，执行`make install`后二进制将存放在`./output/demo/serving/bin/serving`。 二进制文件暂时没有部署的说明文档，可以先参考 https://github.com/PaddlePaddle/Serving/blob/develop/python/paddle_serving_server/__init__.py#L412 使用二进制文件。

二进制没有集成到 docker 镜像中，需要第一次启动server端自动下载相应的二进制。您也可以参考 https://github.co

[2020-06-30 03:28] TeslaZhao commented on #701
目前不支持，prometheus接口监控加入到0.5.0版本的开发计划

[2020-06-30 03:44] MRXLT commented on #671
PR已合入

[2020-06-30 03:44] #671 closed, assigned to MRXLT

[2020-06-30 04:48] TeslaZhao commented on #707
python编译的GCC版本与serving的版本不匹配，解决方法2种：
1.使用GPU docker解决环境问题。https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER.md#gpu
nvidia-docker pull hub.baidubce.com/paddlepaddle/serving:latest-gpu
nvidia-docker run -p 9292:9292 --name test -dit hub.baidubce.com/paddlepaddle/serving:latest-gpu
nvidia-docker exec -it test bash

2.修改anaconda的虚拟环境下安装的python的gcc版本
参考 https://www.jianshu.com/p/c4

[2020-06-30 06:34] MRXLT commented on #698
具体原因正在排查中，建议先不使用client.release，不影响预测服务的正常使用

[2020-06-30 06:34] #658 closed, assigned to MRXLT

[2020-06-30 06:36] #642 closed, assigned to nobody

[2020-06-30 07:23] zhuyingjun-zyj commented on #706
在上面的解答中你有说道：
paddle serving调用了paddle inference做远程服务

那么paddle serving和paddle inference是如何交互的呢？也就是说使用了paddle inference做预测，paddle serving如何调起paddle inference的预测接口？
希望老师帮忙解答一下。

[2020-06-30 08:09] bjjwwang commented on #692
OCR在识别阶段接收到了来自检测阶段的多张图片之后，需要求最大ratio 做统一resize，对于长度不够的做padding。

[2020-06-30 08:09] #692 closed, assigned to nobody

[2020-06-30 08:19] BeyondYourself commented on #706
serving和inference交互通过百度的RPC框架，这个可以看看serving的设计文档，里面有说明

[2020-06-30 11:26] #636 closed, assigned to MRXLT

[2020-06-30 11:28] MRXLT commented on #641
你好，int32的代码已合入develop分支，暂时未发布正式版，请通过以下链接先试用latest版本
https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md

[2020-07-01 06:14] bjjwwang commented on #657
m

抱歉 久等了
您好 Blazeface已经在https://github.com/PaddlePaddle/Serving/pull/711/files  PR中正在评审。
想问下这个错误的图片是有多大，batch size是多少

[2020-07-01 06:14] #641 closed, assigned to bjjwwang

[2020-07-01 08:08] #443 closed, assigned to guru4elephant

[2020-07-01 10:40] bjjwwang commented on #595
可以参考一下 python/examples/faster_rcnn_model/test_client.py

[2020-07-01 11:03] mcl-stone opened #713 "python -m paddle_serving_app.package --get_model yolov4"
python -m paddle_serving_app.package --get_model yolov4
![image](https://user-images.githubusercontent.com/62418900/86236953-7a229d00-bbcd-11ea-93ba-3dba4d7c1c45.png)
找不到model

[2020-07-01 11:49] bjjwwang commented on #713
wget https://paddle-serving.bj.bcebos.com/paddle_hub_models/image/ObjectDetection/yolov4.tar.gz --no-check-certificate 试试看这样好不好下载

[2020-07-01 12:14] MRXLT commented on #713
你好，使用yolov4示例需要安装develop版本的paddle_serving，可以从这个页面下载安装
https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md

[2020-07-01 13:47] mcl-stone commented on #713
ok！谢了！

[2020-07-01 13:47] #713 closed, assigned to bjjwwang

[2020-07-02 09:15] levinxo commented on #701
谢谢！ @barrierye @TeslaZhao

使用最新的镜像hub.baidubce.com/paddlepaddle/serving:latest-gpu-devel作为环境进行编译，编译过程中遇到错误：
`c++: error: unrecognized command line option '-Wimplicit-fallthrough=0'`
升级gcc到7.5/9.x之后解决。

另外一个错误：
`cc1plus: error: -Werror=parentheses-equality: no option -Wparentheses-equality`

将cmake/flags.cmake里的-Wparentheses-equality修改为-Wparentheses解决。

再遇到一个错误：

[code]

暂时没找到对应的日志报错，没有头绪了，请帮忙看看，感谢

[2020-07-03 05:55] levinxo opened #715 "Serving GPU镜像编译二进制问题"
使用最新的镜像`hub.baidubce.com/paddlepaddle/serving:latest-gpu-devel`作为环境进行编译，编译过程中遇到错误：
`c++: error: unrecognized command line option '-Wimplicit-fallthrough=0'`
升级cmake到3.3.0，gcc到9.x之后解决。

另外一个错误：
`cc1plus: error: -Werror=parentheses-equality: no option -Wparentheses-equality`
将cmake/flags.cmake里的`-Wparentheses-equality`修改为`-Wparentheses`解决。

再遇到一个错误：
[code]

将cmake/flags.cmake里的`set(CMAKE_CXX_FLAGS "

[2020-07-04 06:39] mcl-stone opened #719 "自己编译的cuda10版本serving 运行后预测时报错"
显卡T4，因为现在serving不支持cuda10,按照https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md这个教程，修改Gpu的dockerfile.gpu.devel文件，仅修改FROM nvidia/cuda:10.1-cudnn7-devel-centos7这个，然后编译成后，安装可以正常运行，运行示例使用https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/yolov4，能正常跑起来，但使用下面脚本进行预测时报错。
环境：
![image](https://user-images.githubusercontent.com/62418900/86506633-c8b97c80-be03-11ea-9a19-d0

[2020-07-04 06:40] mcl-stone commented on #719
[root@01dbf40746b1 paddle]# python -m paddle_serving_server_gpu.serve --model yolov4_model --port 9696 --gpu_ids 0
mkdir: cannot create directory ‘workdir_0’: File exists
Use local bin : docker/Serving/server-build-gpu/core/general-server/serving
Going to Run Comand
docker/Serving/server-build-gpu/core/general-server/serving -enable_model_toolkit -inferservice_path workdir_0 -inferservice_file inf

[2020-07-04 06:40] mcl-stone commented on #719
[root@01dbf40746b1 paddle]# python new_test_client_server.py 000000570688.jpg
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0704 05:58:12.126219   227 naming_service_thread.cpp:209] brpc::policy::ListNamingService("127.0.0.1:9696"): added 1
(3, 608, 608)
W0704 05:58:13.938905   227 predictor.hpp:129] inference call failed, message: [E112]1/1 channels failed, fail_limit=1 [C0][E

[2020-07-04 06:47] mcl-stone commented on #719
![image](https://user-images.githubusercontent.com/62418900/86506770-35814680-be05-11ea-9732-c8ac8d3d7613.png)

[2020-07-05 07:07] guru4elephant opened #720 "ocr web demo跑不通"
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/ocr
[code]

[2020-07-06 02:09] #701 closed, assigned to MRXLT

[2020-07-06 06:31] barrierye opened #721 "pipeline 优化 profile 日志"
![image](https://user-images.githubusercontent.com/28446721/86562513-61cbcd00-bf95-11ea-9c78-490e02ca625e.png)

可以考虑在channel中存日志，传到client端（server端由于dag跨请求，不方便传到client）

[2020-07-06 06:35] cg82616424 commented on #721
嗯，设计下日志，方便人阅读，也方便监控系统做数据采集

[2020-07-06 09:11] cg82616424 opened #724 "pipe line 日志统一设计下"
1. debug\trace\notice\warning\fatal日志都应该有哪些，需要设计下

[2020-07-06 10:17] bjjwwang opened #726 "NEW WEB SERVICE文档外链404"
https://github.com/PaddlePaddle/Serving/blob/develop/doc/NEW_WEB_SERVICE.md

第一段
This document will take the image classification service based on the Imagenet data set as an example to introduce how to develop a new web service. The complete code can be visited at [here](https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/imagenet/image_classification_service.py).

[2020-07-07 09:52] wangxicoding commented on #446
Fixed with PR https://github.com/PaddlePaddle/Serving/pull/601

[2020-07-07 09:52] #446 closed, assigned to nobody

[2020-07-07 09:55] wangxicoding commented on #357
已支持 PR
https://github.com/PaddlePaddle/Serving/pull/462
https://github.com/PaddlePaddle/Serving/pull/496
https://github.com/PaddlePaddle/Serving/pull/570

[2020-07-07 09:55] #357 closed, assigned to guru4elephant

[2020-07-07 10:01] #416 closed, assigned to bjjwwang

[2020-07-08 11:43] qjing666 opened #728 "import paddle_serving_client 时报错，TypeError: __new__() got an unexpected keyword argument 'serialized_options'"
<img width="1440" alt="截屏2020-07-08下午7 43 19" src="https://user-images.githubusercontent.com/19721227/86914678-48707f80-c153-11ea-97d9-c4ddef806386.png">

[2020-07-09 03:12] qjing666 commented on #728
protobuf版本没对上，安装3.11.3版本的protobuf后解决

[2020-07-10 02:51] MRXLT commented on #728
fixed in https://github.com/PaddlePaddle/Serving/pull/732

[2020-07-10 07:21] cg82616424 commented on #724
几点建议
1. 日志分开：stdout, stderr, wf, 正常的log
2. trace: logid得有，方便以后dag各个模块之间追查问题
3. 问题发现和排查：看到的有这么几点，框架需要搞定的一些指标比如进程空闲率，不同channel里边数据堆积的程度等等，各个op的响应时间等
4. 风格上能方便人读一些，方便noah/sia 监控

[2020-07-10 11:06] barrierye commented on #721
现在支持从 client 端获取profile了：https://github.com/PaddlePaddle/Serving/pull/714 ，通过在调用预测函数时设置 profile=True

[2020-07-12 09:16] mcl-stone opened #736 "部署时报错"
使用serving部署，使用debug脚本检测报错如下：
[root@c99a526ec87f paddle]# python3.6 test_client2.py
W0712 09:09:58.147349  1843 analysis_predictor.cc:133] Profiler is activated, which might affect the performance
I0712 09:09:58.785828  1843 analysis_predictor.cc:872] MODEL VERSION: 1.7.1
I0712 09:09:58.785851  1843 analysis_predictor.cc:874] PREDICTOR VERSION: 1.8.2
I0712 09:09:58.786041  1843 analysis_predictor.c

[2020-07-12 09:17] mcl-stone commented on #736
test_client.py脚本内容如下：
from paddle_serving_app.local_predict import Debugger
from paddle_serving_client import Client
from paddle_serving_app.reader import *
import sys
import numpy as np

preprocess = Sequential([
    File2Image(), BGR2RGB(), Div(255.0),
    Normalize([0.485, 0.456, 0.406], [0.229, 0.224, 0.225], False),
    Resize(640, 640), Transpose((2, 0, 1))
])

postprocess = RCNNPostprocess(

[2020-07-13 00:57] #736 closed, assigned to nobody

[2020-07-13 09:31] barrierye opened #738 "NEW_WEB_SERVICE_CN文档有个死链"
https://github.com/PaddlePaddle/Serving/blob/develop/doc/NEW_WEB_SERVICE_CN.md

[2020-07-14 02:43] MRXLT commented on #738
fixed in https://github.com/PaddlePaddle/Serving/pull/732

[2020-07-14 02:43] MRXLT commented on #726
fixed in https://github.com/PaddlePaddle/Serving/pull/732

[2020-07-14 06:26] #738 closed, assigned to nobody

[2020-07-14 06:26] #726 closed, assigned to nobody

[2020-07-14 06:26] #728 closed, assigned to MRXLT

[2020-07-15 01:08] BeyondYourself opened #739 "如何优雅的关闭服务"
在启动paddle-serving后，如果要停止服务，目前我这边只能执行：`kill -9 进程ID`
但是在查看后台后，发现会有defunct进程出现。该如何恰当的停止服务，有这方面的建议吗，谢谢

[2020-07-15 02:32] MRXLT commented on #739
你好，如果是直接启动的话，关闭服务时使用ctrl-c中断即可，如果是后台启动，关闭服务时需要将主进程以及子进程都kill掉，例如下图中的12099和12163进程
![image](https://user-images.githubusercontent.com/16594411/87496576-6fb0da80-c686-11ea-95e0-498b193ba0af.png)

[2020-07-15 03:23] BeyondYourself commented on #739
这两种方式都用过，kill的时候会不会有产生僵尸进程，因为之前好多服务遇到过这样的情况

[2020-07-15 03:39] MRXLT commented on #739
子进程都kill掉的话是不会有僵尸进程的

[2020-07-16 04:14] hysunflower opened #742 "runtime Dokerfile 需加入gcc-c++"
如题，cube demo 使用时需yum install gcc-c++。从镜像易用性角度建议runtime Dokerfile 需加入gcc-c++

[2020-07-16 06:56] barrierye commented on #742
fix in #737

[2020-07-16 06:56] #742 closed, assigned to nobody

[2020-07-16 07:11] barrierye commented on #691
cube_quant 已经可以跑通

[2020-07-17 03:05] bjjwwang commented on #720
在RPC和Local predictor接口统一后完成修复。

[2020-07-17 03:05] #720 closed, assigned to bjjwwang

[2020-07-17 14:43] barrierye opened #744 "cuda10支持"
from 微信区用户 @海洋

[2020-07-17 14:47] barrierye opened #745 "tensorRT 支持"
需要把 yolov3 darknet53 和yolov3 mobilenetv1 部署到边缘进行推理。
使用 paddle trt 的docker无法驱动GPU（docker pull hub.baidubce.com/paddlepaddle/paddle:1.8.0-gpu-cuda10.0-cudnn7-trt6）https://paddle-inference.readthedocs.io/en/latest/optimize/paddle_trt.html

[2020-07-19 06:10] mcl-stone commented on #744
对的对的，希望增加对cuda10的支持，自己弄了好久了也没搞定，感谢感谢！

[2020-07-19 13:37] 60999 commented on #739
没个关闭的命令，方法吗？

[2020-07-20 08:13] myfjdthink opened #747 "paddle-serving-server 的 Docker 镜像内安装 paddle-serving-server 报错"
# 问题描述
进入教程提供的Docker 容器后安装 paddle-serving-server 会报错，是 grpcio 这个包导致的。
根据这个教程来做的  https://github.com/PaddlePaddle/Serving ， 使用的是 CPU 版本的Docker 镜像。

# 相关信息：
操作系统：macOS 10.14.6/ Ubuntu 16 也有同样问题
docker desktop version 2.3.0.3
Docker version 19.03.8

# 重现流程：
安装教程
[code]

在镜像内部执行
`pip3 install paddle-serving-server -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com`

# 错误信息：

[2020-07-20 09:32] myfjdthink commented on #747
我用本库的 [Dockerfile](https://github.com/PaddlePaddle/Serving/blob/develop/tools/Dockerfile )  build 一个镜像，然后安装 paddle-serving-server 还是会报和上面一样的错误。

我把镜像源从 centos 切换到 python:3.7-buster ，就不会报错了。
说明的确是镜像的原因，符合其他资料的说法：和 g++ 版本有关。

看起来换镜像问题可以解决，但是，在 python:3.7-buster  这个镜像上，按照[这个教程 ](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/ocr)
做好准备工作，然后我启动一个服务

`python3 rec_web_server.py`

会碰

[2020-07-20 10:04] myfjdthink commented on #747
`
cannot import name 'GetRotateCropImage' from 'paddle_serving_app.reader'
`
刚刚看了源码，这个错误是因为没有及时更新 paddle_serving_app 包，教程出来了，代码没跟上。。。。。。

[2020-07-20 10:17] myfjdthink commented on #747
rec_web_server.py  实际上不需要依赖  paddle_serving_app 这些东西，清除不需要的依赖后
`
python3 rec_web_server.py
`
可以跑起来了。

模拟发送请求
`
python3 rec_web_client.py
`
得到以下错误：

[2020-07-20 10:19] myfjdthink opened #748 "ocr web server 教程跑不起来"
这个是官方教程 https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/ocr

按照教程安装好依赖，执行
`
python3 rec_web_server.py
`
得到报错
`
cannot import name 'GetRotateCropImage' from 'paddle_serving_app.reader'
`
刚刚看了源码，这个错误是因为没有及时更新 paddle_serving_app 包，教程出来了，代码没跟上。。。。。。

rec_web_server.py  实际上不需要依赖  paddle_serving_app 这些东西，清除不需要的依赖后，可以跑起来了。

模拟发送请求
`
python3 rec_web_client.py
`
得到以下错误：

[2020-07-20 11:10] bjjwwang commented on #748
需要重新编译下Paddle Serving App。现在最新已发布的Paddle Serving App里面还没有带上这些函数，这些函数是需要的。https://github.com/PaddlePaddle/Serving/blob/develop/doc/COMPILE_CN.md  参考这里重新编译安装Paddle Serving App。

还有就是需要ocr_web_client.py。 rec那个是纯识别的服务用的客户端

[2020-07-20 15:53] bjjwwang commented on #747
这个是需要重新编译paddle_serving_app的。这些改动会在这周上传到pypi
如果急用 可以先编译 安装。
在Serving目录下执行下列命令
[code]
然后在`python/dist` 目录下看具体到whl包
最后`python -m pip install python/dist/${具体的whl包的名字}.whl`

[2020-07-21 07:51] barrierye commented on #744
#751 加入了CUDA10镜像，近期合入。

CUDA10镜像可以根据[该文档](https://github.com/PaddlePaddle/Serving/blob/9feaa523abcdce52fde071cf7997a5342e154c70/doc/DOCKER_IMAGES_CN.md)拉取。

相应的Server二进制还未上传，如果急用的话您可以在这个镜像中进行编译：`latest-cuda10.0-cudnn7-devel`，请查看该[编译文档](https://github.com/PaddlePaddle/Serving/blob/9feaa523abcdce52fde071cf7997a5342e154c70/doc/COMPILE_CN.md) （在develop分支基础上加了python依赖）

[2020-07-21 07:55] barrierye commented on #719
#751 加入了CUDA10镜像，近期合入。

CUDA10镜像可以根据[该文档](https://github.com/PaddlePaddle/Serving/blob/9feaa523abcdce52fde071cf7997a5342e154c70/doc/DOCKER_IMAGES_CN.md)拉取。

相应的Server二进制还未上传，如果急用的话您可以在这个镜像中进行编译：`latest-cuda10.0-cudnn7-devel`，请查看该[编译文档](https://github.com/PaddlePaddle/Serving/blob/9feaa523abcdce52fde071cf7997a5342e154c70/doc/COMPILE_CN.md) （在develop分支基础上加了python依赖）

[2020-07-21 10:30] barrierye commented on #744
cuda10二进制临时地址：https://paddle-serving.bj.bcebos.com/temporary_files_for_docker/serving-gpu-0.3.1.tar.gz

[2020-07-21 10:30] barrierye commented on #719
cuda10二进制临时地址：https://paddle-serving.bj.bcebos.com/temporary_files_for_docker/serving-gpu-0.3.1.tar.gz

[2020-07-22 03:49] MRXLT commented on #739
目前都是通过ctrl+c或者kill进程的方式来关闭的，请问你希望的是使用什么样的方法来关闭呢

[2020-07-22 09:16] xiaomujiang opened #754 "paddle_serving_server 报错"
在servering 启动服务的时候，出现了cuda找不到
PaddleDetection/serving_model#
 export CUDA_VISIBLE_DEVICES=0
python -m paddle_serving_server_gpu.serve --model serving_model/ --thread 10 --port 9292 --gpu_ids 0
CUDA not found, please check your environment or use cpu version by "pip install paddle_serving_server"

版本如下
paddle-serving-app        0.1.1
paddle-serving-client     0.3.1
paddle-serving-server     0.3.1
p

[2020-07-23 06:14] barrierye commented on #754
您好 是在Serving提供的gpu镜像中启动server的吗？

[2020-07-23 08:08] xiaomujiang commented on #754
我是参考这个https://aistudio.baidu.com/aistudio/projectdetail/643597做的，没有在GPU镜像中启动server， 是想将paddledetection产生的模型，用serving 进行启动， 但是没有启动起来，需要怎么做？

[2020-07-23 08:08] xiaomujiang commented on #754
我是参考这个https://aistudio.baidu.com/aistudio/projectdetail/643597做的，没有在GPU镜像中启动server， 是想将paddledetection产生的模型，用serving 进行启动， 但是没有启动起来，需要怎么做？

[2020-07-23 08:12] barrierye commented on #754
可以根据这个[文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/SAVE.md)导出Serving模型后，根据这个[文档](https://github.com/PaddlePaddle/Serving/blob/develop/doc/RUN_IN_DOCKER.md)获取Docker镜像启动服务

[2020-07-23 08:22] #744 closed, assigned to nobody

[2020-07-23 08:22] #719 closed, assigned to nobody

[2020-07-23 08:36] #747 closed, assigned to nobody

[2020-07-23 08:37] #748 closed, assigned to nobody

[2020-07-24 03:10] sevenold commented on #627
@guru4elephant

example: https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/ocr

[code]

![image](https://user-images.githubusercontent.com/41443157/88357509-17708b80-cd9e-11ea-8b5b-e30da5e31429.png)

[2020-07-24 03:31] barrierye commented on #627
Please run `ldd <PATH/TO/SERVING_BIN>| grep cudart` to see the output.

By the way, CUDA10 has been supported recently. You can download CUDA10 temporary version binary file(https://paddle-serving.bj.bcebos.com/temporary_files_for_docker/serving-gpu-0.3.1.tar.gz) and use it with the
 command `export SERVING_BIN=<PATH/TO/CUDA10_SERVING_BIN>`.

[2020-07-24 05:19] 60999 commented on #739
命令行方式，关闭服务

[2020-07-24 08:22] JiaoZiLang opened #756 "能有一个yolov3的demo么？？？"
如题，yolov3用的应该还挺多的吧，求各位大大给个yolov3的demo

[2020-07-24 08:40] JiaoZiLang commented on #756
自己参考yolov4的写预测，部署起来效果差异巨大，也没法排查调整

[2020-07-25 12:56] guru4elephant commented on #756
https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/yolov4 @JiaoZiLang

[2020-07-27 02:19] #691 closed, assigned to nobody

[2020-07-27 02:39] #583 closed, assigned to nobody

[2020-07-27 02:42] barrierye commented on #583
目前二进制包里已经包含了libcrypto.so

[2020-07-27 07:02] MRXLT opened #758 "cpu docker 安装py3版本的paddle-serving-server时遇到gcc的问题"
docker：hub.baidubce.com/paddlepaddle/serving:latest
pip命令：pip install paddle-serving-server
报错如下
![image](https://user-images.githubusercontent.com/16594411/88512973-ff0ca500-d019-11ea-808c-a720a9a442de.png)
更多详细信息可以参考
https://github.com/PaddlePaddle/Serving/issues/747

[2020-07-27 11:49] #758 closed, assigned to nobody

[2020-07-28 01:21] coder-sun opened #763 "ubuntu18.04下无法执行推断报错"
![image](https://user-images.githubusercontent.com/25734125/88608107-8d813500-d0b3-11ea-9cfc-15ff56f0f48e.png)

环境为虚拟机ubuntu18.04，检测模块单独可以正常使用，一起使用时就会报这个错误。

[2020-07-28 05:57] barrierye opened #765 "pipeline支持auto-batching"

[2020-07-28 05:57] barrierye opened #766 "添加cuda10.1的镜像"
厂内使用cuda10.1，cuda10.2

[2020-07-28 06:07] barrierye commented on #690
dev上已经fix

[2020-07-28 06:07] #690 closed, assigned to nobody

[2020-07-28 08:44] sevenold commented on #627
- docker image : paddlepaddle/serving:latest-cuda10.0-cudnn7
- cudart
[code]
![image](https://user-images.githubusercontent.com/41443157/88641127-5598e280-d0f1-11ea-8f8c-46ae71b24d75.png)

@barrierye

[2020-07-28 08:53] barrierye commented on #627
Please check nvidia devices by `ls /dev/ | grep nvidia`

[2020-07-28 10:24] sevenold opened #767 "显卡显存不释放？"
随着调用次数的增多， 显存占用率不断增加！！！！
![image](https://user-images.githubusercontent.com/41443157/88653247-62700300-d0fe-11ea-99bf-2268781aaabf.png)
![image](https://user-images.githubusercontent.com/41443157/88653421-a105bd80-d0fe-11ea-9060-ef311752aea0.png)
显存满了后 ，就会报错
![image](https://user-images.githubusercontent.com/41443157/88653539-cdb9d500-d0fe-11ea-8f9c-afa7fccf37e8.png)
然后显存会恢复到最初的占用率
![image](https:

[2020-07-28 10:42] fujianhai opened #768 "gcc4.8.4 源码编译出错"
![image](https://user-images.githubusercontent.com/6189742/88655883-fc857a80-d101-11ea-814e-422c263def9a.png)

[code]

编译环境： gcc 4.8.4 g++ 4.8.4 cmake 3.16

[2020-07-28 14:10] jiangchao123 opened #771 "请问自己在client端继承web_service类，实现自己的类去进行前置和后置处理，这样的话，serving的执行命令是什么？"
如题：使用serving默认的http的服务的命令是这个：python3 -m paddle_serving_server.serve --model fm_serving_model --thread 10 --port 8696 --name fm &>std.log 2>err.log &

那么，如果我自己实现前置和后置处理，然后执行自己的web_service的命令，应该如何去写？命令里面也能指定线程数吗？

[2020-07-29 02:48] TeslaZhao commented on #767
显存的使用量，和模型、线程数量、显存优化参数有关系。请问，服务启动命令设置了几个线程？

[2020-07-29 02:54] sevenold commented on #767
启动命令：
[code]
就是按照这个教程走的：https://github.com/PaddlePaddle/PaddleOCR/tree/develop/deploy/pdserving

模型是使用paddle_serving_app提供的模型，执行下列命令
[code]

客户端
[code]

运行一次客户端，第一次正常，但是显存增加了不释放，第二次再运行，显存再增加，再运行就是out of memory

[2020-07-29 02:56] MRXLT commented on #771
你好，可以参考这个文档来实现web_service
https://github.com/PaddlePaddle/Serving/blob/develop/doc/NEW_WEB_SERVICE.md
可以配合uwsgi来配置线程数
https://github.com/PaddlePaddle/Serving/blob/develop/doc/UWSGI_DEPLOY.md

[2020-07-29 03:05] MRXLT commented on #767
你好，请在server端启动的时候设置--thread 4限制server端的线程数，设置--mem_optim参数开启显存优化，应该可以解决显存不足的问题

[2020-07-29 03:22] sevenold commented on #767
[code]
改成这样，效果确实比刚刚好，但是还是会报显存不足的问题，这次的显存不足应该是代码

https://github.com/PaddlePaddle/PaddleOCR/blob/develop/deploy/pdserving/ocr_web_server.py

但是我在这个代码里，设置了

[code]
但是没有找到设置--mem_optim的接口

这样设置后，还是会有显存不足的错误

@MRXLT

[2020-07-29 03:27] barrierye opened #772 "cuda10-devel 镜像中用paddle detection导出serving可部署的模型报错"
来自微信 @海洋
latest-cuda10-cudnn7-devel 镜像中用paddle detection导出serving可部署的模型报错
![image](https://user-images.githubusercontent.com/28446721/88753267-592e7700-d18e-11ea-8192-eb56c7c4076b.png)

[2020-07-29 06:56] MRXLT commented on #767
不好意思，目前web_service的使用方式中还未暴露mem_optim接口，我们会尽快添加

[2020-07-29 08:24] Steffy-zxf commented on #763
@coder-sun 你好！可以参考issue解决方法： https://github.com/PaddlePaddle/PaddleOCR/issues/440

[2020-07-29 08:26] coder-sun commented on #763
谢谢，已经解决，版本问题

[2020-07-29 09:27] sevenold commented on #767
启动命令
[code]

部署完成后初始显存占用率
![image](https://user-images.githubusercontent.com/41443157/88782113-c7d7f880-d1bf-11ea-9ed3-8c124b1c81b7.png)
运行测试的显存占用率
![image](https://user-images.githubusercontent.com/41443157/88782726-8136ce00-d1c0-11ea-81e0-328f73c56c64.png)
闲置时显存占用率
![image](https://user-images.githubusercontent.com/41443157/88782889-b17e6c80-d1c0-11ea-8044-030aabb9330d.png)
显存还是没有释放！！！
@MRXLT

[2020-07-29 10:10] fujianhai commented on #768
请问是否能帮忙看看，问题所在

[2020-07-30 13:49] barrierye opened #774 "文档中有一些死链"
from 厂内 @ liyangokay
[死链.xlsx](https://github.com/PaddlePaddle/Serving/files/5001585/default.xlsx)

id | status_code | link | link_name | page | page_name | version
-- | -- | -- | -- | -- | -- | --
127389 | 404 | https://github.com/PaddlePaddle/Serving/blob/default/python/examples/grpc_impl_example/criteo_ctr_with_cube/../../../doc/CUBE_LOCAL_CN.md | 稀疏参数索引服务Cube单机版使用指南 | /home/work/paddle_repo/Se

[2020-07-31 04:05] fujianhai commented on #768
已经解决

[2020-07-31 10:48] barrierye opened #775 "按模型来源重写save a servable model文档"
当前部分模型来源：
- 已经保存的模型文件怎么转换成Serving格式文件
- Paddle直接训练如何保存成Serving格式文件
- PaddleHub怎么导出Serving格式文件
- PaddleDetection怎么导出Serving格式文件
- PaddleX怎么导出Serving格式文件

from 微信用户 @快乐发卡机
![image](https://user-images.githubusercontent.com/28446721/89028195-744fe100-d35e-11ea-9f3d-97d4b658cb7c.png)

[2020-08-03 03:23] bjjwwang commented on #768
您好 方便透露下是怎样解决的吗 我们也记录一下

[2020-08-03 03:37] barrierye opened #776 "编译文档补充依赖项"
例如这些部分
![image](https://user-images.githubusercontent.com/28446721/89143598-c02ca100-d57d-11ea-9a04-9cd3824fb845.png)

[2020-08-03 07:53] #776 closed, assigned to nobody

[2020-08-03 09:24] barrierye opened #778 "python example 报错"
from 厂内 @liyangokay
py3的bert和resnet50 http预测报错，python3 ocr rpc 报错。
py2的resnet50 http预测报错  

[2020-08-03 14:50] TeslaZhao commented on #682
根据用户调研的结果决定是否支持，以及支持的优先程度

[2020-08-04 06:20] MRXLT commented on #767
serving目前不能自动释放内存，只有关闭服务后才会释放

[2020-08-04 08:09] MRXLT commented on #774
fixed in https://github.com/PaddlePaddle/Serving/pull/779

[2020-08-04 12:04] bjjwwang commented on #756
想问下现在您用的模型是从哪里来的，从PaddleDetection导出的吗

[2020-08-05 13:48] chengxurensheng666 opened #780 "No module named 'paddle_serving_client.serving_client'"
五月份我提出过相同的issue，当时版本是0.22，现在更新成0.31后，win平台还是报这个错误
![image](https://user-images.githubusercontent.com/48110081/89420355-29223d80-d765-11ea-957a-f72eb69766e3.png)
![image](https://user-images.githubusercontent.com/48110081/89420376-32aba580-d765-11ea-9b4e-8b82a4fb4281.png)
![image](https://user-images.githubusercontent.com/48110081/89420487-5969dc00-d765-11ea-8811-4b2125ff63f7.png)

[2020-08-06 02:20] barrierye commented on #780
您好，win平台不能使用Client。

可以换用MultiLangServer和MultiLangClient解决，参考[例子](https://github.com/PaddlePaddle/Serving/tree/develop/python/examples/grpc_impl_example/fit_a_line)

[2020-08-06 02:28] #774 closed, assigned to TeslaZhao, MRXLT

[2020-08-06 03:38] chengxurensheng666 commented on #780
我看了这个例子
![image](https://user-images.githubusercontent.com/48110081/89487840-18131400-d7d9-11ea-9c59-3dca59cb3ce6.png)
![image](https://user-images.githubusercontent.com/48110081/89487871-2a8d4d80-d7d9-11ea-8a18-8b0bab10f587.png)
我做的是rcnn目标检测 ，需要预读取一些配置文件MultiLangClient缺少load_client_config的api

[2020-08-06 03:46] barrierye commented on #780
MultiLangClient 删除了 load_client_config 的 API，可以直接把这行删去。

[2020-08-06 03:48] chengxurensheng666 commented on #780
![image](https://user-images.githubusercontent.com/48110081/89488467-b5227c80-d7da-11ea-85a8-fe3b0cca049a.png)
那这个我从paddledetection导出的文件应该怎样读取呢

[2020-08-06 04:00] barrierye commented on #780
这个模型应该在 MultiLangServer 端读取，MultiLangClient 通过RPC方式从 MultiLangServer 获取模型文件。

MultiLangServer 的 load_model_config 接口如下所示：
[code]
通常情况下 `serving_server/serving_server_conf.prototxt` 与 `serving_client/serving_client_conf.prototxt` 两个文件内容是一致的，`client_config_path` 不需要设置。

[2020-08-06 06:17] fujianhai opened #781 "关于 c++版本 http 上传pdf文件的例子 ？"
您好，serving的性能很好，但是我们需要用c++版本的，请问是否能提供一下c++版本利用http协议上传pdf文件的例子吗？

[2020-08-06 06:19] fujianhai commented on #768
使用你们的docker 编译的，使用我们的环境，提示snappy 始终有问题。

[2020-08-06 06:20] #768 closed, assigned to TeslaZhao

[2020-08-06 06:39] jeshxxx opened #782 "可以开多个线程并行的推理么？小模型在单卡上gpu显存占用比较小，gpu利用率比较低"
现在是一个gpu卡部署了一个serving服务，但是gpu利用率不到30%，如果压测的话感觉就积压了，能在一个模型起多个推理线程并行跑么？

[2020-08-06 07:00] barrierye opened #783 "Serving缺少logid机制"

[2020-08-07 10:29] fujianhai commented on #781
已经实现，还是多谢。

[2020-08-08 15:34] #781 closed, assigned to nobody

[2020-08-10 01:38] iceriver97 commented on #627
您好，在AIstudio上运行Serving的相关项目也需要更改CUDA的版本吗？

[2020-08-10 06:32] #657 closed, assigned to barrierye, guru4elephant

[2020-08-10 06:53] TeslaZhao commented on #782
单个Serving进程内，所有预测任务共用同一个GPU stream，多个并发请求的GPU操作会被串行到stream内，因此不是完全并行；这样当多个请求到达时，预期会出现较为严重的排队情况。Serving支持在单张显卡上部署多个预测服务，建议的解决方案是服务端启动多个预测服务来提高资源利用率。

单卡多模型部署方法：
https://github.com/PaddlePaddle/Serving/blob/develop/doc/MULTI_SERVICE_ON_ONE_GPU_CN.md
GPU BENCHMARK：
https://github.com/PaddlePaddle/Serving/commit/7af42c0a7762f70492a77d49a92f62630e59d22f